<ion-view title="রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং টুলস   1" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="1-card212">
      <h4 id="1-heading48" style="color:#FF510E;">রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং টুলস্</h4>
      <div class="item item-body" id="1-list-item-container60">
        <div id="1-markdown68" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বিশেষ বিশেষ কাজের জন্য বিশেষ বিশেষ টুলস্ ব্যবহার করা হয়। অর্থাৎ কাজের ক্ষেত্র ও ধরণের আলোকে বিশেষ টুলস্ ব্যবহার হয়ে থাকে । যেমন ইলেক্ট্রিক্যাল কাজের জন্য ইলেক্ট্রিক্যাল টুলস্ ব্যবহার করা হয়। অনুরূপ রিফ্রিজারেশন অ্যান্ড এয়ার কন্ডিশনিং (RAC) কাজের
            জন্যও বিশেষ কিছু টুলস্ ব্যবহার হয়। তাই রিফ্রিজারেশন অ্যান্ড এয়ার কন্ডিশনিং কাজের জন্য যে সকল টুলস্ ব্যবহার করা হয় তাকে রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং টুলস্ বলে।</p>
        </div>
      </div>
      <h4 id="1-heading49" style="color:#FA5405;font-style:italic;">রিফ্রিজারেশন টুলসের প্রয়োজনীয়তা </h4>
      <div class="item item-body" id="1-list-item-container61">
        <div id="1-markdown69" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হিমায়ন পদ্ধতির কিছু কাজ আছে যেগুলো ব্যতিত হিমায়ন পদ্ধতির কার্যাদি পরিপূর্ণরূপে সম্পাদন করা যায় না। হিমায়ন পদ্ধতির কাজসমূহ সঠিক, সুন্দর, পূর্ণাঙ্গ, স্বল্প অর্থ ও সময় ব্যয়ে তরান্বিত করার প্রয়োজনে রিফ্রিজারেশন টুলস দরকার। এমন কিছু কাজ আছে যা এ
            সমসত্ম টুলস্ ছাড়া করা সম্ভবও নয়। সুতরাং হিমায়ন পদ্ধতির স্থাপন, রক্ষণাবেক্ষণ ও মেরামতের জন্য রিফ্রিজারেশন টুলস্ খুবই দরকারী। যে সকল প্রয়োজনে রিফ্রিজারেশন টুলস ব্যবহার হয় তা হল-</p>
        </div>
      </div>
      <div id="1-markdown71" class="show-list-numbers-and-dots">
        <p style="color:#000000;">১। নিরাপদে কাজ করার জন্য, ২। দক্ষতার সাথে কার্যাদি সম্পাদনের জন্য, ৩। সুষ্ঠু ও সন্দর ভাবে কাজ সমাপ্তির জন্য, ৪। সময় ও কাঁচা মালের অপচয় রোধ করার জন্য, ৫। উপকরণাদি ও জিনিসপত্রের যথাযোগ্য ব্যবহার নিশ্চিত করার জন্য, ৬। গতিশীলতায় কার্য সম্পাদন ও পরিচালনার
          জন্য, ইত্যাদি। এছাড়াও টিউবিং ও পাইপিং-এর সকল কার্য সম্পাদনের লক্ষ্যে নিম্নোক্ত কাজে রিফ্রিজারেশন টুলস ব্যবহার করা হয়- কর্তন, রীমিং, ফ্লেয়ারিং, স্যোয়েজিং, রি-ফেসিং, পাঞ্চিং, বেন্ডিং, অফ সেটিং, সংযোগ করণ, পরিষ্কার, সার্ভিসিং, মেরামত, চার্জিং,
          ভ্যাকিউয়াম, সংযোজন- বিযোজন, স্থাপন-পুণঃস্থাপন ইত্যাদি।</p>
      </div>
      <h4 id="1-heading50" style="color:#FA5405;font-style:italic;">. রিফ্রিজারেশন টুলসের তালিকা </h4>
      <div class="item item-body" id="1-list-item-container62">
        <div id="1-markdown72" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">স্থাপন, সার্ভিসিং ও মেরামতের ইত্যাদি কাজের জন্য টুলস ব্যবহার করা হয়। তবে সকল টুল্সই সব কাজে ব্যবহার হয়না কিছু কিছু টুলস শুধু সার্ভিসিংএ ব্যিবহৃত হয়। তাই কাজের গুরুত্বের উপর ভিত্তি করে রিফ্রিজারেশন টুলসের তালিকা প্রদত্ত হল-</p>

          <p style="color:#000000;font-size:15px;">সাধারণ রিফ্রিজারেশন টুল্সঃ ১। টিউব কাঁটার, ২। পাইপ কাটার, ৩। রীমার, ৪। ফ্লেয়ারিং টুলস সেট, ৫। স্যোয়াজিং টুলস, ৬। টিউব বেল্ডার, ৭। টিউব বেল্ডিং স্প্রীং, ৮। টিউব কন্সট্রিক্টর, ৯। ক্রিম্পিং সেট, ১০। জুনিয়র হ্যাক’স’ ১১। অ্যালেন ’’কি’’ ১২। র‌্যাচেট
            রেঞ্চ, সার্ভিসিং রিফ্রিজারেশন টুল্সঃ ১৩। পিঞ্চ অব টুলস, ১৪। পীয়ার্সিং ভ্যাল্ভ ১৫। ভ্যাল্ভ কী ১৬। প্রসেস টিউব অ্যাডাপ্টর ১৭। ক্যাপিলারী টিউব ক্লীনার ইত্যাদি</p>
        </div>
      </div>
      <h5 id="1-heading52" style="color:#FA5405;font-style:italic;">রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং ইন্সট্রুমেন্টস-এর তালিকাঃ</h5>
      <div class="item item-body" id="1-list-item-container63">
        <div id="1-markdown73" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং কাজকে যথাযথ ও তরান্বিত করার জন্য যেসকল ইন্সট্রুমেন্ট ব্যবহার করা হয় তাকে রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং ইন্সট্রুমেন্ট বলে। রিফ্রিজারেশন অ্যান্ড </p>
        </div>
        <div id="1-markdown74" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এয়ারকন্ডিশনিং ইন্সট্রুমেন্টের তালিকা নিম্নরূপ- ১. প্রেশার গেইজ ২. টেম্পারেচার রেকর্ডার ৩. থার্মোমিটার ৪. ভেলোসিটি মিটার ৫. লীক ডিটেক্টর ৬. সস্নীং সাইক্রোমিটার ৭. হাইগ্রোমিটার ৮. অ্যানিমোমিটার ৯. হাইড্রোমিটার ১০. ক্যাপাসিটর অ্যানালাইজার ইত্যাদি
            </p>
        </div>
      </div>
      <h4 id="1-heading53" style="color:#FA5405;font-style:italic;">টিউব কাটার (Tube Cutter)</h4>
      <div class="item item-body" id="1-list-item-container64">
        <div id="1-markdown75" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">কপার টিউব কাটার যন্ত্রের নাম টিউব কাটার। এটি সাধারণতঃ স্টীলের তৈরি হয়। এতে দুটি রোলারের সমন্বয়ে বেস্নড বা হুইল থাকে। নবের সাহায্যে ব্লেড সামনে পিছনে অগ্রসর করিয়ে টিউব সেট করা হয়। এর সাথে একটা রিমারিং ব্লেড থাকে। নরম রড এবং মাঝারি ও শক্ত টিউব
            কাটতে এ ব্যবহার করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/Bxeci38rRYVSttN5382g_3-13-20182-26-09AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading54" style="color:#FA5405;font-style:italic;">পাইপ কাটার (Pipe Cutter) t </h4>
      <div class="item item-body" id="1-list-item-container65">
        <div id="1-markdown77" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পাইপ কাঁটার স্টীলের তৈরি হয়। জি.আই ও স্টীলের পাইপ পাইপ কাঁটতে ব্যবহার হয়। কোন কোন সময় শক্ত কপার টিউব কাটঁতেও এটি ব্যবহার হয়। এতে কোন রিমার বা রিমারিং বেস্নড থাকে না।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/hZXhNBwOSZSCy78owGJ8_3-13-20182-27-47AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading55" style="color:#FA5405;font-style:italic;">রীমার (Reamer</h4>
      <div class="item item-body" id="1-list-item-container66">
        <div id="1-markdown78" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">টিউব বা পাইপ কাটবার সময় কর্তন স্থলে অবাঞ্চিত ধাতব কণার (Ber) উদ্ভব হয় এবং কাটারের বেস্নডের চাপে কর্তন অংশের ইনসাইড ডায়ামিটার কিছুটা ছোট হয়ে যায়। কমে যাওয়া ডায়ামিটার বৃদ্ধি ও ধাতব কণা মুক্ত করার পদ্ধতিকে রীমিং বলে। রীমিং করার টুলসের নাম রীমার।
            রীমার স্টীল বা হার্ড পস্নাস্টিকের তৈরি। এর ধারালো কাটিং এজ (Edge) থাকে। রীমিং করার সময় বিশেষ সর্তক থাকতে হয়, মুক্ত কণা যেন টিউবে ভিতরে প্রবেশ না করে। সেজন্য টিউবকে রীমারের উপরে রেখে রীমিং করা উত্তম।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/7vHF7fJIRfOX7WjvmoDg_3-13-20182-31-17AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading56" style="color:#FA5405;font-style:italic;">ফ্লেয়ারিং টুলস সেট (Flaring Tools Set)</h4>
      <div class="item item-body" id="1-list-item-container67">
        <div id="1-markdown79" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Flaring অর্থ সম্প্রসারিত করা। কপার টিউবের প্রান্তভাগ ফ্লেয়ারিং করার টুলসের নাম ফ্লেয়ারিং টুলস। এর প্রধান দুটো অংশ: ১। ব্লক বা ভাইস ২। ইয়োক (Yoke) । ভাইসটি লম্বা ও শক্ত দুটি লোহা দিয়ে তৈরি করা হয়। ইয়োকটি একটি ছাঁট বিশেষ। পরিচালনার সময় যাতে পিছলিয়ে
            না হয় তার জন্য ইয়োকে দুটি ধারক থাকে। ধারকের মধ্যস্থলে ফ্লেয়ারিং এর জন্য প্রায় ৪৫ ডিগ্রী কোণের ফ্লেয়ারিং নব থাকে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/pycj2TqXRw1DKs84zNED_3-13-20182-33-12AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading57" style="color:#FA5405;font-style:italic;">স্যোয়াজিং টুল্স (Swaging Tools)</h4>
      <div class="item item-body" id="1-list-item-container68">
        <div id="1-markdown80" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">স্যোয়াজিং হল কোন টিউবের ব্যাসের মাপ পরিমাণ দৈর্ঘ্য সমব্যাসে সম্প্রসারিত করা। স্যোয়াজিং করার টুলসের নাম স্যোয়াজিং টু্স। এ টুল্স স্টীল দ্বারা তৈরি হয়। কপার টিউব স্যোয়াজিং করার জন্য দু’ধরণের স্যোয়াজিং টুলস ব্যবহার করা হয়। যেমন- ১. পাঞ্চ টাইপ, ২.
            লিভার টাইপ।</p>
        </div>
      </div>
      <h4 id="1-heading58" style="color:#FA5405;font-style:italic;">পাঞ্চ টাইপ স্যোয়াজিং টুলসঃ</h4>
      <div class="item item-body" id="1-list-item-container69">
        <div id="1-markdown81" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হাতুড়ি দ্বারা পিটিয়ে টুলস টিউবের প্রা্মত্ম দেশে ঢুকানো হয়। এতে টিউবটির প্রামত্ম ভাগের ইনসাইড ব্যাস উক্ত টিউবের আউটসাইড ব্যাসের সম ব্যাসে সম্প্রসারিত হয়। </p>
        </div>
      </div>
      <h4 id="1-heading59" style="color:#FA5405;font-style:italic;">লিভার টাইপ স্যোয়াজিং টুলসঃ</h4>
      <div class="item item-body" id="1-list-item-container70">
        <div id="1-markdown82" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">লিভার টাইপ সোয়্যাজিং টুলসের দুটি হ্যান্ডল থাকে এবং এর সাথে বিভিন্ন সাইজের কতকগুলো অ্যাডজাস্টর থাকে। উভয় প্রকার টুলস দ্বারা কপার টিউব সোয়্যাজিং (প্রান্তের নির্দিষ্ট পরিমাণ অংশ একই আকারে সম্প্রসারিত করা) করা হয়। নির্দিষ্ট মাপের টিউব নির্দিষ্ট
            ছিদ্রে আটকিয়ে ফ্লেয়ারিং টুলসের মত ইয়োক দ্বারা সোয়্যাজিং করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/z325tXykTliYeq5mCQDw_3-13-20182-37-03AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading60" style="color:#FA5405;font-style:italic;">. টিউব বেন্ডার (Tube Bender)</h4>
      <div class="item item-body" id="1-list-item-container71">
        <div id="1-markdown83" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">টিউব বাঁকা করা টুলসের নাম টিউব বেন্ডার। টিউব বেন্ডার লিভার ও গিয়ার টাইপ হয়ে থাকে টিউবের ব্যাস অনুপাতে বিভিন্ন সাইজের হয়। লিভারের ফরমা এবং ব্যাস পরিবর্তন করে বিভিন্ন ব্যাসের টিউব বেন্ড করা হয়। এর চাকতিতে বিভিন্ন মানের কোণের মাপাংক লিপিবদ্ধ করা
            থাকে এবং টিউবের বা ব্যান্ডের ব্যাসার্ধ লিপিবদ্ধ থাকে। তবে ব্যাসার্ধ স্কেল দ্বারা পরিমাপ করা যায়। এ মাপ (কোণের) অনুযায়ী বেন্ডের কোণের পরিমাণ নির্ধারিত হয়। অপরদিকে চাকতিটিতে ব্যাসার্ধ জানা থাকলে বেন্ডাকৃতি (বাকানো) অংশের টিউবের দৈর্ঘ্য ও ওজনে
            পরিমাণ হিসেব করে বের করা যায়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/dxOyzhw1Q9SKSxb5n9EY_3-13-20182-39-12AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading61" style="color:#FA5405;font-style:italic;">টিউব বেন্ডিং স্প্রীং (Tube Bending Spring)</h4>
      <div class="item item-body" id="1-list-item-container72">
        <div id="1-markdown84" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">টিউব মসৃণের বা সমতল সৃষ্টি করার টুলসের নাম টিউব বেন্ডিং স্প্রীং। টিউবের উপরি পৃষ্ঠ অমসৃণ বা অসমতল বিশিষ্ট থাকলে টিউব ব্যাসের সামঞ্জস্য সম্পন্ন টিউব বেন্ডিং স্প্রীং এর ভিতরে প্রবেশ করিয়ে রাবার বা পস্নাস্টিক বা কাঠের হাতুড়ি দ্বারা ঘুরিয়ে ঘুরিয়ে
            আঘাত করলে টিউবটি সমতল হয়। </p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/Grd10TfqSQii5bjnswmU_3-13-20182-40-32AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading62" style="color:#FA5405;font-style:italic;">টিউব সংকোচক (Tube Constrictor</h4>
      <div class="item item-body" id="1-list-item-container73">
        <div id="1-markdown85" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">টিউবিং এর জন্য কোন কোন সময় টিউব সংকোচন (ব্যাস কমানো) করবার প্রয়োজন হয়। যে যন্ত্রের সাহায্যে টিউবের ব্যাস কমিয়ে সংকোচন করা হয় তাকে টিউব সংকোচক বলে। এ দেখতে টিউব কাটারের অনুরূপ। এতে ব্লেডের পরিবর্তে রোলার থাকে। কোন কোন সময় ব্লেড ও রোলারের সমন্বয়ে
            কম্বিনেশন টাইপের হয়ে থাকে। এটি স্টীলের তৈরি।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/KbbrEg8vQzmq5BkM1tyw_3-13-20182-42-10AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading63" style="color:#FA5405;font-style:italic;">র‌্যাচেট্ বেঞ্চ (Ratchet Wrench)</h4>
      <div class="item item-body" id="1-list-item-container74">
        <div id="1-markdown86" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এটি হিমায়ন পদ্ধতির একটা বিশেষ সার্ভিস টুল্স। এদিয়ে কম্প্রেসর ও রিসিভারের সার্ভিস ভ্যাল্ভ খোলা ও বন্ধ করা হয়। যে সব ক্ষেত্রে স্লাইড বা কম্বিনেশন রেঞ্চ ব্যবহার করা যায় না সে সব ক্ষেত্রে এটা ব্যবহার করা হয়। একে একদিকে ঘুরালে শক্তি প্রাপ্ত হয়। এতে
            হ্যান্ডল লাগানোর ব্যবস্থা থাকে। হ্যান্ডল যাতে পিছলিয়ে না যায় সেজন্য এতে ছিট্কিনি লাগানো দাঁত ওয়ালা চাকা আছে। সম্পূর্ণ না ঘুরিয়ে ও নাট বোল্ট সামনে পিছনে অগ্রসর করানো যায়। এভাবে সামনে পিছনে অগ্রসর করে নাট বোল্ট খোলা এবং বন্ধ করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/P2dBwmCpSjqd61SK2BYp_3-13-20182-44-11AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading64" style="color:#FA5405;font-style:italic;">. অ্যালেন কি (Allen Key)</h4>
      <div class="item item-body" id="1-list-item-container75">
        <div id="1-markdown87" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">চিত্রানুরূপ অ্যালেন কি বিভিন্ন সাইজের হয়ে থাকে। কাজের সুবিধার্থে ৯০০ কোণে এর প্রধান ২টি অংশের একটি খাঁট ও অপরটি লম্বা থাকে। এর আউটসাইডে খাঁজ থাকে। যে সব নাটের ভিতর ঘাট থাকে তার মধ্যে এর প্রান্ত প্রবেশ করে নাট খোলা বা বন্ধ করা হয়। বিশেষ বিশেষ
            ক্ষেত্রে যেমন ইঞ্জিনের বিভিন্ন উপাংশ খুলতে এটি ব্যবহার করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/l3m20mnDTVq4XIgknrvD_3-13-20182-45-40AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="1-heading65" style="color:#FA5405;font-style:italic;">পিঞ্চ অব টুলস (Pinch of Tools)</h4>
      <div class="item item-body" id="1-list-item-container76">
        <div id="1-markdown88" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">টিউবকে বায়ুরোধীভাবে সীল করতে অর্থাৎ প্রেশার দ্বারা ফাপা টিউবকে চ্যাপ্টা করে বায়ু বা গ্যাস চলাচল রোধ করতে ব্যবহার করা হয়। চার্জিং এর শেষে কমপ্রেসর হতে চার্জিং লাইন বিযুক্ত করার সময় এটা ব্যবহার করা হয়। এতে পিঞ্চিং স্থল বেশ শক্ত হয়। কপার টিউব সম্পূর্ণরূপে
            সীল করার জন্যে ব্রেজিং-এর পূর্বে পিঞ্চিং করা হয়।</p>
        </div>
      </div>
      <h4 id="1-heading66" style="color:#FA5405;font-style:italic;">রিফ্রিজারেশন টুলসের ব্যবহার তালিকাঃ</h4>
      <div class="item item-body" id="1-list-item-container77">
        <div id="1-markdown89" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">রিফ্রিজারেশনের বিভিন্ন ক্ষেত্রে বিভিন্ন প্রকার কাজের প্রয়োজনে বহুবিদ টুল্স ব্যবহার করা হয়। নিম্নের ছকে রিফ্রিজারেশন টুলসের ব্যবহার তালিকা প্রদ্ত্ত হল-</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/aO5rpL5kSGWRhn7pKX2Q_3-13-20182-48-38AM.jpg" style="display: block; width: 100%; height: 221px; margin-left: auto; margin-right: auto;">
      </div>
      <div class=" item item-image">
        <img src="img/9g0GZBRzRiKpqw8IPhsd_3-13-20182-50-27AM.jpg" style="display: block; width: 100%; height: 450px; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>