<ion-view title="About" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <div align="center" style="margin-bottom:10px">
      <!--<img src="../img/icon.png" style="width:90%; height: 250px;;" />-->
      <img src="img/icon.png" style="width:auto; height:150px;" />
      <p align="center">v2.0.12_rac</p>
    </div>

    <div style="margin-top: 30px">
      <hr>
      <a><h4>official Website</h4></a>
      <hr>
      <a><h4>Help us with Localization</h4></a>
      <hr>
      <a><h4>Terms of Service</h4></a>
      <hr>
    </div>
  </ion-content>
</ion-view>

