<ion-view title="এয়ার ফিল্টার (Air Filters)" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="AirFilters-card26">
      <h4 id="AirFilters-heading21" style="color:#F56708;font-style:italic;">এয়ার ফিল্টার (Air Filters)</h4>
      <div class="item item-body" id="AirFilters-list-item-container31">
        <div id="AirFilters-markdown31" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বায়ু ব্যতিত মানুষ বাঁচতে পারে না। এ বাতাস একটি মিশ্র পদার্থ। উপাদান ব্যতিত বায়ুতে ধুলিকণা, ময়লা, ছাঁই, আঁশ, সূক্ষ্ম তন্তু, রেণু, দুষিত বাষ্প, ধোঁয়া, জলীয় বাষ্প, দূষিত গ্যাস, দুর্গন্ধ প্রভৃতি অপদ্রব্য বায়ুতে (কঠিন, তরল ও বায়বীয় অবস্থায়) মিশ্রিত
            থাকতে পারে। ব্যাক্টেরিয়া, ভাইরাস ও অন্যান্য রোগ জীবাণুও বাতাসে সর্বক্ষণ অদৃশ্যাকারে ভেসে বেড়ায় । তাই অনেক রোগব্যাধি বায়ু দ্বারা বাহিত হয়। তাছাড়া অনেক অপদ্রব্য মানুষের শরীরে প্রবেশ করলে মানুষ অসুস্থ্য হয়ে পড়ে। এ ছাড়া এয়ার কন্ডিশনিং এর ৫টি শর্তের
            অন্যতম একটি হল- বাতাস বিশুদ্ধ করণ। শর্তটি প্রতিপালন করার জন্য এবং নিয়ন্ত্রিত স্থানটি স্বাস্থ্যকর করার নিমিত্তে বাতাস পরিশ্রুত ও বিশুদ্ধ হওয়া অপরিহার্য। যে প্রক্রিয়ায় বাতাসের অপদ্রব্য অপসারণ করে তাকে প্ররিস্রুত বা বিশুদ্ধ করা হয় তাকে Air filtration
            বা বাতাস বিশুদ্ধ করণ প্রক্রিয়া বলে। যে ডিভাইসের সাহায্যে বাতাসের সাধারণ ধুলাবালি, আবর্জনা, ময়লা, আঁশ, ছাঁই, রেণু প্রভৃতি ছাকন করা হয় তাকে এয়ার ফিল্টার বলে।</p>
        </div>
      </div>
      <h4 id="AirFilters-heading22" style="color:#F56708;font-style:italic;">এয়ার ফিল্টারের প্রয়োজনীয়তা </h4>
      <div class="item item-body" id="AirFilters-list-item-container33">
        <div id="AirFilters-markdown33" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বাতাসকে পরিস্রুত ও বিশুদ্ধ করার জন্য এয়ার ফিলট্রেশন ডিভাইস একান্ত প্রয়োজন। ফিল্টার ও এয়ার ওয়াশারের মাধ্যমে বাতাসকে ছাকন ও ধৌত করে স্বাস্থ্য প্রদ করা হয়। শীতাতপ নিয়ন্ত্রণ ব্যবস্থায় বাতাস বিশুদ্ধ করার মূল উদ্দেশ্য হল- ১. বাতাস হতে সকল প্রকার ক্ষতিকারক
            অপদ্রব্য দূর করে তাকে পরিস্রুত করা। ২. ব্যাক্টেরিয়া, ভাইরাস, জীবাণু ইত্যাদি মুক্ত করে স্বাস্থ্যপ্রদ করা, ৩. ধোঁয়া, দুর্গন্ধ, বিষক্তগ্যাস মুক্ত করে স্বাস্থ্য সম্মত করা, ৪. নিয়ন্ত্রিত বাতাসের প্রবাহ মাত্রা ঠিক রাখা ৫. বাতাস প্রবাহজনিত শব্দ কমানো
            ইত্যাদি। তাই এয়ার ওয়াশার ও ফিল্টারের প্রয়োজনীয়তা অনেক। বায়ুতে অদৃশ্যাকারে বহুবিদ অপদ্রব্য মিশ্রিত থাকে। এসকল অপদ্রব্য মুক্ত করা অপরিহার্য কিন্তু কঠিন। ফলে বাতাসকে পরিস্রুত করার জন্য বিভিন্ন রকম পদ্ধতি ব্যবহার করা হয়।</p>
        </div>
      </div>
      <h4 id="AirFilters-heading23" style="color:#F56708;font-style:italic;">ফিল্টারের প্রকারভেদ </h4>
      <div class="item item-body" id="AirFilters-list-item-container34">
        <div id="AirFilters-markdown34" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বিভিন্ন প্রকার অপদ্রব্য মুক্ত করার জন্য আমরা বিভিন্ন প্রকার পদ্ধতি ব্যবহার করি। দূরীকরণ যোগ্য অপদ্রব্যকে তিনটি পর্যায়ে ভাগ করা যায়। যেমন-</p>

          <ol>
            <li>কঠিন অপদ্রব্যঃ যেমন-ধূলিকণা, আঁশ, ছাই, ময়লা, রেণু প্রভৃতি।</li>
            <li>বায়বীয় বা গ্যাসীয় অপদ্রব্যঃ যেমন- ধোঁয়া, গন্ধ, গ্যাস প্রভৃতি।</li>
            <li>জীবাণু জাতীয় অপদ্রব্যঃ যেমন- রোগ জীবাণু, ব্যাকটেরিয়া, ভাইরাস প্রভৃতি। উপরে বর্ণিত তিন পর্যায়ের অপদ্রব্য দূর করার জন্য প্রধানত চার রবম ব্যবস্থা গ্রহণ করতে হয়। যেমন-</li>
            <li>এয়ার ফিল্টার (Air filter), ২. এয়ার ওয়াশার (Air washer); ৩. এয়ার ক্লিনার (Air cleaner), ৪. এয়ার পিউরিফায়ার (Air purifier)।</li>
          </ol>

          <p style="color:#000000;font-size:15px;">। ক) ফিল্টার প্রধানত দু’প্রকার</p>

          <ol>
            <li>শুস্ক ফিল্টার, ২. ভিজা ফিল্টার। শুস্ক ফিল্টার দু’প্রকার-</li>
            <li>ফেব্রিক ড্রাই ফিল্টার, ২. সিন্থেটিক ড্রাই ফিল্টার। ভিজা ফিল্টার দু’প্রকার-</li>
            <li>ম্যানুয়াল ক্লিনিং ভিস্কাস ফিল্টার, ২. সেল্ফ ক্লিনিং ভিস্কাস ফিল্টার। খ) এয়ার ওয়াশার ২ প্রকার-</li>
            <li>স্প্রে টাইপ ২. সূক্ষ্ম বারি ধারা টাইপ। গ) এয়ার ক্লিনার দু’প্রকার-</li>
            <li>সেন্ট্রিফিউগ্যাল ডাস্ট ক্লিনার, ২. ইলেক্ট্রনিক ডাস্ট ক্লিনার। ঘ) এয়ার পিউরিফয়ার দু’প্রকার-</li>
            <li>অ্যাক্টিভেটেড কার্বন বা চার্কল, ২. আল্ট্রা-ভাইওলেট ল্যাম্প। শুষ্ক ফিল্টারঃ এ শুস্ক অবস্থায় বাতাসকে পরিষ্কার করে। এটি দু’প্রকার। (ক) ফেব্রিক শুষ্ক ছাকনি (Fabric Dry Filter), (খ) সিন্থেটিক শুষ্ক ছাকনি (Synthetic Dry Filter)।</li>
          </ol>
        </div>
      </div>
      <h4 id="AirFilters-heading24" style="color:#F56708;font-style:italic;">ফিল্টারের কার্য প্রণালী </h4>
      <div class=" item item-image">
        <img src="img/Nx9F1YjjQsaaEgKbhHsZ_3-25-201812-57-04AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="AirFilters-list-item-container32">
        <div id="AirFilters-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ফেব্রিক শুষ্ক ছাকনি (Fabric Dry Filter)t</p>

          <p style="color:#000000;font-size:15px;">এ ফিল্টারে কোন তরল জাতীয় পদার্থ থাকে না। এ কম্বল, সূতা, কাপড়, পশমী কাপড়, উল, সেলুলোজ ফেল্ট (Cellulose Felt), মোটা কাগজ, কম্বল তৈরির উপকরণ প্রভৃতি দ্বারা তৈরি হয়। বস্ত্র জাতীয় পদার্থ দ্বারা তৈরি বিধায় একে ফেব্রিক (Facbric) ফিল্টারও বলে। এ প্লেনাম
            চেম্বার বা ব্লোয়ারের পূর্বে বা মিক্সিং চেম্বারের সাথে থেকে বাতাসের ময়লা জাতীয় অপদ্রব্য আটকে রাখে। একে আবাসিক ও ছোট বাণিজ্যিক এসিতে ব্যবহার করা হয়।</p>

          <p style="color:#000000;font-size:15px;">চিত্র-১০.১ঃ ফেব্রিক ড্রাই ফিল্টার।</p>

          <p style="color:#000000;font-size:15px;">ময়লাযুক্ত বাতাস যখন ফিল্টারিং পদার্থের মাধ্যমে প্রবেশ করে তখন ময়লা ওতে আটকে যায়। এ প্রকার ফিল্টারের মধ্য দিয়ে প্রবাহিত বায়ুর গতি ২ হতে ১৫ মিটার/মিনিট হবে। ০.৫ মাইক্রোন আকাওে ডাস্ট এ ফিল্টার ৯৯% বা তারও অধিক পরিমাণ আটকে দিয়ে বাতাসকে পরিষ্কার
            করতে পারে।</p>
        </div>
      </div>
      <h4 id="AirFilters-heading25" style="color:#F56708;font-style:italic;">সিন্থেটিক শুষ্ক ছাকনি (Synthetic Dry Filter)t</h4>
      <div class=" item item-image">
        <img src="img/4tDwO8pvRV29zXS7GRrB_3-25-201812-59-24AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="AirFilters-list-item-container35">
        <div id="AirFilters-markdown35" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">গস্নাস উল (glass wool), পস্নাস্টিক ফাইবার (Plastic Fibers), স্টীল উল (Steel Wool), পশুর পশম বা চুল (Animal hairs), পালক (Feathers), শবজির আঁশ (Vagitable Fibers) ইত্যাদি দ্বারা তৈরি প্যাড (Pads) কে প্রয়োজনীয় মাপের স্টীলের কাঠামোর (Frame) মধ্যে
            সেট করে Dry filter তৈরি করা হয়। এ জাতীয় শুস্ক ছাক্নিকে সিনথেটিক ড্রাই ফিল্টার (Synthetic Dry Filter) বলে। এ ফিল্টারে যদি রেজিন (Rasin) পাউডার লাগিয়ে দেয়া হয় তাহলে তার পরিস্রুত করার ক্ষমতা বেড়ে যায়। তখন উহা 0.3 থেকে 10 ( = Micron) পর্যমত্ম
            ময়লা ধরে রাখতে সক্ষম।</p>

          <p style="color:#000000;font-size:15px;">চিত্র- ১০.২ঃ সিনথেটিক শুষ্ক ফিল্টার।</p>

          <p style="color:#000000;font-size:15px;">শুষ্ক ছাকনি সপ্তাহে একবার পরীক্ষা করতে হয়। অমত্মতঃ মাসে একবার পরিষ্কার করতে হয়। ঝাঁকা দিয়ে অথবা প্রয়োজনবোধে চাপযুক্ত বাতাস প্রয়োগ করে এ ফিল্টার পরিষ্কার করা হয়। এতে যদি ভাল পরিষ্কার না হয় তাহলে তা পরিবর্তন করতে হয়।</p>
        </div>
      </div>
      <h4 id="AirFilters-heading26" style="color:#F56708;font-style:italic;">ম্যানুয়াল ক্লিনিং ভিসকাস ফিল্টার</h4>
      <div class="item item-body" id="AirFilters-list-item-container36">
        <div id="AirFilters-markdown36" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এ প্রকার ফিল্টার খুলে তৈল বা তরল (আঠালো) পদার্থে ডুবিয়ে পরিষ্কার করা হয়। গ্লাস উল (Glass wool), স্টীল উল (Steel wool), প্লাস্টিক ফাইবার (Plastic Fiber) কপার মেশ (Copper Mesh) প্রভৃতি দিয়ে প্যাড এবং ব্যাট (Bats) তৈরি করে আঠালো (তৈল জাতীয়) পদার্থে
            ভিজিয়ে এ জাতীয় ফিল্টার ব্যবহার করা হয়। কিছু কিছু ভিজা ফিল্টার একবার ব্যবহার করে ফেলে দিতে হয়। আবার কিছু কিছু ভিজা ফিল্টার গ্যাসোলিনে (Gasoline) ধৌত করে পুণঃরায় ব্যবহার করা যায়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/nxvqdqmXRhewMToeWPu1_3-25-20181-00-37AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="AirFilters-list-item-container37">
        <div id="AirFilters-markdown37" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ঢেউ তোলা টিন আকৃতির মেটাল ফ্রেমে তৈল স্প্রে করে হসত্ম দ্বারা পরিষ্কারকারী ভিজা ছাকনি (Manual cleaning wet filter) তৈরি করা যায়। এ ফিল্টারের উপর দিয়ে বাতাস প্রবাহকালে এতে ময়লা, আঁশ, ছাঁই, ধুলা, রোগ জীবাণু, ব্যাকটেরিয়া, ভাইরাস প্রভৃতি আটকে যায়
            ফলে বাতাস পরিস্রুত হয়। এ ফিল্টারে ব্যবহৃত আঠালো পদার্থের নিম্নের বৈশিষ্ট্য থাকা আবশ্যক- </p>

          <ol>
            <li>অতিরিক্ত তাপমাত্রায় এর একই রকম আঠালোতা (Viscosity) থাকা।</li>
            <li>অতিরিক্ত ঠান্ডায় এ আঠাল অবস্থায় থাকা।</li>
            <li>অতিরিক্ত গরমে এ গলে না যাওয়া।</li>
            <li>এতে রোগ জীবাণু বা অণূুীজ জমা হবার পর আঠালো পদার্থে ঐ গুলোর প্রবৃদ্ধি না ঘটা ।</li>
            <li>সর্বমোট ব্যবহারকালে ওজন হিসেবে ১% এর বেশি ব্যবহৃত আঠালো পদার্থ বাষ্পীভূত হতে না পারা </li>
          </ol>
        </div>
      </div>
      <h4 id="AirFilters-heading28" style="color:#F56708;font-style:italic;">সেল্ফ ক্লিনিং ভিসকাস ফিল্টার (Self Cleaning Viscious Filter)t</h4>
      <div class="item item-body" id="AirFilters-list-item-container38">
        <div id="AirFilters-markdown39" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এতে ধাতব পদার্থের তৈরি রোলার (Roller) থাকে। রোলারটির উপর ফিল্টারের পর্দা পেচানো থাকে। পর্দা (screen) টিতে তৈলের আস্তরণ দেয়া থাকে। চিত্রানুযা্য়ী পর্দাসহ রোলারটি বাতাসের আড়াআড়িতে ঘোরে। রোলারের তলদেশ আঠালো পদার্থের পাত্রে নিমজ্জিত থাকে। আঠালো তরল
            পাত্রে যখন রোলারটি মোটর দ্বারা চালিত হয় তখন স্বয়ংক্রিয়ভাবে ফিল্টার screen আঠালো তরল দ্বারা বিধৌত হয়। রোলার যখন তরলে উঠানামা করে তখন বাতাস থেকে আসা ময়লা উক্ত তরল রয়ে আটকে যায়। তরল পদার্থ অতিরিক্তি ময়লাযুক্ত হলে তা পালটে ফ্রেশ তরল চার্জ করতে
            হয়। </p>

          <p style="color:#000000;font-size:15px;">চিত্র- ১০.৪ঃ সেল্ফ ক্লিনিং ভিসকাস ফিল্টার।</p>

          <p style="color:#000000;font-size:15px;">রোলারটি এমন গতিতে ঘুরবে যেন ফিল্টার পর্দাটি ১০ সে.মি./ ঘন্টা বেগে অতিবাহিত হয়। এর পরিষ্কার করণ ক্ষমতা ৯৭%। ৮০ ঘনমিটার/মিনিট (80m3/min) হতে ৬০০ ঘন মিটার/মিনিট (600m3/min) বাতাস প্রবাহের ক্ষেত্রে এ ব্যবহার উপযোগী।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/CW8MvC6rTJGEGLBBEns4_3-25-20181-02-58AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="AirFilters-heading27" style="color:#F56708;font-style:italic;">এয়ার ওয়াশার (Air washer)t</h4>
      <div class="item item-body" id="AirFilters-list-item-container39">
        <div id="AirFilters-markdown40" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এ পদ্ধতিতে পানির সাহায্যে বাতাসকে ধৌত করা হয় বলে এর নাম এয়ার ওয়াশার। পানির প্রবাহের মধ্যে দিয়ে যখন ময়লা যুক্ত বাতাস প্রেরণ করা হয় তখন বায়ুর ময়লা পানির প্রবাহ দ্বারা ভিজে পানির সাথে মিশে যায়। ফলে বাতাস ময়লা (Dust) মুক্ত হয়। উক্ত অপদ্রব্য Water
            sump বা tank-এ এসে জমা হয়। ধূলা বালি (Dust) মুক্তকরণ হার নির্ভর করে পানির সাথে উক্ত dust এর ভিজে মিশে যাবার ক্ষমতার উপর। তাই যদি কোন অপদ্রব্য পানির সাথে না মিশে (অর্থাৎ পানি দ্বারা না ভিজে) সে অপদ্রব্য বায়ুর সাথে থেকে যায়। সুতরাং তৈলাক্ত অপদ্রব্য
            এয়ার ওয়াশার দ্বারা বাতাস হতে মুক্ত করা যায় না। শিল্প কারখানায় গ্যাস বা ধোঁয়া, রাসায়নিক যা পানি শোষণ করতে সক্ষম। এগুলো বাতাস থেকে মুক্ত করার জন্য এয়ার ওয়াশার খুবই ফলদায়ক। এর সাহায্যে বাতাসের আপেক্ষিক আর্দ্রতা কম বেশি করা যায়। এর উপর দিয়ে ৬০
            হতে ৭৫ মিটার/মিনিট বেগে বাতাসকে প্রবাহিত করায়ে পরিস্রুত করা হয়। পানির প্রবাহ প্রকৃতির উপর ভিত্তি করে দু’প্রকার-</p>

          <ol>
            <li>স্প্রে টাইপঃ পানিকে নজল দ্বারা স্প্রে করা হয়। এ স্প্রেকৃত পানির মধ্য দিয়ে বাতাস প্রবাহকালে বায়ুস্থ অপদ্রব্য পানি কর্তৃক বিধৌত হয়। ফলে বাতাস পরিষ্কার হয় কিন্তু বাতাসের আর্দ্রতা বেড়ে যায়। চিত্র- ১০.৫ঃ স্প্রে টাইপ এয়ার ওয়াশার।</li>
            <li>সূক্ষ্ম বারী ধারা টাইপঃ এর সাহায্যে কৃত্রিম বারি ধারা ঘটানো হয়। উক্ত বারি ধারার মধ্য দিয়ে বাতাস প্রবাহকালে অপদ্রব্য বিধৌত হয়। এতে বাসাত অপদ্রব্য মুক্ত হয়। এক্ষেত্রে বায়ুর আর্দ্রতা বেড়ে যায়।</li>
          </ol>

          <p style="color:#000000;font-size:15px;">চিত্র- ১০.৬ঃ বারি ধারা টাইপ এয়ার ওয়াশার। এয়ার ক্লীনার (Air Celaner)- </p>

          <p style="color:#000000;font-size:15px;">এটি বাতাস ও বাতাসের অপদ্রব্য বিশেষ প্রক্রিয়ায় পৃথক করে। এর সাহায্যে ধূলিকণাসহ অন্যান্য অপেক্ষাকৃত ভারী অপদ্রব্য পৃথক করে বাতাসকে পরিষ্কার করা যায়। এ দু’ ধরণের হয়ে থাকে। যথা</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/r3NYgdIYRbqY6zx7B6Ua_3-25-20181-04-42AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>