<ion-view title="book" id="page3">
  <ion-content padding="true" style="background: url(img/oWVZNAPQumHYIVu0zvrm_giphy.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card manual-card-fullwidth oppacit" id="book-card22">
      <button id="book-button3" class="button button-positive button-block">Tap me!</button>
      <button id="book-button4" class="button button-positive button-block">Tap me!</button>
      <button id="book-button5" class="button button-positive button-block">Tap me!</button>
      <button id="book-button6" class="button button-positive button-block">Tap me!</button>
      <button id="book-button7" class="button button-positive button-block">Tap me!</button>
      <button id="book-button8" class="button button-positive button-block">Tap me!</button>
      <button id="book-button9" class="button button-positive button-block">Tap me!</button>
    </div>
  </ion-content>
</ion-view>