<ion-view title="রেফ্রিজারেশন চাকরী" id="page4435">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="cONDENSERS-card22" ng-repeat="x in getjobPost | orderBy:index(getjobPost):true">
      <h4 id="cONDENSERS-heading225" style="color:#FA370D;font-style:italic;"> {{x.title}}</h4>
      <div class="item item-body" id="cONDENSERS-list-item-container200">
        <div id="cONDENSERS-markdown2138" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FA370D;font-size:18px;">Education:<span style="margin-left:5px;color:#000000;font-size:15px;" >{{x.Education}}</span></p>
        </div>
        <div id="cONDENSERS-markdown21380" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FA370D;font-size:18px;">Experience:<span style="margin-left:5px;color:#000000;font-size:15px;" >{{x.Experience}}</span></p>
        </div>
        <div id="cONDENSERS-markdown21386" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FA370D;font-size:18px;">Location:<span style="margin-left:5px;color:#000000;font-size:15px;" >{{x.location}}</span></p>
        </div>
        <div id="cONDENSERS-markdown2139" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FA370D;font-size:18px;">Phone:<span style="margin-left:5px;color:#000000;font-size:15px;" >{{x.Phone}}</span></p>
        </div>
        <div id="cONDENSERS-markdown213" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">{{x.description}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

