<ion-view title="রিলে" id="page33">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page33-card229">
      <h4 id="page33-heading184" style="color:#F66310;font-style:italic;">রিলে (Relay)</h4>
      <div class="item item-body" id="page33-list-item-container207">
        <div id="page33-markdown225" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">রিলে এক ধরণের নিরাপত্তামূলক স্টার্টিং সুইচ বা ডিভাইজ। যে ইলেকট্রিকাল ডিভাইসের সাহায্যে মোটরের স্টার্ট কয়েলের মাধ্যমে বিদ্যুৎ প্রবাহ ঘটানো যায় তাকে রিলে বলে। এর সাহায্যে সহজে মোটরের স্টার্টিং ‘‘টর্ক’’ সৃষ্টি হয়। মোটর চালু হয়ে প্রায় ৭৫ থেকে ৮০%
            ভাগ গতি প্রাপ্ত হবার পর রিলে স্টার্টিংএ সরবরাহ বন্ধ করে দেয়। স্পস্নীট ফেজ, স্টার্ট (Start) ও রান (Run) ক্যাপাসিটর বিশিষ্ট সিঙ্গেল ফেজ মোটরকে স্টার্ট করতে রিলের প্রয়োজন।</p>
        </div>
      </div>
      <h4 id="page33-heading185" style="color:#F66310;font-style:italic;">রিলের কাজ </h4>
      <div class="item item-body" id="page33-list-item-container208">
        <div id="page33-markdown226" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সিঙ্গেল ফেজ মোটরের সবচেয়ে বড় অসুবিধা হল এটিকে সব ক্ষেত্রে শুধুমাত্র মেন বা রানিং কয়েল দ্বারা চালু করা যায় না। তাই একে চালু করার জন্যে কোন সাহায্যকারী ব্যবস্থা বা স্টার্টিং কয়েলের দরকার হয়। স্টার্টিং কয়েলে ব্যবহৃত তার চিকন হয় যার রেজিস্ট্যান্স
            বেশি থাকার কারণে অতিরিক্ত বিদ্যুৎ প্রবাহে ঐ কয়েলের দ্রম্নত ও ব্যাপক ক্ষতি হয়। ফলে এ স্টার্টিং কয়েলকে নিরাপদে নিয়ন্ত্রণ করার জন্য রিলের দরকার হয়। সেজন্যে মোটর চালু করার সময় রিলে প্রধানত নিমেণর কাজ গুলো করে- </p>

          <p style="color:#000000;font-size:15px;">(১) কারেন্ট কয়েল রিলে স্টার্টিং কয়েলে বিদ্যুৎ সরবরাহ দিয়ে তা বন্ধ করে </p>

          <p style="color:#000000;font-size:15px;">(২) পটেনশিয়্যাল রিলে স্টার্টিং ক্যাপাসিটরের লাইন অফ করে এবং </p>

          <p style="color:#000000;font-size:15px;">(৩) পিটিসি রিলেকারেন্ট কমিয়ে স্টার্টিং কয়েলকে রক্ষা করে।</p>

          <p style="color:#000000;font-size:15px;">৪) সেন্ট্রিফিউগ্যাল সুইচ মোটর চালু হয়ে প্রায় ৭৫ থেকে ৮০% ভাগ গতি প্রাপ্ত হবার পর মোটরের স্টার্টিং কয়েলে সরবরাহ বন্ধ করে দেয়।</p>

          <p style="color:#000000;font-size:15px;">৫) হট ওয়্যার রিলে স্বয়ংক্রিয় নিরাপত্তামূলক সুইচ হিসেবে ওভার লোড (Over load) প্রটেক্টরের ন্যায় কাজ করে। তাই এরিলে ব্যবহৃত বর্তনীতে Over load protector ব্যবহৃত হয় না। </p>

          <p style="color:#000000;font-size:15px;">৬) টাইম ডিলে রিলে কোন কোন সময় টাইম ডিলে করে মোটরকে পূণঃ চালু করার জন্য ব্যবহার করা হয়।</p>
        </div>
      </div>
      <h4 id="page33-heading186" style="color:#F66310;font-style:italic;">রিলের প্রকারভেদ </h4>
      <div class="item item-body" id="page33-list-item-container209">
        <div id="page33-markdown227" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বিভিন্ন প্রকার মোটরের বিভিন্ন রকমের স্টার্টিং ব্যবস্থা রয়েছে। এ স্টার্টিং ব্যাবস্থার মধ্যে রিলেই প্রধান। বিভিন্ন রকমের রিলেও ভিন্ন ভিন্ন বৈশিষ্ট্যে কাজ করে। বৈশিষ্ট্যের উপর ভিত্তি করে রিলে সাত প্রকার। যথা-</p>

          <p style="color:#000000;font-size:15px;">ক. কারেন্ট কয়েল রিলে (Current coil relay)
            <br>খ. হট ওয়্যার বা বাইমেটালিক রিলে (Hot wire or Bimetalic relay)
            <br>গ. পটেনশিয়্যাল রিলে (Potential relay)
            <br>ঘ. থার্মিস্টর বা পিটিসি রিলে
            <br>ঙ. সলিড টেস্ট ইলেকট্রনিক রিলে (Solid state electronic relay)
            <br>চ. ইলেকট্রো ম্যাগনেটিক রিলে (Electro magnetic relay)</p>
        </div>
      </div>
      <h4 id="page33-heading187" style="color:#F66310;font-style:italic;">বিভিন্ন প্রকার রিলের বর্ণনাঃ</h4>
      <div class="item item-body" id="page33-list-item-container210">
        <div id="page33-markdown228" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>কারেন্ট কয়েল রিলেঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">এ রিলে বিদ্যুৎ প্রবাহ দ্বারা পরিচালিত হয়। এতে একটা ম্যাগনেটিক কয়েল থাকে। সার্কিটে বিদ্যুৎ সরবরাহ করলে রিলের এ কয়েল হয়ে মোটরের রানিং ওয়াইন্ডিংএ বিদ্যুৎ সরবরাহ হয়। বিদ্যুৎ সরবরাহের জন্য উক্ত কয়েলে চুম্বকের সৃষ্টি হয়। ফলে সলেনয়েড লিভার উপরে উঠে
            স্টার্ট পয়েন্ট অন করে দেয়াতে মোটরের স্টার্টিং ওয়াইন্ডিংএ বিদ্যুৎ প্রবাহ ঘটে। মোটর প্রায় ৭৫% গতি প্রাপ্ত হলে ব্যাক ই এমএফ (Back E.M.F) বা বিপরীত মূখী ভোল্টেজ তৈরি হওয়াতে রানিং ওয়াইন্ডিংএ বিদ্যুৎ কমে যায় এবং কম চুম্বকত্বের সৃষ্টি হয়। ফলে লিভার
            স্টার্ট পয়েন্ট হতে বিচ্ছিন্ন হয়ে স্টার্ট ওয়াইন্ডিংএর বিদ্যুৎ প্রবাহ অফ করে দেয়। রানিং ওয়াইল্ডিং সর্বদা সরবরাহ পাওয়াতে মোটর চলতে থাকে। </p>

          <p style="color:#000000;font-size:15px;">
            <strong> হট ওয়্যার বা বাইমেটালিক রিলেঃ </strong>
          </p>

          <pre>
            <code>এ রিলে বিদ্যুৎ প্রবাহ জনিত তাপ দ্বারা পরিচালিত হয়ে থাকে। সার্কিটে বিদ্যুৎ সরবরাহ করলে মোটরের উভয় ওয়াইন্ডিং-এ বিদ্যুৎ প্রবাহিত হয় এবং মোটর চালু হয়। মোটরের স্টার্টিং কয়েলে বিদ্যুৎ প্রবাহের ফলে স্টার্টিং বাইমেটালিক পাত বাঁকা হয়ে স্টাটিং কন্টাক্ট
              পয়েন্ট বিচ্ছিন্ন করে দেয়। রানিং কয়েলের মাধ্যমে মোটর চলতে থাকে। রিলের রানিং পয়েন্টের সাথে লিভারের সাহায্যে হিটিং এলিমেন্ট যুক্ত থাকে। রানিং কয়েল অতিরিক্ত বিদ্যুৎ প্রবাহ হলে হিটিং এলিমেন্ট (বাইমেটাল পাত) বাঁকা হয়ে সরবরাহ বন্ধ করে মোটরকে রক্ষা
              করে। অর্থাৎ এ ওভার লোড প্রটেক্টরের কাজও করে। তাই এপ্রকার রিলের ব্যবহারের ক্ষেত্রে ওভার লোড প্রটেক্টর ব্যবহার করার প্রয়োজন হয় না।</code>
          </pre>

          <p style="color:#000000;font-size:15px;">
            <strong>পটেনশিয়াল রিলেঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">এ রিলে চৌম্বক শক্তির সাহায্যে কাজ করে। রিলে কন্ট্যাক্ট পয়েন্ট দ্বয় সাধারণ অবস্থায় লাগানো (অন করা) থাকে। বিদ্যুৎ প্রবাহ হলে একই সঙ্গে কন্ট্যাক্ট দ্বয়ের মাধ্যমে স্টার্টিং ও রানিং ওয়াইন্ডিং বিদ্যুতায়িত হয়। এবং মোটর চালতে থাকে। এর স্টার্টিং পয়েন্টের
            সাথে একটা ম্যাগনেটিক কয়েল থাকে। মোটর চালু হবার পরই কয়েলে চৌম্বকত্বের সৃষ্টি হয়। ফলে এচুম্বক শক্তি কন্ট্যাক্ট পয়েন্টের লিভারকে টেনে স্টার্টিং ক্যাপাসিটরের লাইনকে অফ করে দেয়। বিদ্যুৎ প্রবাহ বন্ধ হলে কয়েলের চুম্বক শক্তি বিলোপ পায়। ফলে Contact
            বিচ্ছিন্ন হয়ে যায়। এতে 1,2,3,4,5 ও 6 নম্বরের ৬টা টার্মিন্যাল থাকে। মোটর স্টার্টের জন্য এদের 1,2 ও 5 চিহ্নিত টার্মিন্যাল তিনটিতে সংযোগ দেয়া হয়। বাকী 3,4, ও 6 নং টার্মিন্যাল থেকে বিভিন্ন লাইনে সংযোগ দেয়া হয়। তাই 3,4, ও 6 নং টার্মিন্যালস জাংশন
            বা কানেক্টর হিসেবে কাজ করে। এ রিলের চিত্র ও প্রধান অংশ গুলোর নাম হল- </p>

          <p style="color:#000000;font-size:15px;">১। মুভিং কন্ট্যাক্ট, ২। মুভিং ব্লেড, ৩। কন্ট্যাক্ট স্ক্রু, ৪। আর্মেচার লিফ্টার, ৫। স্থির কন্ট্যাক্ট, ৬। স্থির ব্লেড, ৭। আর্মেচার, ৮। কোর, ৯। স্প্রীং। ঘ) থার্মিস্টর বা পিটিসি রিলেঃ এ রিলেকে পজিটিভ টেম্পারেচার কো-ইফিসিয়েন্ট (P.T.C = Positive Tempareture
            Coefficient) রিলে বলে। এ রিলের স্টার্টিং এর সাথে একটা থার্মিস্টর থাকে। এ থার্মিস্টর ঠান্ডা অবস্থায় সুপরিবাহী হিসেবে স্টার্টিং ওয়াইন্ডিংএ সহজে বিদ্যুৎ প্রবাহিত হতে দেয়।মোটর স্টার্ট হবার পর কিছুক্ষণের মধ্যে এটি গরম হয়ে </p>

          <p style="color:#000000;font-size:15px;">
            <strong> সংযোগ অবস্থায় পিটিসি রিলে। </strong>
            অর্ধপরিবাহীতে পরিনত হয়। সরবরাহ পথে রোধ সৃষ্টি হওয়ায় স্টর্টিং ওয়াইন্ডিংএ বিদ্যুৎ প্রবাহ কমে যায়। বর্তমানে পিটিসি একটি বহুল ব্যবহৃত রিলে। এর প্রধান অংশ হল-১। কন্ট্যান্ট পয়েন্ট, ২। বডি, ৩। স্টোন। </p>

          <p style="color:#000000;font-size:15px;">
            <strong> সলিড টেস্ট ইলেকট্রনিক রিলেঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">হারমেটিক কমপ্রেসর মোটর চালু করার জন্য প্রচলিত রিলের পরিবর্তে সলিড স্টেট ট্রানজিস্টর, ডায়োড, সিলিকন, রেকটিফায়ার, ডায়াক, ট্রয়াক ব্যবহার করা হয়। হারমেটিক মোটর চালু হবার মুহুর্তে এবং পূর্ণ গতি অর্জনের ঠিক আগে ইলেকট্রনিক রিলে স্টার্টিং ওয়াইন্ডিং-এ
            বিদ্যুৎ সরবরাহ দেয়। হতে এইচ.পি বা ৬০ হতে ২৫০ ওয়াটের হারমেটিক মোটরে একই মানের ও সাইজের রিলে ব্যবহৃত হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ইলেক্ট্রোম্যাগনেটিক রিলেঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">এ রিলের মধ্যে একটা কয়েল ও একটা আর্মেচার থাকে। সকল প্রকার সংযোগাদি সুসম্পন্ন করে যখন বর্তনীতে সরবরাহ দেয়া হয় তখন কয়েলে ইলেক্ট্রোম্যাগনেটিক আর্মেচারকে স্থানান্তর করে। তখন ডিভাইসের স্টার্টিং বর্তনী বা পয়েন্ট সংযোগ প্রাপ্ত হয় এবং স্টার্ট হয়ে মোটর
            চলতে থাকে। মোটর পূর্ণ গতিতে আসার পর স্টার্টিং কয়েলে সরবরাহ কমতে থাকে। ফলে ইলেক্ট্রোম্যাগনেটিক শক্তিও কমতে থাকে। অবশেষে স্প্রীং আর্মেচারকে টেনে পূর্বের অবস্থায় আনে। এতে স্টার্টিংএ সরবরাহ বন্ধ হয়। এরিলে ট্রান্সফরমারযুক্ত ও ট্রান্সফরমার বিহীন
            হয়ে থাকে। সাধারণ অবস্থায় এ কনট্যাক্ট অবস্থায় থাকে। একে ফ্যান রিলেও বলে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>লক আউট রিলেঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">এরিলে মোটরের নিরাপত্তামূলক ডিভাইস হিসেবে ব্যবহার হয়। এটি কন্ট্যাক্টরের সাথে লাগানো থাকে। কন্ট্যাক্টরের কয়েল ভোল্টেজ এবং রিলে কয়েল ভোল্টেজ সমান থাকে। এর সংযোগটি সাহায্যকারী সংযোগ হিসেবে কাজ করে। সার্কিটে কন্ট্যাক্টরের কয়েলের সাথে রিলের কয়েল প্যারালাল
            এবং কন্ট্যাক্টরের কয়েলের সাথে রিলের কন্ট্যাক্ট পয়েন্ট সিরিজ অবস্থায় থাকে । তবে রিলের কয়েল ও রিলের কন্ট্যাক্ট পয়েন্ট পরস্পর সমান্তরালে থাকে। প্রেশার কাট আউট, ওভারলোড ও অন্যান্য সেফ্টি ডিভাইস মোটরকে বন্ধ করে দিলেও পুণঃরায় মোটর বৈদ্যুতিক শক্তি
            প্রাপ্ত না হওয়া পর্যন্ত লক আউট রিলে মোটরকে চালু রাখে। </p>
        </div>
      </div>
      <h4 id="page33-heading188" style="color:#F66310;font-style:italic;">বিভিন্ন প্রকার রিলের পরীক্ষা পদ্ধতিঃ </h4>
      <div class="item item-body" id="page33-list-item-container211">
        <div id="page33-markdown229" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">রিলে পরীক্ষা বলতে রিলের কার্যকারীতা পরীক্ষা বুঝায়। বিভিন্ন প্রকার রিলের পরীক্ষা পদ্ধতি ভিন্ন ভিন্ন। রিলে সাধারণতঃ তিন প্রক্রিয়ায় পরীক্ষা করা হয়। পদ্ধতি তিনটির বর্ণনা নিচে আলোচনা করা হল-</p>

          <p style="color:#000000;font-size:15px;">
            <strong> প্রদর্শণ ও শব্দ পদ্ধতিঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">ক) প্রথমেই রিলের বহির আবরণ ভাল থাকলে বডি খুলে আভ্যন্তারীণ আয়োজন, সংযোগাদি, সেটিং ইত্যাদি সঠিক আছে কিনা দেখতে হবে।</p>

          <p style="color:#000000;font-size:15px;">খ) কারেন্ট কয়েল রিলে ঝাকুনি দিলে শব্দের সৃষ্টি করলে বুঝতে হবে প্রাথমিকভাবে এটি কার্যক্ষম আছে।</p>

          <p style="color:#000000;font-size:15px;">গ) পিটিসি রিলে ঝাকুনি দিলে শব্দের সৃষ্টি না করলে বুঝতে হবে প্রাথমিকভাবে উহা কার্যক্ষম আছে।</p>

          <p style="color:#000000;font-size:15px;">ঘ) হট ওয়্যার রিলের বডি খুলে হট ওয়্যার লীভার হাত দ্বারা চাপ দিলে মুভ করে পূর্ব স্থলে ফিরলে বুঝতে হবে প্রাথমিকভাবে উহা কার্যক্ষম আছে।</p>

          <p style="color:#000000;font-size:15px;">ঙ) পটেনশিয়্যাল রিলের বডি খুলে ম্যাগনেটিক লীভার হাত দ্বারা চাপ দিলে মুভ করে পূর্ব স্থলে ফিরলে বুঝতে হবে প্রাথমিকভাবে তা কার্যক্ষম আছে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong> ওহম মিটার পদ্ধতিঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">ক) কারেন্ট কয়েল রিলের ওহম মিটার পরীক্ষাঃ স্বাভাবিক অবস্থায় রিলের M ও S পয়েন্টে অ্যাভোর রেঞ্জ নব ওহম রেঞ্জে রেখে প্রোব দ্বয় স্পর্শ করলে কন্টিনিউটি দেখাবে না, যদি দেখায় তবে খারাপ। রিলে উল্টিয়ে পরীক্ষাটি করলে কন্টিনিউটি দেখালে ভাল, না দেখালে খারাপ।
            </p>

          <p style="color:#000000;font-size:15px;">
            <strong>থার্মিস্টর (পিটিসি) রিলের ওহম মিটার পরীক্ষাঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">রিলের স্বাভাবিক অবস্থায় এবং অ্যাভোর ওহম রেঞ্জে রেখে-</p>

          <p style="color:#000000;font-size:15px;">১. রিলের M ও L পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে শূণ্য (0) ওহম (কান্টনিউটি) দেখালে ভাল, না দেখালে খারাপ। </p>

          <p style="color:#000000;font-size:15px;">২. রিলের S ও L পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে ওহম দেখালে উহা ভাল, না দেখালে খারাপ। </p>

          <p style="color:#000000;font-size:15px;">৩. রিলের S ও M পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে ওহম দেখালে ভাল, না দেখালে খারাপ আছে। </p>

          <p style="color:#000000;font-size:15px;">
            <strong>পটেনশিয়্যাল রিলের ওহম মিটার পরীক্ষাঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">পয়েন্ট {1(S), 2(R) ও 5(L) } অ. রিলের স্বাভাবিক অবস্থায় এবং অ্যাভোর ওহম রেঞ্জে রেখে- ১. রিলের 1 ও 2 নং পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে অসীম ওহম দেখালে ভাল, না দেখালে খারাপ ২. রিলের 1 ও 5 নং পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে অসীম ওহম
            দেখালে ভাল, না দেখালে খারাপ। ৩. রিলের 2 ও 5 নং পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে ৮০০০ ওহম দেখালে ভাল, অন্যথায় খারাপ। আ. অতঃপর রিলের ম্যাগনেটিক লীভার চাপ দিয়ে এবং অ্যাভোর ওহম রেঞ্জে রেখে- ১. রিলের 1 ও 2 নং পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ
            করলে শূণ্য (0) ওহম (কান্টনিউটি) দেখালে ভাল, না
            <br> দেখালে খারাপ। ২. রিলের 1 ও 5 নং পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে প্রায় ৮০০০ ওহম দেখালে ভাল, অন্যথায় খারাপ। ৩. রিলের 2 ও 5 নং পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে ৮০০০ ওহম দেখালে উহা ভাল, অন্যথায় ারাপ। ঘ) হট ওয়্যার রিলের ওহম মিটার
            পরীক্ষাঃ
            <br>পয়েন্ট (S, M ও L) রিলের স্বাভাবিক অবস্থায় এবং অ্যাভোর ওহম রেঞ্জে রেখে- ১. রিলের M ও S চিহ্ণিত পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে অসীম ওহম দেখালে ভাল, অন্যথায় খারাপ। ২. রিলের M ও S চিহ্ণিত পয়েন্টে অ্যাভোর প্রোব দ্বয় স্পর্শ করলে শূণ্য ওহম
            দেখালে ভাল, অন্যথায় খারাপ। ৩. রিলের S ও L চিহ্ণিত পয়েন্টে প্রোব দ্বয় স্পর্শ করলে শূণ্য (০) ওহম (কান্টনিউটি) দখালে উহা ভাল, অন্যথায় খারাপ। </p>

          <p style="color:#000000;font-size:15px;">
            <strong>টেস্ট ল্যাম্প পদ্ধতিঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">ক) কারেন্ট কয়েল রিলের টেস্ট ল্যাম্প পরীক্ষাঃ </p>

          <p style="color:#000000;font-size:15px;">কারেন্ট কয়েল রিলের ল্যাম্প টেস্ট। রিলেকে স্বাভাবিক অবস্থায় রেখে ২টি টেস্ট ল্যাম্পের ২টি তারের ২ প্রামত্ম R ও Sএ সংযুক্ত করে অপর প্রান্ত দ্বয় একত্রে লাইনে এবং রিলের কয়েলের সরবাহ M টার্মিন্যাল থেকে অপর তার প্ল¬াগের সাহায্যে চিত্রানুরূপ সার্কিট
            তৈরী করে সুইচ অন করলে- রানিং টার্মিন্যালের বাতি জ্বললে আর স্টার্টিং টার্মিন্যালের বাতি না জ্বললে রিলে ভাল, অন্যথায় খারাপ। ক নং অবস্থায় ১টা ল্যাম্প জ্বলবে। </p>

          <pre>
            <code>এখন ২৩.১০ (খ) নং চিত্রানুরূপ রিলে উল্টিয়ে সার্কিট তৈরী করে সুইচ অন করলে- রানিং ও স্টার্টিং টার্মিন্যালের উভয়বাতি জ্বললে রিলে ভাল, অন্যথায় খারাপ। অর্থাৎ ২৩.১০ খ নং অবস্থায় রিলে (উল্টালে) উভয় ল্যাম্প জ্বলবে।</code>
          </pre>

          <p style="color:#000000;font-size:15px;">খ) থার্মিস্টর (পিটিসি) রিলের টেস্ট ল্যাম্প পরীক্ষাঃ পার্শ্বের চিত্রানুযায়ী রিলের রানিং পয়েন্ট (M) ও রিলের স্টার্টিং পয়েন্ট (S) এর সাথে ২টি একই ওয়াটের বাল্ব প্যারালেল ভাবে সংয়োগ করে সরবরাহ প্রদান করলে যদি স্টার্টিং পয়েন্টের ল্যাম্প কম উজ্জ্বল
            হয়ে আলো দেয় এবং আলোর প্রখরতা কমতে থাকে তাহলে রিলে ভাল আছে, অন্যথায় খারাপ।</p>

          <p style="color:#000000;font-size:15px;">চিত্র- ২৩.১১ঃ থার্মিস্টর (পিটিসি) রিলের টেস্ট ল্যাম্প পরীক্ষা ঃ</p>

          <p style="color:#000000;font-size:15px;">গ) পটেনশিয়্যাল রিলের টেস্ট ল্যাম্প পরীক্ষাঃ পয়েন্ট (1, 2 ও 5) চিত্রানুযায়ী রিলের ১ ও ৫ নং পয়েন্টে একটা ল্যাম্প এবং ২ ও ৫ পয়েন্টে সরবরাহ দেয়ার পর যদি প্রথমে বাতিটি জ্বলে অল্প সময়ের মধ্যে নিভে যায়, তাহলে বুঝতে হবে রিলে ভাল আছে, অন্যথায় খারাপ।
            </p>

          <p style="color:#000000;font-size:15px;">
            <strong>হট ওয়্যারঃ পয়েন্ট (M, S, L)</strong>
          </p>

          <p style="color:#000000;font-size:15px;">চিত্রানুযায়ী রিলের M ও S পয়েন্টের সাথে ২টি একই ওয়াটের বাল্ব প্যারালালে সংয়োগ করে সরবরাহ প্রদান করলে উভয় ল্যাম্পই জললে, পরে স্টার্টিং পয়েন্টের বাইমেটাল পাত সাবধানে কোন কিছু দ্বারা হালকা ডানে বা বামে ধাক্কা দিলে স্টার্টিং পয়েন্টের ল্যাম্প নিভে
            গেলে অতপর একটু বেশি চাপে ধাক্কা দিলে উভয় ল্যাম্পই নিভে গেলে এবং পরিশেষে চাপ প্রত্যাহার করলে উভয় বাতি পূর্বের ন্যায জ্বললে রিলে ভাল, অন্যথায় খারাপ। </p>

          <p style="color:#000000;font-size:15px;">চিত্র-২৩.১৩ঃ হট ওয়্যার রিলের টেস্ট-ল্যাম্প পরীক্ষা।</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>