<ion-view title="সোল্ডারিং" id="page30">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page30-card226">
      <h4 id="page30-heading168" style="color:#F8740A;font-style:italic;">সোল্ডারিং (Soldering)</h4>
      <div class="item item-body" id="page30-list-item-container188">
        <div id="page30-markdown205" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">প্রযুক্তির এ অত্যাধুনিক যুগে জীবন বাঁচাতে ও সাঁজাতে ফেব্রিকেশনের যথেষ্ট গুরুত্ব রয়েছে। বস্ত্র থেকে শুরু করে মানুষের মৌলিক চাহিদার সকল ক্ষেত্রেই জুড়িহীন ভাবেফেব্রিকেশন (Fabrication) অগ্রসরমান। কার খানাতে প্রকৌশলবিদ্যায় অধীকাংশ ধাতু সমূহকে প্রয়োজনানুযায়ী
            পছন্দসই গঠনাকৃতি প্রদানের জন্য ঢালাই, ফরমিং, মেশশীনং ও সংযোগ এই চার প্রণালীর যে কোন এক বা একাধিক পদ্ধতির সহায়তায় ধাতব কাঠামো তৈরী করা হয়। সুতরাং স্পষ্ট যে, সংযোগ ব্যতিত কারিগরি অঙ্গনে কোন কিছুই করা সম্ভব নয়। সংযোগের এ প্রক্রিয়া প্রধানত ২ প্রকার
            যথা-</p>

          <ol>
            <li>
              <p style="color:#000000;font-size:15px;">মেকানিক্যাল বা যান্ত্রিক পদ্ধতি-নাট, বোল্ট, চাবি ইত্যাদি</p>
            </li>
            <li>
              <p style="color:#000000;font-size:15px;">থার্মাল বা তাপীয় পদ্ধতি- সোল্ডারিং, ব্রেজিং, ওয়েল্ডিং ইত্যাদি।</p>
            </li>
          </ol>

          <p style="color:#000000;font-size:15px;">সংযোগের গুণগত মানানুযায়ী সংযোগ পদ্ধতিকে তিন ভাগে ভাগ করা যায় যথঅ-</p>

          <p style="color:#000000;font-size:15px;">১। স্থায়ী সংযোগ (Permanent joint),
            <br>২। নমনীয় সংযোগ (Flexible joint)
            <br>৩। অস্থায়ী সংযোগ (Temporary joint)</p>

          <p style="color:#000000;font-size:15px;">কঠামোর গঠণাকৃতি, আকার বা আয়তন, যতার্থতা, প্রয়োজনীয়তা, কস্ট, ধাতব গুণাগুণ, সরঞ্জামের প্রাপ্যতা ইত্যাদি এবং সাশ্রয়ের উপর গুরুত্ব দিয়ে সংযোগ পদ্ধতি মনোনীত করা হয়। শর্ত গুলির অনুধাবন হেতু পরিষ্কার যে, যে কোন ধাতব কাঠামো উৎপাদনে সোল্ডারিং-এর বিকল্প
            নাই। তাই বর্ণিত কারণে সোল্ডরিং-এর প্রয়োজনীয়তা অসীম।</p>

          <ol>
            <li>উৎপাদন সহজ ও সুন্দর হয়,</li>
            <li>উৎপাদনে বিনিয়োগ, জনবল ও সময় কম লাগে,</li>
            <li>উৎপাদনে কাঁচামালের খরচ ও অপচয় কম হয়,</li>
            <li>কোন কোন উৎপাদনের ক্ষেত্রে সোল্ডারিংএর বিকল্প ব্যবস্থা নেই,</li>
            <li>সোল্ডারিং ব্যতিত চাহিদা অনুযায়ী আকৃতি প্রদান করা যায় না, ইত্যাদি।</li>
          </ol>
        </div>
      </div>
      <h4 id="page30-heading169" style="color:#F8740A;font-style:italic;">. সোল্ডারিং (Soldering)t</h4>
      <div class="item item-body" id="page30-list-item-container189">
        <div id="page30-markdown206" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সোল্ডারিং এক প্রকার সংযোগ প্রণালী যার সাহায্যে ধাতব ওয়ার্কপিচ জোড়া দেয়া যায়। ননফিউশন ওয়েল্ডিং প্রক্রিয়ার অন্যতম একটি হল সোল্ডারিং। এটি একই জাতীয় ২টি ধাতব খন্ড বা বৈদ্যুতিক তারকে স্থায়ী ও মজবুত সংযোগ সোল্ডারের সাহায্যে করা হয়। এ ব্যবস্থায় ধাতব
            খন্ডকে উত্তপ্ত এবং সোল্ডারকে গলায়ে সংযোগকে প্রস্ত্তত করা হয়। সুতরাং সংযোগকারী ধাতবের তাপমাত্রাগত বৈশিষ্ট্য বিবেচনা করেই তাপ প্রয়োগ করা হয়। দুটি ধাতব খন্ডকে উত্তপ্ত করে 4000সেঃ উষ্ণতার কম গলনাংক বিশিষ্ট তাপমাত্রায় Solder (শংকর ধাতু) কে গলায়ে
            সংযোগ করার প্রক্রিয়াকে সোল্ডারিং বলে। Solder মূল বা শংকর ধাতুর তৈরি হতে পারে। তবে সোল্ডারের গলনাংক সংযোগকারী ধাতব খন্ড হতে কম হবে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>সোল্ডারিং এর মূল নীতিঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">সংযোগকারী ধাতব দ্বয়কে প্রয়োজনমত উত্তপ্ত ও পরিস্কার করতঃ সংযোগ স্থলে সোল্ডারকে গলিয়ে যথাযথ পরিমাণ প্রয়োগ করা। অতপর ঠান্ডা হবার পর উহার দৃঢ়তা সৌন্দর্যতা পরীক্ষা করা। সোল্ডারিং করার সময় বিশেষ বিবেচ্য বিষয়াদি নিম্নরূপ-</p>

          <pre>
            <code>১। তাপশক্তিঃ ধাতু প্রকৃতি ও সংযোগ প্রক্রিয়ার চাহিদানুযায়ী তাপ প্রয়োগের ব্যবস্থা করতে হবে।</code>
          </pre>

          <p style="color:#000000;font-size:15px;">২। অপদ্রব্য মুক্ত করণঃ প্রত্যাশিত জোড়ে অংশ গ্রহণকারী প্রান্ত গুলি অক্সাইড বা অন্যান্য অপদ্রমুক্ত হতে হবে। অক্সাইড, ময়লা, তেল, গ্রীজ, ধূলো-বালি ইত্যাদি সংযোগে ক্ষতিকারক প্রভাব বিস্তার করে। যন্ত্রিক বা রাসায়নিক প্রক্রিয়ায় তা দুরিভূত করতে হয়।</p>

          <p style="color:#000000;font-size:15px;">৩। বায়ুমন্ডলস্থ ক্ষতিকারক উপাদানঃ বায়ুমন্ডলের ভাসমান অক্সিজেন, নাইট্রোজেন, আর্দ্রতা ইত্যাদি সংযোগে ক্ষতিকারক প্রভাব বিসত্মার করে। ফ্লাক্স, নিষ্ক্রীয় গ্যাস ইত্যাদি ব্যবহার করে তা প্রতিহত করা।</p>

          <p style="color:#000000;font-size:15px;">৪। সংযোগ কার্যক্রম নিয়ন্ত্রণে রাখাঃ প্রত্যাশিত সংযোগের জন্য নিম্নোক্ত বিষয়াদির বিকল্পপ নেই- ক) সংযোগের সময় De-oxidizers ব্যবহার করা, খ) ফিলার রড বা ইলেক্ট্রডের মাধ্যমে সংকর ধাতুর সমাবেশ ঘটনো, গ) বেজ মেটালে Composition কে নিয়ন্ত্রণ করা,</p>

          <p style="color:#000000;font-size:15px;">৫। চাপের প্রয়োগঃ সংযোগ ব্যবস্থায় চাপের প্রয়োজন হলে যান্ত্রিক, বায়বীয়, নিউমেট্রিক্যালী উপায়ে চাপ প্রয়োগ করা।</p>
        </div>
      </div>
      <h4 id="page30-heading170" style="color:#F8740A;font-style:italic;">ফ্লাক্স (Flux)t</h4>
      <div class="item item-body" id="page30-list-item-container190">
        <div id="page30-markdown207" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বায়ুর সংস্পর্শে আসা মাত্রই প্রত্যেক ধাতুই অক্সিজেনের সাথে যুক্ত হয়। অর্থাৎ অক্সাইড (Oxide) হয়ে যায়। ঠান্ডা অবস্থায় যে হারে অক্সাইড হয় উত্তপ্ত অবস্থায় কিংবা উপরিভাগ পরিষ্কার অবস্থায় আরো দ্রুত হয়। অক্সাইডের ফলে ধাতুর উপরে একটি সূক্ষ্ম আবরণ পড়ে।
            এ আবরণ সোল্ডারকে ধাতুর সাথে ঘনিষ্ঠভাবে যুক্ত হতে বাঁধা দেয় ফলে জোড় দুর্বল হয়। উত্তপ্ত অবস্থায় সোল্ডার নিজেও বায়ুর সংস্পর্শে এসে অক্সাইড হয়ে যায়। এ অসুবিধা দূর করার জন্য বিভিন্ন প্রকার রাসায়নিক দ্রব্য ব্যবহার করা হয়ে থাকে। এ দ্রব্যকে ফ্লাক্স
            বলে। ফ্লাক্স সোল্ডার অপেক্ষা কম তাপে গলে। সোল্ডারিং এর কাজে ব্যবহৃত ফ্লাক্সে যে উপাদান থাকে তা বর্ণিত হল-</p>

          <p style="color:#000000;font-size:15px;">1) রেজিন (Resin).
            <br>2) বোরাক্স (Borax) বা সোহাগা
            <br>3) স্যাল অ্যামোনিয়াক (Sal Ammoniac) বা নিশাদল
            <br>4) হাইড্রোক্লোরিক এসিড (Hydro Chloric Acid)
            <br>5) জিঙ্ক ক্লোরাইড স্যালিউশন (Zink Chloric Solution)
            <br>বৈদ্যুতিক কাজে রেজিন ব্যবহার করা ভাল কারণ অ্যাসিড জাতীয় ফ্লাক্স বিদ্যুতের ক্ষেত্রে ক্ষতি কারক।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ফ্লাক্সের কাজ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">সোল্ডারিংএর কাজে ব্যবহৃত ফ্লাক্সের কাজ বা প্রয়াজনীয়তা বর্ণনা করা হল-</p>

          <p style="color:#000000;font-size:15px;">K) যে ধাতুর পাত বা তার জোড়া লাগানো হবে তা হতে অক্সাইডকে দূরীভূত করে।
            <br>L) উক্ত কাজে নতুন অক্সাইড তৈরিতে বাধা দেয়
            <br>M) গলিত সোল্ডারের ‘‘সারফেস টেনশন’’ কমায়ে প্রবাহ নিশ্চিত করে।
            <br>N) গলিত সোল্ডারকে ঝালাইয়ের সঠিক স্থানে পৌছায়ে দেয়।</p>
        </div>
      </div>
      <h4 id="page30-heading171" style="color:#F8740A;font-style:italic;">. সোল্ডারিং এর প্রকার </h4>
      <div class="item item-body" id="page30-list-item-container191">
        <div id="page30-markdown208" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;"> সোল্ডারিং তাপ প্রয়োগ ব্যবস্থায় এক প্রকার বহুল ব্যবহৃত সংযোগ প্রক্রিয়া। বিভিন্ন প্রকার ধাতব খন্ডকে জোড়া দেয়ার কাজে এটি ব্যবহার হয়। সংযোগে অংশ গ্রহণকারী ধাতু খন্ড, ফিলার রড, তাপ ইত্যাদির উপর বিবেচনা করে সোল্ডারিংএর কাজ সম্পন্ন করা হয়। বিভিন্ন
            ধাতুর গলনাংক বিভিন্ন হবার কারণে সোল্ডারিংও বিভিন্ন রকমের হয়ে থাকে।</p>

          <p style="color:#000000;font-size:15px;"> সোল্ডারিং প্রণালীকে প্রধানতঃ দু’শ্রেণীতে বিভক্ত করা যায়ঃ</p>

          <p style="color:#000000;font-size:15px;">ক) সফ্ট সোল্ডারিং (Soft Soldering) অর্থাৎ নরম বা কাঁচা ঝালাই।
            <br>খ) হার্ড সোল্ডারিং (Hard Soldering) অর্থাৎ শক্ত বা পাকা ঝালাই। একে ব্রেজিংও (Brazing) বলে
            <br> সফ্ট সোল্ডারিং দু’প্রকার। যথা-</p>

          <p style="color:#000000;font-size:15px;">১) লেড সোল্ডারিং (Lead Soldering)t এ সোল্ডারিং এ সোল্ডার হিসেবে লেড ও টিনের সংকর ধাতুর ব্যবহার করা হয়। এ ক্ষেত্রে ১৬০ হতে 2500 সেঃ তাপমাত্রা দরকার হয়। </p>

          <p style="color:#000000;font-size:15px;"> ২) সিলভার সোল্ডারিং (Silver Soldering)t এ সোল্ডারিংএ সোল্ডারি হিসেবে সিল্ভার, কপার জিঙ্ক এর সংকর ধাতু ব্যবহার করা হয়। এতে ৬৯০০ হতে ৭৬০০C তাপমাত্রা দরকার হয়। কেবলমাত্র </p>

          <p style="color:#000000;font-size:15px;">
            <strong>সোল্ডারিং-এর কথা বললে সাধারণতঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">সফ্ট সোল্ডারিংকেই বুঝায়। সফ্ট সোল্ডারিং এর তুলনায় হার্ড সোল্ডারিংএর জোড় বা সংযোগ অনেক বেশি মজবুত এবং স্থায়ী হয়। সফ্ট সোল্ডারিং এবং হার্ড সোল্ডারিং এর মধ্যবর্তী আর এক শ্রেণীর সোল্ডারিং প্রণালীরও প্রচলন আছে। এর নাম সিলভার সোল্ডারিং (Silver Soldering)।
            সোল্ডারিং-এ যে সংকর ধাতুকে গলিয়ে জোড় স্থানে প্রয়োগ করা হয় তাকে সোল্ডার (Solder) বলে। যে ধাতুর পাত দুটিকে জোড়া দিতে হবে তা যে তাপমাত্রায় গলে সোল্ডার সর্বদা তা অপেক্ষা কম তাপমাত্রায় গলা প্রয়োজন। তাপে সোল্ডারকে গলায়া গলমত্মাবস্থায় সংযোগ স্থলে
            সহজে প্রবাহিত করা হয়। সিলভার সোল্ডারিং এর কাজে যে সোল্ডার ব্যবহার করা হয় তাকে সিলভার সোল্ডার বলে। সোল্ডার সিলভার (রৌপ্য), কপার (তামা), এবং জিঙ্ক (দসত্মা) দ্বারা তৈরী হয়। এদের গলন তাপমাত্রা ‘ব্রেজিং’এ ব্যবহৃত স্পেল্টারের গলন তাপমাত্রা অপেক্ষা
            কম। হার্ড সোল্ডারিংঃ হার্ড সোল্ডারিং কিংবা ব্রেজিং এর কাজে যে মিশ্র ধাতু ব্যবহার করা হয় একে হার্ড সোল্ডারিং অথবা স্পেল্টার বলে। সাধারণত কপার (তাম্র) এবং জিঙ্ক (দসত্মা) নির্ধারিত অনুপাতে মিশিয়ে এ তৈরি করা হয়। হার্ড সোল্ডার সফট সোল্ডার অপেক্ষা
            অনেক বেশি তাপমাত্রায় গলে এবং সংযোগ অধিকতর মজবুত হয়। তাপ ও তাপের উৎসের উপর ভিত্তি করে সোল্ডারিংকে পাঁচ ভাগেভাগ করা যায়। যথা-</p>

          <pre>
            <code> ১। দ্যৈুতিক অয়রণের মাধ্যমে প্রাপ্ত তাপ শক্তি দ্বারা সোল্ডারিং। ২। কাঠ বা কয়লার স্টোভের মাধ্যমে প্রাপ্ত তাপ শক্তি দ্বারা সোল্ডারিং। ৩। প্রাকৃতিক গ্যাসের স্টোভের মাধ্যমে প্রাপ্ত তাপ শক্তি দ্বারা সোল্ডারিং। ৪। ব্লো-ল্যাম্পের মাধ্যমে প্রাপ্ত তাপ
              শক্তি দ্বারা সোল্ডারিং। ৫। অক্সি- অ্যাসীটিলিং গ্যাসের মাধ্যমে প্রাপ্ত তাপ শক্তি দ্বারা সোল্ডারিং।</code>
          </pre>
        </div>
      </div>
      <h4 id="page30-heading172" style="color:#F8740A;font-style:italic;">সোল্ডারিং পদ্ধতির বর্ণনাঃ </h4>
      <div class="item item-body" id="page30-list-item-container192">
        <div id="page30-markdown209" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সোল্ডারিং আয়রণের তাপে (কম তাপে) সোল্ডার বা লীডকে গলিয়ে পাতলা কপার পাত দ্বয়কে গরম করে স্থায়ী জোড়া দেয়াকে সফ্ট সোল্ডারিং বলে। সোল্ডারিং আয়রণ দু ধরণের-</p>

          <p style="color:#000000;font-size:15px;">১। সাধারণ আয়রণঃ এপ্রকার আয়রণ চুলা, গ্যাস স্টোভ, ব্লো ল্যাম্প ইত্যাদির তাপ হতে গরম হয়
            <br>২। বৈদ্যুতিক আয়রণঃ বিদ্যুৎ শক্তির সাহায্যে গরম হয়। </p>

          <p style="color:#000000;font-size:15px;">গ্যাস স্টোভ (Gas Stove)t যে স্থানের বিদ্যুৎ শক্তির অভাব থাকে এবং দাহ্য গ্যাস পাওয়া যায় সে ক্ষেত্রে গ্যাস স্টোভের সাহায্যে আয়রণকে উত্তপ্ত করা হয়। এক্ষেত্রে সাধারণতঃ প্রাকৃতিক গ্যাস (NG= Natural gas) ব্যবহার করা হয়। প্রাকৃতিক গ্যাসের ব্যবস্থা
            না থাকলে Liquified petroleum gas (LPG) কে ব্যবহার করা হয়।
            <br>টোভ।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>সোলডারিং আয়রণ (Soldering Iron)t
            </strong>
          </p>

          <p style="color:#000000;font-size:15px;">তামার মধ্য দিয়ে তাপ শক্তি সহজে প্রবাহিত হয় বলে সোল্ডারিং আয়রণ তামা দ্বারা তৈরি হয়। এ কারণে, সোল্ডারিং আয়রণের অপর নাম ‘‘কপার বিট’’ (Cupper Bit) । বাংলা ভাষায় একে ‘‘তাতাল’’ বলে। পার্শ্বে চিত্রে বিভিন্ন আকারে ‘‘বিট’’ যুক্ত সোল্ডারিং আয়রণ দেখানো
            হল। তাতাল বা আয়রণ দিয়ে সংযোগ স্থল গরম করে ওখানে লেড ধরলে তা গলে সংযোগ সম্পন্ন হয়।</p>

          <pre>
            <code> লেড সংযোগ স্থলের সকল অংশে ভালেভাবে লাগলে আয়রণ সরিয়ে নিতে হয়। সফ্ট সোল্ডারিং এর কার্যক্রম ধারাবাহিক ভাবে নিম্নে বর্ণনা করা হল-</code>
          </pre>

          <p style="color:#000000;font-size:15px;">ক) সোল্ডারিং করার পূর্বে ধাতব খন্ড দ্বয় ফাইল বা স্ক্রাপার বা ইমারী পেপার দিয়ে উত্তম রূপে পরিস্কার করতে হবে।
            <br>খ) সোল্ডারিং আয়রণকে প্রয়োজন মত উত্তপ্ত করে তার মাথা ধাতব খন্ডের পরিস্কৃত অংশে কিছুক্ষণ স্পর্শ করে রাখতে হবে যেন ধাতব খন্ড গরম হয়।
            <br>গ) ফিলার এলিমেন্ট বা অন্যকিছুর সাহায্য উত্তপ্ত স্থলে প্রযোজন মাফিক ফ্লাক্স লাগিয়ে দিতে হবে।
            <br>ঘ) সোল্ডারিং এলিমেন্ট (Lead = লীড) উত্তপ্ত স্থলে ধরলে লীড উত্তম রূপে গলে সংযোগ স্থলে লেগে যাবে।
            <br>ঙ) সংযোগের সকল অংশে এলিমেন্ট লাগার পর আয়রণ সরিয়ে নিতে হবে।
            <br>চ) সংযোগ স্থলকে ঠান্ডা করার ব্যবস্থা বা সুযোগ দিতে হবে।
            <br>ছ) অতপর পরীক্ষা করতে হবে ঝাঁলাইটি যথাযথভাবে সম্পন্ন হয়েছে কিনা। উলেস্নখ্য এধরণের সংযোগ সাধারণতঃ দ্যৈুতিক তার সংযোগের জন্য ব্যবহার করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/GslhqPWmR4uXWaXPiZVc_oooooooooooo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page30-heading173" style="color:#F8740A;font-style:italic;">হার্ড সোল্ডারিং বা ব্রেজিং পদ্ধতিঃ </h4>
      <div class="item item-body" id="page30-list-item-container193">
        <div id="page30-markdown211" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">অগ্নি শিখার তাপে সোল্ডার এলিমেন্ট গলিয়ে পাতলা ধাতব (কপার) পাত দ্বয়কে উত্তপ্ত করতঃ স্থায়ীভাবে জোড়া দেয়াকে হার্ড সোল্ডারিং বা ব্রেজিং বলে। এপ্রকার সংযোগের তাপ উৎস সাধারণতঃ দু’ধরণের-</p>

          <p style="color:#000000;font-size:15px;">১। বেস্না- ল্যাম্পের শিখাঃ ব্লো-ল্যাম্পের শিখা থেকে প্রাপ্ত তাপ।
            <br>২। বেস্না- টর্চের শিখাঃ বিভিন্ন প্রকার গ্যাস দহণে টর্চেও বা বেস্না পাইপের মাধ্যমে প্রাপ্ত তাপ।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বেস্ন¬¬া-ল্যাম্পের শিখাঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">এটি বিশেষ ধরণের বার্ণার যার সাহায্যে শিখা তৈরী করে সংযোগ স্থলে তাপ দেয়া হয়। জ্বালানী হিসেবে কেরোসিন, ডিজেল ও পেট্রোল ব্যবহার করা হয়। চাপ সৃষ্টি করার জন্য হ্যান্ডল আছে। উচ্চ চাপে বাষ্পাকারে জ্বালানী বের হয়ে জ্বলে। ফলে কার্বনের ভাগ কম হয় এবং উত্তাপের
            পরিমান বেশি পাওয়া যায়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বেস্না-টর্চ (Blow Torch)t</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যেক্ষেত্রে বিদ্যুৎ শক্তি এবং দাহ্য গ্যাসের কোনটিই পাওয়া সম্ভব হয় না সেক্ষেত্রে খন্ড দুটিকে এবং সোল্ডারিং আয়রণকে উত্তপ্ত করতে বেস্না-টর্চ ব্যবহার করা হয়। অ্যাসেটীলিন গ্যাসকে জ্বালাবার পূর্বক্ষণে যে নলটির মধ্যে অ্যাসেটীলিন এবং অক্সিজেন গ্যাসকে
            আবশ্যক পরিমাণে বা চাপে মিশানো হয়, তাকে বেস্না-পাইপ (Blow-pipe) বলে।</p>

          <p style="color:#000000;font-size:15px;">এর অপর নাম ওয়েল্ডিং টর্চ (Welding torch)। উচ্চ চাপ প্রথায় ব্যবহার্য বেস্ন¬া-পাইপকে হাই প্রেশার বেস্না-পাইপ (High pressure Blow-pipe) এবং নিম্নচাপ প্রথায় ব্যবহৃত বেস্না-পাইপকে লো-প্রেশার বেস্না-পাইপ (Low pressure blow-Pipe) বলে। কাজের সুবিধার্থে
            বেস্না-পাইপে বিভিন্ন সাইজের বা নম্বরের নজল ব্যবহার করা হয়। হার্ড সোল্ডারিং বা ব্রেজিং এর কার্যক্রম ধারাবাহিক ভাবে নিম্নে বর্ণনা করা হল-</p>

          <p style="color:#000000;font-size:15px;">ক) হার্ড সোল্ডারিং বা ব্রেজিং করার পূর্বে ধাতব খন্ড দ্বয় ইমারী পেপার দিয়ে উত্তম রূপে পরিস্কার করা হয়।
            <br>খ) গ্যাস বা বেস্ন¬¬া- ল্যাম্পের শিখা ধাতব খন্ডের পরিস্কৃত অংশে নিক্ষেপ করে ওকে প্রয়োজন মত উত্তপ্ত করতে হয়। </p>

          <p style="color:#000000;font-size:15px;">গ) ফিলার এলিমেন্ট বা অন্য কিছুর সাহায্য উত্তপ্ত স্থলে প্রযোজন মাফিক ফ্লাক্স লাগিয়ে দিতে হয় </p>

          <p style="color:#000000;font-size:15px;"> ঘ) সোল্ডারিং এলিমেন্ট (সিলভার বা ব্রাশ) ধাতব খন্ডের উত্তপ্ত স্থলের স্পর্শ করলে শিখার তাপে ও চাপে সোল্ডারিং এলিমেন্ট উত্তম রূপে সংযোগ স্থলে প্রবেশ করে ও লেগে যায়। অতপর শিখা সরিয়ে নিতে হবে। </p>

          <p style="color:#000000;font-size:15px;">ঙ) উত্তপ্ত সংযোগ স্থলকে ঠান্ডা (পানি বা ফোর্স এয়ার দ্বারা) করার ব্যবস্থা করতে হয়।</p>

          <p style="color:#000000;font-size:15px;">চ) ঝাঁলাইটি যথাযথভাবে সম্পন্ন হয়েছে কিনা তা পরীক্ষা করতে হয় ।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/ZjfPUjQ3RLmCoxXLxvem_mmmmmmmmmmmmmmm.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>