<ion-view title="সলিনয়েড ভ্যাল্ভ" id="page40">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page40-card237">
      <h4 id="page40-heading222" style="color:#F3730B;font-style:italic;">রিফ্রিজারেশন পদ্ধতির অটোমেশন</h4>
      <div class="item item-body" id="page40-list-item-container253">
        <div id="page40-markdown271" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">উঞ্চ ও শীতলী করণ পদ্ধতিকে সুষ্ঠু ও সাফল্য জনকভাবে পরিচালনার সুবিধার্থে বিভিন্ন প্রকার সিস্টেমকে সম্পূর্ণ স্বয়ংক্রিয় নিয়ন্ত্রণ করার প্রয়োজনহয়। সে প্রয়োজন মিটাতে কিছু নিয়ন্ত্রক ও যন্ত্রপাতির দরকার হয়। এ সকল নিয়ন্ত্রক ও যন্ত্রপাতি ব্যবহারের প্রকৃত উদ্দেশ্য হল কম্প্রেসর ও তাপ উৎসকে (হিটার) যথাযথ সময়ে স্বয়ংক্রীয় চালু ও বন্ধ করা। এতে প্রত্যাশিত বস্ত্ত ও স্থান নির্ধারিত তাপমাত্রায় সংরক্ষিত হয়। কম্প্রেসরকে ও তাপ উৎসকে স্বয়ংক্রীয় চালু ও বন্ধ করণ প্রক্রিয়ার নামই অটোমেশন বা স্বয়ংক্রিয় পদ্ধতি । যে প্রক্রিয়ায় হিমায়ন ও শীতাতপ নিয়ন্ত্রণ পদ্ধতির সকল যন্ত্র-যন্ত্রাংশ স্বয়ংক্রিয়ভাবে পরিচালিত করা হয় তাকে অটোমেশন বলে। অটোমেশন প্রক্রিয়ায় হিমায়ন সম্পাদনকে অটোমেটিক রিফ্রিজারেশন (Automatic Refrigeration) পদ্ধতি বলা হয়।
          </p>

          <ol>
            <li>
              <p style="color:#000000;">বৈদ্যুতিক অংশঃ সিলিন্ডারাকৃতিত্ম আর্মেচারে পেঁচানো তারের কয়েল থাকে যার ২টি কন্ট্যাক্ট পয়েন্ট থাকে। উক্ত কন্ট্যাক্ট পয়েন্টে বৈদ্যুতিক সংযোগ দেয়া হয়। থার্মোস্ট্যাট বা টেম্পারেচার কাট আউট বা অন্য কোন নিয়ন্ত্রক দ্বারা তাতে বিদ্যুৎ সরবরাহ দিলে
                কয়েলে বৈদ্যুতিক চুম্বকত্বের (Electro magnet) সৃষ্টি হয়। এ প্রক্রিয়াকে এনার্জাইস্ড (Energised) বলা হয়। সৃষ্ট শক্তি পস্নাঞ্জারটিকে উপরের দিকে স্থানামত্মর করে । এতে প্রবাহ পথ খুলে যায় এবং প্রবাহী প্রবাহ শুরু হয়।</p>
            </li>
            <li>
              <p style="color:#000000;">যান্ত্রিক অংশঃ বডি (সিলিন্ডার), পস্নাঞ্জার, স্প্রীং, নিড্ল, নিড্লসীট, ভেনচুরি ইত্যাদি সম্বনয়ে মেকানিক্যাল অংশ গঠিত। আর্মেচারে চুম্বকত্বের প্রভাবে যান্ত্রিক অংশে পস্নাঞ্জার চলাচল করে। এতে নিড্লটি নিজ অবস্থান হতে স্থানান্তর হবার ফলে প্রবাহীর
                প্রবাহ পথ খোলে এবং বন্ধ হয়। যার কারণে প্রবাহীর প্রবাহ নিয়ন্ত্রিত হয়।</p>
            </li>
          </ol>
        </div>
      </div>
      <h4 id="page40-heading223" style="color:#F3730B;font-style:italic;">সলিনয়েড ভ্যালভের প্রয়োজনীয়তা বা কাজ </h4>
      <div class="item item-body" id="page40-list-item-container254">
        <div id="page40-markdown272" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">প্রবাহী প্রবাহ চালু ও বন্ধ করার জন্য সলিনয়েড ভ্যালভ ব্যবহার হয়। এর প্রয়োজনীয়তা উলেস্নখ করা হল-</p>

          <ol>
            <li>লিকুইড ফ্লাডব্যাক (Liquid Flood back)t প্ল্যান্টে ব্যবহৃত তরল বিপরীতমুখী গতিশীল হলে তাকে বাঁধা দিয়ে বিপরীত মূখী তরল প্রবাহ হতে রক্ষা করার জন্যে। </li>
            <li>লিংকিং থ্র (Linking Trough)t কম্প্রেসর বন্ধ হবার পর ইভ্যাপরেটরে তরল হিমায়ক প্রবেশে সলেনয়েড ভ্যাল্ভ বাঁধা প্রদানের জন্যে ।</li>
            <li>ইন্ডিভিউজুয়্যাল ইভ্যাপরেশন (Individual Evaporation)t একই প্ল্যান্টের একাধিক ইভ্যাপরেটরে তরল হিমায়ক প্রবাহ প্রয়োজনানুসারে বন্ধ ও চালু রাখার জন্যে।</li>
            <li>ক্যাপাসিটি (Capacity)t বড় বড় কম্প্রেসর চালনায় স্বয়ংক্রীয় লোড বাড়ানো বা কমানোর জন্যে ।</li>
            <li>টেম্পারেচার কন্ট্রোল (Temperature Control)t তাপমাত্রার প্রভাবে থার্মোস্ট্যাট দ্বারা অন অফ হয়ে প্রবাহী প্রবাহ নিয়ন্ত্রণের জন্যে। </li>
            <li>প্রিভেন্ট ফ্রস্টিং (Prevent frosting)t সলেনয়েড বাইপাস দিয়ে উঞ্চ গ্যাসের প্রবাহ ঘটিয়ে তুষার মুক্ত করণের জন্যে।
              <br>৭. প্রবাহউ পথের দিক পরিবর্তন (Changing way of fluid)t চার পথ ভ্যালে্ভর সাহায্যে প্রবাহী পথের দিক পরিবর্তন ঘটানোর জন্যে । যেমন- হিট পাম্প সিস্টেম। </li>
            <li>অতিরিক্ত তরল হিমায়ক প্রবাহে বাঁধা (Protect execive liquid refrigerant flow) t ড্রাই টাইপ ইভ্যাপরেটরে তরল হিমায়ক প্রবেশে বাধাঁ প্রদানের জন্যে।</li>
          </ol>
        </div>
      </div>
      <h4 id="page40-heading224" style="color:#F3730B;font-style:italic;">পাইলট অপারেটেড সলিনয়েড ভ্যাল্ভের কার্যপ্রণালীঃ</h4>
      <div class="item item-body" id="page40-list-item-container255">
        <div id="page40-markdown273" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">টেম্পারেচার কাট-আউট বা থার্মোস্ট্যাট বা অন্য কোন স্বয়ংক্রীয় নিয়ন্ত্রক দ্বারা সলিনয়েড কয়েল বিদ্যুৎ প্রাপ্ত হয়ে এনার্জাইজ্ড হয়। এর প্রভাবে সলিনয়েড প¬াঞ্জার সীট হতে স্থানান্তর হয়। এ সময় মেন পোর্ট না খুলে প্রথমে পাইলট বা ব্লি¬ডার পোর্ট খুলে যায়।
            এতে পিস্টনের উপরের অংশে প্রবাহী প্রবাহ চাপ আটকে যায় (প্রবাহ বন্ধ হয়) এবং পাইলট বা বি¬ডার পথ চাপ মুক্ত হয়। অর্থাৎ বি¬ডার পথে প্রবাহী প্রবাহিত হতে থাকে। ফলে পিস্টনে অসামঞ্জস্য চাপের উদ্ভব ঘটে। পিস্টনের নীচে প্রবাহী প্রবেশ করতে থাকে। এক পর্যায়ে
            পিস্টনের উপরের চাপ অপেক্ষা নীচের চাপ বেশি হয়। এতে পিস্টন নিম্ন মূখী চাপ উপেক্ষা করে উপরের দিকে উঠে যায়। ফলে মূল (মেন) প্রবাহ পথ খুলে যায় এবং পূর্ণাঙ্গ প্রবাহ চলতে থাকে। পরিমাণমত কাজ (শীতল বা গরম) হবার পর নিয়ন্ত্রক কর্তৃক সলিনয়েড কয়েলে বিদ্যুৎ
            প্রবাহ বন্ধ হওয়াতে চুম্বকত্ব নষ্ট হয়। এতে প¬¬াঞ্জার নিজস্ব ভরে নীচে পূর্বের স্থলে রিটার্ণ করলে পাইলট পোর্ট বন্ধ হয়। এসময় পিস্টনের তলদেশের চাপ কমতে থাকে। উপরী ভাগের চাপ অপেক্ষা তলদেশের চাপ কমে গেলে পিস্টন পূর্বের স্থলে (সীটে) ফিরে আসে। একপর্যয়ে
            পিস্টনের উপরীভাগের বেশি চাপ পিস্টনকে সীটে ভালভাবে আটকে রাখে এবং প্রধান প্রবাহ বন্ধ হয়। </p>

          <p style="color:#000000;">চিত্র-৪.৫ঃ পাইলট অপারেটেড সলিনয়েড ভ্যাল্ভের সংযোগ। </p>

          <p style="color:#000000;">
            <strong>সলিনয়েড ভ্যালভের স্থাপনঃ</strong>
          </p>

          <p style="color:#000000;"> সলিনয়েড ভ্যাল্ভ স্থাপনের ক্ষেত্রে কয়েকটি বিষয় বিবেচনা করার প্রয়োজন হয়। যেমন- উদ্দেশ্য, ব্যবহার ক্ষেত্র, সতর্কতা ইত্যাদি </p>

          <p style="color:#000000;">ক) উদ্দেশ্যঃ যে উদ্দেশ্যে বা কাজের জন্যে সলিনয়েড ভ্যাল্ভ ব্যবহার করতে হবে তার উপর ভিত্তি করে প্রয়োজনীয় সলিনয়েড ভ্যাল্ভ নির্বাচন ও সংগ্রহ করতে হবে।</p>

          <p style="color:#000000;">খ) ব্যবহার ক্ষেত্রঃ কোথায় ব্যবহার করতে হবে অর্থাৎ কোন স্থলে উহা স্থাপন করতে হবে, সেই স্থলের কার্যোপযোগী সলিনয়েড ভ্যাল্ভ সংগ্রহ পূর্বক উহা স্থাপন করতে হবে। </p>

          <p style="color:#000000;">গ) সতর্কতাঃ সলিনয়েড ভ্যাল্ভ স্থাপন বা ব্যহারের জন্য কিছু অনুসরণ যোগ্য সতর্কতা গুলো হল-</p>

          <p style="color:#000000;">১. ভ্যালভের গায়ে নির্দেশিত তীর চিহ্ন অনুযায়ী প্ল্যান্টে স্থাপন কর।।</p>

          <p style="color:#000000;">২. সলিনয়েড কয়েলে নির্দিষ্ট ভোল্টেজ অনুযায়ী ব্যবহার করা। </p>

          <ol>
            <li>৫২০ সেঃ এর উর্দ্ধ তাপমাত্রায় স্থাপন না করা।</li>
            <li>সার্বক্ষণিক আর্দ্রতাযুক্ত স্থলে স্থাপন না করা ।</li>
          </ol>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
