<ion-view title="চাপ" id="page21">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page21-card221">
      <h4 id="page21-heading122" style="color:#F8430A;font-style:italic;">চাপ (Pressure)</h4>
      <div class="item item-body" id="page21-list-item-container143">
        <div id="page21-markdown163" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">আমরা প্রায়ইশঃ বলি চাপ দিয়ে কাঁচ খন্ডটি ভাঙ্গা হয়েছে- এর অর্থ চাপের কারণে কাঁচ খন্ডটি ভেঙ্গে গিয়েছে। অর্থাৎ কাঁচের নির্দিষ্ট অংশের উপর বল প্রয়োগ করার কারণে কাচঁটি ভেঙ্গেছে। সুতরাং উক্ত বল চাপ বল ব্যতিত অন্য কিছু নয়। কাuঁচ এই নির্দিষ্ট অংশের উপর
            প্রয়োগকৃত বলই চাপ। অর্থাৎ কোন বস্ত্তর একক ক্ষেত্রফলের উপর যে পরিমাণ বল কাজ কারে তাই চাপ। </p>

          <p style="color:#000000;font-size:15px;">
            <strong>চাপঃ</strong>
            বায়ু মন্ডলীয় চাপের অবস্থার উপর ভিত্তি করে আবহাওয়ার পূর্বাভাশ দেয়া হয়। মানব দেহের রক্তের চাপ দেখে যেমন শারীরিক অবস্থা বোঝা যায়। তদ্রুপ হিমায়ন পদ্ধতির চাপ দেখে তার অবস্থা অনেকাংশ অনুমান করা যায়। তাই হিমায়ন পদ্ধতিতে চাপের গুরুত্ব অসীম। কোন একক ক্ষেত্রফলের
            উপর প্রয়োগকৃত বলকে চাপ বলে। চাপের একক গুলো নিম্নরূপ-</p>

          <pre>
            <code>১। এস, আই পদ্ধতিতে চাপের একক প্যাস্কল (Pascle) । প্যাস্কলের পরিমাণ খুব কম হওয়াতে একে কিলো প্যাস্কেল (Kpa) বা মেগা প্যাস্কল হিসেবে (Mpa) ব্যবহার করা হয়। ২। FPS পদ্ধতিতে একক ক্ষেত্রফলের (বর্গ ইঞ্চি) উপর পাউন্ড এককে চাপের পরিমাণ হিসাব করা হয়।
              যাকে Pound Per Square Inch বা P. S. I দ্বারা প্রকাশ করা হয়। ৩। MKS পদ্ধতিতে একক ক্ষেত্রফলের (বর্গ সেন্টি মিটার) উপর কিলোগ্রাম (কেজি) এককে চাপের পরিমাণ হিসাব করা হয় । যাকে Kilogram Per Centimeter Square বা Kg/cm2 দ্বারা প্রকাশ করা হয়। </code>
          </pre>
        </div>
      </div>
      <h4 id="page21-heading123" style="color:#F8430A;font-style:italic;">চাপের এস. আই. এককঃ</h4>
      <div class="item item-body" id="page21-list-item-container146">
        <div id="page21-markdown166" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">একক ক্ষেত্রফলের উপর বলের মাত্রাকে চাপ বলার কারণে চাপ গণনার ক্ষেত্রে একক ক্ষেত্রফলের হিসাব করা হয়। তিন পদ্ধতির চাপ এককের হিসাব প্রক্রিয়া থাকলেও বর্তমানে SI পদ্ধতির একক বেশি ব্যবহার হচ্ছে। Pascle সংক্ষেপে Pa বা কিলো প্যাস্কেল (kpa) চাপের SI পদ্ধতির
            একক। তবে barও চাপের SI পদ্ধতির একক হিসাবে ব্যবহার হয়। আমত্মর্জাতিক সম্মেলনে পৃথিবী ব্যাপি SI পদ্ধতিতে চাপের একক হিসেবে N/m2 or Pa-কে ব্যবহারের সর্বসম্মতি সিদ্ধান্ত গৃহীত হয়। বর্তমানে সর্বত্র এই পদ্ধতির চাপের একক ব্যবহার হচ্ছে। এই এককের সাথে
            চাপের অন্যান্য এককের সম্পর্ক আছে যা নিম্নরূপ- </p>

          <pre>
            <code> 105 N/m2 বা Pa = 1 bar আবার, 1 PSI = 6894.76 N/m2 বা Pa = 6894.76 x 10 -5 bar = 0.0689476 bar = 68.476 mbar.</code>
          </pre>

          <p style="color:#000000;font-size:15px;"> আবার, 1 atm = 101.325Kpa = 14.6959PSI or 14.6959 x 68.476 mbar. = 1.01325 bar
            <br> = 1.033 Kg/ cm2 </p>

          <p style="color:#000000;font-size:15px;">= 29.921 inHg
            <br> = 76 cmHg</p>

          <ol>
            <li>চাপের একক সমূহের সম্পর্কঃ 1 kg/cm2 = 14.22 PSI 1 bar = 14.55 PSI 1 atm = 14.69 PSI 1 PSI = 6.894 kpa 1 kgcm2 = 98 kpa</li>
          </ol>
        </div>
      </div>
      <h4 id="page21-heading124" style="color:#F8430A;font-style:italic;">বায়ুমন্ডলীয়, গেইজ ও পরম চাপ এবং তাদের সম্পর্কঃ </h4>
      <div class="item item-body" id="page21-list-item-container145">
        <div id="page21-markdown165" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>1. বায়ুমন্ডলীয় চাপ (Atomspheric Pressure)</strong>
          </p>

          <p style="color:#000000;font-size:15px;">বায়ু মন্ডল ভূ-পৃষ্ঠে যে চাপ প্রয়োগ করে তাকে বায়ু মন্ডলীয় চাপ বলে। বায়ু মন্ডলীয় চাপ বিভিন্ন জায়গায় বিভিন্ন রকমের। সমুদ্র সমতলে এ চাপ সবচেয়ে বেশি। ভূ-পৃষ্ঠে থেকে যত উপরে যাওয়া যাবে এ চাপ ততই কমতে থাকে। সমুদ্র পৃষ্ঠে অবস্থিত কোন স্থানের (সমুদ্র
            মসতলে) বায়ু মন্ডলীর চাপ ১৪.৭২ PSI বা ১.০৩ kg/cm2.</p>

          <ol>
            <li>গেইজ চাপ (Gauge Pressure)t চাপমান যন্ত্র বা Pressure Gauge দ্বারা বায়বীয় কোন বস্ত্তর যে চাপ পাওয়া যায় তাকে গেইজ চাপ বলে। গেইজ প্রেশার ২ ধরণের- (K) পজিটিভ বা সিম্পল চাপ (Positive or Simple Pressure)t বায়ু মন্ডলীয় চাপের উর্ধ্বের চাপকে পজিটিভ
              চাপ বলে। (L) নেগেটিভ প্রেশার বা ভ্যাকিউয়াম (Negative Pressure or Vacuum)t বায়ু মন্ডলীয় চাপের নিম্নের চাপকে নেগেটিভ প্রেশার বা ভ্যাকিউয়াম বলে।</li>
          </ol>

          <p style="color:#000000;font-size:15px;">
            <strong>ভ্যাকিউয়ামের এককঃ</strong>
            1. FPS পদ্ধতিতে ইঞ্চি অব মারকারী (Inch of Mercury সংক্ষেপে InHg) মানঃ -৩০ InHg.</p>

          <ol>
            <li>মেট্রিক পদ্ধতিতে সেন্টিমিটার অব মারকারী (Centimeter of Mercury সংক্ষেপে CmHg) মানঃ -76 CmHg.</li>
          </ol>

          <p style="color:#000000;font-size:15px;">৩. SI পদ্ধতিতে কেপিএ (kpa) মানঃ-101.033kpa যা কম্পাইন্ড গেইজে -100 kpa দাগাংদিত থাকে।</p>

          <ol>
            <li>পরম চাপ (Absolute Pressure)t পরম চাপ হলো এ পদার্থের নিজস্ব চাপ যা প্রেশার গেইজ দিয়ে পরিমাপ করা যায় না। তবে গেইজের সাহায্যে ও বায়ু মন্ডলীয় চাপ নিয়ে পরম চাপ পরিমাপ করা হয়। বায়ুমন্ডলীয় স্বাভাবিক চাপে গেইজের নির্দেশিকা শূণ্য (০)-তে থাকে। চাপ প্রয়োগ
              করলে গেইজের নির্দেশিকা শূণ্যের উপরে যে কোন একটি পাঠ দেয়। এটি হলো, গেইজ চাপ। গেইজ চাপ ও বায়ুমন্ডলীয় চাপের সমষ্টিকে পরম চাপ বলে। </li>
          </ol>

          <p style="color:#000000;font-size:15px;">
            <strong>বিভিন্ন প্রকার চাপের সম্পর্ক</strong>ঃ পরম চাপের সংগানুসারে পরম চাপ হলো গেইজ চাপ ও বায়ুমন্ডলীয় চাপের সমষ্টি। অর্থাৎ, পরম চাপ = বায়ুমন্ডলীয় চাপ + গেজ চাপ</p>

          <p style="color:#000000;font-size:15px;"> অ্যাব্সলুট প্রেশার (Pab) = Pat + Pg </p>

          <p style="color:#000000;font-size:15px;"> বা, অ্যাটমোসফেরিক প্রেশার (Pa t) = Pab - Pg
            <br> = 1.033 kg/ cm2 = 1 bar = 100 Kpa = 14.72 PSIG. বা, গেইজ প্রেশার (Pg) = Pab - Pat. </p>
        </div>
      </div>
      <h4 id="page21-heading125" style="color:#F8430A;font-style:italic;">চাপ পরিমাপক যন্ত্র (Pressure Gauge)t</h4>
      <div class="item item-body" id="page21-list-item-container144">
        <div id="page21-markdown164" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">চাপ পরিমাপক যন্ত্রের প্রধান অংশ সমূহ নিম্নরূপ- যে যন্ত্রের সাহায্যে বায়বীয় পদার্থের চাপ পরিমাপ করা হয় তাকে চাপ পরিমাপক বা চাপমান যন্ত্র বলে। চাপমান যন্ত্রের সাহায্যে বায়ু মন্ডলীয় চাপের উর্ধ্বের চাপ পরিমাপ করা যায়। সাধারণতঃ তিন প্রকারের চাপমান
            যন্ত্র ব্যবহার করা হয়ে থাকে। বিভিন্ন অংশ।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>হাই প্রেশার গেইজ (High Pressure Gauge)</strong>t এ গেইজের সাহায্যে বায়বীয় পদার্থের বায়ুমন্ডলীয় চাপের উর্ধ্বে চাপ পরিমাপ করা হয়। এতে চাপমানের একটি স্কেল থাকে। তবে বেশি স্কেল ও থাকতে পারে। এই গেইজ দিয়ে সর্বদা বায়ুমন্ডলীয় চাপ অপেক্ষা বেশি চাপ
            পরিমাপ করতে হয়। এর স্কেলে 0 থেকে শুরু করে বিভিন্ন সংখ্যামান উল্লেখ থাকে। এর স্কেলে কোন নেগাটিভ সংখ্যামান লিপিবদ্ধ থাকে না।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/HN7tINJURbmuEIvGj9um_3-13-20182-03-58PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page21-heading126" style="color:#F8430A;font-style:italic;">কম্পাউন্ড বা লো প্রেশার গেইজ </h4>
      <div class="item item-body" id="page21-list-item-container147">
        <div id="page21-markdown167" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">যে চাপ পরিমাপক যন্ত্রের সাহায্যে বায়ু মন্ডলীয় চাপের উর্ধ্বের ও নিম্নের চাপ পরিমাপ করা হয় তাকে কম্পাউন্ড বা লো প্রেশার গেইজ বলে। এতে চাপমানের অবশ্যই দুটি স্কেল থাকে। একটি স্কেল পজিটিভ চাপ মাপতে এবং অপর মাপটি নেগেটিভ চাপ বা ভ্যাকিউয়াম মাপতে ব্যবহার
            করা হয়। ভ্যাকিউয়াম স্কেলটি সাধারলণতঃ 0 হতে 30 (inHg) ইঞ্চি অব মারকারীতে অথবা 0 হতে 76 cmHg বা 0 হতে 100 kpa দাগ কাটা থাকে। হাই প্রেশার মাপতে সাধারণতঃ 0 থেকে 1500 KPa পর্যমত্ম দাগ কাটা থাকে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>কম্বিনেশন গেইজ (Combination Gauge)</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে চাপমান যন্ত্রে একই প্রকার চাপের মান ২ বা ততোধিক ভিন্ন প্রকার এককে প্রকাশ করা থাকে তাকে কম্বিনেশন গেইজ বলে। এ প্রকার গেইজে PSI ও N/cm2 অথবা PSI, N/cm2 ও বার (Bar) এককের মান একত্রে এ গেইজের স্কেল লিপিবদ্ধ করা থাকে। অর্থাৎ এ গেইজের সাহায্যে
            চাপের পরিমাণ দুই বা ততোধিক ভিন্ন ভিন্ন এককে তুলনামূলকভাবে পওয়া যায়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/Exj9oZdMQFiacydP1Mrd_3-13-20182-07-04PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page21-heading127" style="color:#F8430A;font-style:italic;">গেইজ মেনিফোল্ড (Gauge Menifold)t </h4>
      <div class="item item-body" id="page21-list-item-container148">
        <div id="page21-markdown168" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">গেইজকে ব্যবহার করার জন্য ধাতুর নির্মিত বিশেষভাবে তৈরির এক প্রকার উপাংশ প্রয়োজন হয়। এতে একাধিক পোর্ট থাকে। একটি পোর্টে খাঁচের মাধ্যমে গেইজকে আটকানো হয়। এর সাথে হোজ পাইপ লাগানো পোর্ট (Port) থাকে। গেইজ মেনিফোল্ড প্রধান ২ ধরণের হয়ে থাকে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>(ক) সিংগল গেইজ মেনিফোল্ড ঃ</strong>
            এতে একটি মাত্র গেইজ লাগানোর ব্যবস্থা (পোর্ট) থাকে। চিত্রে- ১. গেইজ, ২. নব, ৩. বডি, ৪. পোর্ট। </p>

          <p style="color:#000000;font-size:15px;">
            <strong>(খ) ডাবল গেইজ মেনিফোল্ড (Double Gauge Manifold) </strong>t এতে দুটি গেইজ লাগানোর ব্যবস্থা থাকে। এটি হুক, লো প্রেশার (নীল) গেইজ, হাই প্রেশার (লাল) গেইজ, ডাবল মেনি ফোল্ড, স্ক্রু নব, ওয়াশার, প্যাকিং ইাত্যাদি নিয়ে গঠিত। </p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/hFGEvbkSIKcvnThdvhYZ_3-13-20182-09-54PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page21-heading128" style="color:#F8430A;font-style:italic;">রিফ্রিজারেন্টের উপর চাপের প্রভাবঃ</h4>
      <div class="item item-body" id="page21-list-item-container149">
        <div id="page21-markdown169" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পদার্থের তাপমাত্রা, চাপ ও আয়তন একে অপরের নির্ভশীল এবং প্রভাব বিস্তার করে। ফলে হিমায়ন চক্রে রিফ্রিজারেন্টের ঘণীভবন ও বাষ্পীভবন কাজে চাপের প্রভাব পরিলক্ষিত হয় যা নিম্ন রূপ-</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ঘণীভবনের (Condensation) সময় চাপের প্রভাব</strong>ঃ যে প্রক্রিয়ায় বাষ্পীয় পদার্থ ঘণীভূত হয় তাকে ঘণীভবন বলে। ঘণীভবনের সময় উচ্চ চাপের গ্যাস তাপ ছেড়ে দেয় এবং ঘণীভূত হয়। বৈশিষ্ট্যানুযায়ী ঘণীভবনের জন্য প্রয়োজন বাষ্পীয় রিফ্রিজারেন্টকে উচ্চ চাপে সংকোচিত
            হওয়া। কম্প্রেসরের সাহায্যে উচ্চ চাপে তা সংকোচিত হয় এবং চাপ অপরিবর্তিত রেখে কন্ডেন্সারের মাধ্যমে তাপ অপসারণ করতঃ তরলে রূপামত্মরিত হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বাষ্পীভবনের (Evaporation) সময় চাপের প্রভাবঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে পদ্ধতিতে তরল পদার্থ বাষ্পে পরিণত হয় তাকে বাষ্পীভবন বলে। বাষ্পীভবন কালে পদার্থটি নিম্ন চাপে প্রচুর সুপ্ততাপ শোষণ করে ফলে ঐ এলাকা শীতল হয়। বাষ্পীভবনের জন্য প্রয়োজন তরল রিফ্রিজারেন্টকে নিম্ন চাপে সম্প্রসারিত হওয়া। নিয়ন্ত্রকের সাহায্যে নিম্ন
            চাপে তা ইভ্যাপরেটরে সম্প্রসারিত হয় এবং প্রচুর সুপ্ত তাপ শোষণ করতঃ সম্পৃক্ত বাষ্পে রূপান্তরিত হয়। তরলের উপরে চাপ কমলে তার স্ফুটনাংক কমে। রিফ্রিজারেন্ট তরলে রূপান্তরের জন্য উচ্চ এবং বাষ্পে রূপান্তরের জন্য নিম্ন চাপের প্রয়োজনীয়তা অপরিহার্য ।
            </p>

          <p style="color:#000000;font-size:15px;">
            <strong>তাপমাত্রা, চাপ এবং বাষ্পীভবনের সম্পর্কঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">পানি ও অন্যান্য আদর্শ গ্যাসের তাপমাত্রা, চাপ ও বাষ্পীভবনের মধ্যে সম্পর্ক রয়েছে। পরীক্ষা করে দেখা গেছে সমুদ্র সমতলে স্বাভাবিক বায়ুর চাপ (1.03kg/cm2) সবচেয়ে বেশি এবং এখানে পানি 1000c তাপমাত্রায় ফুটে। সমুদ্র সমতল হতে 1000 মিটার উপরে গেলে বায়ুর
            চাপ 0.1kg/cm2 কমে যায় এবং Boiling Point 40c কমে যায়। পক্ষান্তরে চাপ বেড়ে গেলে বাষ্পীভবনের তাপমাত্রাও বেড়ে যায়। উদাহরণ স্বরূপ 3000 মিটার উপরে বায়ুর চাপ 0.7kg/cm2. উক্ত চাপে 440c তাপমাত্রায় পানি বাষ্পীভূত হয়। অপর দিকে চাপ দ্বিগুণ হলে 1200C তাপমাত্রায়
            বাষ্পীভূত হবে। Vacuum তথা 0.00952PSI চাপে পানি 50C উষ্ণতায় বাষ্পীভূত হয়। বাষ্পীভবনের সময় চাপ বাড়লে তাপমাত্রাও বাড়ে অথবা তাপমাত্রা বাড়লে চাপও বাড়ে। বাষ্পীভবনের সময় চাপ কমলে তাপমাত্রা কমবে অথবা তাপমাত্রা কমলে চাপ কমবে।</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>