<ion-view title="বৈদ্যুতিক সুইচ " id="page25">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page25-card215">
      <h4 id="page25-heading142" style="color:#FD5203;font-style:italic;">বৈদ্যুতিক সুইচ (Electrical Switch)</h4>
      <div class="item item-body" id="page25-list-item-container158">
        <div id="page25-markdown155" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সুষ্ঠু বিদ্যুতায়ন ব্যতিরেকে যথাযথ শিল্পায়ন সম্পূর্ণ অসম্ভব ও কাল্পনিক বিষয়। তাই যথাযথ শিল্পায়ন ব্যতিত অর্থনৈতিক অগ্রগতি সম্ভব নয়। সুইচ একটা পরিচিত শব্দ। বৈদ্যুতিক শক্তি দ্বারা চালিত সকল যন্ত্রপাতি সুইচ দ্বারা নিয়ন্ত্রণ করা হয়। যে যন্ত্রেও সাহায্যে
            বৈদ্যুতিক বর্তনীতে বিদ্যুৎ প্রবাহকে বন্ধ বা চালু রাখা হয় তাকে সুইচ বলে। সুইচ খুব প্রয়োজনীয় ও গুরম্নত্বপূর্ণ বৈদ্যতিক নিয়ন্ত্রণ।</p>
        </div>
      </div>
      <h4 id="page25-heading143" style="color:#FD5203;font-style:italic;">সুইচের প্রয়োজনীয়তাঃ </h4>
      <div class="item item-body" id="page25-list-item-container159">
        <div id="page25-markdown161" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সুন্দর বিদ্যুতায়ন নির্ভর করে উৎপাদন, বিতরণ ব্যবস্থাপনা ও সঠিক নিয়ন্ত্রণ ব্যবস্থার উপর। আর সঠিক নিয়ন্ত্রণ ব্যবস্থার একমাত্র নিয়ামক হল সুইচ। বিদ্যুতের যথাযথ, সর্বোচ্চ ও নিপদেব্যবহারের জন্য সুইচ অপরিহার্য। সুইচ বিদ্যুতের প্রবাহের দিক পরিবর্তন করতে
            পারে। এমনকি প্রবাহ পথের সংখ্যাও বাড়াতে পারে। সুইচ ব্যবহারের কারণে দুর্ঘটনা কমতে পারে। যথারীতি ও যথাযথ প্রয়োজনে সার্কিট কনট্রোল করা যায়। সুইচের সাহায্যে ইচ্ছা ও প্রয়োজন মাফিক বৈদ্যুতিক অ্যাপস্নায়েন্স ব্যবহার করা যায়। সুইচের আধুনিকি করণের দ্বারাই
            কম্পিউটার ও রোবটের মত অত্যাধুনিক যন্ত্রপাতি ব্যবহার করা সম্ভব হচ্ছে। সুইচের মাধ্যমে প্রয়োজনমত বর্তনীকে Off-On করা যায়। ভোল্টেজ, কারেন্ট, এসি বা ডিসি এবং লোডের ধরণ (রেজিস্টিভ, ইনডাকটভি, ক্যাপাসিটিভ) ইত্যাদির রেটিংও সুইচে করা থাকে। তাছাড়া দৈনন্দিন,
            সামাজিক, রাষ্ট্রীয় পর্যায়ের সর্বক্ষেত্রে বিদ্যুতের ব্যাপক ব্যবহার সুইচের কারণেই সম্ভব হচ্ছে । বিদ্যুতের সরবরাহ, অফ-অন করা, রক্ষণাবেক্ষণ, দূর্যোগের মূহুর্তেব সরবরাহ বিচ্ছিন্ন করা ইত্যাদি প্রয়োজনই সুইচ ব্যবহার হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/THPMj1Z0RRik86XSwa6i_3-13-20184-01-27PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page25-heading144" style="color:#FD5203;font-style:italic;">সুইচের প্রকারভেদ </h4>
      <div class="item item-body" id="page25-list-item-container160">
        <div id="page25-markdown162" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বহুবিদ কজের প্রয়োজনে বিভিন্ন প্রকার সুইচ ব্যবহার হয়। প্রয়োজন, গঠণ, কার্যনীতি, কার্যক্ষেত্র , ব্যবহার প্রভৃতির উপর ভিত্তি করে সুইচ কাজে লাগানো এবং শ্রেণী বিন্যাস করা হয়। নিয়ন্ত্রণের দিক থেকে সুইচ দু’ প্রকার। যথা- ১. হসত্ম চালিত সুইচ (Manual switch)
            t সিলেক্টর সুইচ, 2. স্বয়ংক্রিয় সুইচ (Automatic Switch) ঃ থার্মোস্ট্যাট সুইচ। ব্যবহারের দিক থেকে সুইচ প্রধানত দু’ প্রকার। যথা- 1. নাইফ সুইচ (Knife switch), ২. টামবলার (Tumbler switch). হসত্ম চালিত সুইচ তিন প্রকার- ১. টোগল সুইচ (Togol switch),
            ২. পুশবাটনসুইচ (Push button switch), ৩. রোটারী সুইচ (Rotary switch). নাইফ সুইচ দু’প্রকার- ১. সেস্না-ব্রেক নাইফ সুইচ (Slow knife switch), ২. কুইক-ব্রেক নাইফ সুইচ (Quick knife switch) পোলের উপর ভিত্তি করে তিন প্রকার- 1. সিঙ্গেল পোল সুইচ (Single
            pole switch), ২. ডাবল পোল সুইচ (Double pole switch)
            <br>৩. ট্রিপল পোল সুইচ (Triple pole switch) থ্রো-এর উপর ভিত্তি করে তিন প্রকার- 1. সিঙ্গেল থ্রো সুইচ (Single through switch), ২. ডাবল থ্রো সুইচ (Double through switch)
            <br>৩. ট্রিপল থ্রো ্র সুইচ (Triple through switch) ওয়ে এর উপর ভিত্তি করে তিন প্রকার- 1. ওয়ান ওয়ে সুইচ (One way switch), ২. টু ওয়ে সুইচ (Two way switch)
            <br>৩. ইন্টার্মিডিয়েট সুইচ (Intermidiate switch) ব্রেকের উপর ভিত্তি করে তিন প্রকার- 1. সিঙ্গেল ব্রেক সুইচ (Single break switch), ২. ডাবল ব্রেক সুইচ (Double break switch)
            <br> কার্যনীতির উপর ভিত্তি করে টাম্বলার সুইচ চার প্রকার- 1. SPST (Single pole single through) সুইচ, 2. SPDT (Single pole double through) সুইচ, 3. DPST (Double pole single through) সুইচ, 4. DPDT (Double pole Double through) সুইচ</p>

          <p style="color:#000000;font-size:15px;">রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং-এ ব্যবহৃত সুইচ সূহের তালিকা- ১। মেইন সুইচ, ২। সাধারণ অফ-অন সুইচ, ৩। ডোর (পুশবাটন) সুইচ, ৪। থার্মোস্ট্যাট সুইচ,
            <br>৫। সিলেক্টর সুইচ, ৬। হিউমিডিস্ট্যাট সুইচ, ৭। এসি (রোটারী) সুইচ, ৮। এসি পিয়ানো সুইচ
            <br>৯। থার্মাল সুইচ, ১০। প্রেশার সুইচ, ১১। ডিফ্রস্ট সুইচ, ইত্যাদি ব্যবহৃত হয়, ইত্যাদি</p>
        </div>
      </div>
      <h4 id="page25-heading145" style="color:#FD5203;font-style:italic;">সুইচ সম্বন্ধে বর্ণনাঃ</h4>
      <div class="item item-body" id="page25-list-item-container161">
        <div id="page25-markdown170" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বিদ্যুৎ প্রবাহ নিয়ন্ত্রণ করে বর্তনীতে লোড সমূহকে প্রয়োজন মত পরিচালনা করা হয়। বিদ্যুৎ প্রবাহ নিয়ন্ত্রণের জন্য বর্তণীকে চালু-বন্ধ করার দরকার হয়। বিদ্যুৎ বিভাগে ব্যবহৃত অগনিত সুইচের মধ্যে কয়েকটির বর্ণনা প্রদত্ত হল- SPST সুইচ ঃ
            <br>এসপিএসটি বলতে সিংগেল পোল সিংগেল থ্রো বুঝায় যাহা একটি পরিবাহীকে অপর পরিবাহী হতে সংযোগ বা বিচ্ছিন্ন করতে পারে। যখন এ প্রকার সুইচ বর্তনীতে নিয়ন্ত্রণ করা হয় তখন সার্কিটের একটি মাত্র পরিবাহী নিয়ন্ত্রিত করে। ST SP</p>

          <p style="color:#000000;font-size:15px;">চিত্র- ১৫.২ঃ SPST সুইচ SPDT সুইচ ঃ </p>

          <p style="color:#000000;font-size:15px;">DT SP</p>

          <p style="color:#000000;font-size:15px;">চিত্র- ১৫.৩ঃ SPDT সুইচ। এসপিডিটি বলতে সিংগেল পোল ডাবল থ্রো বুঝায়। এখানে একটি পরিবাহী নিয়ন্ত্রিত হয় কিন্তু নিয়ন্ত্রণ ক্রিয়া বিপরীত মূখী অর্থাৎ সার্কিটের পরিবাহী একটি অফ হলে অপরটি অন হবে। তিনটি পয়েন্টের মধ্যে প্রবেশ তারটি একটি পরিবাহী পয়েন্টে
            এবং অপর যে পরিবাহীদ্বয় নিয়ন্ত্রিত হবে তা অবশিষ্ট দুটি পয়েন্টে লাগানো হয়।</p>

          <p style="color:#000000;font-size:15px;">DPST সুইচ ঃ ডিপিএসটি বলতে ডাবল পোল সিংগেল থ্রো বুঝায়, যাহা ২টি পোলের সাহায্যে দুটি পরিবাহীকে স্বতন্ত্র ভাবে নিয়ন্ত্রণ করে এবং নিয়ন্ত্রণ কার্য হচ্ছে অন-অফ। দুই জোড়া পরিবাহী থাকে। যথাক্রমে এক জোড়ার একটি অপর জোড়ার একটিকে এবং ১ম জোড়ার বাকীটি ২য়
            জোড়ার বাকীকে অন-অফ করে। DP ST </p>

          <p style="color:#000000;font-size:15px;">চিত্র- ১৫.৪ঃ DPST সুইচ।</p>

          <p style="color:#000000;font-size:15px;">DPDT সুইচঃ </p>

          <p style="color:#000000;font-size:15px;"> DP DT
            <br>চিত্র- ১৫.৫ঃ DPDT সুইচ। যেহেতু দুই পোল ও দুই থ্রো হওয়ার কারণে এসপিডিটি ক্রিয়ার পুনরাবৃত্তি কিন্তু ২টি করে পরিবাহী নিয়ন্ত্রিত হয় । ডাবল পোলদ্বয় স্বতন্ত্র ২টি সিঙ্গল পোল হিসেবে ডাবল পরিবাহী কে নিয়ন্ত্রণে (অন-অফ) করে যথাক্রমে ২টি পোল মোট ৪টি
            পরিবাহী কে নিয়ন্ত্রণ করতে পারে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/gvuYCstMRTa6VApEGtAG_3-13-20184-05-40PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="page25-markdown171" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;font-size:15px;">নাইফ সুইচ (Knife switch)t</p>

        <p style="color:#000000;font-size:15px;">যে সব সার্কিটে ১০ অ্যাম্পিয়ারের অধিক কারেন্ট প্রবাহ হয় সেক্ষেত্রে মেইন সুইচ হিসেবে নাইফ সুইচ (Knife switch) ব্যবহারের প্রয়োজন হয়। কারণ সবচেয়ে ছোট বা কম ক্ষমতা সম্পন্ন নাইফ সুইচের রেটিং ১৫ অ্যাম্পিয়ার হয়ে থাকে। এ ধরণের সুইচ সাধারণত মেইন সুইচ হিসেবে
          ব্যবহার করা হয়। এর বিকল্প হিসেবে সার্কিট ব্রেকার ব্যবহার করা যায়। বিদ্যুৎ সরবরাহকারী মিটারের পর কোন সার্কিটে বৈদ্যুদিক সাজসরঞ্জাম সংযোগের আগে সর্বপ্রথম মেইন সুইচ বসাতে হয়। ঐ মেইন সুইচ দিয়ে সম্পূর্ণ সার্কিটকে নিয়ন্ত্রণ করা হয়। চিত্র- ১৫.৯ঃ ভি
          পি আই সি মেইন সুইচ। এ ধরণের সুইচের গ্রেড দু’রকমের হয়। যথা-১.২৫০ ভোল্ট গ্রেডের মেইন সুইচ, ২.৫০০ ভোল্ট গ্রেডের মেইন সুইচ। </p>

        <p style="color:#000000;font-size:15px;">টাম্বলার সুইচঃ </p>

        <pre>
          <code> চিত্র- ১৫.১০ঃ টাম্বলার সুইচ । হাতের আঙ্গুল দ্বারা পরিচালিত বেকেলাইটের তৈরি সুইচকে টাম্বলার সুইচ বলে। এ সুইচ ৫, ১০, ১৫ অ্যাম্পিয়ার পর্যন্ত কারেন্ট বহন করতে সক্ষম। বৈদ্যুতিক বাতির ক্ষেত্রে ৫ অ্যাম্পিয়ার রেটিংয়ের সুইচ এবং ইস্ত্রি, হিটার, মোটর প্রভৃতি
            পাওয়ার সার্কিটে ১৫ অ্যাম্পিয়ার রেটিংয়ের সুইচ ব্যবহৃত হয়। টাম্বলার সুইচের তলদেশ চীনামাটি বা বেকেলাইট দ্বারা তৈরি এবং এর সাথে দুটি পিতলের কন্ট্যাক্টর দিয়ে আটকানো থাকে।</code>
        </pre>

        <p style="color:#000000;font-size:15px;">অন-অফ করার জন্য এর উপরে একটি বেকেলাইটের নব থাকে। বৈদ্যুতিক সার্কিট নিয়ন্ত্রণের জন্য এ সুইচ অধিক হারে ব্যবহার করা হয়ে থাকে। কাজের প্রয়োজন অনুসারে টাম্বলার সুইচ বিভিন্ন ধরনের হয়। যেমন-ওয়ানওয়ে সুইচ, টুওয়ে সুইচ, থ্রী-ওয়ে সুইচ এবং ইন্টারমেডিয়েট সুইচ
          প্রভৃতি।</p>

        <p style="color:#000000;font-size:15px;">চেঞ্জ ওভার (Change over) সুইচ ঃ দুটি সোর্সের যে কোন একটা সোর্স হতে বিদ্যুৎ একটা লোডে দেয়ার জন্য ব্যবহৃত সুইচের নাম হল চেঞ্জ ওভার (Change over) সুইচ।</p>
      </div>
      <h4 id="page25-heading146" style="color:#FD5203;font-style:italic;">বিভিন্ন প্রকার সুইচের ব্যবহার ক্ষেত্রঃ</h4>
      <div class="item item-body" id="page25-list-item-container163">
        <div id="page25-markdown177" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বহুবিদ কাজ ও ক্ষেত্রে অগণিত সুইচ ব্যবহার হয়। তার মধ্যে বেশী ব্যবহৃত সুইচ গুলোর ব্যবহার ক্ষেত্র উলেস্নখ করা হল- ক. মেইন সুইচঃ মিটারের পর ব্যবহারকারীর সমগ্র সার্কিটটিকে নিয়ন্ত্রণ (ON-OFF) করার জন্য ব্যবহৃত হয়।</p>

          <p style="color:#000000;font-size:15px;">খ. সিংগল পোল সুইচঃ লাইনে শুধুমাত্র ১টি তারের সংযোগ ও বিচ্ছিন্ন করার কাজে এ সুইচ ব্যবহার করা হয়।</p>

          <p style="color:#000000;font-size:15px;">গ.ডাবল পোল সুইচঃ দুইটি তারের সংযোগ স্থাপন ও বিচ্ছিন্ন করার কাজে ব্যবহৃত হয়। ঘ. সিংগল ব্রেক সুইচঃ সুইচ ব্লেড দ্বারা সুইচের মধ্যে একটি স্থানে বৈদ্যুতিক সংযোগ বিচ্ছিন্ন করার কাজে ব্যবহৃত হয়।</p>

          <p style="color:#000000;font-size:15px;">ঙ. ডাবল ব্রেক সুইচঃ সুইচের বেস্নড দ্বারা লাইনের সংযোগ বিচ্ছিন্ন করার কাজে ব্যবহৃত হয়।</p>

          <p style="color:#000000;font-size:15px;">চ. সিংগল থ্রো সুইচঃ সার্কিটের একটি সংযোগ বিচ্ছিন্ন করার কাজে এ সুইচ ব্যবহার করা হয়।</p>

          <p style="color:#000000;font-size:15px;">ছ. ডাবল থ্রো সুইচঃ সাধারণত: দুইটি সার্কিটকে একটির পর আরেকটিতে বৈদ্যুতিক সংযোগ স্থাপন ও বিচ্ছিন্ন করার জন্য ব্যবহার হয়। </p>

          <p style="color:#000000;font-size:15px;">জ. ওয়ান ওয়ে সুইচঃ দুইটি তারের মধ্যে সংযোগ বা বিচ্ছিন্ন (বাতি, পাখা ইত্যাদি) করার জন্য ব্যবহৃত হয়।</p>

          <p style="color:#000000;font-size:15px;">ঝ. টু ওয়ে সুইচঃ একটি বা কয়েকটি বাতি এক সংগে দুই জায়গা হতে নিয়ন্ত্রণ করার কাজে ব্যবহৃত হয়। সিড়িঘর বা সিড়ি ঘরের বাতির যেখানে দুই জায়গা হতে নিয়ন্ত্রণ করতে হয়।</p>

          <p style="color:#000000;font-size:15px;">ঞ. ইন্টার মিডিয়েট সুইচঃ কোন বাতিকে অধিক জায়গা হতে নিয়ন্ত্রণ করতে এ সুইচ ব্যবহার করতে হয়।</p>

          <p style="color:#000000;font-size:15px;">ট. পুশপোল সুইচঃ টেবিল ল্যাম্পে এ ধরণের সুইচ ব্যবহার করা হয়।</p>

          <p style="color:#000000;font-size:15px;">ঠ. রোটারী সুইচঃ সাধারণত: গাড়ির ওয়ারিংএ রোটারী সুইচ ব্যবহার করা হয়। মোটরের দিক পরিবর্তন, বেগ পরিবর্তন, সার্কিট কন্ট্রোল প্রভৃতি বৃহৎ কাজে ব্যবহার করা হয়।</p>

          <p style="color:#000000;font-size:15px;">ড. বেড সুইচঃ বিছানায় শুয়ে বাতি নিভানো ও জ্বালানোর কাজে ব্যবহার করা হয়।</p>

          <p style="color:#000000;font-size:15px;">ঢ. পুশ বাটন সুইচঃ কলিং বেল, রিফ্রিজারেটরের ক্যাবিনেট ল্যাম্প ইত্যাদি নিয়ন্ত্রণের ক্ষেত্রে ব্যবহার হয়।</p>

          <p style="color:#000000;font-size:15px;">ণ. চেঞ্জ ওভার জাতীয় বা নিজস্ব বিদ্যুৎ সোর্স নেয়ার জন্য চেঞ্জ ওভার সুইচ ব্যবহার করা হয়। উলেস্নখ্য, মেইন সুইচে কার্টিজ বা রি-ওয়্যারেবল ফিউজ ব্যবহার করতে হয়। কারণ ফিউজের কারেন্ট রেটিং অনুসারে এ সুইচের রেটিং নির্ধারণ করা হয়।</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>