<ion-view title="বাসগৃহে ওয়্যারিং  " id="page26">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page26-card218">
      <h4 id="page26-heading121" style="color:#FF500E;font-style:italic;">বাসগৃহে ওয়্যারিং (House Wiring)</h4>
      <div class="item item-body" id="page26-list-item-container127">
        <div id="page26-markdown120" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বাসগৃহে ব্যবহৃত লোড (লাই&amp;&amp;টং, ফ্যান, হিটার, মটর, রিফ্রিজারেটর, এয়ার কন্ডিশনার ইত্যাদি) সমূহকে পরিচালনার জন্য সুবিন্যাস্থ তার ব্যবস্থাপনাকে ওয়্যারিং বলে। বিদ্যুৎ কর্তৃপক্ষ (Power development board = P.D.B &amp; Rural Electrification Board
            = R.E.B ) কর্তৃক অনুমোদিতভাবে বিদ্যুৎ প্রাপ্তির জন্য সর্বাগ্রে প্রয়োজন যথাযত ভাবে গৃহে তার বিন্যাস। বাসগৃহ বিদ্যুতায়িত করার জন্য তার বিন্যাসের নামই House wiring। House wiring ব্যতিত দৈনন্দিন জীবনে বিদ্যুৎ ব্যবহার অকল্পনীয় ও অসম্ভব বিষয়।</p>
        </div>
      </div>
      <h4 id="page26-heading129" style="color:#FF500E;font-style:italic;">ওয়্যারিং-এর আবশ্যকতাঃ </h4>
      <div class="item item-body" id="page26-list-item-container150">
        <div id="page26-markdown149" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পরিকল্পিত House wiring ব্যতিত নিরাপদে ও নির্বিগ্নে বিদ্যুৎ শক্তিকে প্রয়োজন মত ব্যবহার করা যায় না। বাসগৃহ, অফিস, কারখানা, প্রতিষ্ঠান, দোকান, ওয়ার্কশপ, প্রভৃতি ক্ষেত্রে বিদ্যুৎ বিতরণ ও ব্যবহারের জন্য House wiring এর আবশ্যকতা অসীম। কারণ সুন্দর,
            সুষ্ঠু, পরিকল্পিত, নিয়মতান্ত্রিক নিরাপদ বিদ্যুৎ ব্যবস্থার জন্য House wiring এর বিকল্প নাই। অনুমোদিতভাবে বিদ্যুৎ সংযোগ প্রাপ্তি এবং নিচে বর্ণিত সুযোগ-সুবিধাদির লক্ষ্যে বাসগৃহ ওয়্যারিং-এর আবশ্যকতা পরিলক্ষিত হয়।</p>

          <p style="color:#000000;font-size:15px;">১। নিরাপত্তা সুবিধাঃ কারণ সুন্দর, সুষ্ঠু, পরিকল্পিত, নিয়মতান্ত্রিক wiring নিরাপত্তা নিশ্চিত করে।</p>

          <p style="color:#000000;font-size:15px;">২। নিয়ন্ত্রণ সুবিধাঃ সুইচ যার মাধ্যমে বিদ্যুৎ প্রবাহ চাল,ু ও বন্ধ করা যায়।</p>

          <p style="color:#000000;font-size:15px;">৩। সৌন্দর্য্য সুবিধাঃ Wiring বাসগৃহে বা ইমারতের সৌন্দর্য্য বৃদ্ধি করে।</p>

          <p style="color:#000000;font-size:15px;">৪। স্থায়িত্ব বৃদ্ধি সুবিধাঃ সুষ্ঠু ও পরিকল্পিত তার বিন্যাস ব্যবস্থায দীর্ঘ দিন বিদ্যুৎ সরবরাহ করা যায়।</p>

          <p style="color:#000000;font-size:15px;">৫। অর্থ সাশ্রয়ের সুবিধাঃ সুন্দর ও পরিকল্পিত তার বিন্যাসে সরঞ্জামাদির ও বিদ্যুৎ খরচ কম হয়।</p>

          <p style="color:#000000;font-size:15px;">৬। রক্ষণাবেক্ষণ সুবিধাঃ সঠিক ওয়্যারিংএর দ্বারা সরঞ্জামাদির রক্ষণাবেক্ষণ সুবিধা বেশি পাওয়া যায়।</p>

          <p style="color:#000000;font-size:15px;">৭। বন্টনের সুবিধাঃ পরিকল্পিত wiring এর দ্বারা সুন্দর, সুষ্ঠু বিতরণ নিশ্চিত করা যায়। ইত্যাদি।</p>
        </div>
      </div>
      <h4 id="page26-heading140" style="color:#FF500E;font-style:italic;">বাসগৃহে ওয়্যারিং-এর জন্য প্রযোজনীয় মালামালের তালিকাঃ</h4>
      <div class="item item-body" id="page26-list-item-container151">
        <div id="page26-markdown154" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সুন্দর, সুষ্ঠু, পরিকল্পিত, নিয়মতান্ত্রিক নিরাপদ বিদ্যুৎ ব্যবস্থার জন্য House wiring জন্য দরকার মান সম্মত ও প্রয়োজন মাফিক বৈদ্যুতিক উপকরণ। House wiringকে যথাযথ ও এর গুণগত মান আরো উন্নয়ন করার জন্য উপকরণের পাশাপাশি কিছু টুলসেরও প্রয়োজন। নিম্নে
            উপকরণ ও টুলসের তালিকা দেয়া হল- উপকরণাদির তালিকাঃ</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/UztdRTMQ2GiRAQdCjcVA_3-13-201810-40-48PM.jpg" style="display: block; width: 100%; height: 220px; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page26-heading141" style="color:#FF500E;font-style:italic;">টুলসের তালিকাঃ</h4>
      <div class="item item-body" id="page26-list-item-container157">
        <div id="page26-markdown178" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;"> হাইজ ওয়ারিংএ টুলসের তালিকা প্রদত্ত হল-</p>

          <p style="color:#000000;font-size:15px;">১। হ্যামার, ২। স্ক্রু-ড্রাইভার, ৩। কম্বিনেশন ৪। প্ল¬ায়ার্স, ৫। ফাইল, ৬। চিজেল, ৭। করাত, ৮। হ্যাক’স’, ৯। নিয়ন টেস্টার, ১০। টেস্ট ল্যাম্প, ১১। চাকু, ১২। হ্যান্ড ড্রিল, ১৩। মাপনী (মেজারিং টুলস), ১৪। পেন্সিল বা স্ক্রাইবার, ১৫। অ্যাভোমিটার ইত্যাদি</p>
        </div>
      </div>
      <h4 id="page26-heading147" style="color:#FF500E;font-style:italic;">বাসগৃহে ওয়্যারিং-এর বর্ণনাঃ</h4>
      <div class="item item-body" id="page26-list-item-container162">
        <div id="page26-markdown179" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বিদ্যুৎ সরবরাহ কর্তৃপক্ষ ছোট একটা বাসায় সাধারণতঃ এনার্জি মিটারে সিঙ্গেল ফেজ (একটা ফেজ ও একটা নিউট্রাল) সংযোগ দিয়ে থাকেন। এসংযোগ ব্যবস্থাকে আর্থিং স্থানীয়ভাবে করা হয়। মিটার হতে কাট আউট বা সার্কিট ব্রেকারের মাধ্যমে সরবরাহ ডিস্ট্রিবিউশন বোর্ডে
            (Distribution board= DB) বিতরণ করা হয়। বাসায় দুটি ইউনিট থাকলে প্রতিটির ক্ষেত্রে একটা করে সার্কিট ব্রেকার সহ ডিস্ট্রিবিউশন বোর্ড থাকে। ডিস্ট্রিবিউশন বোর্ডে ফেজ, নিউট্রাল ও আর্থিং লাইনের সংযোগ থাকে। সিঙ্গেল পোল সার্কিট ব্রেকার হলে ফেজ লাইন তাতেই
            থাকে এবং সেখান থেকে লোডানুপাতে প্রতিটি কাট-আউটে সংযোগ যায়। সকল লোডের জন্য একটা মাত্র নিউট্রাল লাইনের সংযোগ থাকে। থ্রি পিন সকেটের সংযোগ সরাসরি DB-এর ফেজ, নিউট্রাল ও আর্থিং এর সাথে দিতে হয়। টুপিন সকেটের একটা পয়েন্টে সুইচ হয়ে ফেজ লাইনের এবং অপর
            পয়েন্টে নিউট্রাল লাইনের সংযোগ দিতে হয়। কন্ট্রোল সুইচ বোর্ডে ফেজ ও নিউট্রাল লাইনের সংযোগ থাকে যার সাহায্যে প্রতিটি লোড (লাইট, ফ্যান ইত্যাদি) নিয়ন্ত্রিত হয়। সুইচ সমূহে ফেজ লাইনের সংযোগ দিতে হয়। আর সুইচ হয়ে ফেজ লাইনটা বিভিন্ন লোডে বিতরণ হয়। ফ্যানের
            ক্ষেত্রে সুইচ থেকে ফেজ লাইনটি রেগুলেটর হয়ে ফ্যান মোটরে যায় এবং বাকী সংযোগটা নিউট্রাল তারের মাধ্যমে দিতে হয়। টিউব লাইটের ক্ষেত্রে ফেজ লাইন সুইচ থেকে ব্যালাস্ট হয়ে হোল্ডারের একটা পয়েন্টে এবং অপর পয়েন্ট হতে স্টার্টারের মাধ্যমে ২য় হোল্ডারের একটা
            পয়েন্টে যায়। ২য় হোল্ডারের বাকী পয়েন্টে নিউট্রাল লাইনের সংযোগ দেয়া হয়। কলিং বেলের ক্ষেত্রে সুইচ থেকে ফেজ লাইন একটা ফিলামেন্ট বাল্ব হয়ে বেলের এক পয়েন্টে এবং বাকী পয়েন্টে নিউট্রাল লাইনের সংযোগ হয়। এভাবে সকল স্বতন্ত্র কক্ষের জন্য একটা করে কন্ট্রোল
            সুইচ বোর্ড থাকে। ছাদ ওয়ালা বাড়ীতে কন্সীল্ড ওয়্যারিং সর্বাধিক ব্যবহার হয়। অতীতে বাসগ্রহে শুধুমাত্র ব্যাটেন ওয়্যারিং করা হতো বর্তমানে ব্যাপক হারে কন্সীল্ড ওয়্যারিং করা হচ্ছে। অবশ্যই ওয়ার্কশপ ছাড়া অন্যান্য ইমারতের ওয়্যারিং প্রায় বাস গৃহের অনুরূপ
            এবং সহজ। নীচে অফিস বাসগৃহ ওয়্যারিং ডায়াগ্রাম অংকন ও বর্ণনা করা হল। চিত্রের ডায়াগ্রামে তারের মাধ্যমে লোড হিসাবে ফ্লোরোসেনট বাতি, লাইট (বাল্ব), ফ্যান, সকেট, বিভিন্ন নিয়ন্ত্রকসহ অন্যান্য ব্যবস্থাপনা দেখানো হযেছে। </p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/umebjnS1T3OYQAaQVpmF_ccccccc.jpg" style="display: block; width: 100%; height: 278px; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page26-heading148" style="color:#FF500E;font-style:italic;">ওয়্যারিং পরীক্ষা পদ্ধতি </h4>
      <div class="item item-body" id="page26-list-item-container164">
        <div id="page26-markdown180" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ইলেক্ট্রিসিটি ব্যবহারের ক্ষেত্রে সঠিক ওয়্যারিং একটি গুরুত্ব পূর্ণ বিষয়। ছোট ধরণের ত্রুটিতে বড় রকমের এমনকি অপূরণীয় ক্ষতি হতে পারে। সুতরাং ওয়্যারিং শেষ হওয়ার পর সরবরাহ প্রদানের পূর্বে মনোযোগের সাথে ওয়্যারিং পরীক্ষা করা অপরিহার্য়্য। পর্যায় ক্রমিকভাবে
            কয়েকটি সফল পরীক্ষা করার পর নিশ্চিত হওয়া যাবে ওয়্যারিং সঠিক আছে। পরীক্ষা গুলো নিম্নে দেওয়া হলো- ক) পোলারিটি টেস্ট ২ ভাবে করা হয়ঃ- ১. AVO এর সাহায্যে পোলারিটি টেস্ট, ২. টেস্ট বা সিরিজ ল্যাম্প দ্বারা পোলারিটি টেস্ট। খ) কন্টিনিউটি টেস্ট ২ প্রকারঃ-
            ১. সার্কিটে ব্যবহৃত লোড ও wire কন্ডাক্টরের রেজিস্ট্যান্স টেস্ট, ২. আর্থ কন্ডাক্টরের রেজিস্ট্যান্স টেস্ট। গ) ইন্স্যুলেশন টেস্ট ২ প্রকারঃ- ১. কন্ডাক্টর ও আর্থের মধ্যে ইনস্যুলেশন টেস্ট, ২. দুইটি কন্ডাক্টরের মধ্যে ইনস্যুলেশন টেস্ট।
            <br>ঘ) আর্থ টেস্টঃ- ফেইজ ও আর্থিংএ বাতি জ্বালিয়ে অথবা মেগারের সাহায্যে। বিভিন্ন প্রকার টেস্টের বর্ণনাঃ</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ক) পোলারিটি টেস্টের বর্ণনাঃ</strong>
            ইলেক্ট্রিক্যাল ওয়্যারিংএর রীতি অনুযায়ী AC সরবরাহের ক্ষেত্রে সুইচ, তার ফিউজ, অন্যান্য ফিউজ বা নিয়ন্ত্রক ফেজ বা পজেটিভ লাইনে স্থাপন করতে হয়। এগুলো ফেজ লাইনে আছে মর্মে নিশ্চিত হবার জন্য পোলারিটি টেস্ট করা হয়। অবশ্যই বিদ্যুৎ সরবরাহের পূর্বে পোলারিটি টেস্ট
            করতে হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>AVO মিটারের সাহায্যে পোলারিটি টেস্টঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">AVO মিটারের রেঞ্জ নব ওহমে সেট করে চিত্রানুযায়ী এর একটি প্রব সার্কিটের ওয়্যারিং তারে (সুইচের আউট পয়েন্টে) অপর প্রবটি আর্থের সাথে সেট করলে কন্টিনিউটি দেখালে সুইচ সঠিক ভাবে ফেজ তারে লাগানো আছে। অন্যথায় ভুল সংযোগ।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>টেস্ট বা সিরিজ ল্যাম্প দ্বারা পোলারিটি টেস্টঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">বিদ্যুৎ সরবরাহের পূর্বে বা পরে বা উভয় ক্ষেত্রে পোলারিটি টেস্ট করা যায়। চিত্রানুযায়ী পোলারিটি পরীক্ষা করার সময় টেস্ট ল্যাম্পের একটি প্রামত্ম সার্কিটের ওয়্যারিং তারে (সুইচের আউট পয়েন্টে) এবং অপর প্রামত্ম আর্থের সাথে সংযুক্ত করার পর বাতি জ্বললে
            পোলারিটি সঠিক আছে। অন্যথায় ভুল ওয়্যারিং। চিত্র- ১৬.৩ঃ টেস্ট ল্যাম্প দ্বারা পোলারিটি টেস্ট। খ) কন্টিনিউটি টেস্টের বর্ণনাঃ </p>

          <p style="color:#000000;font-size:15px;">সার্কিটে ব্যবহৃত লোড ও (তার) কন্ডাক্টরের রেজিস্ট্যান্স টেস্টঃ </p>

          <p style="color:#000000;font-size:15px;">চিত্র- ১৬.৪ঃ কন্টিনিউটি টেস্ট। এ পরীক্ষা করার সময় মেন সুইচ বন্ধ করে তার কাট আউট খুলে রাখতে হবে। তবে ওয়্যারিংএর অন্যান্য ফিউজ লাগানো অবস্থায় থাকবে। প্রত্যেক পয়েন্টে বাল্ব লাগিয়ে পরীক্ষা করতে হবে। তারপর চিত্রানুযায়ী ২টি ওয়্যারিং তারের দু’প্রামেত্ম
            মেগারের E ও L এর সাথে সংযুক্ত করতে হবে। একটি মাত্র লোডের সুইচ অন করে মেগার ঘুরালে যদি মেগারের ডায়ালে (0) শূণ্য দেখায় তবে বুঝতে হবে কন্টিনিউটি আছে। অপর দিকে নির্দেশিকা (0) শূণ্য হতে সামান্য দূরে অবস্থান করলে কন্টিনিউটি নাই। এভাবে প্রত্যেক পয়েন্ট
            ও লোডে কন্টিনিউটি পরীক্ষা করতে হবে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>আর্থ কন্ডাক্টরের রেজিস্ট্যান্স টেস্টঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">এ টেস্ট করার জন্য মেগার আর্থ টেস্টার ব্যবহার করা হয়। চিত্রানুযায়ী মেগারের আর্থ (E) টার্মিন্যাল আর্থ ইলেক্ট্রড ও লাইন টার্মিন্যাল (L) বিভিন্ন স্থানের ধাতব অংশের (স্পাইক) সহিত সংযোগ করে মেগার হাতল ঘুরালে যদি মেগারের ডায়ালে ১ ওহম বা কম দেখায় তবে
            বুঝতে হবে কন্টিনিউটি সঠিক আছে। অন্যথায় সংযোগ সঠিক নাই। </p>

          <p style="color:#000000;font-size:15px;">
            <strong>গ) ইনস্যুলেশন কন্টিনিউটি টেস্টের বর্ণনাঃ</strong>
            কন্ডাক্টর ও আর্থের মধ্যে ইন্স্যুলেশন টেস্টঃ চিত্র-১৬.৬ ঃ কন্ডাক্টর ও আর্থের মধ্যে ইন্স্যুলেশন টেস্ট। কন্ডাক্টর ও আর্থের মধ্যে ইন্স্যুলেশন টেস্ট করার সময় প্রধান সুইচ OFF করে তার ফিউজ খুলে রাখতে হয়। অন্যান্য ফিউজ লাগানো অবস্থায় থাকবে। প্রত্যেক পয়েন্টে ব্যবহৃত
            সকল লোড স্থাপন করে সুইচ ON করে রাখতে হবে। অতঃপর মেইন সুইচের উভয় তার শর্ট করতঃ চিত্রানুযায়ী মেগারের L টার্মিন্যালের সাথে এবং মেগারের E টার্মিন্যাল আর্থে সাথে সংযুক্ত করতে হবে। মেগার হাতল দ্রুত ঘুরালে যদি মেগারের ডায়ালে 1 বা কম ওহম দেখালে বুঝতে
            হবে ইন্স্যুলেশন ঠিক আছে। আর নির্দেশিকা (0 ওহম) শূণ্যতে অবস্থান করলে ইন্স্যুলেশন ঠিক নাই। অর্থাৎ কন্ডাক্টর ও আর্থের মধ্যে শর্ট আছে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>দুইটি কন্ডাক্টরের মধ্যে ইনস্যুলেশন টেস্টঃ</strong>
            দুইটি কন্ডাক্টরের মধ্যে ইন্স্যুলেশন টেস্ট করার সময় প্রধান সুইচ OFF করে তার ফিউজ খুলে রাখতে হয়। অন্যান্য ফিউজ লাগানো অবস্থায় থাকবে। প্রত্যেক পয়েন্টে ব্যবহৃত সকল লোড স্থাপন করে সুইচ ON করে রাখতে হবে। অতঃপর চিত্রানুযায়ী ২টি ওয়্যারিং তারের দুই প্রান্তে মেগারের
            E ও L এর সাথে সংযুক্ত করতে হবে।মেগার হাতল দ্রুত ঘুরালে যদি মেগারের ডায়ালে 1 ওহম দেখালে বুঝতে হবে ইন্স্যুলেশন ঠিক আছে। আর নির্দেশিকা (0 ওহম) শূণ্যতে অবস্থান করলে ইন্স্যুলেশন ঠিক নাই। অর্থাৎ কন্ডাক্টর ও আর্থের মধ্যে শর্ট আছে। চিত্র- ১৬.৭ঃ দুটি
            কন্ডাক্টরের মধ্যে ইন্স্যুলেশন টেস্ট।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ইন্স্যুলেশন রোধ বের করার সূত্র</strong>ঃ ১। ইন্স্যুলেশন রোধ = মেগা ওহম (পিভিসি তারের জন্য)
            <br>২। ইন্স্যুলেশন রোধ = মেগা ওহম (অন্যান্য তারের জন্য)</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ঘ) আর্থ টেস্টঃ</strong>
            চিত্র- ১৬.৮ ঃ আর্থ কন্ডাক্টরের রেজিস্ট্যান্স টেস্টের অনুরূপ। অনাকাংক্ষিত ক্ষয়-ক্ষতি হতে রক্ষা পাওয়ার জন্য সরবরাহের পূর্বে এ পরীক্ষাটি করতে হয়। চিত্রানুযায়ী ব্রীজ মেগারের E টার্মিন্যাল আর্থের সহিত ও L টার্মিন্যাল সুইচের আউট প্রান্তের সাথে সংযুক্ত করে মেগার
            হাতল দ্রুত ঘুরালে মেগারের ডায়ালে 1 বা কম ওহম দেখালে বুঝতে হবে আর্থিং সঠিক আছে। *১/৫০০০ ভাগের বেশি কারেন্ট লিকেজ হলে সে ওয়্যারিং-এ বিদ্যুৎ সরবরাহ দেওয়া হয় না।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/UXHQSwteTL6TcMSBoBcZ_kkkkkkkkkkkkk.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>