<ion-view title="তাপ স্থানান্তর প্রক্রিয়া" id="page19">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page19-card219">
      <h4 id="page19-heading111" style="color:#F33C0D;font-style:italic;">তাপ স্থানামত্মর প্রক্রিয়া (Heat Transfer System)</h4>
      <div class="item item-body" id="page19-list-item-container130">
        <div id="page19-markdown150" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">তাপ পৃথিবীর সর্বাপেক্ষা গুরম্নত্বপূর্ণ ও প্রয়োজনীয় শক্তি। বিভিন্ন প্রয়োজনে এ শক্তিকে আমরা বিভিন্ন শক্তি বা কাজে রম্নপামত্মর করতে পারি বা করে থাকি। তাপ ব্যতিত কোন পদার্থ অন্য পদার্থে বা বস্ত্ততে রূপামত্মর সম্ভব নয়। তাপের প্রধান উৎস হলো সূর্য্য।
            বিভিন্ন প্রক্রিয়ায় সূর্য্য থেকে তাপ পৃথিবীতে আসে বা স্থানামত্মর হয়ে থাকে। যথাযথ প্রক্রিয়ার মাধ্যমে যে কোন উৎস হতে তাপ অন্য যে কোন যায়গায় বা কস্ত্ততে স্থানামত্মর করা যায়।</p>
        </div>
      </div>
      <h4 id="page19-heading112" style="color:#F33C0D;font-style:italic;">তাপ স্থানামত্মর প্রক্রিয়া </h4>
      <div class="item item-body" id="page19-list-item-container131">
        <div id="page19-markdown151" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">স্বাভাবিক অবস্থায় পানি যেমন উচু হতে নিচুর দিকে ধাবিত হয় তাপও তেমন উচ্চ মাত্রা হতে নিমণ মাত্রার দিকে সঞ্চালিত হয়। পাম্পের মত বিশেষ ব্যবস্থা ব্যতিত পানি নীচ হতে উপরে সরবরাহ করা যায় না। অনুরূপভাবে বিশেষ ব্যবস্থা ছাড়া তাপ নিমণ মাত্রা থেকে উর্ধ্ব
            মাত্রার দিকে স্থানান্তর করা যায় না। পানিকে পাম্পের সাহায্যে নীচু মাত্রা থেকে উচু মাত্রায় সরবরাহ করা যায়। তদ্রুপ বিশেষ প্রক্রিয়ার মাধ্যমে তাপকেও নিম্ন মাত্রা থেকে উচ্চ মাত্রার দিকে স্থানামত্মর করা যায়। যে প্রক্রিয়ার মাধ্যমে তাপকে নিম্ন মাত্রা
            থেকে উচ্চ মাত্রার দিকে স্থানামত্মর করা যায় তারই নাম রিফ্রিজারেশন সিস্টেম (হিমায়ন পদ্ধতি) বা হিট পাম্প।</p>

          <p style="color:#000000;font-size:15px;">চিত্র- ৯.১ঃ পনি ও তাপের স্বাভাবিক প্রবাহ। তাপ স্থানামত্মর (Heat transfer) ঃ তাপের ক্যালোরীকে মতবাদ ও থার্মোডাইনামিক্স (Thermodynamics) সূত্র অনুযায়ী-তাপ এক স্থান থেকে অন্য স্থানে যেতে পারে। বস্ত্তর এক বিন্দু হতে অন্যবিন্দুতে বা এক বস্ত্ত হতে
            অন্য বস্ত্ততে তাপ সঞ্চালিত হওযাকেই তাপ স্থানামত্মও বলে। যে প্রক্রিয়ায় তাপ এক স্থান থেকে অন্য স্থানে স্থানামত্মর হয় তাকে তাপ সঞ্চালন বা তাপ স্থানামত্মর প্রক্রিয়া বলে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/c3DQWiR7Q3KudgdKK5PB_3-13-20181-20-42PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h5 id="page19-heading113" style="color:#F33C0D;font-style:italic;">স্থানামত্মরের প্রকারভেদ বর্ণনা (Clasification of heat transfer) </h5>
      <div class="item item-body" id="page19-list-item-container132">
        <div id="page19-markdown152" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পূর্বে আলোচনা করা হয়েছে যে, স্বাভাবিক অবস্থায় তাপ বেশি তাপমাত্রার বস্ত্ত হতে কম তাপমাত্রার বস্ত্তর দিকে প্রবাহিত হয়। তাপ এক স্থান হতে অন্য স্থানে স্থানামত্মরের জন্য সাধারণতঃ মাধ্যম প্রয়োজন। মাধ্যমের প্রকৃতির উপর ভিত্তি করে তাপের স্থানামত্মর
            তিন পদ্ধতিতে হয়ে থাকে । যেমন- 1. পরিবহণ (Conduction), ২. পরিচলন (Convection), ৩. বিকীরণ (Radiation)। পরিবহণ প্রক্রিয়া (Conduction)- বহন শব্দ থেকে পরিবহন কথাটা এসেছে। স্থির মাধ্যমে কোন কিছুর গমনা গমনকে পরিবহন প্রক্রিয়া বুঝায়। স্থির মাধ্যম বলতে
            কঠিন পদার্থকে বুঝানো হয়। কঠিন পদার্থ তথা ধাতব খন্ডের মাধ্যমে তাপের উচ্চ মাত্রা থেকে নিম্ন মাত্রার দিকে প্রবাহিত হবার পদ্ধতিকে পরিবহণ বা পরিবহণ প্রক্রিয়া বলা হয়। এক্ষেত্রে ধাতব দন্ডটি স্থির থাকে আর তাপ উহার মাধ্যমে চলাচল বা স্থানামত্মর হয়।</p>

          <p style="color:#000000;font-size:15px;">চিত্র-৯.২ঃ তাপের পরিবহণ প্রক্রিয়া। তাপ প্রয়োগে কঠিণ বা স্থির পদার্থের পরমাণুর কম্পনের সৃষ্টি হয়। ফলে ঐ পদার্থস্থিত তাপ উচ্চ মাত্রা হতে নিম্ন মাত্রার দিকে প্রবাহিত হয়। এভাবে তাপ কঠিণ বস্ত্তর এক প্রান্ত হতে অন্য প্রামেত্ম স্থানামত্মর হয়। কঠিন
            বস্ত্ততে তাপের এস্থানামত্মর প্রক্রিয়াকে পরিবহণ (Conduction) বলে। একটা ধাতব দন্ডের এক প্রান্ত আগুণ দ্বারা উত্তপ্ত (তাপ প্রয়োগে) করলে, অপর প্রান্তও গরম মনে হয়। এর কারণ উক্ত ধাতব দন্ডের মাধ্যমে তাপ এক প্রান্ত হতে অপর প্রান্তে স্থানামত্মরিত হয়েছে।
            এরূপ হবার কারণ আগুণ সংলগ্ন অণুগুলো প্রথমে উত্তপ্ত হয়। কঠিণ পদার্থের অণুর পাশাপাশি অবস্থান ও অবিচল কম্পনের ফলে পর্যায়ক্রমে ঠান্ডা প্রান্তের অণুগুলো তাপ পেয়ে গরম হয়। ধাতব পদার্থ সংলগ্ন বায়বীয় ও তরল পদার্থ পরিবহণ প্রক্রিয়ায় গরম হয়ে উঠে। উদাহরণ
            স্বরূপ হিমায়ন পদ্ধতির কন্ডেন্সারের ধাতব অংশ (টিউব) বাতাস বা পানিতে পরিবহণ প্রক্রিয়ায় তাপ ছেড়ে দেয়।</p>

          <p style="color:#000000;font-size:15px;">পরিচলন প্রক্রিয়া (Convection)t
            <br>চলন থেকে পরিচলন শব্দের উদ্ভব হয়েছে। তাপের প্রভাবে তরল বা বায়বীয় পদার্থের অণু পরিচালিত হবার সময় তাপও পদার্থের ঐ অণুর সাথে স্থানামত্মর হয়।তাপ প্রয়োগে তরল বা বায়বীয় পদার্থের অমত্মঃ আনবিক শক্তি কমতে থাকে । এতে ঐ পদার্থস্থিত অণুর গতি শক্তি বেড়ে
            যায়। ফলে বস্ত্তর গরম অণু গুলো পরিচালিত (স্থানামত্মর) হয়। অণুর স্থানামত্মরের সময় তাপও ঐ অণুর সাথে এক স্থান হতে অন্য স্থানে স্থানামত্মরিত হয়। যে প্রক্রিয়ায় তরল বা বায়বীয় পদার্থের তাপ স্থানামত্মর হয় তাকে পরিচলন (Convection) বলে। </p>

          <p style="color:#000000;font-size:15px;">চিত্র-৯.৩ঃ তাপের পরিচলন প্রক্রিয়া।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/nPJ1Pq9hQa6IGwrHjaa1_3-13-20181-23-59PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page19-heading114" style="color:#F33C0D;font-style:italic;">বিকীরণ প্রক্রিয়া (Radiation)-</h4>
      <div class="item item-body" id="page19-list-item-container133">
        <div id="page19-markdown153" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পৃথিবী থেকে সূর্য্য কোটি কোটি কিলোমিটার দূরে অবস্থিত। পৃথিবীর পৃষ্ঠ থেকে সূর্য্য এবিস্তীর্ণ এলাকার সামান্য অংশ ব্যতিত বাকি অংশ মহাশূণ্য বা ফাঁকা। মহাশূণ্যে বাতাস তো নেই, এমনকি কিছু নিষ্ক্রিয় গ্যাস ব্যতিত তাপ পরিবহণ যোগ্য কোন মাধ্যম নেই। অথচ
            এই অসীম মহাশূণ্য পাড়ি দিয়ে তাপ সূর্য্য থেকে পৃথিবীতে কি ভাবে স্থানামত্মর হয়? শব্দ যেমন বায়ু তরঙ্গ মাধ্যমে চলাচল করে তাপও অনুরূপ অদৃশ্য তড়িৎ-চুম্বকীয় তরঙ্গ দ্বারা সূর্য্য থেকে পৃথিবী পৃষ্ঠে চলে আসে। তড়িৎ-চুম্বকীয় তরঙ্গ রূপে সঞ্চালনের সময় তাপ
            অন্য কোন বস্ত্তকে উত্তপ্ত করে না। তাপ তড়িৎ-চুম্বকীয় তরঙ্গ রূপে সঞ্চালিত হয় বিধায় একে উত্তাপ-তরঙ্গ বলে।</p>

          <p style="color:#000000;font-size:15px;">চিত্রে- ১। সূর্য্য ২। আপতিত আলোক রশ্মি ৩। প্রতিফলিত আলোক রশ্মি ৪। উত্তপ্ত পৃথিবী পৃষ্ঠ। বিকীরণ প্রক্রিয়া।</p>

          <p style="color:#000000;font-size:15px;">উত্তাপ-তরঙ্গ আলোক-তরঙ্গের ন্যায় সোজা পথে চলে। দৃশ্যমান মাধ্যম ছাড়া অদৃশ্য আলোক তরঙ্গ মাধ্যমে তাপের সঞ্চালন প্রক্রিয়াকে বিকীরণ প্রক্রিয়া বলে। প্রত্যেক বস্ত্তই কম-বেশি এই বিকীরণ প্রক্রিয়ায় তাপ শোষণ বা বর্জন করে। </p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/CiyKt7F0TfWbsE7fmKtO_3-13-20181-26-04PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>