<ion-view title="বৈদ্যুতিক তার   " id="page24">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page24-card27">
      <h4 id="page24-heading135" style="color:#F63F08;font-style:italic;">বৈদ্যুতিক তার (Electrical wire)</h4>
      <div class="item item-body" id="page24-list-item-container129">
        <div id="page24-markdown122" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">রিফ্রিজারেশন পদ্ধতির প্রধান দুইটি সাইডের একটি হল ইলেকট্রিক্যাল সাইড। এসাইডের ডিভাইজ গুলো ইলেকট্রিক্যাল Wire বা বৈদ্যুতিক তার পরিবাহী দ্বারা সুবিন্যসত্ম থাকে। তার ব্যতীত এ ডিভাইজ গুলো কাজে ব্যবহার করা যায় না। ওয়্যার গেইজ দিয়ে এর সাইজ নির্ণয় করা
            হয়। তারকে বিপদমুক্ত করার জন্য নমনীয় ইনস্যুলেটর (আবরণ বা অমত্মরক) দ্বারা আবৃত্ত করা থাকে। এ তার ওভার হেড লাইনে ব্যবহার করা হয়। তবে আমরা যেতার ওয়্যারিংএর কাজে ব্যবহার করি তাতে ইন্স্যুলেশন করা থাকে।</p>
        </div>
      </div>
      <h4 id="page24-heading136" style="color:#F63F08;font-style:italic;">বৈদ্যুতিক তার </h4>
      <div class="item item-body" id="page24-list-item-container134">
        <div id="page24-markdown135" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">সাধারণ অর্থে ইন্স্যুলেশনের আবরণবিহীন পরিবাহীই তার। অমত্মরক দ্বারা আবৃত বা অনাবৃত একক বা একাধিক খেই বিশিষ্ট পরিবাহীকে বৈদ্যুতিক তার বলে। অপর পক্ষে অমত্মরীত তারকে ক্যাবল বলা হয় যা এক বা বহু খেই হতে পারে। সাধারণ ওয়্যারিং-এর জন্য ক্যাবল ব্যবহার
            করা হয়। মূলতঃ লীকেজ কারেন্ট ও শর্ট সার্কিট প্রতিরোধ করতে অমত্মরক দ্বারা তারের বহিরাবরণ করা থাকে। ফলে অনাকাঙ্খিত বৈদ্যুতিক শক (Electrical shock) বা দূর্ঘটনা হতে রক্ষা পাওয়া যায়। বৈদ্যুতিক তারের প্রধান অংশ দুটি যথা- ১. ধাতব পরিবাহী ২. ইন্স্যুলেটর।</p>

          <p style="color:#000000;">
            <strong>ক্যাবল (Cable)</strong>
          </p>

          <p style="color:#000000;">উপরিভাগে ইন্স্যুলেশনের আবরণ যুক্ত তারকে ক্যাবল বলে। ক্যাবল এক বা একাধিক কোর (Core) যুক্ত হতে পারে। কোরসমূহে পৃথকভাবে ইন্স্যুলেশন দেয়া হয়। অতপর কোর গুলোকে পর্যায়ক্রমে সমন্বিত করতঃ প্রতিরোধক আবরণে মোড়ানো হয়। ফলে ক্যাবল বাহ্যিক আঘাত হতে রক্ষা পায়।
            ক্যাবলের প্রধান তিনটি অংশ থাকে। যথা-</p>

          <p style="color:#000000;">ক) পরিবাহী,
            <br>খ) ইনসুলেটর,
            <br>গ) যান্ত্রিক প্রতিরক্ষা।</p>

          <p style="color:#000000;">যুক্ত ক্যাবল।</p>

          <p style="color:#000000;">
            <strong>বৈদ্যুতিক তার বা ক্যাবলের মধ্যে পার্থক্যঃ</strong>
          </p>

          <p style="color:#000000;">বৈদ্যুতিক কাজে তার ও ক্যাবল উভয়ই পরিবাহক হিসাবে ব্যবহার করা হয়। আদর্শগতদিক দিয়ে এদের মধ্যে বিশেষ কোন ভিন্নতা পরিলক্ষিত হয়না। তদুপরি যৎসামান্য বিষয়ে যে বেমিল লÿ্য করা যায় সেগুলো হলো-</p>
        </div>
      </div>
      <h4 id="page24-heading137" style="color:#F63F08;font-style:italic;">বৈদ্যুতিক তার বা ক্যাবলের শ্রেণী বিভাগঃ</h4>
      <div class="item item-body" id="page24-list-item-container135">
        <div id="page24-markdown144" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">বৈদুতিক কাজে ব্যবহৃত পরিবাহককে প্রধানত দু’টি ভাগে ভাগ করা হয় যথা- 1. সাধারণ তার (Wire), ২. গোছা তার (Cable)। এ ছাড়া তার ও ক্যাবলকে আরো দু’ভাগে ভাগ করা হয় যেমন- 1. নমনীয় তার বা ক্যাবল (Flexible Cable). 2. অনমনীয় তার বা ক্যাবল (Non flexible Cable).
            কোরের সংখ্যার উপর ভিত্তি করে তার বা ক্যাবল চার প্রকার- 1. এক কোর (Single core), ২. দুই কোর (Twin core), ৩. তিন কোর (Three core), ৪. বহু কোর (Multicore)।</p>

          <p style="color:#000000;">এ ছাড়া অন্তকর, ব্যবহার ক্ষেত্র, ব্যবহার কাল, উৎপাদন কৌশল ও উপাদান ইত্যাদির উপর ভিত্তি করে তার ও ক্যাবলকে নিম্নোক্ত ভাবে নাম করণ করা হয়- 1. পিভিসি (PVC) Poly vinal chloride তার 2. এলএস (L.S) Lead Sheathed তার 3. সিটিএস (CTS) Cab Tyre sheathed
            তার, 4. আবহাওয়া রোধী (Weather Proof) তার 5. টিআরএস বা (TRS) Tough Rubber sheathed তার 6. পেপার ইন্স্যুলেটেড তার 7. ভিআইআর (VIR) Volcanized indian rubber তার 8. পস্নাস্টিক ইন্স্যুলেটেড তার
            <br>9. এমএস (MS) Metal Sheathed তার 10. মিনারেল ইন্স্যুলেটেড তার 11. নাইক্রোম তার, ১২. সুপার এনামেল তার, ১৩. ইউরেকা তার।</p>

          <p style="color:#000000;">তার ও ক্যাবরের বর্ণনা ঃ বিভিন্ন রকম কাজের জন্য বিভিন্ন ধরণের তার ও ক্যাবল ব্যবহার হয়ে থাকে । সে কারণে তার ও ক্যাবল সম্পর্কে জ্ঞান থাকা দরকত্ম। এ প্রয়োজনে বিভিন্ন রকরে তার ও ক্যাবলের বর্ণনা করা হল- ফ্লেক্সিবল তার বা ক্যাবলঃ নমনীয় তার অধীক সংখ্যক
            খুব চিকন তারের সমন্বয়ে তৈরী হয় বিধায় এটি বিশেষ নমনীয় হয়। এটা খাটি রাবার, V.R, P.V.C ইত্যাদির সাহায্যে ইন্স্যুলেটেড করা থাকে। নন-ফ্লেক্সিবল তার বা ক্যাবলঃ অনমনীয় তার খুব চিকন হয় না অপেক্ষাকৃত মোটা ও শক্ত । তবে কঠিন অবস্থা অপেক্ষা কিছুটা নমনীয়।
            নমনীয় তারের মত সহজে নিয়ন্ত্রণ করা যায় না। এটা অমত্মরক বা অমত্মরণ বিহীন হতে পারে। ভি. আই. আরঃ কপার ও টিনের শংকর বা অ্যালুমিনিয়াম দ্বারা নির্মিত পরিবাহী যা ভল্কানাইজ্ড রাবার দ্বারা ইন্স্যুলেটেড থাকে। এতারের উপর যথাক্রমে টিনের প্রলেপ ও গন্ধক
            মেশানো রাবার বা I.R দ্বারা ইন্স্যুলেটেড করার পর উপরীভাগে কাপড়ের ফিতা দ্বারা আবৃত্ত করা হয়। সব শেষে কাপড়ের ফিতার আবরণের উপর দিয়ে পানি অভেদ্য সুতার বিনুনী আর বাইরে রাবার থাকে।
            <br>পি.ভি.সিঃ কপার বা অ্যালুমিনিয়াম দ্বারা নির্মিত পরিবাহী যা পলি ভিনাইল ক্লোরাইড (প্ল-াস্টিক কম্পাউন্ড) দ্বারা ইন্স্যুলেটেড থাকে। তাপ সহ্য ক্ষমতা কম বিধায় অতি তাপে গলে যাওয়ার সম্ভাবনা থাকে। এর ক্যাবল সিঙ্গল বা টুইন বা থ্রি কোরের হয়ে থাকে। এর
            ইন্স্যুলেটর রাবার অপেক্ষা শক্ত হওয়ার কারণে বেশী ব্যবহার হচ্ছে। টি. আর. এস. অথবা সি.টি.এসঃ এটা ১-২ বা ৩টি V.I.R এর ইন্সুলেশন যুক্ত পরিবাহী যা ভল্কানাইজ্ড টাফ রাবার দ্বারা ইন্স্যুলেটেড থাকে । এ খুব মোজবুত হওয়াতে ইহাকে ক্যাব টায়ার শীথেড (সি.টি.এস)
            ক্যাবলও বলা হয়। এম. আইঃ এ ধরণের তার বা ক্যাবল V.I.R ইন্স্যুলেটেড যুক্ত পরিবাহী । এর উপরে মেটাল শীথেড (ম্যাগনেসিয়াম অক্সাইড) দেয়া থাকে। তাই এটা পানি বা অগ্নিনিরোধক ক্যাবল হিসাবে পরিচিত। বারুদ কারখানা ও পেট্রোলিয়ামের স্টোরে বা কোম্পানীতে ওয়্যারিং-এ
            এটা ব্যবহার করা হয়। ওয়েদার প্রুফ তার বা ক্যাবলঃ ওয়েদরি প্রুফ তার বা ক্যাবল আবহাওয়ার উপযোগীভাবে তৈরী করা হয়। এটি V.I.R এর ইন্স্যুলেশন যুক্ত পরিবাহী । এর উপর বার্ণিশ করা কাপড়রের ফিতা জড়ানো থাকে। তার উপর আবার সুতার বুনেন থাকে। জলীয় বাষ্পের প্রভাব
            হতে রক্ষার জন্যে এতে বিটুমিন বা বিটুমিন জাতীয় যৌগিক পদার্থ ব্যবহার করা হয়।</p>
        </div>
      </div>
      <h4 id="page24-heading138" style="color:#F63F08;font-style:italic;">বৈদ্যুতিক তারের স্পেসিফিকেশন (Specification of electric wire)</h4>
      <div class="item item-body" id="page24-list-item-container141">
        <div id="page24-markdown145" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">তার বিন্যাস ব্যতিত বিদ্যুতায়ন সম্ভব নয়। বিদ্যুতায়নের বহুবিদ কাজে বহু প্রকার তার বা ক্যাবল ব্যবহার করা হয়। কাজের বিভিন্নতার কারণে ভিন্ন ভিন্ন তার বা ক্যাবল ব্যবহার হয়। কাজের ভিন্নতা বলতে প্রয়োজনীয় বৈদ্যুতিক চাপ ও বিদ্যুৎ প্রবাহকে বুঝানো হয়। ফলে
            পরিমিত ভোল্টেজ ও কারেন্টে সরবরাহের উপর ভিত্তি পরিবাহী তথা তার বা ক্যাবল
            <strong>নির্বাচন করা হয়। মূলত</strong>ঃ</p>

          <p style="color:#000000;">কারেন্ট পরিবহণ ক্ষমতার উপর ভিত্তি করেই তার বা ক্যাবল অর্থাৎ সঠিক মানের তার বা ক্যাবল সাইজ নির্ধারণ করা হয়। আর সঠিক মানের তার বা ক্যাবল নির্ধারণের জন্য ওর স্পেসিফিকেশ ও কালার কোড জানা অপরিহার্য। তার বা ক্যাবলের বিস্তারিত বিবরণের তথ্য ভান্ডারকে
            ’’স্পেসিফিকেশন’’ বলে। যার মাধ্যমে তার বা ক্যাবলের নাম, সাইজ, স্ট্যান্ড বা কোর সংখ্যা, প্রতি খেইয়ের পরিমাপ বা গেইজ নাম্বার, ব্যবহার ক্ষেত্র, ভোল্ট গ্রেড ইত্যাদি জানা যায়। তার বা ক্যাবলের কারেন্ট বহণ ক্ষমতা বলতে ওর ভিতর দিয়ে প্রবাহমান সেই সর্বোচ্চ
            বিদ্যুৎ প্রবাহকে বুঝায় যাতে পরিবহীর তাপমাত্রা বৃদ্ধিজনিত কারণে ইন্স্যুলেশণ বিনষ্ট না হয় এবং বিদ্যুৎ প্রবাহের ফলে তাতে ভোল্টেজ ঘাটতির পরিমাণও অনুমোদনযোগ্য। তাই তার বা ক্যাবলে সর্বোচ্চ যে পরিমাণ কারেন্ট নিরাপদে প্রবাহিত হয়ে লোডকে কর্মক্ষম রাখতে
            সক্ষম তাকে তার বা ক্যাবলের বিদ্যুৎ বহণ ক্ষমতা বলে।</p>

          <p style="color:#000000;"> তার বা ক্যাবলের বিদ্যুৎ বহণ ক্ষমতা নিম্নোক্ত নিয়ামকের উপর নির্ভবর করে-</p>

          <p style="color:#000000;">১। তার বা ক্যাবলের উপাদানের উপর,
            <br>২। তার বা ক্যাবলের প্রস্থচ্ছেদের ক্ষেত্রফলের উপর, ৩। তার বা ক্যাবলের আপেক্ষিক রোধের উপর,
            <br>৪। তার বা ক্যাবলে প্রয়োগকৃত ভোল্টেজের উপর, ৫। তার বা ক্যাবলের কোর বা খেই সংখ্যার উপর,
            <br>৬। তার বা ক্যাবলের ইন্স্যুলেশনের উপর, ৭। তার বা ক্যাবলে তাপমাত্রার প্রভাবের উপর।</p>

          <p style="color:#000000;">তার বা </p>

          <p style="color:#000000;">
            <strong>ক্যাবলের ভোল্টেজ গ্রেডঃ </strong>
          </p>

          <p style="color:#000000;">সর্বোচ্চ যত ভোল্ট বৈদ্যুতি চাপ বা ভোল্টেজ কোন তার বা ক্যাবলের উপযোগী তাকে ভোল্টেজ গ্রেড বলে। এই ভোল্টেজ গ্রেড জানা খুবই জরুরী কারণ এ জ্ঞানের অভাবে প্রয়োজনীয় স্থানে সঠিক সাইজের তার ব্যবহার না করার জন্য অপচয় ও দুর্ঘটনা ঘটতে পারে। সকল তার বা ক্যাবলের
            কারেন্ট বহণ ক্ষমতা এক নয়। সিঙ্গল কোর ক্যাবল এবং মোটা তারের কারেন্ট বহণ ক্ষমতা অপেক্ষাকৃত বেশি। সাধারণ ওয়্যারিং-এর কাজে (সিঙ্গল ফেজ ব্যবস্থায় আবাসনে) 250/440 ভোল্ট গ্রেড ও (থ্রি ফেজ ব্যবস্থায় শিল্প কারখানায়) 660/1100 ভোল্ট গ্রেডের তার বা ক্যাবল
            ব্যবহার করা হয়। 250/440 ভোল্ট গ্রেডের অর্থ হলো- বিদ্যুৎ সরবরাহ সিস্টেমে লাইন ও আর্থের মধ্যে ভোল্টেজ 250 ভোল্ট এবং লাইন ও লাইনের মধ্যে ভোল্টেজ 400 ভোল্ট এর বেশি হয় না। তদ্রুপ 660/1100 ভোল্ট গ্রেডের অর্থ হলো- বিদ্যুৎ সরবরাহ সিস্টেমে লাইন ও আর্থের
            মধ্যে ভোল্টেজ 660 ভোল্ট এবং লাইন ও লাইনের মধ্যে ভোল্টেজ 1100 ভোল্ট এর বেশি হয় না।</p>

          <p style="color:#000000;">
            <strong>তারের সাইজঃ </strong>
          </p>

          <p style="color:#000000;"> তারের সাইজ বলতে তার বা ক্যাবল কন্ডাক্টরের মধ্যে কত খেই তার আছে এবং প্রত্যেক খেইয়ের (তার) ব্যাস বা গেইজ নাম্বার কত তাকে বুঝানো হয়। তারের সঠিক সাইজ নির্বাচন করতে হলে সে পরিবাহীর সাইজ, ধাতুর প্রকৃতি ও রকমভেদ, কোরের সংখ্যা, ইন্স্যুলেশনের প্রকৃতি,
            ভোল্টেজ গ্রেড ইত্যাদি যথাযথভাবে জানা প্রয়োজন। ওয়্যার গেইজ বা স্ট্যান্ডার্ড ওয়্যার গেইজ (S.W.G) দ্বারা তারের ব্যাস মাপা হয়। ঐ ওয়্যার গেইজে সংখ্যামাণ লিপিবদ্ধ থাকে। গেইজ নাম্বার যত কম হবে ঐ তারের তত চিকন (ব্যাস তত কম ) হবে। 3/22 বলতে ’’3 খেই,
            গেইজ নাম্বার 22 এবং Strand সমন্বয়ে’’ তৈরী তার বা ক্যাবল বুঝায়। বর্তমানে গেইজ নাম্বারের পরিবর্তে ইঞ্চি বা মিলি মিটার ব্যবহার করা হচ্ছে। যেমন- 3/22 এর পরিবর্তে 3/0.029" বা 3/0.736 মিঃমিঃ এর মাধ্যমে প্রকাশ করা হচ্ছে। 3/0.029"এর অর্থ 3 খেই ও 0.029"
            ব্যাসের তার বা ক্যাবল। হাউজ ওয়্যারিং এ ব্যবহৃত ৫টি তারের সাইজ-</p>

          <p style="color:#000000;">ক. 1/0.044 এর অর্থ ১ খেই (১টা) তার এবং উহার ব্যাস 0.044 খ. 3/0.044 এর অর্থ ৩ খেই (৩টা) তার এবং উহার ব্যাস 0.044 গ. 3/0.029 এর অর্থ ৩ খেই (৩টা) তার এবং উহার ব্যাস 0.029 ঘ. 3/0.036 এর অর্থ ৩ খেই (৩টা) তার এবং উহার ব্যাস 0.036 ঙ. 7/0.029 এর
            অর্থ ৭ খেই (৭টা) তার এবং উহার ব্যাস 0.029 হাইজ ওয়্যারিং-এ ৩/২২, ৩/২০, ৭/২২ ও ৭/২০ তার ব্যবহার করা হয় তবে লাইটিং কাজে ৩/২২ ও ৩/২০ অধীক হারে ব্যবহৃত হয়। সুইচ বোর্ডের লাইনের জন্যে ৩/২০ কিন্তু ছোট ছোট বাড়ীর ইন্কামিং লাইনের জন্য ৭/২০ তার ব্যবহার
            হয়। কয়েকটি ফ্লেক্সিবল তারের সাইজ হলো- a. 14/0.0076 b. 19/0.0076 c. 21/0.0076
            <br>d. 2x14/0.0076 e. 2x 19/0.0076 f. 2x 21/0.0076 </p>

          <p style="color:#000000;">
            <strong>তার বা ক্যাবলের কালার কোড (Color code) </strong>
          </p>

          <p style="color:#000000;"> বৈদ্যুতিক তার বা ক্যাবল চিহ্ণিত করতে বিভিন্ন প্রকার কালার ব্যবহার করা হয় যাকে তার বা ক্যাবলের কালার কোড বলে। যেমন- টুইন কোর তারে একটা লাল ও অপরটি কালো বর্ণের ইন্স্যুলেটেড হয় এবং থ্রি- কোর তারে লাল, কালো ও সবুজ বঙের তিনটি ইন্স্যুলেটেড কন্ডাক্টর
            বিদ্যমান। লাল, কালো ও সবুজ বর্ণে যথাক্রমে ফেজ (Phase), নিউট্রাল (Neutral) ও আর্থ (Earth) বুঝায়।</p>
        </div>
      </div>
      <h4 id="page24-heading139" style="color:#F63F08;font-style:italic;">বৈদ্যুতিক তারের স্পেসিফিকেশন </h4>
      <div class="item item-body" id="page24-list-item-container142">
        <div id="page24-markdown147" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">তার বিন্যাস ব্যতিত বিদ্যুতায়ন সম্ভব নয়। বিদ্যুতায়নের বহুবিদ কাজে বহু প্রকার তার বা ক্যাবল ব্যবহার করা হয়। কাজের বিভিন্নতার কারণে ভিন্ন ভিন্ন তার বা ক্যাবল ব্যবহার হয়। কাজের ভিন্নতা বলতে প্রয়োজনীয় বৈদ্যুতিক চাপ ও বিদ্যুৎ প্রবাহকে বুঝানো হয়। ফলে
            পরিমিত ভোল্টেজ ও কারেন্টে সরবরাহের উপর ভিত্তি পরিবাহী তথা তার বা ক্যাবল নির্বাচন করা হয়। মূলতঃ কারেন্ট পরিবহণ ক্ষমতার উপর ভিত্তি করেই তার বা ক্যাবল অর্থাৎ সঠিক মানের তার বা ক্যাবল সাইজ নির্ধারণ করা হয়। আর সঠিক মানের তার বা ক্যাবল নির্ধারণের
            জন্য ওর স্পেসিফিকেশ ও কালার কোড জানা অপরিহার্য। তার বা ক্যাবলের বিস্তারিত বিবরণের তথ্য ভান্ডারকে ’’স্পেসিফিকেশন’’ বলে। যার মাধ্যমে তার বা ক্যাবলের নাম, সাইজ, স্ট্যান্ড বা কোর সংখ্যা, প্রতি খেইয়ের পরিমাপ বা গেইজ নাম্বার, ব্যবহার ক্ষেত্র, ভোল্ট
            গ্রেড ইত্যাদি জানা যায়। তার বা ক্যাবলের কারেন্ট বহণ ক্ষমতা বলতে ওর ভিতর দিয়ে প্রবাহমান সেই সর্বোচ্চ বিদ্যুৎ প্রবাহকে বুঝায় যাতে পরিবহীর তাপমাত্রা বৃদ্ধিজনিত কারণে ইন্স্যুলেশণ বিনষ্ট না হয় এবং বিদ্যুৎ প্রবাহের ফলে তাতে ভোল্টেজ ঘাটতির পরিমাণও
            অনুমোদনযোগ্য। তাই তার বা ক্যাবলে সর্বোচ্চ যে পরিমাণ কারেন্ট নিরাপদে প্রবাহিত হয়ে লোডকে কর্মক্ষম রাখতে সক্ষম তাকে তার বা ক্যাবলের বিদ্যুৎ বহণ ক্ষমতা বলে।</p>

          <p style="color:#000000;"> তার বা ক্যাবলের বিদ্যুৎ বহণ ক্ষমতা নিম্নোক্ত নিয়ামকের উপর নির্ভবর করে-</p>

          <p style="color:#000000;">১। তার বা ক্যাবলের উপাদানের উপর,
            <br>২। তার বা ক্যাবলের প্রস্থচ্ছেদের ক্ষেত্রফলের উপর, ৩। তার বা ক্যাবলের আপেক্ষিক রোধের উপর,
            <br>৪। তার বা ক্যাবলে প্রয়োগকৃত ভোল্টেজের উপর, ৫। তার বা ক্যাবলের কোর বা খেই সংখ্যার উপর,
            <br>৬। তার বা ক্যাবলের ইন্স্যুলেশনের উপর, ৭। তার বা ক্যাবলে তাপমাত্রার প্রভাবের উপর।</p>

          <p style="color:#000000;">
            <strong>তার বা ক্যাবলের ভোল্টেজ গ্রেডঃ </strong>
          </p>

          <p style="color:#000000;">সর্বোচ্চ যত ভোল্ট বৈদ্যুতি চাপ বা ভোল্টেজ কোন তার বা ক্যাবলের উপযোগী তাকে ভোল্টেজ গ্রেড বলে। এই ভোল্টেজ গ্রেড জানা খুবই জরুরী কারণ এ জ্ঞানের অভাবে প্রয়োজনীয় স্থানে সঠিক সাইজের তার ব্যবহার না করার জন্য অপচয় ও দুর্ঘটনা ঘটতে পারে। সকল তার বা ক্যাবলের
            কারেন্ট বহণ ক্ষমতা এক নয়। সিঙ্গল কোর ক্যাবল এবং মোটা তারের কারেন্ট বহণ ক্ষমতা অপেক্ষাকৃত বেশি। সাধারণ ওয়্যারিং-এর কাজে (সিঙ্গল ফেজ ব্যবস্থায় আবাসনে) 250/440 ভোল্ট গ্রেড ও (থ্রি ফেজ ব্যবস্থায় শিল্প কারখানায়) 660/1100 ভোল্ট গ্রেডের তার বা ক্যাবল
            ব্যবহার করা হয়। 250/440 ভোল্ট গ্রেডের অর্থ হলো- বিদ্যুৎ সরবরাহ সিস্টেমে লাইন ও আর্থের মধ্যে ভোল্টেজ 250 ভোল্ট এবং লাইন ও লাইনের মধ্যে ভোল্টেজ 400 ভোল্ট এর বেশি হয় না। তদ্রুপ 660/1100 ভোল্ট গ্রেডের অর্থ হলো- বিদ্যুৎ সরবরাহ সিস্টেমে লাইন ও আর্থের
            মধ্যে ভোল্টেজ 660 ভোল্ট এবং লাইন ও লাইনের মধ্যে ভোল্টেজ 1100 ভোল্ট এর বেশি হয় না।</p>

          <p style="color:#000000;">
            <strong>তারের সাইজঃ </strong>
          </p>

          <p style="color:#000000;"> তারের সাইজ বলতে তার বা ক্যাবল কন্ডাক্টরের মধ্যে কত খেই তার আছে এবং প্রত্যেক খেইয়ের (তার) ব্যাস বা গেইজ নাম্বার কত তাকে বুঝানো হয়। তারের সঠিক সাইজ নির্বাচন করতে হলে সে পরিবাহীর সাইজ, ধাতুর প্রকৃতি ও রকমভেদ, কোরের সংখ্যা, ইন্স্যুলেশনের প্রকৃতি,
            ভোল্টেজ গ্রেড ইত্যাদি যথাযথভাবে জানা প্রয়োজন। ওয়্যার গেইজ বা স্ট্যান্ডার্ড ওয়্যার গেইজ (S.W.G) দ্বারা তারের ব্যাস মাপা হয়। ঐ ওয়্যার গেইজে সংখ্যামাণ লিপিবদ্ধ থাকে। গেইজ নাম্বার যত কম হবে ঐ তারের তত চিকন (ব্যাস তত কম ) হবে। 3/22 বলতে ’’3 খেই,
            গেইজ নাম্বার 22 এবং Strand সমন্বয়ে’’ তৈরী তার বা ক্যাবল বুঝায়। বর্তমানে গেইজ নাম্বারের পরিবর্তে ইঞ্চি বা মিলি মিটার ব্যবহার করা হচ্ছে। যেমন- 3/22 এর পরিবর্তে 3/0.029" বা 3/0.736 মিঃমিঃ এর মাধ্যমে প্রকাশ করা হচ্ছে। 3/0.029"এর অর্থ 3 খেই ও 0.029"
            ব্যাসের তার বা ক্যাবল। হাউজ ওয়্যারিং এ ব্যবহৃত ৫টি তারের সাইজ-</p>

          <p style="color:#000000;">ক. 1/0.044 এর অর্থ ১ খেই (১টা) তার এবং উহার ব্যাস 0.044 খ. 3/0.044 এর অর্থ ৩ খেই (৩টা) তার এবং উহার ব্যাস 0.044 গ. 3/0.029 এর অর্থ ৩ খেই (৩টা) তার এবং উহার ব্যাস 0.029 ঘ. 3/0.036 এর অর্থ ৩ খেই (৩টা) তার এবং উহার ব্যাস 0.036 ঙ. 7/0.029 এর
            অর্থ ৭ খেই (৭টা) তার এবং উহার ব্যাস 0.029 হাইজ ওয়্যারিং-এ ৩/২২, ৩/২০, ৭/২২ ও ৭/২০ তার ব্যবহার করা হয় তবে লাইটিং কাজে ৩/২২ ও ৩/২০ অধীক হারে ব্যবহৃত হয়। সুইচ বোর্ডের লাইনের জন্যে ৩/২০ কিন্তু ছোট ছোট বাড়ীর ইন্কামিং লাইনের জন্য ৭/২০ তার ব্যবহার
            হয়। কয়েকটি ফ্লেক্সিবল তারের সাইজ হলো- a. 14/0.0076 b. 19/0.0076 c. 21/0.0076
            <br>d. 2x14/0.0076 e. 2x 19/0.0076 f. 2x 21/0.0076 </p>

          <p style="color:#000000;">
            <strong>তার বা ক্যাবলের কালার কোড (Color code)</strong>
          </p>

          <pre>
            <code> বৈদ্যুতিক তার বা ক্যাবল চিহ্ণিত করতে বিভিন্ন প্রকার কালার ব্যবহার করা হয় যাকে তার বা ক্যাবলের কালার কোড বলে। যেমন- টুইন কোর তারে একটা লাল ও অপরটি কালো বর্ণের ইন্স্যুলেটেড হয় এবং থ্রি- কোর তারে লাল, কালো ও সবুজ বঙের তিনটি ইন্স্যুলেটেড কন্ডাক্টর
              বিদ্যমান। লাল, কালো ও সবুজ বর্ণে যথাক্রমে ফেজ (Phase), নিউট্রাল (Neutral) ও আর্থ (Earth) বুঝায়।</code>
          </pre>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>