<ion-view title="বৈদ্যুতিক বর্তনী  " id="page27">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page27-card223">
      <h4 id="page27-heading150" style="color:#F56B0D;font-style:italic;">বৈদ্যুতিক বর্তনী (Electrical circuit</h4>
      <div class="item item-body" id="page27-list-item-container167">
        <div id="page27-markdown183" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">উৎস, পরিবাহক, লোড ইত্যাদির মাধ্যমে বিদ্যুৎ প্রবাহিত হয়। উৎস হিসেবে ব্যাটারী বা জেনারেটর বা সাব-স্টেশন, মাধ্যম বা পথ হিসেবে তার বা ক্যাবল এবং লোড হিসেবে লাইট, হিটার, মোটর রোধ, ডায়োড, ট্রানজিস্টর ইত্যাদি ব্যবহার হয়। মাধ্যমের বা পরিবাহীর যে কোন
            বিন্দু হতে বিদ্যুৎ প্রবাহিত হয়ে পুনঃরায় সেবিন্দুতে ফিরে আসার পথকে বর্তনী বলা হয়। অর্থাৎ সার্কিট হল উৎস, লোড এবং সংযোগকারী তারের সমন্বয়ে গঠিত সুপরিকল্পিত তার ব্যবস্থা যার অধীনে নিয়ন্ত্রণ, রক্ষণ ও পরিমাপক ব্যবস্থা (ডিভাইস) বিদ্যমান। এক কথায়
            বর্তনী (circuit) হল বিদ্যুৎ চলার পথ বা মাধ্যম।</p>
        </div>
      </div>
      <h4 id="page27-heading151" style="color:#F56B0D;font-style:italic;">বৈদ্যুতিক বর্তীনর লে-আউট </h4>
      <div class="item item-body" id="page27-list-item-container168">
        <div id="page27-markdown184" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বিদ্যুৎ প্রবাহের জন্য বর্তনীর প্রয়োজন হয়। একে বেখাচিত্র বা লে আউটের মাধ্যমে প্রকাশ করা যায়। যে রেখা চিত্রের সাহায্যে সুপরিকল্পিতভাবে সার্কিটের ৫টি উপাদান বা নিয়ামকের অবস্থান প্রকাশ করা হয় তাকে বৈদ্যুতিক বর্তনীর লে-আউট বলে। সার্কিটের ৫টি উপাদানের
            অবস্থান প্রদর্শনপূর্বক একটি বৈদ্যুতিক বর্তনীর লে-আউট চিত্রে দেখানো হল-</p>

          <p style="color:#000000;font-size:15px;">চিত্র- ১৭.১ঃ একটি বৈদ্যুতিক বর্তনীর লে-আউট। K. বিদ্যুৎ উৎসঃ যেখান হতে বিদ্যুৎ শক্তি পাওয়া যায়। যেমন-ব্যাটারী, জেনারেটর ইত্যাদি। খ. লোডঃ যা থেকে প্রয়োজনীয় কাজ পাওয়া যায়। লোড সাধারণতঃ তিন প্রকার। যথা- ১. লাইট লোড- বাতি, </p>

          <p style="color:#000000;font-size:15px;">২. রেজিস্টিভ (হিট) লোড- হিটার, ইস্ত্রি, </p>

          <p style="color:#000000;font-size:15px;"> ৩. ইন্ডাক্টিভ (ম্যাগনেটিক) লোড- মোটর ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">M. পরিবাহীঃ যার মাধ্যমে বিদ্যুৎ প্রবাহিত হয়। যেমন- ওয়্যার, ক্যাবল ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">N. নিয়ন্ত্রকঃ বিদ্যুৎ প্রবাহকে নিয়ন্ত্রণকারী (Off-On) যন্ত্র। যেমন-সুইচ, রিলে ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">O. রক্ষণ যন্ত্রঃ লোড বা সার্কিটের বিভিন্ন ক্ষয়-ক্ষতি হতে রক্ষাকারক যন্ত্র। যেমন-ফিউজ, ওভার কারেন্ট প্রটেক্টর, সার্কিট ব্রেকার, রিলে, ভোল্ট গার্ড ইত্যাদি।</p>
        </div>
      </div>
      <h4 id="page27-heading152" style="color:#F56B0D;font-style:italic;">বর্তনীর শ্রেণী বিন্যাস </h4>
      <div class="item item-body" id="page27-list-item-container169">
        <div id="page27-markdown185" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">লোড হতে কাজ পাওয়ার জন্য লোডে বিদ্যুৎ প্রবাহ ঘটানো প্রয়োজন। লোড সমূহ সুবিধাজনকভাবে তারের সাথে যুক্ত করে ব্যবহার হয়। বর্তনীতে সংযুক্ত রোধ (লোড) গুলো একত্রে একটা রোধের মত ক্রিয়া করে। লোড পরিচালনার নিমিত্তে বিদ্যুৎ প্রবাহের জন্য পরিকল্পিতভাবে ওয়্যার
            বিন্যাসের ব্যবস্থা করা হয়। রোধের ওয়্যারের এবিন্যাস বিভিন্নভাবে করা যায়। নিম্নে বিদ্যুৎ প্রবাহের জন্য ব্যবহৃত ওয়্যার বিন্যাসের বা সার্কিটের প্রকারভেদ দেখানো হল- সার্কিটে লোড সংযোগের উপর ভিত্তি করে সার্কিট তিন প্রকার-</p>

          <p style="color:#000000;font-size:15px;">ক) সিরিজ সার্কিট (Series circuit). </p>

          <p style="color:#000000;font-size:15px;">খ) প্যারালেল সার্কিট (Parallel Circuit).</p>

          <p style="color:#000000;font-size:15px;">গ) কম্বিনেশন সার্কিট (Combination circuit). সার্কিটে বিদ্যুৎ প্রবাহ অবস্থার উপর ভিত্তি করে তিন প্রকার-</p>

          <p style="color:#000000;font-size:15px;">ক) বদ্ধ বর্তনী (Close circuit)</p>

          <p style="color:#000000;font-size:15px;">, খ) মুক্ত বর্তনী (Open circuit),
            <br>গ ) শর্ট বর্তনী (Short circuit)</p>
        </div>
      </div>
      <h4 id="page27-heading153" style="color:#F56B0D;font-style:italic;">বিভিন্ন প্রকার সার্কিটের সচিত্রক বর্ণনাঃ</h4>
      <div class="item item-body" id="page27-list-item-container170">
        <div id="page27-markdown186" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>সিরিজ সার্কিটঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">যদি বর্তনীতে একাধিক লোড চিত্রানুযায়ী পর্যায়ক্রমে এমনভাবে সংযোগ থাকে যখন বিদ্যুৎ প্রবাহর একটি মাত্র পথ থাকে তখন তাকে সিরিজ সার্কিট বা অনুক্রম বর্তনী বলে। সিরিজ সার্কিটে লোড গুলো একটা আরেকটার উপর নির্ভরশীল। এক্ষেত্রে একটি লোড অকেজো হলে বাকী গুলোতে
            বিদ্যুৎ প্রবাহ চলে না। সিরিজ সার্কিটে কারেন্ট সমান থাকে কিন্তু ভোল্টেজ লোড অনুযায়ী ভাগ হয়ে যায়। মোট রোধ হবে সার্কিটে ব্যবহৃত সকল রোধের সংখ্যামানের যোগফলের সমান। </p>

          <p style="color:#000000;font-size:15px;">
            <strong>প্যারালের সার্কিটঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">যখন একাধিক লোড চিত্রানুযায়ী পরস্পরের সহিত সমান্তরালে সংযোগ থাকে এবং বিদ্যুৎ প্রবাহের একাধিক পথ সৃষ্টি হয় তখন তাকে প্যারালেল সার্কিট বলে। এক্ষেত্রে একটা লোড অকেজো হলে বাকী গুলোতে বিদ্যুৎ প্রবাহ চলতে পাওে এবং কাজ করে। সিরিজ সার্কিটে ভোল্টেজ সবত্র
            সমান থাকে কিন্তু কারেন্ট লোড অনুযায়ী ভাগ হয়ে যায়। সার্কিটের মোট রোধ হবে ব্যবহৃত সবচেয়ে কম মানের রোধের চেয়েও কম হয়। </p>

          <p style="color:#000000;font-size:15px;">চিত্র- ১৭.৩ঃ প্যারালেল সার্কিট।</p>

          <p style="color:#000000;font-size:15px;"> কম্বিনেশন সার্কিট ঃ</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/4eFlhVtSce6glDcHiABD_mmmmmmmmmm.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page27-heading154" style="color:#F56B0D;font-style:italic;">সিরিজ ও প্যারালেল সার্কিটের বৈশিষ্ট্যগত পার্থক্যঃ</h4>
      <div class="item item-body" id="page27-list-item-container171">
        <div id="page27-markdown187" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সিরিজ ও প্যারালেল সার্কিটের বৈশিষ্ট্যগত বেশ কিছু পার্থক্য পরিলক্ষিত হয়। বিদ্যুতায়নের ক্ষেত্রে এ পার্থক্য সম্পর্কে জ্ঞাত হওয়া খুবই জরুরী বিধায় সিরিজ ও প্যারালেল সার্কিটের বৈশিষ্ট্যগত পার্থক্য নিম্নে প্রদত্ত হলো</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/zlBJRHKDRoWfOsJX33C2_lllllllllllllllll.jpg" style="display: block; width: 100%; height: 325px; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>