<ion-view title="রেফ্রিজারেশন টুলস" id="page11" style=" background-color:#0E2240;">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="page11-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="page11-slide215" style="background:url(&quot;img/bfqcNRLCQOOqGAR17x6V_Screenshot_20180310-221116.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page11-slide216" style="background:url(&quot;img/8QpInZL5TRp1Gfx4GNg9_Screenshot_20180310-221149.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page11-slide217" style="background:url(&quot;img/0CTooFSdS52RlJMkTi25_Screenshot_20180310-221213.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page11-slide218" style="background:url(&quot;img/npBtNRSRRGuwdBPFrFJQ_Screenshot_20180310-221343.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page11-slide219" style="background:url(&quot;img/hx7Vy66RUk71pRVOYsKA_Screenshot_20180310-221359.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page11-slide220" style="background:url(&quot;img/sE9aH9r9QVSyR9CulS3C_Screenshot_20180310-221416.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page11-slide221" style="background:url(&quot;img/rENJUukSRamWT3P3ZtUj_Screenshot_20180310-221444.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page11-slide222" style="background:url(&quot;img/xps383tSHCNISIrdtOOX_Screenshot_20180310-221502.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page11-slide223" style="background:url(&quot;img/tlxY8oI6Tk2OwH3aZ4Iw_Screenshot_20180310-221518.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page11-slide224" style="background:url(&quot;img/io3WpmgTHSBLPVN6N97q_Screenshot_20180310-221559.jpg&quot;) no-repeat center;background-size:cover;background-color:#EEE9EE;"></ion-slide-page>
      <ion-slide-page id="page11-slide214" style="background:url(&quot;img/eszqZaHmSwmUyJwlg3Fh_Screenshot_20180310-221016.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="list card" id="page11-card24">
      <ion-item class="assertive" id="page11-list-item14">টুল ব্যাগ</ion-item>
      <div class=" item item-image">
        <img src="img/4.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="assertive" id="page11-list-item15">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/nzGa0UiQ7CRkPm6zGuUP_Screenshot_20180310-221016.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="assertive" id="page11-list-item16">মেকানিকাল বেন্ডের</ion-item>
      <div class=" item item-image">
        <img src="img/2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="assertive" id="page11-list-item17">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item158">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/5.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item578">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/6.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item2789">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/7.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item278">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/8.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item45">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/9.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item797">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/10.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item147">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/11.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item879">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/12.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item247">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/13.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item69">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/14.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item55">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/15.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item09">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/16.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item90">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/17.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item111">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/18.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item88">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/19.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item7">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/20.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item99">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/21.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item18">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/22.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item19">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/23.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item20">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/24.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item21">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/25.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item22">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/26.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item23">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/27.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item24">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/28.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="assertive" id="page11-list-item2589">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/29.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item2588">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/30.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item25144">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/31.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item2569">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/32.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item25245">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/33.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item257878">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/34.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item2544">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/35.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item2555">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/36.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div><ion-item class="assertive" id="page11-list-item2558">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/37.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="assertive" id="page11-list-item2522">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/38.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div> <ion-item class="assertive" id="page11-list-item25228">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/39.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div> <ion-item class="assertive" id="page11-list-item25229">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/40.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div> <ion-item class="assertive" id="page11-list-item25227">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/41.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div> <ion-item class="assertive" id="page11-list-item2527">ভাইব্রেশন এলিমিনাটোর</ion-item>
      <div class=" item item-image">
        <img src="img/42.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>
