<ion-view title="রিফ্রিজারেশন কন্ট্রোলস্" id="page37">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page37-card234">
      <h4 id="page37-heading206" style="color:#F64910;font-style:italic;">রিফ্রিজারেশন কন্ট্রোল্স (নিয়ন্ত্রক)</h4>
      <div class="item item-body" id="page37-list-item-container234">
        <div id="page37-markdown252" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হিমায়ন কার্যক্রমের জন্য রিফ্রিজারেন্ট বা হিমায়ক প্রবাহের প্রয়োজন হয়। পরিমিত মাত্রায় রিফ্রিজারেন্ট প্রবাহ নিয়ন্ত্রণ ব্যতিত ঈপ্সিত তাপমাত্রা সংরক্ষণ করা যায় না। তাপমাত্রা ও বিদ্যুৎ প্রবাহ দ্বারা এ প্রবাহ মাত্রাকে নিয়ন্ত্রণ করা যায়। এ ক্ষেত্রে
            তাপমাত্রা, চাপ ও বিদ্যুৎ প্রবাহ পারস্পারিক নিয়ন্ত্রণের মাধ্যমে মেকানিক্যাল কার্যক্রম (সুইসিং) নিয়ন্ত্রিত হয়।</p>
        </div>
      </div>
      <h4 id="page37-heading207" style="color:#F64910;font-style:italic;">. রিফ্রিজারেশন কন্ট্রোল্সঃ</h4>
      <div class="item item-body" id="page37-list-item-container235">
        <div id="page37-markdown253" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ইংরেজি Control শব্দের অর্থ নিয়ন্ত্রণ করা। এ Control শব্দ হতে Controller বা নিয়ন্ত্রক শব্দটি এসেছে। যে যন্ত্র কোন কিছু নিয়ন্ত্রণ করে তাকে নিয়ন্ত্রক (Controller or controlling device) বলে। কোন কোন ক্ষেত্রে Controller বা Controls বা নিয়ন্ত্রক হিসেবে
            বিবেচনা করা হয়। কোন বস্ত্ত বা জায়গা নির্দিষ্ট মাত্রায় ঠান্ডা করার জন্য অপেক্ষাকৃত বেশি ক্ষমতার ইউনিট (Unit) বা প্ল্যান্ট (Plant) ব্যবহার করতে হয়। তা নাহলে প্রয়োজনীয় পরিমাণ তাপমাত্রা পাওয়া সম্ভবপর নয়। বেশি ক্ষমতার যন্ত্রটিকে নিয়ন্ত্রণ করে প্রয়োজনীয়
            পরিমাণ তাপমাত্রা দ্বারা প্রত্যাশিত জায়গা বা বন্তুকে নিয়ন্ত্রণ করা হয়। তাপমাত্রার এরূপ নিয়ন্ত্রণে Controller এর বেশ দরকার হয়। তাছাড়া প্রয়োজন পূরণ হবার পর যখন প্ল্যান্ট বা ইউনিট বন্ধ ও পুনঃপরিচালনা ইত্যাদি বহুবিদ কাজে নিয়ন্ত্রক ব্যবহার করা হয়।</p>
        </div>
      </div>
      <h4 id="page37-heading208" style="color:#F64910;font-style:italic;">রিফ্রিজারেশন কন্ট্রোল্সের প্রয়োজনীয়তাঃ</h4>
      <div class="item item-body" id="page37-list-item-container236">
        <div id="page37-markdown254" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং এর প্রসার বৃদ্ধির সাথে সাথে ইহার ইউনিট ও প্ল্যান্ট সমূহ স্বয়ংক্রীয় পরিচালনার প্রসংগ দেখা দেয়। পর্যায়ক্রমে বিভিন্ন প্রয়োজনে রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং সিস্টেমকে স্বয়ংক্রীয় করণার্থে কিছু সাহায্যকারী যন্ত্র-যন্ত্রাংশ
            ব্যবহার করা হয় যা কন্ট্রোল্স নামে পরিচিত। কন্ট্রোল্সের সাহায্যে সিস্টেমের রিফ্রিজারেন্ট ও কারেন্ট নিয়ন্ত্রণের মাধ্যমে ব্যবস্থাপনাকে স্বয়ংক্রীয় করা হয়। তাই নিমেণাক্ত প্রয়োজনে কন্ট্রোল্স ব্যবহার করা হয়। ১। সুষ্ঠুভাবে সিস্টেম চালু ও বন্ধ করা,
            ২। সিস্টেমের নিরাপত্তা ব্যবস্থা দৃঢ় করা,
            <br>৩। সিস্টেমের দূর্ঘটনা কম ঘটে, ৪। সময়ের যথাযথ ব্যবহার নিশ্চিত করা ।
            <br>৪। অর্থ ও শ্রম স্বাশ্রয় করা, ৫। প্রত্যাশিত মাত্রায় তাপমাত্রা নিয়ন্ত্রণ সম্ভব করা।
            <br>৬। দ্রব্যাদি বিনষ্ট বা অপচয় কম করা, ৭। প্ল¬¬্যান্টের আয়ুষ্কাল বৃদ্ধি করা , ইত্যাদি। কাংখিত মাত্রায় উষ্ণতা পাবার জন্য দুটি কাজের প্রয়োজন। যথা- 1. হিমায়ক প্রবাহ নিয়ন্ত্রণ, ২. বিদ্যুৎ প্রবাহ নিয়ন্ত্রণ । কাজ দ’ুটি করার জন্য দু’ ধরণের নিয়ন্ত্রক
            ব্যবহার করা হয়।
          </p>

          <p style="color:#000000;font-size:15px;">
            <strong>হিমায়ক প্রবাহ নিয়ন্ত্রকঃ (Refrigerant flow controllers) t</strong>
          </p>

          <p style="color:#000000;font-size:15px;">হিমায়ক প্রবাহ নিয়ন্ত্রণকারী ডিভাইসের নাম হলো হিমায়ক নিয়ন্ত্রক বা Refrigerant flow controllers। এটি ইউনিটের হিমায়ক প্রবাহ (চাপ) নিয়ন্ত্রণ করে তাপমাত্রা নির্দিষ্ট মাত্রায় রাখে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong> বিদ্যুৎ প্রবাহ নিয়ন্ত্রক (Current controllers) t </strong>
          </p>

          <p style="color:#000000;font-size:15px;">এটি ইউনিটের বিদ্যুৎ প্রবাহ নিয়ন্ত্রণ করে নির্দিষ্ট তাপমাত্রা বজায় রাখে। যে যন্ত্র তাপের প্রভাবে প্রভাবিত হয়ে বিদ্যুৎ প্রবাহ নিয়ন্ত্রণ করে তাকে বিদ্যুৎ প্রবাহ নিয়ন্ত্রক বলে। এর সাহায্যে বৈদ্যুতিক বর্তনীকে ON-OFF করা হয়। একে দুইভাগে ভাগ করা হয়-</p>

          <p style="color:#000000;font-size:15px;">
            <strong> পরিচালনা নিয়ন্ত্রক (Operating Controllers)t </strong>
          </p>

          <p style="color:#000000;font-size:15px;">এর সাহায্যে সাধারণতঃ কম্প্রেসর মোটরকে পরিচালনা (ON-OFF) করে তাপমাত্রা নিয়ন্ত্রণ করা হয়। মোটর যখন চলে তখন কম্প্রে্রসর চলে এবং হিমায়ক প্রবাহিত হয়। তখন ঠান্ডার কাজ সম্পাদিত হয়। মোটর বন্ধ হলে কম্প্রেসরও বন্ধ হয়। ফলে হিমায়ক প্রবাহ বন্ধ হয়। </p>

          <p style="color:#000000;font-size:15px;">
            <strong> নিরাপত্তামূলক নিয়ন্ত্রক (Protective Controller)t </strong>
          </p>

          <p style="color:#000000;font-size:15px;"> এটি মূলত: হিমায়ক প্রবাহের পরিমাণের ভিত্তিতে কম্প্রেসর মোটরকে চালু এবং বন্ধ করে অথবা তাপমাত্রার ভিত্তিতে হিমায়ক প্রবাহকে নিয়ন্ত্রণ করে। </p>
        </div>
      </div>
      <h4 id="page37-heading209" style="color:#F64910;font-style:italic;">নিয়ন্ত্রকের তালিকা ও ব্যবহার ক্ষেত্র ঃ </h4>
      <div class="item item-body" id="page37-list-item-container237">
        <div id="page37-markdown255" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হিমায়ন শীতাতপ নিয়ন্ত্রণ ব্যবস্থাকে সুষ্ঠু অর্থবহ পরিচালন জন্য অনেক নিয়ন্ত্রক ব্রবহার করা হয়। প্রত্যেকটি ডিভাইসের ভিন্ ভিন্ন কাজ হলেও মূল উদ্দেশ্য অভিন্ন। হিমায়ন শীতাতপ ও নিয়ন্ত্রণে নিম্নোক্ত নিয়ন্ত্রক গুলোর নাম ছকে বর্ণিত ক্ষেত্রে ব্যবহার করা
            হয়। </p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/gM7QKTn1RYivTBoO3by2_qqqqqqqqq.jpg" style="display: block; width: 100%; height: 233px; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>