<ion-view title="ক্যাপাসিটর" id="page35">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page35-card232">
      <h4 id="page35-heading196" style="color:#FC3D08;font-style:italic;">ক্যাপাসিটর (Capacitor)</h4>
      <div class="item item-body" id="page35-list-item-container222">
        <div id="page35-markdown240" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Capacitor শব্দের অর্থ ধারণকারী বা ধারক। যে ডিভাইস চার্জ বা আধান ধারণ করে তাই ধারক। স্প্লীট ফেজ মোটরের স্টার্টিং টর্কের এবং রানিং-এ পাওয়ার ফ্যাক্টর বৃদ্ধির জন্যে এ ধারণতকৃত চার্জ বা শক্তি ব্যবহার করা হয়। দুই বা ততোধিক পরিবাহী পাতকে অপরিবাহী মাধ্যম
            দিয়ে আলাদা করলে এর চার্জ ধারণ করার ক্ষমতা বেড়ে যায়। এ প্রকার ব্যবস্থাকে একত্রে ক্যাপাসিটর বা কন্ডেন্সার বলা হয়। ক্যাপাসিটরের চার্জের ক্ষমতাকে ফ্যারাড বা মাইক্রো ফ্যারাডে MFD বা µF প্রকাশ করা হয়। পদার্থের তাপ ধারকত্বের (C) মত বস্ত্তর তড়িৎ ধারণের
            একটি নির্দিষ্ট ক্ষমতা আছে। বস্ত্তর এরূপ তড়িৎ ধারণ ক্ষমতাকে তড়িৎ ধারকত্ব বলে। বস্ত্তর চার্জ (Q)এবং বিভব পার্থক্য (V) পরস্পরের সমানুপাতিক। </p>

          <pre>
            <code> অর্থাৎ Q ∞ V </code>
          </pre>

          <p style="color:#000000;font-size:15px;">যদি চার্জের পরিমাণ Q বিভব পার্থক্য V এবং চার্জ ধারকত্ব C হয়, তাহলে,
            <br> Q = CV
            <br> বা, C = হবে। সুতরাং ধারকত্বব = </p>

          <p style="color:#000000;font-size:15px;">
            <strong>ধারকত্বের এককঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">কোন পরিবাহীর বিভব ১ ভোল্ট বৃদ্ধি করতে যদি ১ কুরম্ব চার্জের প্রয়োজন হয়, তবে তার ধারকত্বকে ১ ফ্যারাড (Farad =F) বলে। ব্যবহারিক ক্ষেত্রে ফ্যারাডে একক খুবই বড় হওয়ায় এর ক্ষুদ্রতম এবং ব্যবহারিক একক হিসেবে মাইক্রো ফ্যারাড (μF) বা পিকো ফ্যারাড (μμF
            or ρF) ব্যবহার করা হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ক্যাপাসিটরের ক্রিয়া নীতিঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">পরিবাহীর বিভব কমিয়ে দিতে পারলে অতিরিক্ত কিছু সময় পরিবাহীটি চার্জ ধরে রাখার সামর্থ্য অর্জন করে। ক্যাপাসিটরের সাহায্যেও এরূপ যান্ত্রিক ব্যবস্থার মাধ্যমে কৃত্রিম উপায়ে চার্জ ধারক্ব বৃদ্ধি করা যায় B A
            <br> - + + - + + - + + - + + - + +
            <br> - + + - + + আর্থ চার্জ শূণ্য পাত অমত্মরীত পাত</p>

          <p style="color:#000000;font-size:15px;">চিত্রে A একটি অন্তরীত পরিবাহী। এক একটি তড়িৎ উৎপাদক যন্ত্রের সাথে যুক্ত করে ধন চার্জে চার্জিত করা হলো। B অপর একটি চার্জ শূণ্য ভূ-সংযুক্ত পরিবাহী। B কে A এর নিকট স্থাপন করা হলো। ফলে চার্জের নীতি অনুসারে আবেশ প্রক্রিয়ায় Bএর নিকটবর্তী প্রান্তে ঋণচার্জ
            এবং দুরবর্তী প্রান্তে ধন চার্জে আবিষ্ট হবে। Bকে ভূ সংযুক্ত থাকার কারণে পৃথিবীর ইলেক্ট্রন এসে এর ধন চার্জ নিষ্ক্রীয় করে। B এর ঋণচার্জ A এর উপর ঋণ বিভব অধ্যারোপণ (Superimpose) করবে ফলে এর বিভব কিছুটা কমে যাবে। যেহেতু, C = Q/V সেহেতু A এর ধারকত্ব
            বেড়ে যাবে এবং অতিরিক্ত চার্জ গ্রহণ করবে। B কে যতই A এর নিকটে আনা যাবে, Aএর বিভব ততই কমবে। কিন্তু A এর ধারকত্ব বৃদ্ধি পাবে। সুতরাং B কে Aএর নিকটে স্থাপন করাতে A এর ধারকত্ব বৃদ্ধি পেল। এরূপ যান্ত্রিক ব্যবস্থার নামই ধারক বা ক্যাপাসিটর।</p>
        </div>
      </div>
      <h4 id="page35-heading197" style="color:#FC3D08;font-style:italic;">ক্যাপাসিটরের কাজ </h4>
      <div class="item item-body" id="page35-list-item-container223">
        <div id="page35-markdown241" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">চার্জ উৎপাদন ও সংরক্ষণ করাই ক্যাপাসিটরের প্রধান কাজ। এর উপর ভিত্তি করে ক্যাপাসিটর যে সকল কাজ সম্পাদন করে তা হল-
            <br>ক. ক্যাপাসিটর সিংগেল ফেজ ইন্ডাকশন মোটরের স্টার্টিং টর্ক বৃদ্ধি করে।</p>

          <p style="color:#000000;font-size:15px;">খ. সার্কিটে সিংগেল ফেজ কারেন্টকে দু’ফেজ কারেন্টে রূপান্তরিত করে।</p>

          <p style="color:#000000;font-size:15px;">গ. চলমান মোটরের কর্মক্ষমতা বৃদ্ধি করে।</p>

          <p style="color:#000000;font-size:15px;">ঘ. সরবরাহ লাইনের পাওয়ার ফ্যাক্টর বৃদ্ধি করে।</p>

          <p style="color:#000000;font-size:15px;">ঙ. ক্ষণিকের জন্য বিদ্যুৎ প্রবাহ হতে মুক্ত ইলেকট্রন সংগ্রহপূর্বক ভোল্টেজ সংরক্ষণ করে।</p>

          <p style="color:#000000;font-size:15px;">চ. এনার্জি সঞ্চয় করে অধিক লোডের মোটরকে চালু করে গতিশীল রাখে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ক্যাপাসিটরের প্রকারভেদ ঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">ক্যাপাসিটর বিদ্যুৎ ব্যহারের ক্ষেত্রে একটি গুরম্নত্বপূর্ণ ডিভাইস। বিদ্যুৎ শক্তিকে ব্যবহারের ক্ষেত্রে ক্যাপাসিটরের ব্যাপক ব্যবহারও রয়েছে। এর গঠন ও ব্যবহারের বেশ পার্থক্য পরিলক্ষিত হয়। মানের উপর ভিত্তি করে ক্যাপাসিটর প্রধানত দু’প্রকার -</p>

          <p style="color:#000000;font-size:15px;">ক. নির্দিষ্ট (Fxied) মানেরঃ এর বডিতে নির্দিষ্ট মান লিপিবদ্ধ থাকে। </p>

          <p style="color:#000000;font-size:15px;">খ. পরিবর্তনীয় (Variable) মানেরঃ এর বডিতে মানের রেঞ্জ লিপিবদ্ধ থাকে। ক্যাপাসিটরের ভিতরে ব্যবহৃত সম্যক ধ্রুবকের উপর ভিত্তি করে দুই প্রকার। যথা-</p>

          <p style="color:#000000;font-size:15px;"> ১. ড্রাই (পেপার) টাইপ বা স্টার্টিং ক্যাপাসিটরঃ এটি ওজনে হালকা হয়।</p>

          <p style="color:#000000;font-size:15px;"> ২. ওয়েট (ইলেক্ট্রলাইটিক) বা রানিং ক্যাপাসিটরঃ এটি ওজনে ভারী হয়।</p>
        </div>
      </div>
      <h4 id="page35-heading198" style="color:#FC3D08;font-style:italic;">ক্যাপাসিটরের বর্ণনাঃ</h4>
      <div class="item item-body" id="page35-list-item-container224">
        <div id="page35-markdown242" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong> ড্রাইটাইপ বা স্টার্টিং ক্যাপাসিটর (Dry type or Strating Capacitor)-</strong>
          </p>

          <p style="color:#000000;font-size:15px;"> এটি মোটর চালু করতে ব্যবহৃত হয়। একে মোটরের স্টার্টিং ওয়াইল্ডিং এর সাথে সিরিজে সংযোগ করা হয়। ক্যাপাসিটরের ভিতর অ্যালুমিনিয়াম পাতের ফয়েল দুটো স্তরে মোড়ানো থাকে এবং এতে একটা বিশেষ প্রকারের কাগজের ইনসুলেশন ব্যবহার করা হয়। কয়েলের দুটো রোলের দুই মাথা
            কাটা টার্মিনালে সংযোগ করা হয়। এ সর্বক্ষণ সরবরাহ দেয় না বিধায় শীতল করার প্রয়োজন হয় না। এর আচ্ছাদন বা কেইসিং অধাতব পদার্থের (প্লাস্টিক বা অ্যাবোনাইট) হয়ে থাকে। এর ক্যাপাসিট্যান্সের মান অপেক্ষাকৃত বেশি ও অনির্দিষ্ট থাকে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong> ইলেকট্রোলাইটিক বা রানিং ক্যাপাসিটর (Electrilitic or Runnimg Capacitor)t- </strong>
          </p>

          <pre>
            <code>এটি সর্বক্ষণ লাইনে থাকে এবং আকারে গোলাকার, ইলিপ্টিক্যাল ও আয়তকার হতে পারে। তবে এর ক্যাপাসিট্যান্স স্টার্টিং ক্যাপাসিটর অপেক্ষা কম ও নির্দিষ্ট থাকে। ইলেকট্রোলাইটিক বা রানিং ক্যাপাসিটরে গস্নীসারিন, অ্যালুমিনিয়ামের কয়েল ও ইনসুলেটর থাকে। কোন কোন
              রানিং ক্যাপাসিটরের ভিতর পলিক্লোরিনেটেড বাইফিনাইল ডাই ইলেকট্রিক নামক তরল পদার্থ থাকে। এপদার্থ খুব বিপজ্জনক। এধরণের ক্যাপাসিটর ভেঙ্গে বা ফেটে গেলে স্পর্শ না করে মাটি চাপা দেয়া উচিত। একে ওয়েট ক্যাপাসিটরও বলা হয়।</code>
          </pre>
        </div>
      </div>
      <h4 id="page35-heading199" style="color:#FC3D08;font-style:italic;">জটিল প্রকৃতির ক্যাপাসিটর অ্যানালাইজারঃ </h4>
      <div class="item item-body" id="page35-list-item-container225">
        <div id="page35-markdown243" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এধরণের অ্যানালাইজার বৈদ্যুতিক পাওয়ার দ্বারা চালিত হয়। এতে কয়েকটি সুইচ, স্কেল ও কড থাকে। এ অ্যানালাইজারের বিভিন্ন অংশের নাম ও কাজ নিম্নে বর্ণিত হল- </p>

          <p style="color:#000000;font-size:15px;">১) পাওয়ার কডঃ এতে বিদ্যুৎ সরবরাহ দেয়া হয়। </p>

          <p style="color:#000000;font-size:15px;">২) টেস্ট কর্ড ও ক্লিপঃ এ কর্ডের ক্লিপ ক্যাপাসিটরের পিনের সাথে লাগাতে হয়।</p>

          <p style="color:#000000;font-size:15px;">৩) টেস্ট (অন-অফ) সুইচঃ এ সুইচের সাহায্যে অ্যানালাইজারের কার্যক্রমকে অন-অফ করা হয়।</p>

          <p style="color:#000000;font-size:15px;">৪) আই টিউবঃ এটি আলো প্রদান করে। আলোর প্রখরতা দেখে সিদ্ধান্ত নিতে হয়।</p>

          <p style="color:#000000;font-size:15px;">৫) ভোল্ট রেঞ্জ সুইচঃ এ সুইচের দু’পাশে 230 ও 115 ভোল্ট লিপিবদ্ধ থাকে। সরবরাহ ভোল্ট (220 বা 110) অনুযায়ী সুইচটি সেট করতে হয়।</p>

          <p style="color:#000000;font-size:15px;">৬) রেঞ্জ সুইচঃ এতে 1, 2 ও 3 লেখা থাকে। উক্ত রেঞ্জ তিনটি ক্যাপাসিটরের মাইক্রোফ্যারাডের মান নির্দেশ করে। মাইক্রোফ্যারাডের মান অনুযায়ী সুইচটির নম্বর সিলেক্ট করে ক্যাপাসিটর পরীক্ষা করা হয়। যেমন- 1–20 মাইক্রোফ্যারাডের জন্য 1 নংএ সেট করতে হয়, 21–50
            মাইক্রোফ্যারাডের জন্য 2 নংএ সেট করতে হয় এবং 51–2000 মাইক্রোফ্যারাডের জন্য 3 নংএ সেট করতে হয়।</p>

          <p style="color:#000000;font-size:15px;">৭) মাইক্রোফ্যারাড স্কেল ও নবঃ মাইক্রোফ্যারাড নবটি ঘূরায়ে স্কেলের সাহায্যে পরীক্ষণীয় ক্যাপাসিটরের তিনটি অবস্থা জানা যায়। যথা-</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ক. Open test t </strong>
          </p>

          <p style="color:#000000;font-size:15px;">নব স্কেলের সর্ব বামে অবস্থানে আই টিউব পূর্ণ আলো দিলে ক্যাপাসিটর ওপেন ও খারাপ। এ সিদ্ধান্তটি রেঞ্জ সুইচের (1, 2 ও 3) তিন অবস্থানের জন্যই সত্য।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>খ. Short test t </strong>
          </p>

          <p style="color:#000000;font-size:15px;">নব স্কেলের সর্ব ডানে অবস্থানে আই টিউব পূর্ণ আলো দিলে ক্যাপাসিটর শর্ট ও খারাপ। এসিদ্ধান্তটি রেঞ্জ সুইচের (1, 2 ও 3) তিন অবস্থানের জন্যই সত্য।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>গ. মাইক্রোফ্যারাড মান নির্</strong>ণয়ঃ নব স্কেলের সর্ব বামে ও ডানের মধ্যবর্তী অবস্থানে আই টিউব যে মাইক্রোফ্যারাড মানে পূর্ণ আলো দিবে ঐ মানই ক্যাপাসিটরের মাইক্রোফ্যারাড মান। মান যদি ক্যাপাসিটরের নিদের্শিত মানের সমপরিমাণ বা তদাপেক্ষা সর্বোচ্চ
            ১৫%কম হয় তবে বুঝতে হবে উহা ঠিক আছে। অন্যথায় দুর্বল। এ বিষয়টি রেঞ্জ সুইচের তিন অবস্থানের জন্যই সত্য নয়। বরং এক্ষেত্রে ক্যাপাসিটরের মান অনুযায়ীই রেঞ্জ সুইচ সেট করতে হবে।</p>

          <p style="color:#000000;font-size:15px;"> ৮)
            <strong>পাওয়ার ফ্যাক্টর স্কে</strong>লঃ এ </p>

          <p style="color:#000000;font-size:15px;"> স্কেল থেকে পরীক্ষণীয় ক্যাপাসিটরের পাওয়ার ফ্যাক্টরের মান পওয়া যায়। ইলেক্ট্রলাইটিক ক্যাপাসিটরের জন্য ১৫% এবং পেপার ক্যাপাসিটরের জন্য ২% বা তদোর্ধ পাওয়ার ফ্যাক্টও পাওয়া গেলে উহা পরিবর্তন করতে হবে। * ক্যাপাসিটর ডিসচার্জ করবার জন্য টেস্ট সুইচ ছেড়ে
            দিতে হবে। </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>