<ion-view title="তাপমাত্রা বা উষ্ণতা" id="page20">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page20-card220">
      <h4 id="page20-heading116" style="color:#F85307;font-style:italic;">তাপমাত্রা বা উষ্ণতা (Temperature)</h4>
      <div class="item item-body" id="page20-list-item-container136">
        <div id="page20-markdown156" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">দু’জন একে অপরকে স্পর্শ করলে দু’জনই দু’রকমের অনুভহতি পাবে। একজন ঠান্ডা অপরজন গরম। এ ঠান্ডা-গরম অনুভহতিই তাপমাত্রা। আর এরকম অনুভহতির কারণ হলো তাপ। যার দেহে তাপমাত্রা অপেক্ষাকৃত কম সে গরম আর যার শরীরে তাপমাত্রা বেশি সে ঠান্ডা অনুভব করবে। কারণ ঠান্ডা
            অনুভবকারী তাপ হারায় আর গরম অনুভবকারী পায় বা গ্রহন করে। অর্থাৎ তাপ বেশি মাত্রার দিক হতে কম মাত্রার দিকে প্রাহিত হয়।</p>
        </div>
      </div>
      <h4 id="page20-heading117" style="color:#F85307;font-style:italic;">তাপমাত্রা বা উষ্ণতা </h4>
      <div class="item item-body" id="page20-list-item-container137">
        <div id="page20-markdown157" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">গরম ও ঠান্ডা অনুভূতি দ্বারা তাপের মাত্রা প্রকাশিত হয়। একই পরিমাণ ও প্রকৃতির যে বস্ত্ততে তাপের পরিমাণ বেশি সেটি গরম এবং যেটিতে তাপের পরিমাণ কম সেটি ঠান্ডা অনুভূত হয়। এ ঠান্ডা বা গরম অনুভূতি তাপেরই ফল । কোন বস্ত্ত যতটুকু শীতল বা উষ্ণ অনুভূতির
            সৃষ্টি করতে সক্ষম তার পরিমাণকেই উষ্ণতা বা তাপমাত্রা বলে। তাপমাত্রা পরিমাপের জন্য থার্মোমিটার (Thermometer) ব্যবহার করা হয়। </p>
        </div>
      </div>
      <h4 id="page20-heading118" style="color:#F85307;font-style:italic;">তাপমাত্রার এস. আই. (সিস্টেম ইন্টারন্যাশন্যাল ) ইউনিটঃ </h4>
      <div class="item item-body" id="page20-list-item-container138">
        <div id="page20-markdown158" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">আমত্মর্জাতিক বা এস. আই পদ্ধতিতে তাপমাত্রার. একক হলো কেলভিন। এ একক চালু হবার পূর্বে প্রচলিত একক ছিল ডিগ্রী সেন্টিগ্রেড বা ডিগ্রী সেলসিয়াস যা কেলভিন এককের পাশাপাশি এখনো ব্যবহার হচ্ছে। এরও পূর্বে তাপমাত্রার বৃটিশ পদ্ধতির একক ছিল ফারেনহাইট। ’কেলভিন’কে
            সেন্টিগ্রেড স্কেলে পরম তাপমাত্রা বলা হয়। বৈজ্ঞানিক লর্ড কেলভিন (Lord Kelvin) বস্ত্তর পরম তাপমাত্রা পরিমাপের একক উদ্ভাবন করার জন্য পরম তাপমাত্রার একক হিসেবে কেলভিন ব্যবহৃত হয়। সেন্টিগ্রেড স্কেলের 273০C সমান 00K কেলভিন ধরা হয়। অর্থাৎ পদার্থের
            পরম শূণ্য তাপমাত্রা এস.আই ইউনিটে 273০K এবং সেন্টিগ্রেড ইউনিটে 00C ধরা হয়। থার্মোমিটারে সেলসিয়াস ও কেলভিন স্কেলের সম্পর্কটি দেখানো হল- 0K 0C</p>

          <p style="color:#000000;font-size:15px;">চিত্র-১০.১ঃ থার্মোমিটারে সেলসিয়াস ও কেলভিন স্কেলের সম্পর্ক। উদাহরণ স্বরূপ- ফুটন্ত পানির তাপমাত্রা 100০C = এস.আই ইউনিটে 100০C+273 = 373K. বরফ গলনের তাপমাত্রা 00C = এস.আই ইউনিটে 00C +273 = 273K. * 00K = 273 0C .</p>
        </div>
      </div>
      <h4 id="page20-heading119" style="color:#F85307;font-style:italic;">তাপমাত্রার বিভিন্ন স্কেল </h4>
      <div class="item item-body" id="page20-list-item-container139">
        <div id="page20-markdown159" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পানির হিমাংক ও স্ফুটনাংককে কাজে লাগিয়ে তাপমাত্রার স্কেল নির্ধারণ করা হয়। সুতরাং তাপমাত্রার বিyুভন্ন স্কেল বর্ণনার পূর্বে হিমাংক ও স্ফুটনাংক সম্পর্কে আলোচনা প্রয়োজন বিধায় সংক্ষিপ্তরূপে বিবৃত করা হল-</p>

          <p style="color:#000000;font-size:15px;">হিমাংক (Freezing point) t চিত্রে প্রদর্শিতরূপে পারদ থার্মোমিটারকে পানিপূর্ণ গস্নাসে স্থাপন করে হিমায়ন যন্ত্রের কুলিং চেম্বারে রেখে লক্ষ্য করলে দেখা যাবে পারদ নীচের দিকে নামছে এবং পানি জমাট বাঁধছে। আরো দেখা যাবে সম্পূর্ণ পানি বরফে রূপান্তর হওয়া
            পর্যমত্ম কিছু সময়ের জন্য পারদ আর নীচে নামছে না । পারদের এস্থির অবস্থানের স্থানকে চিহ্ণিত করা হয়। এচিহ্ণিত স্থানকে হিমাংক বা থার্মোমিটারের নিম্ন স্থিরাংক ধরা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/eaVQHpIIRXKXWi0SHN8B_3-13-20181-40-59PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page20-list-item-container140">
        <div id="page20-markdown160" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সেন্টিগ্রেড বা সেলসিয়াস স্কেল (Centrigrade Scale) t পানির হিমাংককে “00” এবং স্ফুটনাংককে “1000” ধরে মধ্যবর্তী দূরতব 100 ভাগে বা অংশে ভাগ করে থার্মোমিটারের যে স্কেল তৈরি করা হয় তাকে সেন্টিগ্রেড স্কেল বলে। এর ক্ষুদ্রতম এক ভাগকে 10 সেলসিয়াস বা 10
            সেঃ ধরা হয়।</p>

          <p style="color:#000000;font-size:15px;">ফারেনহাইট স্কেল (Fahrengheit scale)t পানির হিমাংককে “320” স্ফুটনাংককে “212” ধরে মধ্যবর্তী দূরত্বকে ১৮০ ভাগে ভাগ করে যে থার্মোমিটার তৈরি করা হয় তাকে ফারেনহাইট স্কেল বলে। এর ক্ষুদ্রতম এক ভাগকে ১০ ফারেনহাইট বা ১০ ফাঃ ধরা হয়।</p>

          <p style="color:#000000;font-size:15px;">পরম শূণ্য তাপমাত্রা (Absolute zero temperature)t কোন আদর্শ গ্যাস থেকে তাপ শোষণ করতে করতে এমন একটা অবস্থায় আনায়ন করা যায় যে, গ্যাসট আর কোন জায়গা দখল করে না (আয়তন শূণ্য হয়)গ্যাসটির এরূপ অবস্থার তাপমাত্রাকে পরম শূণ্য তাপমাত্রা (Absolute zero temperature)
            বলে। তাপমাত্রার ঐ সর্ব নিম্ন মানকে পরম শূণ্য তাপমাত্রা বলে। পানির পরম শূণ্য তাপমাত্রাকে 2730c বা -4600F ধরা হয়।</p>

          <p style="color:#000000;font-size:15px;">পরম তাপমাত্রা (Absolute temperature)t যে তাপমাত্রা পরম শূণ্য তাপমাত্রা থেকে গণনা করা হয় তাকে পরম তাপমাত্রা বলে। </p>

          <p style="color:#000000;font-size:15px;">পরম তাপমাত্রার স্কেল (Absolute temperature’s scale)t যে স্কেল হতে পরম শূণ্য তাপমাত্রা গণনা করা হয় তাকে পরম তাপমাত্রার স্কেল বলে। সেন্টিগ্রেড স্কেলে পরম তাপমাত্রার একক হলো কেলভিন আর ফারেনহাইট স্কেলে পরম তাপমাত্রার স্কেল র‌্যাঙ্কিং।</p>

          <p style="color:#000000;font-size:15px;">তাপমাত্রার বিভিন্ন স্কেলের সম্পর্ক ঃ তাপমাত্রার বিভিন্ন স্কেলের সম্পর্ককে কাজে লাগিয়ে এক স্কেলকে অন্য স্কেলে রূপান্তর করা যায়। সেন্টিগ্রেড ও ফারেনহাইটের দু’টি থার্মোমিটার পাশাপাশি রহিয়াছে। একটা বিশেষ তাপমাত্রায় স্কেল দ্বয়ের পারদের উচ্চতা একই
            রেখা বরাবর অবস্থান করে যাহা যথাক্রমে C ও F দ্বারা দেখানো হয়েছে। প্রত্যেকটি স্কেলের পারদের সম্প্রসারিত দৈর্ঘ্য সমান থাকে। উক্ত সম্প্রসারিত দৈর্ঘ্যকে ভিন্ন ভিন্ন সংখ্যায় ভাগ করা হয়। ফলে ভাগ গুলোর মধ্যে পার্থক্য বিদ্যমান। তাই মোট দৈর্ঘ্য সমান
            এবং ভাগ সংখ্যা পৃথক থাকার কারণে প্রত্যেকের মধ্যে সৃষ্ট সম্পর্ক চিত্রসহ দেখানো হল- 0C 0F</p>

          <p style="color:#000000;font-size:15px;">চিত্র-১০.৪ঃ সোন্টগ্রেড ও ফারেনহাইট স্কেলের সম্পর্ক সকল স্কেলের ক্ষেত্রে- (অনুপাতটি) সমান। কারণ স্কেল দ্বয়ের মোট দৈর্ঘ্য সমান। সুতরাং C F
            <br> ---------- = -----------
            <br> 100 - 0 212 – 320 C F
            <br> বা, ------- = -----------
            <br> 100 180</p>

          <pre>
            <code> অতএব,  .............(2.1) = 0. 56 x F – 17.78 ..........…..(2.2) আবার, বা, = F – 32 বা, F – 32 = বা, F – 32 = 1.8xC  F = 1.8xC + 32 ………..(2.3)</code>
          </pre>

          <p style="color:#000000;font-size:15px;">উদাহরণঃ ১০.১ঃ একটি সেন্টিগ্রেড থার্মোমিটার -400 সে: পাঠ দেয়। ফারেনহাইট স্কেলে উহার মান কত হবে? সমাধান- আমরা জানি, F = 1.8  C + 32 = 1.8  (40) + 32 = 72 + 32 =  400F (উত্তর) উদাহরণঃ ১০.২ঃ মানুষের শরীরের স্বাভাবিক উষ্ণতা ৯৮.৪০ ফাঃ। সেন্টিগ্রেড
            স্কেলে কত হবে? সমাধান- আমরা জানি, C = 0.56  F 17.78 = 0.56  98.4 17.78</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/OcK1ppZVT52XZQDXe3dU_3-13-20181-43-20PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>