<ion-view title="রিফ্রিজারেশন ট্রেড" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page10-card23">
      <h4 id="page10-heading4" style="color:#FC3C0C;font-weight:300;font-style:italic;text-align:center;">রিফ্রিজারেশন ট্রেড (Refrigeration Trade)</h4>
      <div class="item item-body" id="page10-list-item-container8">
        <div id="page10-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সৃষ্টির প্রথম থেকে মানুষ অজানাকে জানা এবং অচেনাকে চেনার চেষ্টা চালিয়ে যাচ্ছে। উন্নতি ও সভ্যতা বিকাশের একমাত্র পথই হচ্ছে প্রচেষ্টা। চেষ্টা দ্বারা মানুষ পাখির মত উড়তে পেরেছে। খুঁজে পেয়েছে আবিষ্কারের অনেক পথ। একইভাবে আবিষ্কারের জগতে আত্ম প্রকাশ
            করল হিমায়ন পদ্ধতি (Refrigeration System)। হিমায়ন পদ্ধতিকে কাজে লাগিয়ে মানুষ জীবন ব্যবস্থাকে অনেক অগ্রসর করে নিয়েছে।</p>
        </div>
      </div>
      <h4 id="page10-heading6" style="color:#FC3C0C;font-style:italic;">রিফ্রিজারেশনের আবিষ্কারের ইতিহাসঃ </h4>
      <div class="item item-body" id="page10-list-item-container11">
        <div id="page10-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">আদিম মানুষেরা মৃত পশু ও অন্যান্য খাবার বরফ দ্বারা ঢেকে রাখত। অনেকদিন পর্যমত্ম এগুলো খাবার উপযোগী থাকতো। তাই হয়তো বা আদিকাল হতেই নিদর্শনবিহীন হিমায়ন পদ্ধতি ব্যবহার করা হতো। সর্ব প্রথম চীন দেশে শীতকালে বরফ সংগ্রহ করা হতো গ্রীষ্মকালে ব্যবহারের
            জন্য। এ দেখাদেখি পৃথিবীর অনেক দেশের লোক প্রাকৃতির বরফ সংগ্রহ করত। মিশরীয় আবিষ্কারকগণ গবেষণা করে দেখেন যে তরল পদার্থ (হিমায়ক) বাষ্পায়ন (Evaperator) কালে তা প্রচুর তাপ শোষণ করে। ফলে পার্শ্ববর্তী এলাকা শীতল হয়। যেমন মাটির কলসিতে পানি রাখলে এর
            গায়ের অদৃশ্য ছিদ্র দ্বারা পানি বাষ্পীভূত হওয়াতে কলসির পানি ঠান্ডা থাকে।</p>

          <p style="color:#000000;font-size:15px;">সর্বপ্রথম কৃত্রিম বরফ তৈরি হয় ১৮২০ খ্রীষ্টাব্দে। এ পদ্ধতিটি ১৮৩৪ সাল পর্যন্ত স্থায়ী ছিল। আঠার শতকের মাঝের দিকে আমেরিকান ইঞ্জিনিয়ার জ্যাকোব পারকিনস (JACOB PERKINS) আধুনিক কমপ্রেসর পদ্ধতির হিমায়ন যন্ত্র আবিষ্কার করেন। মাইকেল ফ্যারাডে ১৮২৪ সালে
            অ্যাবজর্পশন (ABSORPTION) হিমায়ন পদ্ধতির নীতি উদ্ভাবন করেন। ১৮৫৫ সালে জার্মানীতে প্রথম অ্যাবজর্পশন পদ্ধতির যন্ত্রপাতি আবিষ্কৃত হয়। ১৯১০ খ্রীঃ পৃথিবীতে আবাসিক হিমায়ন যন্ত্রের ব্যবহার দেখা যায়। ১৯১৩ খ্রী: বিজ্ঞানী জে. এম লারসেন (J.M. LARSEN)
            মানুষ চালিত আবাসিক রিফিজারেটর আবিষ্কার করেন এবং ঐ একই সালে কেলভিনেটর কোমপানী ‘‘কেলভিনেটর’’ নামে প্রথম আবাসিক রিফ্রিজারেটর বাজারজাত করে। ১৯২৬ সালে ’’The General Electric” সর্বপ্রথম সীল্ড কম্প্রেসরযুক্ত রিফ্রিজারেটিং ইউনিট তৈরী করেন্ ১৯২৭ সালে
            আমেরিকায় Carrier নামক জনৈক প্রকৌশলী সর্ব প্রথম আরামদায়ক শীতাতপ যন্ত্র তৈরী করেন। </p>
        </div>
      </div>
      <h5 id="page10-heading7" style="color:#FC5808;font-weight:600;font-style:italic;">বাংলাদেশের বিভিন্ন ক্ষেত্রে রিফ্রিজারেশনের ব্যবহার </h5>
      <div class="item item-body" id="page10-list-item-container12">
        <div id="page10-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">জীবন আরো একধাপ অগ্রসর করার জন্যে সমগ্র পৃথিব তে বিভিন্ন ক্ষেত্রে ব্যাপক হারে হিমায়ন পদ্ধতি ব্যবহার হচ্ছে। বাংলাদেশেও এর ব্যবহার কম নয়। এদেশেও এর যথেষ্ট ব্যবহার রয়েছে। এর বহুবিদ ব্যবহাকে প্রধানত ৫টা ক্ষেত্রে বিভক্ত করা হয়। যথা- গার্হস্থ্য (Domestic)ঃ
            রিফ্রিজারেটর, ফ্রিজার, ওয়াটার কুলার, এয়ার কন্ডিশনার, পোর্টেবল এসি ইত্যাব্যবসায়িক (Commercial)ঃ বেভারেজ কুলার, বোটল কুলার, মিল্ক কুলার, ডিস্পেল কেইস, আইস ক্রীম ফ্যাক্টরী, আইস কিউব মেশিন, আইস মেকার, ডেয়রী ফার্ম প্রডাক্ট, ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">যানবাহন (Transport)ঃ কার, বাস, রেল গাড়ি, হিমায়ন দ্রব্য বহনকারী ভ্যান, বিমান হেলিকপটার ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">প্রাতিষ্ঠানিক (Institutional)ঃ হাসপাতাল, সংসদ ভবন, সচিবালয়, এয়ারপোর্ট, বাংলো গবেষণাগার, লাইব্রেরি ইত্যাদি। শিল্প (Industry)ঃ বরফ কল, হিমাগার, ফিস ফ্রিজিং পস্ন্যান্ট, মিট স্টোরেজ ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">সভ্যতা বিকাশের পাশাপাশি উন্নততর জীবন ব্যবস্থায় হিমায়ন ও শীতাতপ নিয়ন্ত্রণ বিশেষ অবদান রেখে চলেছে। শুধু তাই নয় অর্থনৈতিক উন্নয়ন ও প্রগতিশীল জীবন ব্যবস্থায় এর ভূমিকা ও গুরুত্ব অসীম। বলা মোটেই বাহুল্য নয়, যে বিংশ শতাব্দির আবিস্কারসমূহের মধ্যে গুরুত্ব
            ও প্রয়োজনীয়তার দিক থেকে কস্পিউটারের পরেই এর স্থান। জীবন সাঁজাতে নয়, জীবন বাঁচাতেই হিমায়ন ও শীতাতপ নিয়ন্ত্রণ পদ্ধতির উদ্ভব হয়েছে। বিশেষ করে শিল্প ক্ষেত্রে এর ব্যবহার অনন্য। শুধু তাই নয়-</p>

          <p style="color:#000000;font-size:15px;">মূমুর্ষ রোগী, নব জাতকের অপারেশন থিয়েটারের উপযোগী পরিবেশ সৃষ্টি ঔষধপত্র, মেডিক্যাল যন্ত্রপাতি, মালামাল প্রভৃতি দীর্ঘদিন সংরক্ষণ ও কার্যক্ষম রাখতে রিাফ্রজারেশন অ্যান্ড এয়ার কনিাডশনিং এর বিকল্প নেই।</p>

          <p style="color:#000000;font-size:15px;">পঁচনশীল খাদ্য সামগ্রী সংরক্ষণের জন্য পঁচন রোধ, দূর দুরামেত্ম তা প্রেরণ, অকালে ব্যবহার করে তার যথাযথ ব্যবহারে হিমায়নের ব্যকহার অনন্য।</p>

          <p style="color:#000000;font-size:15px;">রাসায়নিক, সামরিক, ইলেকট্রিক্যাল, ইলেকট্রনিক্স, কম্পিউটার প্রভৃতি তাপমাত্রা নিয়ন্ত্রণাধীন সামগ্রী সংরক্ষণে হিমায়ন ও শীতাতপ নিয়ন্ত্রণ ব্যবস্থা।</p>

          <p style="color:#000000;font-size:15px;">যানবাহন ও পরিবহণে (যেমন অ্যাম্বুলেন্সে, মাছ, মাংস, দুগ্ধ ও দুগ্ধজাত সমগ্রী প্রভৃতি বহনকারী যান) প্রয়োজনীয় তাপমাত্রা বজায় রাখা এর দ্বারাই সম্ভব।</p>

          <p style="color:#000000;font-size:15px;">ঔষধ, রাসায়িনক, সামরিক দ্রব্য, সূতা, রেশম প্রসাধনী প্রভৃতি প্রয়োজনীয় জিনিসপত্র উৎপাদন কেন্দ্রে, কলকারখানায় এর ব্যবহারে উৎপাদন বৃদ্ধি পায়। দি।
          </p>
        </div>
      </div>
      <h5 id="page10-heading8" style="color:#FF5A0A;font-weight:600;">রিফ্রিজারেশন ট্রেডের চাকুরির ব্যাপকতাঃ </h5>
      <div class="item item-body" id="page10-list-item-container13">
        <div id="page10-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">গ্রীণ হাউজ প্রভাবের কারণে বাংলাদেশসহ বিশ্বের অধিকাংশ দেশের তাপমাত্রা বেড়েই চলেছে। অপরদিকে অর্থনৈতিক উন্নয়নে নূতন নূতন শিল্পক্ষেত্র ও বড় বড় বানিজ্যিকভবন স্থাপন, বিনোদন কেন্দ্র ও কার্য্যালয় বৃদ্ধি, ইত্যাদি কারণে শীতাতপ নিয়ন্ত্রণ কাজে দক্ষ কর্মী
            (প্রকৌশলী, টেকনিশিয়ান, মেকানিক্সগণের) চাহিদা বৃদ্ধি পাচ্ছে। বাংলাদেশে বর্তমানে প্রায় সকল বানিজ্যিকভবন, হোটেল, মোটেল, হাসপাতাল, সংসদ ভবন, সচিবালয়, এয়ারপোর্ট, বাংলো, গবেষণাগার, লাইব্রেরি, পর্যটন, যানবাহণ, অফিস, শিক্ষা প্রতিষ্ঠান, মার্কেট, হিমাগার,
            সংরক্ষণাগার, প্রিন্টিং ইন্ডাস্ট্রি, ফটো প্রসেসিং শিল্প, বিশেষ বিশেষ শিল্প প্রতিষ্ঠান, বাসগৃহ প্রভৃতি ক্ষেত্রে হিমায়ন ও শীতাতপ নিয়ন্ত্রণের ব্যবহার দিন দিন বৃদ্ধি পাচ্ছে। ফলে উহা পরিচালনা, মেরামত, রক্ষণাবেক্ষণ ইত্যাদি কাজের জন্য দক্ষ কর্মীর
            চাহিদা দেখা দিচ্ছে। বর্তমানে মধ্যপ্রাচ্যসহ বিশ্বের প্রায় সর্বত্রই দক্ষ আর.এসি কর্মীর প্রয়োজনীয়তা পরিলক্ষিত হচ্ছে। উল্লেখ যোগ্য সংখ্যক আর, এসি কর্মী বিদেশে কর্মরত রয়েছে এবং রপ্তানী হচ্ছে। উন্নত বিশ্বে রিফ্রিজারেশন অ্যান্ড এয়ার কন্ডিশনিং কাজের
            জন্য বাংলাদেশ হতে দক্ষ জনবল ব্যাপক হারে রপ্তানীর খুব বেশি সম্ভাবনা রয়েছে। তাই দক্ষতা অর্জন করতে পারলেই দেশ-বিদেশে সরকারী-বেসরকারী পর্যায়ে কাজ পাওয়া যাবে। তাছাড়া এক্ষেত্রে আত্মকর্মেরও যথেষ্ট পরিমাণ সুযোগ রয়েছে। সুতরাং আর.এসি কাজে আদৌ হতাশা
            নয় বরং একাগ্রতার সাথে দক্ষতার্জন করতে পারলে কর্মের যেকোন ব্যবস্থা হবেই। তাই হিমায়ন ও শীতাতপ নিয়ন্ত্রণ এখন আর বিলসীতা নয় বরং অপরিহার্য বিধায় এর ব্যবহার প্রচুর বৃদ্ধি হেতু কাজের (চাকুরীর) পরিধিও বৃদ্ধি পাচ্ছে। </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
