<ion-view title="বিদ্যুৎ প্রবাহের মাধ্যম (বৈদ্যুতিক পদার্থ)" id="page23">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page23-card26">
      <h4 id="page23-heading109" style="color:#F84F0D;font-style:italic;">বিদ্যুৎ পরিবাহী, অর্ধ-পরিবাহী ও অপরিবাহী পদার্থ</h4>
      <div class="item item-body" id="page23-list-item-container103">
        <div id="page23-markdown99" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পৃথিবীতে ১০৫ মৌলিক পদার্থ এবং অগণিত যৌগিক পদার্থ রয়েছে। এর মধ্যে সকল ধাতব পদার্থ কমবেশি বিদ্যুৎ পরিবাহী। কোন কোন পদার্থে খুব বেশী এবং কোন কোন পদার্থে অতি সামান্য পরিমাণ বিদ্যুৎ প্রবাহিত হতে পারে। আবার এমন কিছু পদার্থ আছে যার মাধ্যমে আদৌ বিদ্যুৎ
            প্রবাহিত হতে পারে না। </p>
        </div>
      </div>
      <h4 id="page23-heading110" style="color:#F84F0D;font-style:italic;">বিদ্যুৎ পরিবাহী, অর্ধ-পরিবাহী ও অপরিবাহী পদার্থ </h4>
      <div class="item item-body" id="page23-list-item-container105">
        <div id="page23-markdown100" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">যে সমসত্ম পদার্থের মধ্য দিয়ে চার্জ বা তড়িৎ প্রবাহিত হয় বা হতে চায় তাদেরকে বিদ্যুৎ মাধ্যম বা বৈদ্যুতিক পদার্থ বলে। এ সকল পদার্থের তিনটি অবস্থা বিদ্যমান। যেমন বিদ্যুৎ সহজে প্রবাহিত হয়, কম প্রবাহিত হয় আর মোটেই প্রবাহিত হয় না। বর্ণিত পদার্থের তিন
            প্রকার বৈশিষ্ট্যের জন্য তড়িৎ মাধ্যম বা বৈদ্যুতিক পদার্থ তিন প্রকার। যথা-</p>

          <p style="color:#000000;font-size:15px;">১। পরিবাহী (Conductor),
            <br>২। অর্ধ-পরিবাহী (Semi-conductor),
            <br>৩। অপরিবাহী (Non-conductor or Insulator)।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বিদ্যুৎ পরিবাহী পদার্থঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে পদার্থের মধ্যে দিয়ে চার্জ বা তড়িৎ প্রবাহিত হতে বিশেষ কোন বাঁধার সম্মুখীন হয় না তাকে সূপরিবাহী পদার্থ বলে। অর্থাৎ যে সকল পদার্থের পরিবাহীতা গুণ পুরাপুরিভাবে বিদ্যমান সে সকল পদার্থকে সূপরিবাহী পদার্থ বলা হয়। যেমন- স্বর্ণ, রৌপ্য, তামা, অ্যালুমিনিয়াম,
            লৌহ ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বিদ্যুৎ অর্ধ-বিদ্যুৎ পরিবাহী পদার্থঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে সমস্ত পদার্থের মাধ্যমে প্রবাহের সময় বাধাগ্রস্থ হয় তাকে অর্ধ-পরিবাহী পদার্থ বলে । আবার কোন কোন ভিজা পদার্থের মাধ্যমে বিদ্যুৎ প্রবাহ হতে পারে, তাকেও অর্ধ-পরিবাহী পদার্থ বলা যায়। তাপমাত্রা বৃদ্ধি করলে অর্ধ-পরিবাহীর পরিবাহীতা অনেক গুণ বৃদ্ধি
            পায়। ইলেক্ট্রনিক্স যন্ত্রপাতির কাজে এ বেশি ব্যবহার হয়। যেমন-দড়ি, বাঁশ, কাঠ, কাপড় প্রভৃতি।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বিদ্যুৎ অপরিবাহী পদার্থঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">খুব বেশি বাঁধার কারণে যে সকল পদার্থের মধ্য দিয়ে বিদ্যুৎ সহজে প্রবাহিত হতে পারে না বা বিদ্যুৎ প্রবাহিত হবার একেবারেই সুযোগ নেই তাকে অপরিবাহী পদার্থ বলে। যেমন- কাঁচ, রাবার, সিল্ক, শুষ্ক কাগজ, শুষ্ক কাঠ, মাইকা, ইত্যাদি। বিশুদ্ধ পরিবাহী ও বিশুদ্ধ
            অপরিবাহী পদার্থ বলে পৃথিবীতে কোন পদার্থ নেই। কারণ কম ভোল্টেজ সরবরাহ সক্ষম সার্কিটে ব্যবহৃত অপরিবাহী পদার্থে ভোল্টেজ বাড়িয়ে দিলে সেগুলো আবার পরিবাহী হয়ে যায়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>অমত্মরীত পরিবাহী (Insulated conductor)ঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে সকল পরিবাহী পদার্থ অপরিবাহী বা ইনসুলেটর দ্বারা আবৃত্ত থাকে এবং তড়িৎ সংক্রামত্ম কাজে সংযোজক হিসাবে ব্যবহার করা হয়, তাকে অমত্মরীত পরিবাহী বলে। সংযোজকটি অন্য কোন পরিবাহী পদার্থে স্পর্শ করলেও কোন বিঘ্ন ঘটে না </p>

          <p style="color:#000000;font-size:15px;">
            <strong>পরিবাহী পদার্থের গুণাগুণঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">পরিবাহীকে মূলত বিদ্যুৎ বহনকারী মাধ্যম হিসেবে ব্যবহার করা হয় এবং যার যাহায্যে ইলেক্ট্রন বা চার্জ একস্থান হতে অন্য স্থানে সহজে সরবরাহ করা যায়। পরিবাহীতা বৈশিষ্ট্য থাকলেই পরিবাহীতে ইলেক্ট্রন বিচ্ছুরণ হবে। ভাল বিদুৎ পরিবাহী পদার্থের (Good conductors)
            বিশেষ কতকগুলো গুণ থাকা বাঞ্ছণীয়। যেমন-</p>

          <ol>
            <li>আপেক্ষিক রোধ কমঃ উত্তম পরিবাহীর আপেক্ষিক রোধ কম থাবকে।</li>
            <li>উত্তাপ গুণাঙ্ক কমঃ ভাল পরিবাহীর উত্তাপ গুণাঙ্ক কম থাকা দরকার।</li>
            <li>ক্ষয়রোধ ক্ষমতা বেশিঃ ভাল পরিবাহীর ক্ষয়রোধ ক্ষমতা বেশি থাকে।</li>
            <li>সহন ক্ষমতা বেশিঃ উত্তম পরিবাহীর সহন ক্ষমতা অনেক বেশি থাবকে।</li>
            <li>নমনীয়তাঃ উত্তম পরিবাহী যথেষ্ট নমনীয় হতে হবে।</li>
            <li>সহজ লভ্যঃ ভাল পরিবাহী সহজ লভ্য হতে হবে।</li>
            <li>স্থায়ীত্ব ঃ উত্তম পরিবাহী দীর্ঘ স্থায়ী হবে। ইত্যাদি।</li>
          </ol>

          <p style="color:#000000;font-size:15px;">
            <strong>পরিবাহীর পদার্থের প্রয়োজনীয়তাঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">বৈদ্যুতিক শক্তি বা এনার্জি বিতরণের ক্ষেত্রে পরিবাহীর ভূমিকা অপরিসীম। পরিবাহী পদার্থের দ্বারা তৈরি তার (wire) ও ক্যাবল সাধারণত বিদ্যুৎ পরিবাহী মাধ্যম হিসেবে ব্যবহার করা হয়। পরিবাহীর আয়তন এবং প্রস্থচ্ছেদের ক্ষেত্রফল মূলত প্রবাহিত বিদ্যুৎ শক্তির
            পরিমাণের উপর নির্ভর করে নির্ধারণ করতে হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>অপরিবাহীর পদার্থের প্রয়োজনীয়তাঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">বিদ্যুৎ বণ্টন ব্যবস্থায় দুটি বিপরীত তড়িৎ চার্জ পরিবাহকের মধ্যে বিদ্যুৎ ক্ষরণ হতে পারে। আবার পরিবাহক ও মাটির মধ্যেও বিদ্যুৎ ক্ষরণ হতে পারে । এবিদ্যুৎ ক্ষরণ বন্ধ করার জন্য অপরিবাহী পদার্থ ব্যবহারের প্রয়োজন হয়। যেমন-ক্যাবলের উপর ইনসুলেশন, বিদ্যুৎ
            লাইনে ব্যবহৃত কাঁচের বা চীনামাটির তৈরি পোরসেলিন ইত্যাদি। বৈদ্যুতিক যন্ত্রপাতি এবং সরঞ্জামে উন্নতমানের ইনসুলেশন ব্যবহার করা আইনগত বিধান। </p>
        </div>
      </div>
      <h4 id="page23-heading115" style="color:#F84F0D;font-style:italic;">বিদ্যুৎ পরিবাহী ও অপরিবাহী পদার্থের তালিকা </h4>
      <div class="item item-body" id="page23-list-item-container118">
        <div id="page23-markdown105" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বিদ্যুৎ পরিবাহী ও অপরিবাহী পদার্থের ভিন্ন ভিন্নভাবে নিচেই তালিকা আকারে প্রদত্ত হলো-</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বিদ্যুৎ সুপরিবাহী পদার্থের তালিকা</strong>ঃ </p>

          <p style="color:#000000;font-size:15px;">আমাদের আশপাশে অনেক ধাতব পদার্থ আছে যার মাধ্যমে বিদ্যুৎ প্রবাহিত হতে পাওে তাকে বিদ্যুৎ পরিবাহী বলা হয়। কতক গুলো বিদ্যুৎ পরিবাহী পদার্থের তালিকা নীচে দেয়া হল- ১. সোনা ২. রূপা ৩. তামা ৪. অ্যালুমিনিয়াম ৫. লোহা ৬. দস্তা ৭. নিকেল ৮. পিতল ৯. ব্রোঞ্জ
            ১০. স্টীল ১১. রাং ১২. টাংস্টেন ১৩. ক্যাড্নিয়াম ১৪. ক্রোমিয়াম ১৫. ম্যাঙ্গানিজ ১৬. প্লাটিনয়েড ১৭. ফসফরাস ১৮. সিলভার কপার সংকর ১৯. সীসা ২০. পারদ, প্রভৃতি</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বিদ্যুৎ অর্ধ-পরিবাহী পদার্থের তালিকাঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">বিদ্যুৎ অর্ধ-পরিবাহী পদার্থের সংখ্যা কম । তাই বিদ্যুৎ অর্ধ-পরিবাহী পদাথের তালিকা প্রণয়ন কিছুটা সমস্যাদায়ক। নিম্নে বিদ্যুৎ অপরিবাহী পদার্থের তালিকা দেয়া হলো- ১. জার্মেনিয়াম ৫. সিলিকন ৯. কার্বণ ২. গ্যালিয়াম ৬. আর্সেনাইড ১০.ভিজে মাটি ৩. ভেজা চামড়া
            ৭. ভেজা কাগজ ১১. কৃঞ্চ সিল্ক ৪. ভেজা কাঠ ৮. কয়লা ১২. পানি ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বিদ্যুৎ অপরিবাহী পদার্থের তালিকাঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">সাধারণতঃ সকল অধাতব পদার্থই বিদ্যুৎ অপরিবাহী। তাই বিদ্যুৎ অপরিবাহী পদার্থের তালিকা প্রণয়ন সমস্যাদায়ক নয়। বিদ্যুৎ অপরিবাহী পদার্থের তালিকা হল- ১. রাবার ২. শুষ্ক সুতা ৩. শুষ্ক কাগজ ৪. শুষ্ক কাঠ ৫. শুকনো চামড়া ৬. প্যারাফিন ওয়াক্স ৭. চীনামাটি ৮.
            মার্বেল পাথর ৯. অ্যাসবেষ্টর ১০.অ্যাবোনাইট ১১. পশম ১২. রেশম ১৩. গন্ধক ১৪. রঞ্জন ১৫. কাঁচ, ১৬. মাইকা ১৭. প্লাস্টিক ১৮. বিশুদ্ধ পানি ১৯. কম্প্রেসর অয়েল ২০. শ্লেট ইত্যাদি</p>
        </div>
      </div>
      <h4 id="page23-heading120" style="color:#F84F0D;font-style:italic;">পরিবাহী, অর্ধ-পরিবাহী ও অপরিবাহী পদার্থে ব্যবহার </h4>
      <div class="item item-body" id="page23-list-item-container125">
        <div id="page23-markdown111" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">প্রকৌশল কর্মকান্ডে পদার্থের ব্যাপক ব্যবহার রয়েছে। চাহিদা ও যোগানের উপর ভিত্তি করে পদার্থের কম- বেশি ব্যবহার লক্ষ্য করা যায় । বৈদ্যুতিক তার (wire), ফিউজ রৌপ্যের শংকর ধাতু, ইনসুলেটর, ট্রানজিস্টর, ডায়োড, থার্মিস্টর ইত্যাদি তৈরিতে বিভিন্ন ধরণের
            পদার্থ ব্যবহার করা হয়। সুপরিবাহী, অর্ধ-পরিবাহী ও অপরিবাহী পদার্থে ব্যবহার ক্ষেত্র উল্লেখ করা হল- পরিবাহী গুণ পদার্থের নাম ব্যবহার সুপরিবাহী পদার্থ তামা ও অ্যালুমিনিয়াম বৈদ্যুতিক তার, টিউব তৈরীতে রৌপ্য ফিউজ তৈরিতে অর্ধ-পরিবাহী পদার্থ জার্মেনিয়াম,
            সিলিকন, ট্রানজিস্টর, ডায়োড ইত্যাদি তৈরিতে থার্মিস্টর রিলে তৈরিতে অপরিবাহী পদার্থ</p>

          <p style="color:#000000;font-size:15px;">১. পিভিসি, রাবার, সূতা, পস্নাস্টিক তারের আবরণ বা ইনসুলেশন তৈরিতে</p>

          <pre>
            <code>২. চীনামাটি, কাচ ইনসুলেটর এবং ট্রান্সফরমার তৈরিতে ৩. মাইকা মোটরের স্ট্যার্টারের ইনসুলেশন হিসেবে </code>
          </pre>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>