<ion-view title="সিঙ্গেল ফেজ মোটর" id="page32">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page32-card228">
      <h4 id="page32-heading179" style="color:#F56A0A;font-style:italic;">সিঙ্গেল ফেজ মোটর (Single phase motor)</h4>
      <div class="item item-body" id="page32-list-item-container201">
        <div id="page32-markdown219" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">যান্ত্রিক হিমায়ন পদ্ধতির কমপ্রেসরকে পরিচালনার জন্য প্রাইমমুভার (Prime mover) হিসেবে প্রধানতঃ ইলেকট্রিক্যাল মোটর ব্যবহার করা হয়। ফলে হিমায়ন পদ্ধতিতে এই মোটরের ভূমিকা অনেক। এই মোটর পরিচালনা ও রক্ষণাবেক্ষণের জন্য আরো কিছু বৈদ্যুতিক যন্ত্রপাতি ব্যবহার
            করা হয়। মোটরসহ এইসব যন্ত্রপাতিকে হিমায়ন ও শীতাতপ নিয়ন্ত্রণের ইলেকট্রিক্যাল ডিভাইস বলে।</p>
        </div>
      </div>
      <h4 id="page32-heading181" style="color:#F56A0A;font-style:italic;">সিঙ্গেল ফেজ মোটরের নীতি </h4>
      <div class="item item-body" id="page32-list-item-container202">
        <div id="page32-markdown220" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>মোটরের মূলনীতিঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">চিত্রানুরূপ একটি ঘূর্ণনমান চুম্বক শলাকার কিছুটা উপর দিয়ে একটি পরিবাহী তার সমান্তরালভাবে স্থাপন কওে বিদ্যুৎ চালনা করলে দেখা যাবে, চুম্বক শলাকাটি মধ্যতল হতে বিচ্যুত হয়ে তারের সাথে সমকোণে স্থাপিত হবার প্রচেষ্টা (Torque) চালাচ্ছে। বিদ্যুৎ প্রবাহ
            দ্বারা সৃষ্ট চৌম্বক ক্ষেত্রের মিলিত প্রভাবেই এরূপ ঘটেছে। বিদ্যুৎ প্রবাহ বন্ধ করলে চুম্বক শলাকা পূর্বাবস্থায় ফিরে আসে। আবার বিদ্যুৎ প্রবাহের মাত্রা বৃদ্ধি করলে বিচ্যুতি বেড়ে যায়। আবার বিদ্যুৎ প্রবাহের দিক পরিবর্তন করলে শলাকার বিচ্যুতির দিকও
            পরিবর্তিত হয়। পার্শ্বস্থ ঘটনায় মোটর চলার নীতি পওয়া যায়। সিঙ্গেল ফেজ বিদ্যুৎ শক্তি প্রাপ্ত হয়ে চুম্বক শক্তিতে রূপান্তরের মাধ্যমে যান্ত্রিক শক্তি (ঘূর্ণন) বা টর্ক প্রদানে সমার্থ যন্ত্রকে মোটর বলে। এরূপ ঘটার কারণ- কোন পরিবহীতে চুম্বক ক্ষেত্র
            স্থাপন পূর্বক উহাতে বিদ্যুৎ প্রবাহিত করালে পরিবাহীতে একটি যান্ত্রিক বল (ক্রিয়া) উৎপন্ন হয় যার দিক ফ্লেমিংএর বাম হাতি নীতির অনুসরণে নির্ণয় করা যায়। </p>

          <p style="color:#000000;font-size:15px;">কেননা কোন পরিবাহীর মধ্যদিয়েবিদ্যুৎ প্রবাতি হলে এর চার পাশে একটি চৌম্বক ক্ষেত্রের সৃষ্টি হয় যাকে বিদ্যুৎ প্রবাহের চুস্বক ক্রিয়া বলে। এ নীতির কারণেই মোটর তথা পরিবাহীর বিদ্যুৎ প্রবাহ টর্ক উৎপন্ন করে। চুম্বক ক্ষেত্রস্থ পরিবাহীতে বিদ্যুৎ প্রবাহিত
            হলে পরিবাহীটি বিদ্যুৎ প্রবাহের সাথে সমকোণে গতি প্রাপ্ত হয়। সিঙ্গেল ফেজ মোটর ইন্ডাকশন নীতিতে কাজ করে। এর মূল অংশ স্ট্যাটর এবং রোটর। উভয়ই ওয়েল্ডিং করা থাকে। স্টেটরের রানিং ওয়েল্ডিং এ বিদ্যুৎ সরবরাহ করা হয় এবং রোটরের স্লটে কয়েল ওয়েল্ডিংএ কোন
            বিদ্যুৎ সরবরাহ করা হয় না। স্টেটরে সরবরাহকৃত বিদ্যুতের প্রভাবে বা আবেশে রোটরে ইন্ডাকশন বিদ্যুৎ উৎপন্ন হয়, যার জন্য স্ট্যাটরে সরবরাহ বিদ্যুৎ এবং আবেশিত রোটর বিদ্যুৎ কর্তৃক উৎপাদিত চুম্বক ক্ষেত্রের আকর্ষণ ও বিকর্ষণের জন্য রোটর ঘূর্ণন গতি প্রাপ্ত
            হয় এবং ঘুরতে থাকে। তাই এ ধরনের মোরটকে ইন্ডাকশন মোটর বলা হয়।</p>

          <p style="color:#000000;font-size:15px;">কম্প্রেসরকে চালনোর জন্য চারটি বৈদ্যুতিক ডিভাইস ব্যবহার করা হয়। যথা-</p>

          <p style="color:#000000;font-size:15px;">
            <strong>১। প্রাইম মুভারঃ</strong> মোটর (Motor), উইন্ড মিলস, টার্বাইন ইত্যাদি।
            <br>
            <strong>২। স্টার্টিং ডিভাই</strong>সঃ রিলে, ক্যাপাসিটর, সেন্টিফিউগাল সুইচ (Relay, Capacitor, Centrifugal switch) প্রভৃতি,
            <br>
            <strong>৩। সেফটি ডিভাইসঃ ওভা</strong>র লোড প্রটেক্টর (Over load protector), প্রেশার কাট আউট (Pressure cut out),
            <br>
            <strong>৪। তাপমাত্রা ও চাপ নিয়ন্ত্রণকারী ডিভাইসঃ </strong>থার্মোস্ট্যাট (Termostate), প্রেশার কাট আউট (Pressure Cut out), এছাড়া পদ্ধতির হিমায়ন পদ্ধতিকে ত্রুটিমুক্ত করার জন্য নিম্নবর্ণিত জিনিসপত্র ও যন্ত্রপাতি অতীব প্রয়োজন। যেমন-সুইচ, ফিউজ, বিভিন্ন
            মাপের তার, হিটার, টাইমার, কন্ট্যাক্টর, স্টার্টার, ল্যাম্প, ফ্যান হিউমিডিস্ট্যাট প্রভৃতি।</p>
        </div>
      </div>
      <h4 id="page32-heading180" style="color:#F56A0A;font-style:italic;">মোটরের প্রকারভেদঃ</h4>
      <div class="item item-body" id="page32-list-item-container203">
        <div id="page32-markdown221" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">যে বৈদ্যুতিক যন্ত্র ইলেকট্রিক্যাল শক্তি প্রা্প্ত হয়ে চুম্বক শক্তিতে রূপান্তরের মাধ্যমে যান্ত্রিক (ঘূর্ণন) শক্তি বা কাজ প্রদান করে তাকে মোটর বলে।</p>

          <p style="color:#000000;font-size:15px;">ক) ফেজ সংখ্যার উপর ভিত্তি করে মোটর দু’প্রকার। যথা-</p>

          <p style="color:#000000;font-size:15px;">১) সিঙ্গেল ফেজ (Single phase) মোটর,</p>

          <p style="color:#000000;font-size:15px;">২) বহু ফেজ (থ্রি-ফেজ) (Multi phase) মোটর। খ) বিদ্যুৎ প্রবাহ অনুযায়ী দু’প্রকার। যেমন- ১) এসি (AC) মোটরঃ Alternating current দ্বারা চালিত মোটর। ২) ডিসি (DC) মোটরঃ Direct current দ্বারা চালিত মোটর। গ) এসি সিঙ্গেল ফেজ মোটরকে প্রধানত চার ভাগে ভাগ
            করা যায়-</p>

          <p style="color:#000000;font-size:15px;">ক) ইন্ডাকশন মোটর (Induction motor), খ) রিপালশন মোটর (Repulsion motor)
            <br>গ) সিনক্রোনাস মোটর (Synchronus motor) ঘ) সিরিজ মোটর (Series motor),
            <br>ঘ) চালু করণ ব্যবস্থপনার উপর ভিত্তি করে সিঙ্গেল ফেজ ইন্ডাকশন মোটর সমূহ হল-</p>

          <p style="color:#000000;font-size:15px;">1) স্পস্নীট ফেজ মোটর (Split phase motor)
            <br>2) ক্যাপাসিটর স্টার্ট মোটর (Capacitor start motor)
            <br>3) ক্যাপাসিটর রান মোটর
            <br>4) স্টার্ট ও রান ক্যাপাসিটর মোটর (Start run capacitor motor)
            <br>5) শেডেড পোল মোটর
            <br>6) রেজিস্ট্যান্স স্টার্ট মোটর (Resistance start motor বা PTC রিলে স্টার্ট মোটর)
            <br>7) ইউনিভার্স্যাল মোটর (Universal motor)
            <br>বিভিন্ন প্রকার রিপালশন মোটর। যেমন-</p>

          <p style="color:#000000;font-size:15px;">1) সাধারণ রিপালশন মোটর (Simple repulsion motor)
            <br>2) কমপেনসেটেড রিপালশন মোটর (Compenseted repulsion motor)
            <br>3) রিপালশন স্টার্ট ইন্ডাকশন মোটর (Repulsion start induction motor)
            <br>4) রিপালশন ইন্ডাকশন মোটর (Repulsion induction motor)</p>
        </div>
      </div>
      <h4 id="page32-heading182" style="color:#F56A0A;font-style:italic;">মোটরের বর্ণনাঃ</h4>
      <div class="item item-body" id="page32-list-item-container204">
        <div id="page32-markdown222" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>ইন্ডাকশন মোটরঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">এ.সি সিঙ্গেল ফেজ ইন্ডাকশন মোটরের স্টেটরে ঘুরন্ত চুম্বক ক্ষেত্র সৃষ্টি হয়। এর ফলে রোটরটি স্টেটরের চৌম্বকত্বে আবেশিত হয়। স্টেটর ও রোটরের চুম্বক পারস্পরিক প্রতিক্রিয়ায় টর্ক (Torque) সৃষ্টি হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>রিপালশন মোটরঃ
            </strong>
          </p>

          <p style="color:#000000;font-size:15px;">রিপালশন মোটরে স্টেটরের ম্যাগনেটিক ফিল্ড এবং রোটরের ম্যাগনেটিক ফিল্ডের পারস্পরিক বিকর্ষণের ফলে টর্ক উৎপন্ন হয়। এতে রোটরের গঠন ডি.সি আর্মেচারের মত এবং ব্রাশসমূহ পরস্পর শর্ট সার্কিট করা থাকে। এর প্রধান ও সাহায্যকারী ওয়্যাইন্ডিং থাকে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>সিনক্রোনাস মোটরঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">সিনক্রোনাস শব্দের অর্থ সমলয়। সমলয় হল সমগতিতে (সমতালে) চলা। যে মোটরের স্টেটর চুম্বক ক্ষেত্র ও রোটর সমগতিতে ঘোরে তাকে সিনক্রোনাস মোটর বলে অর্থাৎ এমোটরের স্টেটরে সৃষ্ট চুম্বক ক্ষেত্রের গতিও রোটরের ঘূর্ণন গতি সমান থাকে। এ.সি. সিনক্রোনাস সিঙ্গেল
            পেজ মোটর দু’প্রকার। যথা-(১) রিলাকট্যান্স মোটর (২) হিস্টোরসিস মোটর।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>সিরিজ মোটরঃ
            </strong>
          </p>

          <pre>
            <code>সিঙ্গেল ফেজ সিরিজ মোটরের গঠন ডি.সি. মোটরের অনুরূপ। এক্ষেত্রে ফিল্ড ও আর্মেচার সিরিজে সংযুক্ত থাকে। এমোটরকে ডি.সি অথবা এ.সি সিঙ্গেল ফেজ (যেকোন প্রকার) সাপ্লাই দিয়ে চালানো যায়।</code>
          </pre>

          <p style="color:#000000;font-size:15px;">
            <strong> রেজিস্ট্যান্স স্টার্ট মোটরঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">এটি এক প্রকার স্পস্নীট ফেজ মোটর। বিশেষভাবে তৈরী ও পিটিসির রেজিস্ট্যান্সের সাহায্যে চওল বিধায় একে রেজিস্ট্যান্স স্টার্ট মোটর বলে। উক্ত পিটিসি রিলেতে Positive temperature co-efficient বৈশিষ্ট্যের থার্মিস্টও থাকে। তাপমাত্রা বৃদ্ধিও সাথে সাথে রিলেতে
            ব্যবহৃত পাথরের রেজিস্ট্যান্স বেড়ে যায়। ফলে মোটরের স্টার্টিং কযেলের বিদ্যুৎ প্রবাহ সীমিত হয় যা স্টার্টিং ওয়ান্ডিং এর জন্য নিরাপদ কারেন্ট থাকে। </p>

          <p style="color:#000000;font-size:15px;">
            <strong> শেডেড পোল মোটরঃ
            </strong>
          </p>

          <p style="color:#000000;font-size:15px;">এ মোটরের গঠন খুবই সহজ কিন্তু খুবই স্থায়ী। এর স্টেটর ওয়াইল্ডিং এবং পোলযুক্ত ডি.সি. মোটরের ন্যায়। অধিকন্তু প্রধান পোলের চারদিকের একাংশে একটা শট করা ওয়াইল্ডিং থাকে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>স্টার্ট ও রান ক্যাপাসিটর মোটরঃ
            </strong>
          </p>

          <p style="color:#000000;font-size:15px;"> রান ক্যাপাসিটর মোটর। এমোটরের কার্যকরী ক্ষমতা বেশি। এতে স্টার্টিং ওয়াইল্ডিং এর সাথে দু’টি ভিন্ন ভিন্ন মানের ক্যাপাসিটর যুক্ত থাকে। স্টার্টিং ক্যাপাসিটর হতে রিলে বা সেন্ট্রিফিউগ্যাল সুইচ মাধ্যমে যথাযথ শক্তি পেয়ে মোটর স্টার্ট হবার পর স্টার্টিং
            ক্যাপাসিটরের শক্তি হতে বিচ্ছিন্ন হয় এবং রানিং ক্যাপাসিটর হতে শক্তি পেয়ে মোটর চলতে থাকে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong> ইউনিভার্স্যাল মোটরঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">Universal অর্থ চিরমত্মন। এ মোটর সিংগল ফেজ এ.সি. এবং ডি.সি উভয় সরবরাহে কাজ করে। এটি মূলতঃ ডি.সি সিরিজ মোটর। A.C ও D.C উভয় কারেন্টে চলার কারণে একে ইউনিভার্স্যাল মোটর বলে।</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>