<ion-view title="সলিনয়েড ভ্যাল্ভ" id="page39">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page39-card236">
      <h4 id="page39-heading216" style="color:#F84F0D;font-style:italic;">অয়ল প্রেশার ও টেম্পারেচার কাটআউট </h4>
      <div class="item item-body" id="page39-list-item-container246">
        <div id="page39-markdown264" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Oil (অয়ল) বলতে সাধারণতঃ লুব্রিকেটিং অয়লকে বুঝায়। কম্প্রেসর অয়লও এক ধরণের লুব অয়ল যা কম্প্রেসর অয়ল নামে পরিচিত। কম্প্রেসরের ঘূর্ণনমান অংশসমূহ নির্বিঘ্নে পরিচালনা তথা মরিচা রোধ, পরিমিত পিচ্ছিলতা, অতিরিক্ত তাপমাত্রা হ্রাস করণের প্রয়োজনে ক্র্যাঙ্ক
            কেইসে অয়ল ব্যবহার করা হয়। এ অয়লের নির্দিষ্ট মাত্রা না থাকলে বিভিন্ন ধরণের সমস্যা দেখা দিতে পারে বা ক্ষয়ক্ষতি হতে পারে। তৈলের প্রত্যাশিত চাপ সংরক্ষরণের জন্য অয়ল পাম্প ও প্রেশার কাট আউট ব্যবহার করা হয়। কম্প্রেসরের ঘূর্ণনমান অংশ গুলো তেলের মাধ্যমে
            পিচ্ছিল করার জন্য পাম্প ব্যবহার করলে পাম্পের একটা সর্বনিম্ন চাপ দরকার হয়। ঐ পরিমাণ চাপ যদি পাম্প সৃষ্টি করতে না পারে তবে সঠিক লুব্রিকেশন হবে না । সে কারণে পাম্প যদি লুব্রিকেশনের যথাযথ চাপ সৃষ্টি করতে না পারে তবে অয়ল প্রেশার কাট আউট কম্প্রেসর
            চালানোর মোটরকে বন্ধ করে দেয়। ফলে কম্প্রেসর ক্ষয়-ক্ষতি হতে ত্মক্ষা পায়।</p>
        </div>
      </div>
      <h4 id="page39-heading217" style="color:#F84F0D;font-style:italic;">. অয়ল প্রেশার কাট আউটঃ</h4>
      <div class="item item-body" id="page39-list-item-container247">
        <div id="page39-markdown265" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">কম্প্রেসরের ক্র্যাংকে কেইসের অয়ল প্রেশার নিয়ন্ত্রণ করার জন্য যে কাট অউট ব্যবহৃত হয় তাকে অয়ল প্রেশার কাট-আউট বলে। ক্র্যাঙ্ক কেইসের চাপ (হিমায়কের সাকশন চাপ + ক্র্যাঙ্ক কেইসস্থ তৈলের চাপ) ও অয়ল পাম্পের চাপের পার্থক্যের উপর ভিত্তি করে এ কাট আউট
            কাজ করে। এ পার্থক্যকে আপেক্ষিক ডিফারেন্সিয়্যাল চাপ বল। অয়ল লাইনের তৈলের চাপ ও ক্র্যাঙ্ক কেইসের হিমায়কের চাপের সমষ্টিকে মোট লুব্রিকেশন বা অয়ল চাপ বলে। </p>

          <p style="color:#000000;font-size:15px;">পাম্পের নির্গমণ চাপ ঐ নির্দিষ্ট (সর্বনিম্ন) চাপের চেয়ে বেশি হলে খুব ভাল লুব্রিকেশন হয়। তাই ভাল লুব্রিকেশনের জন্য কম্প্রেসরের অয়ল পাম্পের কাট আউট প্রেশার সাধারণতঃ সাকশন প্রেশার থেকে কমপক্ষে 2.5 bar বেশি হয়। সুতরাং অয়ল প্রেশার কাট আউটের বেলায়-
            কাট আউট প্রেশার = সাকশন প্রেশার + 2.5 bar. অয়ল প্রেশার কাট আউটের চিহ্ণিত চিত্র নিম্নরূপ-</p>

          <p style="color:#000000;font-size:15px;">চিত্র- ৩.২ঃ অয়ল প্রেশার কাট আউটের চিহ্ণিত চিত্র।</p>
        </div>
      </div>
      <h4 id="page39-heading218" style="color:#F84F0D;font-style:italic;">অয়েল প্রেশার কাট-আউটের ব্যবহার ক্ষেত্র </h4>
      <div class="item item-body" id="page39-list-item-container248">
        <div id="page39-markdown266" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ক্র্যাঙ্ক কেইসে অয়লের প্রকৃত চাপ সংরক্ষণের জন্য মূলতঃ অয়ল প্রেশার কাট আউট ব্যবহার করা হয় লুব্রিকেশন সিস্টেমে অয়ল প্রেশার কাট আউট ব্যবহার করা হয়। অয়ল পাম্প ব্যবহৃত বড় বড় সকল সকল প্ল্যান্টের লুব্রিকেশনে অয়ল প্রেশার কাট আউট ব্যবহার করা হয়। তাই
            অয়ল প্রেশার কাট আউট ব্যবহৃত ক্ষেত্র সমূহে নাম হল- ১। বরফকল,
            <br>২। হিমাগার,
            <br> ৩। ফিসফ্রিজিং প্ল্যান্ট, ৪। এয়ারকন্ডিশনিং প্ল্যান্ট,
            <br>৫। ফ্লেকার অইস মেকার,
            <br>৬। ট্রলার রিফ্রিজারেমন সিস্টেম, ইত্যাদি </p>
        </div>
      </div>
      <h4 id="page39-heading219" style="color:#F84F0D;font-style:italic;">অয়েল প্রেশার কাট-আউটের অ্যাডজাস্টমেন্টঃ</h4>
      <div class="item item-body" id="page39-list-item-container249">
        <div id="page39-markdown267" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">অয়েল প্রেশার কাট-আউটের অ্যাডজাস্টমেন্ট রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং সিস্টেমের একটি গুরুত্বপূর্ণ বিষয়। এর অ্যাডজাস্টমেন্ট ইভ্যাপরেটরের তাপমাত্রা, রিফ্রিজারেন্ট ও সিস্টেমের আকারের উপর অনেকাংশ নির্ভরশীল। যেহেতু লুব্রিকেশনের জন্য অয়েল ব্যবহৃত
            হয় সেহেতু যথাযথ লুব্রিকেশনের উপর গুরুত্ব আরোপ করতঃ কম্প্রেসরের ঘূর্ণনমান অংশে অয়েল প্রেশার সংরক্ষণ করা হয়। কারণ কম্প্রেসরের সকল অয়েল লাইনার ও গ্যালারীতে সর্বোক্ষণ পরিমিত পরিমাণ তেল সরবরাহ অপরিহার্য্য। তাই পাম্পের নির্গম লাইনে অয়েল প্রেশার
            ঠিক রাখা দরকার। ক্র্যাংকেজের অয়েল প্রেশার সঠিক না থাকলে পাম্পের নির্গম লাইনে ও সঠিক মাত্রায় তৈল সরবরাহ সম্ভব নয় । পরীক্ষার মাধ্যমে কম্প্রেসরের সাকশন প্রেশার রেকর্ড করা হয়। এ প্রেশারের সাথে ২,৫ পি.এস আই. যোগ করে অয়েল প্রেশার কাট-আউটে কাট প্রেশার
            সেট করা হয়। অয়ল পাম্প কম্প্রেসরের ফ্লাই হুইলের বিপরীত দিকে অবস্থিত যার নির্গমণ লাইনে একটা প্রেশার গেইজ থাকে। এ গেইজের অয়ল প্রেশার = সাকশন প্রেশার + কাট আউট ডিফারেন্সিয়্যাল। এ ডিফারেন্সিয়্যাল কমপক্ষে 2.5 bar বা প্রায় ৩৬ পি.এস.আই রাখা হয়। অয়ল
            প্রেশার কাট আউট একবার ট্রিপ করলে প্রয়োনীয় মেরামত বা সার্ভিসিং করার পর কাট আউটের রিসেট বাটন না চাপা পর্যন্ত কাট আউট সংযোগ দেবে না। *সর্ব নিম্ন কাট আউট প্রেশার = সাকশন প্রেশার + 2.5 bar (এখানে 2.5 বার হল ডিফাঃ প্রেশার)। উলেস্নখ্য অয়েল প্রেশার
            কাট-আউটের সাহায্যে মূলতঃ কম্প্রেসর মোটরকে নিয়ন্ত্রণ (চালু ও বন্ধ) করা হয়। কম্প্রেসরের ক্র্যাংকেজের অয়েলের পরিমিত চাপ ও অয়েলের অতি নিম্ন চাপ পার্থক্যের (আপেক্ষিক ডিফারেনিাসয়্যাল প্রেশার) উপর নির্ভর করে এই প্রেশার কাটআউটের কাট-ইন ও কাটআউট এবং
            ডিফারেন্সিয়্যাল সংখ্যামান নির্ধারণ পূর্বক অ্যাডজাস্টিং নব বা স্ক্রু ঘুরিয়ে স্কেলে নির্দেশিকা বা শলাকা সেট করা হয়। কাট ইন প্রেশারঃ- যে চাপে সার্কিট অন থাকে । কাট আউট প্রেশারঃ- যে চাপে সার্কিট অফ থাকে অর্থাৎ বিদ্যুৎ প্রবাহ চলে না । অয়ল প্রেশার
            কাট আউটের সর্ব নিমণ চাপ (কাট আউট চাপ) = সাক্শন চাপ + ২.৫ বার। </p>
        </div>
      </div>
      <h4 id="page39-heading220" style="color:#F84F0D;font-style:italic;">পরোক্ষভাবে ক্রিয়াশীল (Indirect Acting) তাপমাত্রা নিয়ন্ত্রকঃ </h4>
      <div class="item item-body" id="page39-list-item-container250">
        <div id="page39-markdown268" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">যে তাপমাত্রা নিয়ন্ত্রক ইভ্যাপরেটরের যে কোন অংশের (সাকশন গ্যাস ব্যতিত) তাপমাত্রা অনুযায়ী প্রভাবিত হয়ে বিদ্যুৎ প্রবাহ অফ-অনের কাজ করে তাকে পরোক্ষভাবে ক্রিয়াশীল তাপমাত্রা নিয়ন্ত্রক বলে। ১. ডিফারেন্সিয়্যাল স্কেল যুক্ত বা কাট-আউট ও কাট-ইন অ্যাডআস্টমেন্ট
            তাপমাত্রা নিয়ন্ত্রকঃ যে সকল তাপমাত্রা নিয়ন্ত্রকে ডিফারেন্সিয়্যাল স্কেল সংযুক্ত থাকে তাকে ডিফারেন্সিয়্যাল স্কেল যুক্ত বা কাট-আউট ও কাট-ইন অ্যাডআস্টমেন্ট তাপমাত্রা নিয়ন্ত্রক। ২. ডিফারেন্সিয়্যাল বিহীন বা শুধুমাত্র কাট-আউট ও কাট-ইন অ্যাডআস্টমেন্ট
            তাপমাত্রা নিয়ন্ত্রকঃ যে সকল তাপমাত্রা নিয়ন্ত্রকে ডিফারেন্সিয়্যাল স্কেল সংযুক্ত থাকে না শুধু মাত্র অফ ও অন হয় তাকে ডিফারেন্সিয়্যাল স্কেল বিহীন বা কাট-আউট ও কাট-ইন অ্যাডআস্টমেন্ট তাপমাত্রা নিয়ন্ত্রক।</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>