<ion-view title="ওহমের সূত্র  " id="page28">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page28-card224">
      <h4 id="page28-heading156" style="color:#FC640D;font-style:italic;">ওহমের সূত্র (Ohom’s Law) </h4>
      <div class="item item-body" id="page28-list-item-container176">
        <div id="page28-markdown192" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">চাপের সাহায্যে পাম্প যেমন তরল উৎস হতে পাইপ লাইনের মাধ্যমে তরলকে নির্দিষ্ট স্থানের দিকে প্রবাহ সৃষ্টি করে তদ্রুপ ব্যাটারী বা অন্য কোন তড়িৎ উৎস পরিবাহীর মাধ্যমে বিদ্যুৎ প্রবাহ সৃষ্টি করে। পাম্পের চাপ যতবেশি হয় তরলের প্রবাহও ততবেশি হয়। অনুরূপভাবে
            তড়িৎ উৎসের তড়িচ্চালক বল যত বেশি হবে বিদ্যুৎ প্রবাহমাত্রাও তত বেশি হবে।</p>
        </div>
      </div>
      <h4 id="page28-heading158" style="color:#FC640D;font-style:italic;">ওহমের সূত্র (Ohom’s Law) </h4>
      <div class="item item-body" id="page28-list-item-container174">
        <div id="page28-markdown190" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>ওহমের সূত্রঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">ভোল্টেজের কারণে পরিবাহীতে বিদ্যুৎ প্রবাহিত হয়। তড়িৎ চালক বলই হলভোল্টেজ বা বিভব পার্থক্য (V) এবং বিদ্যুৎ প্রবাহমাত্রা হল কারেন্ট (I) । এ কারেন্ট হল ভোল্টেজের সামানুপাতিক।
            <br> অর্থাৎ I α V .</p>

          <p style="color:#000000;font-size:15px;">পাইপের প্রবাহমাত্র শুধুমাত্র পাম্পের উপর নির্ভশীল না হয়ে পাইপের দৈর্ঘ্য, ব্যাস, ইত্যাদির উপর নির্ভর করে। পাম্পের চাপ স্থির থাকলেও পাইপ লাইন লম্বা ও সরু (বাঁধা) হবার কারণে তরল প্রবাহমাত্রা কমে যায়। অনুরূপভাবে বৈদ্যুতিক বর্তনীতেও পরিবাহীর অবস্থা
            ও প্রকৃতির কারণে বাঁধা গ্রস্থ হয়ে প্রবাহমাত্রা কমে যায়। এ বাঁধাকে রোধ বা রোধক (Resistance) বলে যাকে R দ্বারা প্রকাশ করা হয়। এবাধাঁ কারেন্টের সাথে উল্টানুপাতিক।
            <br> অর্থাৎ I α
            <br>বর্ণিত তথ্যের উপর ভিত্তি করে ১৮২৬ খৃস্টাব্দে বৈজ্ঞানিক জর্জ সাইমন ওহম (George Simon ohm) রোধক (Resistance), বিদ্যুৎ প্রবাহ (Current) ও বৈদ্যুতিক চাপ (Voltage) এর মধ্যে একটা গাণিতিক সম্পর্ক সৃষ্টি করেন। এসম্পর্কটি ওহমের সূত্র (Ohm’s law) নামে
            পরিচিতি।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ওহমের সূত্রটি হল </strong>
          </p>

          <p style="color:#000000;font-size:15px;"> স্থির তাপমাত্রায় কোন বিদ্যুৎ পরিবাহীর ভিতর দিয়ে যে বৈদ্যুতিক কারেন্ট (I) প্রবাহিত হয় তা ঐ পরিবাহীর দু’প্রান্তের বৈদ্যুতিক বিভব বৈষম্যের (V) সাথে সমানুপাতিক এবং ঐ পরিবাহীর রেজিস্ট্যান্সের (R) সাথে উল্টানুপাতিক।</p>

          <p style="color:#000000;font-size:15px;"> ব্যাখ্যাঃ চিত্রে A B একটি পরিবাহী, A ও B প্রান্তেও বিভব যথাক্রমে AV ও BV. যদি AV &gt; BV হয়, তবে বিভব পার্থক্য AV - BV = V. ফলে A থেকে B বিন্দুর দিকে বিদ্যুৎ I প্রবাহিত হবে।</p>

          <p style="color:#000000;font-size:15px;"> -A ---------------- --I-----------------B- AV R BV</p>

          <p style="color:#000000;font-size:15px;"> ভোল্টেজ ও রোধের অবস্থান।</p>

          <p style="color:#000000;font-size:15px;">চিত্রে ওহমের সূত্রানুসারে, I  (AV – BV).
            <br> বা, I  V.
            <br> বা, I = GV. এখানে G হলো সামানুপাতিক ধ্রুবক যাকে পরিবাহিতা (Coductance) বলে। G এর বিপরীত রাশিকে বলা হয় রোধক বা Resistance. অর্থাৎ G = বা, -------------(2)
            <br>গাণিতিকভাবে সূত্রটি, I 
            <br> বা, যখন তাপমাত্রা স্থির থাকে।</p>
        </div>
      </div>
      <h4 id="page28-heading159" style="color:#FC640D;font-style:italic;">ওহমের সূত্রের বর্ণনা </h4>
      <div class="item item-body" id="page28-list-item-container177">
        <div id="page28-markdown193" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">গাণিতিক সমাধান এরূপ যে, যদি বর্তনীর কারেন্ট (I) সরবরাহ ভোল্টেজ (V) বর্তনীর রেজিস্ট্যান্স (R) হয় এবং তাপমাত্রা (T) স্থির থাকলে, ওহমের সূত্রের প্রথমাংশ অনুসারে-</p>

          <p style="color:#000000;font-size:15px;"> I  V যখন R অপরিবর্তিত থাকে।.............(i)</p>

          <p style="color:#000000;font-size:15px;"> ওহমের সূত্রের দ্বিতীয়াংশ অনুসারে যখন </p>

          <pre>
            <code>V অপরিবর্তিত থাকে। ...... (ii) সমীকরণ ১ ও ২কে সমন্বয় করে I  যখন V ও R পরিবর্তনশীল থাকে। .......... (i ও ii) বা, I = K. যখন K একটা ধ্রুব সংখ্যা 1 ওহম রেজিস্ট্যান্সের কোন বর্তনীর মধ্যে দিয়ে ১ ভোল্ট (Volt) বৈদ্যুতিক চাপে ১ অ্যাম্পিয়ার কারেন্ট
              প্রবাহিত হলে K এর মান 1 হবে। অর্থাৎ K = I I = or, V = IR or, R = </code>
          </pre>

          <p style="color:#000000;font-size:15px;">, সুতরাং ওহমের সূত্রটি গাণিতিকভাবে দাঁড়ায় I = K যখন K ধ্রুবক।  I = যখন K এর মান ১। অতএব, ওহমে সূ্ত্রানুসারে,
            <br> বা, V = IR Volt
            <br> বা, R = Ohms</p>
        </div>
      </div>
      <h4 id="page28-heading160" style="color:#FC640D;font-style:italic;">নির্দিষ্ট লোডে ওহমের সূত্রের প্রমাণঃ</h4>
      <div class="item item-body" id="page28-list-item-container178">
        <div id="page28-markdown194" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ওহমের সূত্রানুসারে স্থির তাপমাত্রায় একই লোডের ক্ষেত্রে ভোল্টেজ পরিবর্তনের সাথে সার্কিটের বিদ্যুৎ প্রবাহ সামানুপাতিকভাবে পরিবর্তিত হবে। নিচের উদাহরণ দ্বয়ের মাধ্যমে বক্তব্যের সত্যতা প্রমাণ করা হল- ১ম চিত্রে, </p>

          <p style="color:#000000;font-size:15px;">পরিবর্তনশীল ভোল্টেজ = ২২০ ভোল্ট, </p>

          <p style="color:#000000;font-size:15px;">রোধ (নির্দিষ্ট লোড) = ১১ ওহম, ভোল্ট মিটারে নির্দেশিত ভোল্ট = ২২০ ভোল্ট, অ্যাম্পিয়ার মিটারে নির্দেশিত বিদ্যুৎ = ২০অ্যাম্পঃ</p>

          <p style="color:#000000;font-size:15px;">গাণিতিক হিসাব,
            <br> কারেন্ট = অ্যাঃ
            <br> = অ্যাঃ
            <br> = ২০ অ্যাঃ </p>
        </div>
      </div>
      <div id="page28-markdown197" class="show-list-numbers-and-dots">
        <p style="color:#000000;">আলোচনা (পরীক্ষা দ্বয়) হতে দেখা যায় নির্দিষ্ট লোড ১১ওহম এবং ভিন্ন ভিন্ন ভোল্টেজ ২২০ ও ১১০ ভোল্টের ক্ষেত্রে ভিন্ন ভিন্ন যথাক্রমে ২০ ও ১০ অ্যাঃ । অর্থাৎ ভোল্টেজের পরিবর্তনের সাথে সাথে বিদ্যুৎ প্রবাহ পরিবতর্নশীল। অতএব ওহমের বক্তব্যটি সঠিক (প্রমাণিত)।</p>

        <p style="color:#000000;">
          <strong>বৈদ্যুতিক চাপ (Voltage-V) t </strong>
        </p>

        <p style="color:#000000;">পরিবাহিতে বিদ্যুৎ প্রবাহের জন্য যে চাপের প্রয়োজন হয় তাকে বৈদ্যুতিক চাপ বা ভোল্টেজ বলে। এর একক হচ্ছে ভোল্ট, একে সংক্ষেপে V বা E দ্বারা প্রকাশ করা হয়। ভোল্ট ২ প্রকার এসি ভোল্ট ও ডিসি ভোল্ট।</p>

        <p style="color:#000000;">
          <strong>রোধক (Resistance = R) t </strong>
        </p>

        <p style="color:#000000;">ইলেকট্রন (Electron) পরিবাহীতে চলতে পারে। Electron চলাচলের সময় পরিবাহী কর্তৃক বাঁধা পেতে পারে। পরিবাহীতে ইলেকট্রন চলাচলের এই বাঁধাকে রোধক বা রোধ বলা হয়। রোধ পরিমাপের একক হল ওহম (Ohm)। ওহমকে ‘‘’’ চিহ্ন দ্বারা প্রকাশ করা হয়। রোধ পরিবাহীর বর্ণিত
          শর্তের উপর নির্ভরশীল- ১। পরিবাহীর দৈর্ঘ্য , ২। পরিবাহীর প্রস্থচ্ছেদ , ৩। পরিবাহীর তাপমাত্রা, ৪। পরিবাহীতে আলোর প্রভাব, ৫। পরিবাহীতে চুম্বকত্বের প্রভাব, ৬। পরিবাহীতে রোধের ও চাপের প্রভাব, ৭। পরিবাহীর বিশুদ্ধতা, ইত্যাদি।</p>

        <p style="color:#000000;">
          <strong>আপেক্ষিক রোধ (ρ)ঃ</strong>
        </p>

        <p style="color:#000000;">একক দৈর্ঘ্য (l) ও প্রস্থচ্ছেদ (A) বিশিষ্ট কোন পরিবাহী বিদ্যুৎ প্রবহে যে বাঁধা (R) প্রদান করে তাকে আপেক্ষিক রোধ (ρ) বলে । তামার আপেক্ষিক রোধ 16.2x10-8 Ω.m ।
          <br> আপেক্ষিক রোধ (ρ) = Ω.m </p>

        <p style="color:#000000;">
          <strong>পরিবাহীতা (G) ঃ </strong>
        </p>

        <p style="color:#000000;">বিশেষ বৈশিষ্ট্যের কারণে পরিবাহীতে Electron চলাচল করতে পারে। পরিবাহীতে ইলেকট্রন চলাচলের এগুণই হল পরিবাহীতা (Conductance)। অর্থাৎ পরিবাহীর যে ধর্মের জন্য উতে বিদ্যুৎ চলাচল করতে সক্ষম তাকে পরিবাহীতা বলে। এটি পরিমাপের একক হলো Ohm-1 বা মোহ (mho) বা
          সিমেন্স (Siemens = S) </p>
      </div>
    </div>
  </ion-content>
</ion-view>