<ion-view title="সাধারণ হ্যান্ড টুলস     " id="page13">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page13-card211">
      <h4 id="page13-heading21" style="color:#FA4708;font-style:italic;">সাধারণ হ্যান্ড টুলস (Common hand Tools)</h4>
      <div class="item item-body" id="page13-list-item-container33">
        <div id="page13-markdown39" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">’’যন্ত্রের ধারই কারিগরের ধার’’। যন্ত্রপাতির যথাযথ প্রয়োগের জ্ঞানই দক্ষতার (ধারের) প্রতিফলন। দক্ষতার প্রতিফলনের মানদন্ড কারিগরের যন্ত্রপাতি ব্যবহারের উপর নির্ভরশীল। যন্ত্র জ্ঞানের দ্বারাই একজন স্কীল্ড ওয়ার্কার তার দক্ষতা বৃদ্ধি করতে পারবে। কোন
            কাজ কম সময়ে পরিমাণেবেশি, সুন্দার ও সুষ্ঠুভাবে এবং দক্ষতার সাথে সম্পন্ন করার জন্য যে সকল সাহায্যকারী যন্ত্রপাতি ব্যবহার করা হয় তাকে টুল্স বলে। এসকল হাতিয়ার বা বস্ত্তর সাহায্যে দুঃসাধ্য কাজ সহজে করা যায়। টুলস ব্যবহার জ্ঞানের দ্বারা কর্মীর কর্মক্ষমতা
            ও আচরণ কৌশল বেড়ে যায়। ফলে কর্মীর ধার ও মান-মর্যাদা বেড়ে যায়।</p>
        </div>
      </div>
      <h3 id="page13-heading22" style="color:#F63F0F;font-style:italic;"> হ্যান্ড টুলসের তালিকা </h3>
      <div class="item item-body" id="page13-list-item-container34">
        <div id="page13-markdown40" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">কর্মশালয় বিভিন্ন প্রকার কাজের জন্য বিভিন্ন প্রকার টুল্স ব্যবহার করা হয়। কিছু টুল্স আছে যে গুলো প্রায় সকল কর্মশালায় ব্যবহার হয়। কর্মশালয় ব্যবহুত প্রয়োজনীয় হ্যান্ড টুলসের তালিকা নিম্নরূপ-</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/ENa4Oi1RBeSfzoBZF3Fm_3-13-201812-42-57AM.jpg" style="display: block; width: 100%; height: 400px; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="page13-heading23" style="color:#F5480D;">হ্যান্ড টুলসের কাজ </h3>
      <div id="page13-markdown41" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;font-size:15px;">টুলস এমন হাতিয়ার যা কাজকে সুন্দর, সুষ্ঠু দ্রুততর ও সঠিকভাবে সম্পাদনে সাহায্য করে। আধুনিক সভ্যতায় প্রায়ই সকল কাজই সম্পাদন করা হচ্ছে টুলসের সাহায্যে। আবাসিক বা কারিগরি উভয় ক্ষেত্রেই দৈনন্দিন সকল কাজ-কর্ম যথাযথ সম্পাদনে হ্যান্ড টুলসকে কাজে লাগানো
          হয়। উৎপাদনের কাজেও টুলসের গুরুত্ব অসীম। তাই হ্যান্ড টুলস্কে যথাক্রমে নিম্নরূপ ক্ষেত্রেও কাজে ব্যবহার করা হয় -</p>
      </div>
      <h3 id="page13-heading24" style="color:#FA4C08;">হ্যান্ড টুলসের প্রকারভেদ </h3>
      <div class="item item-body" id="page13-list-item-container35">
        <div id="page13-markdown42" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">দৈনন্দিন বহুবিদ কাজের জন্য অগণিত হ্যান্ড টুলস ব্যবহার করা হয়। কাজের সুবিধার্থে কাজের ধরণ, কাজের ক্ষেত্র ইত্যাদির উপর ভিত্তি করে হ্যান্ড টুলসকে শ্রেণী বিভাগ করা হয়। পরিচালনা শক্তির উপর ভিত্তি করে ২ প্রকার যেমন- 1. শক্তি চালিত টুলস্ (Power tools)|
            t একে যন্ত্র চালিত টুলসও বলে। যেমন- লেদ মেশিন, টার্ণার মে শিন ইত্যাদি। 2. মানুষ চালিত টুলস্ (Manual tools) t একে হসত্ম চালিত বা হ্যান্ড টুলসও বলে। যেমন-হাতুড়ি, চিজেল ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">কাজের ধরণ ও ক্ষেত্রে উপর ভিত্তি করে ৪ প্রকার। যথা-</p>

          <p style="color:#000000;font-size:15px;">ক. সাধারণ টুলসঃ Common বা সাধারণ কাজে প্রায় সকল কর্ম ক্ষেত্রে ব্যবহার যোগ্য টুলস্কে সাধারণ টুলস বলে। অর্থাৎ বিভিন্ন কর্মকান্ডে Common Tools হিসেবে যে সমসত্ম যন্ত্রপাতি ব্যবহার হয় তাই সাধারণ টুলস।যেমন- হাতড়ি,স্ক্রু- ড্রাইভার ইত্যাদি খ. মেজারিং
            (পরিমাপক) টুলসঃ পরিমাপ করার জন্যে যে সকল হাতিয়ার ব্যবহার করা হয় তাকে পরিমাপক
            <br> টুলস্ বলে। যেমন- স্টীল রম্নল, ট্রাই-স্বয়ার ইত্যাদি। গ. কাটিং টুলসঃ কাটার কাজে যে সকল টুল্স ব্যবহার করা হয় তাকে কাটিং টুলস্ বলে। যেমন-হ্যাক’স’, ছুরি ইত্যাদি ঘ. বিশেষ টুলস (ট্রেড ভিত্তিক)ঃ ট্রেড বা কাজ ভিত্তিক কিছু টুলস্ ব্যবহার করা হয় তাকে
            বিশেষ টুলস বলে। যেমন- রীমার,
            <br> ফ্লায়ারিং টুললস্ ইত্যাদি।</p>
        </div>
      </div>
      <h3 id="page13-heading25" style="color:#F6480D;font-style:italic;">হ্যান্ড টুলসের বর্ণনা </h3>
      <div class="item item-body" id="page13-list-item-container36">
        <div id="page13-markdown43" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">প্রতিনিয়ত বিভিন্ন প্রকার কাজ টুলসের সাহায্যে সম্পাদন করা হয়। এমন অনেক টুলস আছে যে গূলো প্রায় সকলে ব্যবহার করে এবং চিনে। বিশেষ কাজে কিছু কিছু টুলস আছে যে গুলো সংশ্লিষ্ট ব্যক্তি ব্যতিত চিনে না বা ব্যবহার করতে পারে না। সেজন্য টুলস সম্পর্কে জানা
            প্রয়োজন বিধায় এখানে কতকগুলো টুলস সম্পর্কে বর্ণনা করা হল</p>
        </div>
      </div>
      <h4 id="page13-heading26" style="color:#F3570D;font-style:italic;">হাতুড়ী (হ্যামার) (Hammer)-</h4>
      <div class="item item-body" id="page13-list-item-container37">
        <div id="page13-markdown44" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হাতুড়ী সকলের প্রয়োজনীয় এবং পরিচিত হ্যান্ড টুলস। কোন বস্ত্ত বা জায়গাতে আঘাত করার জন্য এটা ব্যবহার করা হয়। বিভিন্ন কাজে বিভিন্ন ধরনের হাতুড়ী ব্যবহার করা হয়। যেমন- বলপিন হ্যামার, স্ট্রেইট পিন হ্যামার, ক্রস পিন হ্যামার, লেডি হ্যামার, উডেন হ্যামার,
            প্লাস্টিক হ্যামার প্রভৃতি। </p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/6yXsRuKxRfuSMXzHuwqH_3-13-201812-58-38AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="page13-heading27" style="color:#F6420A;">মুগুর (Malet</h3>
      <div class="item item-body" id="page13-list-item-container38">
        <div id="page13-markdown46" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">মুগুর নমনীয় কাজ করতে ব্যবহার করা হয়। শীটমেটালের কাজ, ধাতব পাতের উপরিভাগ সমতল, কপার টিউবের বাহির পৃষ্ঠ সমতল করতে ব্যবহার করা হয়। বিশেষ করে টিউব বেন্ডিং স্প্রীং এ আঘাত করতে ইহা বেশি ব্যবহার উপযোগী।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/YbpdUHTLShulfpGVTpQ3_3-13-201812-56-36AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="page13-heading28" style="color:#F5450A;">পাঞ্চ (Punch)-</h3>
      <div class="item item-body" id="page13-list-item-container39">
        <div id="page13-markdown47" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পাঞ্চ এক প্রকার হ্যান্ড টুলস। এর দ্বারা কর্তন এবং উচু-নীচু পৃষ্ঠদেশ সমান করা হয়। কোন ধাতব পৃষ্ঠে পয়েন্ট সৃষ্টি করতেও ইহা ব্যবহার হয়। বিভিন্ন প্রকার পাঞ্চের মধ্যে- সেন্টার পাঞ্চ, ড্রাইভ পাঞ্চ, ড্রিফট পাঞ্চ, অটোমোটিভ সেন্টার পাঞ্চ উল্লেখ যোগ্য।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/f003uGZTnu8dDsYaGZ3Q_3-13-20181-02-11AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="page13-heading29" style="color:#F36506;">পস্নায়ার (Pliars)- </h3>
      <div class="item item-body" id="page13-list-item-container40">
        <div id="page13-markdown48" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">কোন জিনিস মজবুতভাবে ধরার জন্য সাধারণতঃ নাট বোল্ট লাগানো ও খোলার জন্য এমন কি কোন আলপিন উত্তোলনের জন্য এবং বৈদ্যুতিক তার কর্তনের জন্য পস্নায়ার ব্যবহার করা হয়। ফস্নাট নোজ পস্নায়ার, লংনোজ পস্নায়ার, রাউন্ড নোজ পস্নায়ার, কাটিং পস্নায়ার, কম্বিনেশন
            পস্নায়ার প্রভৃতি পস্নায়ার বিভিন্ন কাজে ব্যবহার করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/7FcBTHenQEiXHj2j4WPq_3-13-20181-04-48AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="page13-heading30" style="color:#FA600A;font-style:italic;">. রেঞ্চ (Wrench)- </h3>
      <div class="item item-body" id="page13-list-item-container41">
        <div id="page13-markdown49" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বড় ধরণের নাট-বোল্ট ইত্যাদিকে শক্তভাবে ধরে আটকাতে ও খুলতে এপ্রকারের টুলস খুবই প্রয়োজন। নাট বোল্টের আকার ও এর আকার মিলিয়ে রেঞ্চ বিভিন্ন ধরণের কাজে ব্যবহার করা হয়। এদের কতিপয় নাম হল-স্লাইড বা অ্যাডজাস্ট্যাবল রেঞ্চ, সটেক রেঞ্চ, লিভার রেঞ্চ, ‘জ’
            রেঞ্চ, অফসেট সটেক রেঞ্চ, টি-সকেট রেঞ্চ, টি-হ্যান্ডেল ট্যাপ রেঞ্চ, অ্যাডজাস্ট্যাবল ট্যাপ রেঞ্চ, র‌্যাসেট রেঞ্চ প্রভৃতি।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/H44emRvYQLCrLTfH75IV_3-13-20181-12-02AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="page13-heading31" style="color:#F87F0F;font-style:italic;">. স্ক্র্যাপার (Scraper)t </h3>
      <div class="item item-body" id="page13-list-item-container42">
        <div id="page13-markdown50" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ছাঁচনির অনুরুপ এটি দিয়ে মেটাল পাত, গ্যাসকেট, বেইস প্লেট প্রভৃতির ময়লা পরিষ্কার করা হয়। কোন কোন সময় গ্যাসকেট মুক্ত করতে এটি ব্যবহার করা হয়। ফ্লাট, হাফ রাউন্ড, ট্রাই অ্যাঙ্গুলার স্ক্র্যাপার বাজারে পাওয়া যায়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/UopXdHJyTQOQgkLfJfYs_3-13-20181-14-10AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class=" item item-image">
        <img src="img/hAWyAgFxTLCZvfi5IkWQ_3-13-20181-15-24AM.jpg" style="display: block; width: 100%; height: 310px; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="page13-heading32" style="color:#FF600A;">উখা (File)- </h3>
      <div class="item item-body" id="page13-list-item-container43">
        <div id="page13-markdown51" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ফাইল দিয়ে মেটালের পৃষ্ঠদেশ কেটে মসৃণ করা হয়। ওভার সাইজ বস্ত্তকে সঠিক সাইজ করা, নাট-বোল্ট তৈরী করা, বস্ত্তকে প্রয়োজনীয় আকৃতি প্রদান, ধাতব চিপ্স বা বারকে মসৃণ করা ইত্যাদি কাজে ব্যবহার করা হয়। ফ্লাট ফাইল, স্কোয়ার ফাইল, রাউন্ড ফাইল, হাফ রাউন্ড ফাইল,
            ট্রাই অ্যাঙ্গুলার ফাইল প্রভৃতি নামের ফাইল ব্যবহার করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/VYftgozQbuFvUCk4A11H_3-13-20181-18-21AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="page13-heading33" style="color:#EE6408;font-style:italic;">হ্যান্ড ড্রিল (Hand Drill) - </h3>
      <div class="item item-body" id="page13-list-item-container44">
        <div id="page13-markdown52" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হ্যান্ড ড্রিল ছিদ্র করার যন্ত্র। তাই ছিদ্র করার কাজে এ ব্যবহৃত হয়। এর সাহায্যে কাঠ বা দেওয়াল ছিদ্র করা হয়। এটা চার প্রকার- ছোট হ্যান্ড ড্রিল, পোস্ট অ্যান্ড র‌্যাচেট ড্রিল, রেঞ্চ ড্রিল। এটি হ্যান্ডল, টার্ণিং হ্যান্ডল, সাইড হ্যান্ডল, চাক, ’’জ’’,
            ড্রিল বিট, ড্রাইভ হুইল ইত্যাদি নিয়ে গঠিত।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/WXjvpPcgQOi4EpbcPoML_3-13-20181-22-21AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="page13-heading34" style="color:#EE6408;font-style:italic;">ট্যাপ (Tap)-</h3>
      <div class="item item-body" id="page13-list-item-container45">
        <div id="page13-markdown53" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">কান নাটের বা পাইপের ভিতরে প্যাচ (ফিমেল থ্রেড) তৈরির জন্য ব্যবহার করা হয়। এগুলো চার প্রকারের যথা-হ্যান্ড ট্যাপ, বয়লার ট্যাপ, পাইপ ট্যাপ, মেশিন স্ক্রু ট্যাপ।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/VKe8JEHQL4LFlHuHOiYQ_3-13-20181-25-18AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class=" item item-image">
        <img src="img/LcPRN50TSyS7EP1huLDd_3-13-20181-27-20AM.jpg" style="display: block; width: 100%; height: 278px; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading36" style="color:#EE6408;font-style:italic;">পরিমাপক টুলস (Measuring Tools)-</h4>
      <div class="item item-body" id="page13-list-item-container47">
        <div id="page13-markdown55" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">যে সমসত্ম টুলস পরিমাপের জন্য ব্যবহার করা হয় তাকে পরিমাপক টুল্স বলে। পরিমাপক টুলসের তালিকা-</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/jkbfXDGfSNWGrPj7vqcw_3-13-20181-32-18AM.jpg" style="display: block; width: 100%; height: 178px; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading37" style="color:#EE6408;font-style:italic;">স্টীল রুল (Steel Rule)- </h4>
      <div class="item item-body" id="page13-list-item-container48">
        <div id="page13-markdown56" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এটি স্টীলের তৈরি। লে-আউট ও দৈর্ঘ্য পরিমাপ, ক্যালিপার ও ডিভাইডার সেট করতে স্টীল রুল ব্যবহার করা হয়। এতে ইঞ্চি ও সেমিঃ এককে দাগাংকিত থাকে। তাই এর সাহায্যে দু’ প্রকৃতির পরিমাপর তুলনা ও সংগ্রহ করা যায়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/31yTn9tDQt21fCHbrZV8_3-13-20181-36-09AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading38" style="color:#EE6408;font-style:italic;">. স্টীল টেপ (Steel Tape)- </h4>
      <div class="item item-body" id="page13-list-item-container49">
        <div id="page13-markdown57" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এটা স্টীলের তৈরি এবং চিত্রানুরূপ বক্সের ভিতর থাকে। অপেক্ষাকৃত দীর্ঘ বস্ত্তর দৈর্ঘ পরিমাপের জন্য ব্যবহৃত হয়। প্রথম অগ্রভাগে একটা হুক থাকে। ভিতরের স্প্রিং-এর টানে টেপটি অভ্যান্তরভাগে সর্বদা কয়েল আকারে থাকে। এটি পাতলা ও নমনীয় তাই সহজে পেঁচানো যায়।
            এতে ইঞ্চি ও সেন্টিমিটারে দাগ কাটা থাকে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/FHn1rmtSR2OqbG6tHqZ4_3-13-20181-38-49AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading39" style="color:#EE6408;font-style:italic;">. ভার্ণিয়ার বা স্লাইড ক্যালিপার্স </h4>
      <div class="item item-body" id="page13-list-item-container50">
        <div id="page13-markdown58" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বস্ত্তর দৈর্ঘ্য, প্রস্থ, উচ্চতা (আয়তন), গোলাকার বস্ত্তর ব্যাস পরিমাপ, অভ্যন্তরীণ ব্যাস, গর্ত ও সস্নটের গভীরতা প্রভৃতি সূক্ষ্মভাবে পরিমাপ করতে ব্যবহার করা হয়। এতে দুইটা স্কেল থাকে। একটা প্রধান স্কেল এবং অপরটিকে ভার্ণিয়ার স্কেল বলে। ভার্ণিয়ার
            স্কেলটি প্রধান স্কেলের সাথে চলে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/tbzcNiUoRVa8qSkT9gB9_3-13-20181-42-47AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading40" style="color:#EE6408;font-style:italic;">ক্যালিপার্স (Callipers)- </h4>
      <div class="item item-body" id="page13-list-item-container51">
        <div id="page13-markdown59" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বস্ত্তর ব্যাস এবং পুরুত্ব পরিমাপের জন্য আউট সাইড ক্যালিপার, বস্ত্তর অভ্যন্তরীণ ব্যাস ও স্লটের গভীরতা পরিমাপের জন্য ইন সাইড ক্যালিপার এবং বৃত্তচাপ ও বস্ত্তর কেন্দ্র নির্ণয় করতে হারমা ফ্লোরাইট ক্যালিপার্স ব্যবহার করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/D15K5nvYR9yizQuHHGvQ_3-13-20181-48-40AM.jpg" style="display: block; width: 42%; height: 143px; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading41" style="color:#EE6408;font-style:italic;">স্ক্রু পিচ গেইজ (Screw Pitch Gauge)- </h4>
      <div class="item item-body" id="page13-list-item-container52">
        <div id="page13-markdown60" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">থ্রেডের পিচ পরীক্ষা ও পরিমাপের জন্য এটি ব্যবহার হয়। এমনকি প্রতি ইঞ্চিতে কতটি থ্রেড বা খাঁচ আছে তাও পরীক্ষার জন্য স্ক্রু পিচ গেইজ ব্যবহার হয়ে থাকে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/9yATPyUpRGOP0CNbIEai_3-13-20181-52-19AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading42" style="color:#EE6408;font-style:italic;">থ্রেড প্লাগ গেইজ (Thread Plug Gauge)-</h4>
      <div class="item item-body" id="page13-list-item-container53">
        <div id="page13-markdown61" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এক্সটারন্যাল থেª্রডর ইপ্সিত মাপ অপেক্ষা কম না বেশি তা পরীক্ষার জন্য থ্রেডিং গেইজ এবং ইন্টারন্যাল থ্রেডের ইপ্সিত মাপ অপেক্ষা কম না বেশি কিনা তাহা পরীক্ষা করার জন্য থ্রেড প্লাগ গেইজ ব্যবহার করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/7m709VlZQMiJrA3VzmpZ_3-13-20181-54-36AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading43" style="color:#EE6408;font-style:italic;">আউট সাইড মাইক্রোমিটার </h4>
      <div class="item item-body" id="page13-list-item-container54">
        <div id="page13-markdown62" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">কোন বস্ত্তর বাইরের পরিমাপ সূক্ষ্মভাবে গ্রহণ করার জন্যে এ যন্ত্রটি ব্যবহার করা হয়। বিশেষ কওে তারের বা বলের ব্যাস পরিমাপের জন্য ব্যবহার হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/CHONrNsWRuuZMvw714EJ_3-13-20181-57-18AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading44" style="color:#EE6408;font-style:italic;">স্টীল রুল (Steel Rule)- </h4>
      <div class="item item-body" id="page13-list-item-container55">
        <div id="page13-markdown63" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">যে সমসত্ম টুলস পরিমাপের জন্য ব্যবহার করা হয় তাকে পরিমাপক টুল্স বলে। পরিমাপক টুলসের তালিকা-</p>
        </div>
      </div>
      <h4 id="page13-heading45" style="color:#EE6408;font-style:italic;">. ইনসাইড মাইক্রোমিটারঃ </h4>
      <div class="item item-body" id="page13-list-item-container56">
        <div id="page13-markdown64" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সূক্ষ্ম সঠিক এবং দ্রুত বস্ত্তর অভ্যন্তরীণ পরিমাপ নির্ণয় করতে ব্যবহার করা হয়। কোন বস্ত্তর গভীরতা এবং থ্রেডের গভীরতার পরিমাপের জন্যও এটা ব্যবহার করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/V2ji68mhSFaNimb9TsYz_3-13-20181-58-54AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page13-heading46" style="color:#EE6408;font-style:italic;">. হ্যান্ড টুলসের ব্যবহার তালিকাঃ</h4>
      <div class="item item-body" id="page13-list-item-container57">
        <div id="page13-markdown65" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সূক্ষ্ম সঠিক এবং দ্রুত বস্ত্তর অভ্যন্তরীণ পরিমাপ নির্ণয় করতে ব্যবহার করা হয়। কোন বস্ত্তর গভীরতা এবং থ্রেডের গভীরতার পরিমাপের জন্যও এটা ব্যবহার করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/yEUr7d9Rl6ohbtfxrik2_rrrr.jpg" style="display: block; width: 100%; height: 212px; margin-left: auto; margin-right: auto;">
      </div>
      <div class=" item item-image">
        <img src="img/2MHlcRWQkiCJDifznpQg_3-13-20182-02-25AM.jpg" style="display: block; width: 100%; height: 386px; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>