<ion-view title="থার্মোস্ট্যাট" id="page36">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page36-card233">
      <h4 id="page36-heading201" style="color:#F84B08;font-style:italic;">থার্মোস্ট্যাট (Thermostat)</h4>
      <div class="item item-body" id="page36-list-item-container228">
        <div id="page36-markdown246" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Thermostat হলো RACএর অত্যমত্ম গুরম্নত্বপূর্ণ বৈদ্যুতিক নিয়ন্ত্রক। থার্মো (Thermo) শব্দের অর্থ তাপ। আর তাপের প্রভাবে অফ-অন করার ডিভাইস। যে ইলেকট্রিক্যাল ডিভাইস ইভ্যাপরেটরের উষ্ণতার প্রভাবে স্বয়ংক্রিয়ভাবে হিমায়ন চক্রের কম্প্রেসর মোটরকে চালু ও
            বন্ধ করে তাকে থার্মোস্ট্যাট্ বলে। মোট কথা থার্মোস্ট্যাট কম্প্রেসরকে নিয়ন্ত্রণ করে। এতে হিমায়ক প্রবাহের গতি নিয়ন্ত্রিত হয় এবং ইভ্যাপরেটরের ঈপ্সিত তাপমাত্রা বজায় থাকে। ইহা তাপমাত্রার সাপেক্ষে বিদ্যুৎ প্রবাহ নিয়ন্ত্রণকারী সুইচ বা কন্ট্রোলার।</p>
        </div>
      </div>
      <h4 id="page36-heading202" style="color:#F84B08;font-style:italic;">. প্রয়োজনীয়তা </h4>
      <div class="item item-body" id="page36-list-item-container229">
        <div id="page36-markdown247" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হিমায়ন পদ্ধতির মূল উদ্দেশ্য হল উভ্যাপরেটর অংশে প্রয়োজন মত নিম্ন তাপমাত্রা সংরক্ষণ করা। থার্মোস্ট্যাটের সাহায্যে উভ্যাপরেটর অংশে তাপমাত্রা নিয়ন্ত্রণ করা হয়। ফলে প্রত্যাশিত তাপমাত্রা নিয়ন্ত্রণের জন্য থার্মোস্ট্যাটের গুরুত্ব অসীম । তাই থার্মোস্ট্যাটের
            প্রয়োজনীয়তা বর্ণিত হল- ক. থার্মোস্ট্যাট স্বয়ংক্রিয়ভাবে বিদ্যুৎ প্রবাহকে (কম্প্রেসরকে) অফ-অন করে। খ. এটি ইভ্যাপরেটর অংশে নির্ধারিত উষ্ণতা রক্ষা করতে সাহায্য করে। গ. ইউনিটের উচ্চচাপ ও নিম্নচাপ পরিমিত রাখার জন্য এ কম্প্রেসরকে চালু ও বন্ধ করে।
            ঘ. কোন কোন ক্ষেত্রে ডিফ্রস্ট হিটারকে চালু করে ডিফ্রস্টিংএর কাজ করে। ঙ. চালু ও বন্ধের ইহা কম্প্রে্রসরকে বিশ্রামের ব্যবস্থা করে। গ. থার্মোস্ট্যাট সলিনয়েড ভ্যাল্ভকে অফ- অন দ্বারা প্রবাহী (হিমায়ক, চিল্ড ওয়াটার, ব্রাইন, স্টীম) প্রবাহ নিয়ন্ত্রণ
            করে।</p>
        </div>
      </div>
      <h4 id="page36-heading203" style="color:#F84B08;font-style:italic;">থার্মোস্ট্যাটের প্রকারভেদঃ</h4>
      <div class="item item-body" id="page36-list-item-container230">
        <div id="page36-markdown248" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হিমায়ন পদ্ধতির লক্ষ্য হল তাপ স্থানান্তরের মাধ্যমে তাপমাত্রা নিয়ন্ত্রণ করা । এ তাপমাতাত্রা নিয়ন্ত্রণের জন্য বিভিন্ন প্রকার থার্মোস্ট্যাট ব্যবহার করা হয়। কার্যক্রম, ব্যবহার, গঠণ, নিয়ন্ত্রণ ইত্যাদির উপর ভিত্তি করে থার্মোস্ট্যাট সুইচকে শ্রেণী বিন্যাস
            দেখানো হল- কার্যক্রমের উপর ভিত্তি করে দুই প্রকার, যথা-</p>

          <p style="color:#000000;font-size:15px;">
            <strong>১। ডাইরেক্ট অ্যাক্টিং থার্মোস্ট্যাটঃ </strong>
            তাপমাত্রা অনুভবকারী সেন্সর (Sensor) ধাতব পদার্থের তৈরী হয়। এতে কোন প্রবাহী (তরল বা বায়বীয়) পদার্থ ব্যবহার করা হয় না। ধাতব পদার্থ সংকোচন ও সম্প্রসারণের মাধ্যমে কাজ করে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong> ২। ইনডাইরেক্ট অ্যাক্টিং থার্মোস্ট্যাট ঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;"> তাপমাত্রা অনুভবকারী সেন্সরের মধ্যে প্রবাহী (তরল বা বায়বীয়) পদার্থ ব্যবহার করা হয় যা তাপের প্রভাবে প্রভাবিত হয়। প্রবাহীর সংকোচন ও সম্প্রসারণের মাধ্যমে কাজ করে ডায়াফ্রামকে নিয়ন্ত্রণ করে। ডাইরেক্ট অ্যাক্টিং থার্মোস্ট্যাট ২ প্রকার-</p>

          <p style="color:#000000;font-size:15px;">ক) বাইমেটাল টাইপ থার্মোস্ট্যাট, </p>

          <p style="color:#000000;font-size:15px;">খ) স্প্রীং টাইপ থার্মোস্ট্যাট। </p>

          <p style="color:#000000;font-size:15px;">ইন্ডাইরেক্ট অ্যাক্টিং থার্মোস্ট্যাট (লিকুইড ফিল্ডে ব্যবহৃত প্রভাবকের উপর ভিত্তি করে) ২ প্রকার-</p>

          <p style="color:#000000;font-size:15px;">ক) লিকুইড ফিল্ডে হিমায়ক ব্যবহৃত থার্মোস্ট্যাট, </p>

          <p style="color:#000000;font-size:15px;">খ) লিকুইড ফিল্ডে পারদ ব্যবহৃত থার্মোস্ট্যাট। </p>

          <p style="color:#000000;font-size:15px;">লিকুইড ফিল্ডের গঠণের উপর ভিত্তি করে ইন্ডাইরেক্ট অ্যাক্টিং থার্মোস্ট্যাট ২ প্রকার-</p>

          <p style="color:#000000;font-size:15px;"> ক) রিমোট বাল্ব যুক্ত থার্মোস্ট্যাটঃ প্রবাহী ফিল্ড হিসাবে শুধুমাত্র সেন্সিবল টিউব ও রিমোট বাল্ব থাকে।</p>

          <p style="color:#000000;font-size:15px;"> খ) রিমোট বাল্ব মুক্ত থার্মোস্ট্যাটঃ প্রবাহী ফিল্ড হিসাবে শুধুমাত্র সেন্সিবল টিউব থাকে। রিমোট বাল্ব থাকে না।</p>

          <p style="color:#000000;font-size:15px;">কন্ট্রোল পদ্ধতির উপর ভিত্তি করে ২ প্রকার, যথা-</p>

          <p style="color:#000000;font-size:15px;">ক) অ্যাড্জাস্টেবল থার্মোস্ট্যাটঃ অ্যাডজাস্ট করা যায়।</p>

          <p style="color:#000000;font-size:15px;">খ) ফিক্সড থার্মোস্ট্যাট ঃ অ্যাডজাস্ট করা যায় না এবং দরকার হয়না।</p>

          <p style="color:#000000;font-size:15px;">কাজের ধরণের উপর ভিত্তি করে থার্মোস্ট্যাট সুইচ তিন প্রকার। যথা- ক) কুলিং থার্মোস্ট্যাট, খ) হিটিং থার্মোস্ট্যাট, গ) কুলিং ও হিটিং থার্মোস্ট্যাট।</p>

          <p style="color:#000000;font-size:15px;">বহুল ব্যবহৃত থার্মোস্ট্যাট গুলোর নামঃ</p>

          <p style="color:#000000;font-size:15px;">ক. বিলোজ টাইপ থার্মোস্ট্যাট (Bellows Type Thermostat),</p>

          <p style="color:#000000;font-size:15px;">খ. বাইমেটাল টাইপ থার্মোস্ট্য (Bimetal Type Thermostat),</p>

          <p style="color:#000000;font-size:15px;">গ. ডিফারেন্সিয়্যাল থার্মোস্ট্যাট (Differential Thermostat),
            <br>ঘ. রেঞ্জ অ্যাডজাস্টমেন্ট থার্মোস্ট্যাট (Range Adjustment Thermostat),
            <br>ঙ. অটোমেটিক ডিফ্রস্ট থার্মোস্ট্যাট (Automatic Defrost Thermostat),
            <br>চ. পুশ ডিফ্রস্ট থার্মোস্ট্যাট (Push Defrost Thermostat),
            <br>ছ. হিট পাম্প ডি-আইস ,কন্ট্রেল থার্মোস্ট্যাট (Heat pumps Dc-Ice Thermostat
            <br>জ. থার্মোমিটার টাইপ থার্মোস্ট্যাট (Thremostat type thermostat),
            <br>ঝ. স্টেজিং থার্মোস্ট্যাট (Staging Thermostat)
            <br>ঞ. পোর্টেবল থার্মোস্ট্যাট (Portable Thermostat)।</p>
        </div>
      </div>
      <h4 id="page36-heading204" style="color:#F84B08;font-style:italic;">. থার্মোস্ট্যাট কন্ট্রোলের বর্ণনাঃ</h4>
      <div class="item item-body" id="page36-list-item-container231">
        <div id="page36-markdown249" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>বাইমেটাল টাইপ থার্মোস্ট্যাটঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">তাপ অনুভবশীল এলিমেন্ট হিসেবে দ্বিধাতুর পাত ব্যবহার হয়। এক পার্শ্বে বেশি ও অপর পার্শ্বে কম প্রসারাংকের ধাতু দ্বারা পাতটি তৈরী করা হয়। ফলে বেশি তাপে এ বাঁকা হয়ে কন্ট্যাক্ট পয়েন্টকে অন করে। কম তাপে কন্ট্যাক্ট পয়েন্টকে অফ করে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>স্প্রীং টাইপ থার্মোস্ট্যাটঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">স্প্রীং টাইপ থার্মোস্ট্যাটে স্প্রীং ব্যবহার হয়। তাপের কারণে এ স্প্রীং ক্রিয়াশীল হয়ে কন্ট্যাক্ট পয়েন্টকে অফ ও অনের কাজ করে। কম তাপমাত্রায় স্প্রীং সংকোচিত হয়ে অফ এবং তাপমাত্রা বাড়লে স্প্রীং সম্প্রসারিত হয়ে অন করে । এর প্রধান অংশ সমূহ হল- ১। স্প্রীং,
            ২। চলমান সংযোগ, ৩। স্থায়ী সংযোগ ।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ফিল্ডে হিমায়ক ব্যবহৃত থার্মোস্ট্যাটঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">থার্মোস্ট্যাটের ফিল্ডে হিমায়ক জাতীয় তাপ সংবেদনশীল লিকুইড প্রবাহী চার্জ করা হয় যার কিদংশ সম্পৃক্ত বাষ্পাকারে থাকে । বেশি তাপমাত্রায় এপ্রবাহী সম্প্রসারিত হয়ে কন্ট্যাক্ট পয়েন্টকে অন ও কম তাপমাত্রায় তরল সংকোচিত হয়ে কন্ট্যাক্ট পয়েন্টকে অফ করে ।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ফিল্ডে পারদ ব্যবহৃত থার্মোস্ট্যাটঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">লিকুইড ফিল্ডে তাপ সংবেদনশীল তরল এজেন্ট হিসাবে পারদ চার্জ করা থাকে। বেশি তাপমাত্রায় উক্ত পারদ সম্প্রসারিত হয়ে কন্ট্যাক্ট পয়েন্টকে স্পর্শ করে (নিজে কন্ডাক্টর হিসেবে) কন্ট্যাক্ট পয়েন্টকে অন ও কম তাপমাত্রায় সংকোচিত হয়ে কন্ট্যাক্ট পয়েন্টকে অফ করে
            ।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বিলোজ টাইপ থার্মোস্ট্যাট</strong> ঃ</p>

          <pre>
            <code> এথার্মোস্ট্যাটে সম্প্রসারণ ও সংকোচনশীল বিলোজ (Bellows) বা ডায়াফ্রাম (Diaphramn) একটা সীমিত দৈর্ঘ্য ও চিকন ক্যাপালারী টিউবের সাহায্যে একটা রিমোর্ট বাল্ব সংযুক্ত থাকে। রিমোট বাল্ব ক্যাপিলারী টিউব ও বিলোজের অভ্যন্তরে হিমায়ক চার্জ করা থাকে। রিমোট
              বাল্ব বা ক্যাপিলারী টিউব স্থাপনের এলাকা গরম হলে চার্জিত হিমায়ক সম্প্রসারিত হয়। এতে বিলোজ সম্প্রসারিত হয়ে কন্ট্যাক্ট পয়েন্টকে অন করে। আবার ঠান্ডা হলে রিমোট বাল্বের হিমায়ক ঘণীভূত হওয়াতে বিলোজ সংকোচিত হয় এবং কন্ট্যাক্ট পয়েন্ট অফ হয়।</code>
          </pre>

          <p style="color:#000000;font-size:15px;">
            <strong>রেঞ্জ অ্যাডজাস্টমেন্ট থার্মোস্ট্যাটঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">রেঞ্জ অ্যাড্জাস্টমেন্ট থার্মোস্ট্যাট ডিফারেন্সিয়্যাল থার্মোস্ট্যাটের অনুরূপ। অফ-অন তাপমাত্রার ব্যবধান সর্বদা সমান বজায় রেখে এটি নিয়ন্ত্রিত তাপমাত্রায় পরিবর্তিত হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>অটোমেটিক ডিফ্রস্ট কন্ট্রোল থার্মোস্ট্যাট </strong>ঃ </p>

          <p style="color:#000000;font-size:15px;">এথার্মোস্ট্যাট কুলিং চেম্বারের বরফ স্বয়ংক্রিয়ভাবে গলাতে সাহায্য করে। কুলিং কয়েল হিমাংকের নিচেই উপনিত হলে তাতে বরফ জমে। ঐ বরফ মুক্ত করার জন্য হিটারে বিদ্যুৎ সরবরাহের প্রয়োজন হয়। হিটারে বিদ্যুৎ সংযোগ দেয়া অটোমেটিক ডিফ্রস্ট থার্মোস্ট্যাটের কাজ।
            বরফ মুক্ত হলে হিটারকে বন্ধ করে দেয়। একে কুলিং ওভার লোডও বলা হয়। পুশ ডিফ্রস্ট থার্মোস্ট্যাট ঃ এটি ম্যানুয়ালী বরফ গলাবার একটা ব্যবস্থা (অফ সাইকেল ডিফ্রস্টিং)। যখন ইভ্যাপরেটরের বরফ গলানোর প্রয়োজন হয় তখন হাত দ্বারা থার্মোস্ট্যাটের নবে পুশ (চাপ)
            দিতে হয়। ফলে হিটার লাইন বিদ্যুৎ প্রাপ্ত হয় এবং বরফ গলতে শুরু করে। বরফ বিমুক্ত হলে নবের পুশ মুক্ত করে হিটারের লাইন বন্ধ করা হয়। থার্মোমিটার টাইপ থার্মোস্ট্যাটঃ থার্মোমিটার টাইপ থার্মোস্ট্যাটে খুব অল্প ডিফারেন্সিয়্যাল তাপমাত্রা সেট করা যায়।
            মার্কারী কলামের মাধ্যমে রিলেতে ট্রানজিস্টরের সংযোগ দেয় এবং তাপমাত্রা নিয়ন্ত্রণ করে। যে সব ক্ষেত্রে খুব অল্প পরিমাণ উষ্ণতার পার্থক্য নিয়ন্ত্রণ করা প্রয়োজন হয় সেই সব ক্ষেত্রে এ থার্মোস্ট্যাট ব্যবহার করা হয়। হিট পাম্প ডি-আইস থার্মোস্ট্যাট ঃ এ
            থার্মোস্ট্যাট শীতকালে হিট পাম্পের আউটডোর কয়েলের বরফ গলবার জন্য কাজ করে। একে হিট পাম্পের বাইরের অংশে লাগানো থাকে। শীতকালের বাইরের অংশের বরফ মুক্ত করার জন্য এটি হিটার লাইনে বা সলেনয়েড লাইনকে অন করে এবং হিটিং কার্যক্রম শেষে (বরফ বা তুষার মুক্ত
            হলে) হিটারকে অফ করে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>স্টেজিং থার্মোস্ট্যাট ঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">স্টেজিং থার্মোস্ট্যাটে হিটিং ও কুলিং নিয়ন্ত্রণকারী মিটারসহ ব্লেয়ার ফ্যানের সংযোগ দেয়া হয়। সপ্তাহে কোন দিন কতটার সময় চালু হবে এতে তা নির্ধারণ করা যায়। কতক্ষণ পর পর ইউনিট চালু বা বন্ধ হয় তাও সহজে নির্ধারণ করা যায় এবং রিডিং হতে সমগ্র প্লান্টের
            অবস্থা বুঝা করা যায়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>পোর্টেবল থার্মোস্ট্যাট ঃ </strong>*</p>

          <p style="color:#000000;font-size:15px;">পোর্টেবল থার্মোস্ট্যাট এক প্রকার রিমোট কন্ট্রোল ইলেকট্রনিক থার্মোস্ট্যাট। ইউনিট হতে প্রায় ৩৫ মিটার দূর হতে রিমোর্টের সাহায্য একে নিয়ন্ত্রণ করা যায়। রিমোটের দ্বারা প্রয়োজনীয় দূরত্বে অবস্থান করে পস্নান্ট নিয়ন্ত্রণ করা সম্ভব হয়।</p>
        </div>
      </div>
      <h4 id="page36-heading205" style="color:#F84B08;font-style:italic;">Heading</h4>
      <div class="item item-body" id="page36-list-item-container232">
        <div id="page36-markdown250" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>