<ion-view title="গ্যাস ওয়েল্ডিং" id="page31">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page31-card227">
      <h4 id="page31-heading175" style="color:#F36B0D;font-style:italic;">গ্যাস ওয়েল্ডিং (Gas welding)</h4>
      <div class="item item-body" id="page31-list-item-container196">
        <div id="page31-markdown214" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পদার্থ গলনের জন্য একমাত্র নিয়ামকই তাপ। সূর্যসহ তাপের বহুবিদ উৎস রয়েছে। যেমন কাঠ, কয়লা বিভিন্ন প্রকার গ্যাস ইত্যাদি। প্রাকৃতিক গ্যাসসহ বিভিন্ন প্রকার গ্যাস জ্বলে এবং অক্সিজেন তাকে জ্বলতে সাহায্য করে। এরকম প্রজ্জ্বলনকে দহন প্রক্রিয়া বলে। প্রজ্জ্বলন
            হতে প্রাপ্ত তাপ শক্তি দ্বারা রান্না, কোন কিছু ফুটানো বা সিদ্ধ করা, ধাতব খন্ড গলনসহ বিভিন্ন কারিগরি কাজ সম্পন্ন করি।</p>
        </div>
      </div>
      <h4 id="page31-heading176" style="color:#F36B0D;font-style:italic;">গ্যাস ওয়েল্ডিং </h4>
      <div class="item item-body" id="page31-list-item-container197">
        <div id="page31-markdown215" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">অক্সি-অ্যাসেটীলিন ‘‘ওয়েল্ডিং প্রণালীতে অ্যাসেটীলিন (Acetylene = C2H2) গ্যাসকে অক্সিজেন (Oxygen = O2) গ্যাসের সাহায্যে জ্বালিয়ে প্রচুর তাপ উৎপন্ন করা হয়। উৎপন্ন তাপ প্রয়োজন মত সংযোগ স্থানে ও স্পেল্টারে প্রয়োগ করা হয়। তাপের সাহায্যে স্পেল্টার
            বা ঐ ধাতুর কিছু অংশ গলে জোড়া লেগে যায়। এতে কোন আঘাতে দেয়ার প্রয়োজন হয়ে না। গ্যাসের দহনে প্রাপ্ত তাপ ব্যবহার করে ধাতব খন্ডের অংশ বিশেষ গলায়ে জোড়া দেয়ার প্রক্রিয়াকে গ্যাস ওয়েল্ডিং বলে। গ্যাস ওয়েল্ডিং সাধারণতঃ চার প্রকার। যথা-</p>

          <p style="color:#000000;font-size:15px;">ক) অক্সি-অ্যাসেটীলিন গ্যাস ওয়েল্ডিং (Oxy-acetylene gas welding)
            <br>খ) এয়ার অ্যাসেটীলিন গ্যাস ওয়েল্ডিং (Air acetylene gas welding)
            <br>গ) অক্সি হাইড্রোজেন গ্যাস ওয়েল্ডিং (Oxy hydrozen gas welding)
            <br>ঘ) প্রেশার গ্যাস ওয়েল্ডিং বা অক্সি-কোল গ্যাস ওয়েল্ডিং (Pressure-gas welding or Oxy coal gas welding) </p>

          <p style="color:#000000;font-size:15px;">
            <strong>অক্সি-অ্যাসেটীলিন গ্যাস ওয়েল্ডিংঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">অ্যাসেটীলিনকে অক্সিজেন জ্বলতে সাহায্য করে। আনুপাতিক হারে মিশ্রিত অ্যাসেটীলিন (C2H2) কে অক্সিজেন (O2)এর সাহায্যে জ্বালিয়ে যে শিখা তৈরি করা হয় তাকে অক্সি-অ্যাসেটীলিন শিখা বলে। অক্সি-অ্যাসেটীলিন শিখা ব্যবহার করে যে ওয়েল্ডিং করা হয় তাকে অক্সি-অ্যাসেটীলিন
            ওয়েল্ডিং বলে। অক্সি অ্যাসেটীলিন গ্যাস ওয়েল্ডিং পদ্ধতি দুই প্রকার। যথা-</p>

          <p style="color:#000000;font-size:15px;">1) উচ্চ চাপ পদ্ধতি (High Pressure System) এবং নিমণ চাপ পদ্ধতি (Low Pressure System)।</p>

          <p style="color:#000000;font-size:15px;">
            <strong> গ্যাস ওয়েন্ডিং-এর আবশ্যকতাঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">কারিগরিসহ সকল ক্ষেত্রেই ধাতুর নির্মিত জিনিসপত্র ব্যবহারে ওয়েল্ডিং-এর ব্যাপক প্রয়োগ দেখা যায়। কিছু সীমাবদ্ধতার কারণে সকল প্রকার ওয়েন্ডিং সর্ব স্তরে প্রয়োগ হয় না। সকল দিক বিবেচনা করে দেখা যায় বর্তমান বিশ্বে ব্যাপক ও নির্ভরযোগ্যভাবে গ্যাস ওয়েন্ডিং
            ব্যবহার হচ্ছে। নিম্ন বর্ণিত ভাবে ব্যবহারের কারণে গ্যাস ওয়েন্ডিং এর আবশ্যকতা ব্যাপকভাবে সমাদৃত। জাহাজ নির্মাণ, যানবাহনের বডি ও ইমারতে দরজা-জানালা ইত্যাদি নির্মাণ ও মেরামতের কাজে, টেবিল, চেয়ার, তাক, ইত্যাদি তৈরী ও মেরামতের কাজে, পানি, জ্বালানী,
            তরল, জুস ইত্যদির ট্যাঙ্ক তৈরী ও মেরামতের কাজে, বিভিন্ন ধরণের পাইপ লাইন নির্মাণ ও মেরামতের কাজে, বিভিন্ন প্রকার সিলিন্ডার নির্মাণ কাজে, রিক্সা-ভ্যনের অংশ বিশেষ মেরামতের কাজে ইত্যাদি অগণিত প্রয়োজনে ওয়েন্ডিং ব্যবহার করা হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>মূলতঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">রিফ্রিজারেশন এয়ারকন্ডিশনিং ইউনিটের বডি নির্মাণ ও মেরামত কাজে, প্ল¬ান্টের বিভিন্ন অংশ সংযোগ ও মেরামত কাজে, সীল্ড টাইপ কম্প্রেসরের ডোম ঝাঁলাই করতে, টিউবিংএর ( টিউব জোড়া, পরিবর্তন, মেরামত ইত্যাদি) কাজে, চার্জিং লাইন তৈরী, প্ল¬ান্টের পানির, ব্রাইনের,
            চিল্ড ও ফিড ওয়াটার লাইন তৈরী, ব্রাইন ট্যাংক, আইস ক্যান ইত্যাদি তৈরী ও মেরামত কাজে গ্যাস ওয়েন্ডিং-এর আবশ্যকতা অসীম। তাছাড়া নিম্নোক্ত সুবিধাদির প্রয়োজনে গ্যাস ওয়েন্ডিং করা হয়।</p>

          <p style="color:#000000;font-size:15px;">ক) গ্যাস ওয়েন্ডিং-এর সাহায্যে হিমায়ন চক্রের স্টীল টু স্টীল টিউব সংযোগ দেয়া,
            <br>খ) গ্যাস ওয়েন্ডিং- এর সাহায্যে হিমায়ন চক্রের স্টীল টু কপার টিউব সংযোগ দেয়া
            <br>গ) গ্যাস ওয়েন্ডিং- এর সাহায্যে হিমায়ন চক্রের কপার টু কপার টিউব সংযোগ দেয়া, ঘ) গ্যাস ওয়েন্ডিং- এর সাহায্যে হিমায়ন চক্রের যে কোন লীক মেরামত করা, ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">
            <strong> গ্যাস ওয়েন্ডিং সংক্রান্ত তথ্যাদিঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">একাধিক গ্যাস দহণের মাধ্যমে প্রাপ্ত তাপ শক্তিকে কাজে লাগিয়ে যে ওয়েল্ডিং করা হয় তাকে গ্যাস ওয়েল্ডিং বলে। সাফল্য জনক ভাবে গ্যাস ওয়েন্ডিং সম্পাদনের জন্য কিছু বিষয় জানা অপরিহার্য্য। বিষয় গুলো অবশ্যই ব্যাপক এবং এবিষয় গুলোকে গ্যাস ওয়েন্ডিং-এর তথ্য
            বলা হয়। তবে ন্যুনতম যে সকল তথ্য গুলো জানা প্রয়োজন তা হল-</p>

          <pre>
            <code>১। শিখা, ২। শিখার তাপ ও তাপমাত্রা, ৩। শিখা নির্ধারণ, ৪। জ্বালানী (গ্যাস), ৫। রাসায়নিক বিক্রিয়া, ৬। বেস মেটাল, ৭। ফিলার মেটাল ইত্যাদি</code>
          </pre>

          <p style="color:#000000;font-size:15px;">
            <strong>শিখা (Flame) ঃ</strong>
            দাহ্য পদার্থ দহনের ফলে যে রক্তিম বা নীলাভ অংশের সৃষ্টি হয় তাকে শিখা বা Flame বলে । ফ্লেম তৈরিতে দাহ্য পদার্থ বা দহন ক্রিয়ায় সহায়ক পদার্থের প্রয়োজন হয়। গ্যাস শিখার ক্ষেত্রে C2H2 দাহ্য পদার্থ আর O2 দহনে সহায়ক পদার্থ হিসেবে ব্যবহার হয়। শিখার তিনটি অংশ যথা-
            ইনার কোন (Inner cone), মধ্যবর্তী রিডিউসিং অংশ (Middle reducing zone) যাকে অ্যাসেটীলিন ফিদার (Feather), এবং বহিঃস্থ অক্সিডাইজিং (Outer oxydizing zone) অংশ যাকে ফ্লেম এনভেলাপ (Flame envelop) বা স্ট্রীমার (streamer) বলা হয় । শিখা তৈরীতে দাহ্য
            ও দহণে সহায়ক (২ প্রকার) পদার্থের প্রয়োজন হয়। অ্যাসেটীলিন গ্যাসে ওজন হিসেবে ৯২.৩% কার্বন এবং ৭.৭% হাইড্রোজেন মিশ্রিত থাকে। ফ্লেম বা শিখা বেস মেটালের ধর্মের পরিবর্তন ঘটাবে না। সংযোগকারী ধাতুর গলনাংক তাপমাত্রা অপেক্ষা শিখার তাপমাত্রা কমপক্ষে
            ৩০০0C বেশি হবে । তাই কাজের সুবিচধার্থে শিখাকে তিন প্রকারে বিবক্ত করা হয়। যথা-</p>

          <pre>
            <code> ১। কার্বরাইজিং শিখা (Carborizing flame), ২। নিউট্রাল শিখা (Neutral flame), ৩। অক্সিডাইজিং শিখা (Oxydizing flame).</code>
          </pre>

          <p style="color:#000000;font-size:15px;"> (১) কার্বরাইজিং বা অংরীণ শিখা (Carborising Flame)t যে হারে অক্সিজেন যুক্ত হলে অ্যাসেটীলিন পূর্ণভাবে জ্বলতে পারে অক্সিজেন তা অপেক্ষা কম হারে ব্লো-পাইপে আসলে এধরণের শিখার উৎপন্ন হয়। এশিখাকে অংরীন শিখা বলে। অক্সিজেন ও অ্যাসেটীলিনের অনুপাত ০.৯ ঃ
            ১ এবং ফ্লেমের উষ্ণতা ৩১৪৮ ডিগ্রী সেঃ হয়। শিখার মধ্যস্থলে শ্বেত বর্ণের কোন (Cone) টির চারপার্শ্বে নিলাভ শ্বেত বর্ণের পালকের (Feather) ন্যায় ভিন্ন রকমের আর একটি শিখা দেখা যায়। পাতলা শীট বিধিমত উত্তপ্ত হলে এধরণের শিখা শীটের মধ্যে কার্বনকে রাসায়নিক
            ভাবে যুক্ত হতে সহায়তা করে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>অক্সিডাইজিং ফ্লেম (Oxidizing Flame)t</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে হারে অক্সিজেন যুক্ত হলে অ্যাসেটীলিন পূর্ণভাবে জ্বলতে পারে, অক্সিজেন তা অপেক্ষা অধিক হারে বেস্না-পাইপের মধ্যে থাকলে এশিখার উদ্ভব হয়। যাতে মধ্যস্থলের শ্বেত বর্ণের ‘‘কোন’’ (Cone) টি উপস্থিত থাকে। এশিখার দৈর্ঘ্য ক্ষুদ্রতর হয় এবং শীষ আরো সূক্ষ্ম
            হয়। ওয়েল্ডিং এর সময় এশিখা জিঙ্ক (দসত্মা) কে বাষ্পে পরিণত হতে বাধা দেয় বলে ব্রাস (পিতল) ধাতুকে ওয়েল্ডিং করতে এ উপযোগী হয়ে থাকে। এসময় উষ্ণতা ৩৪৮২ ডিগ্রী সেঃ এবং O2 t C2H2= 1.5t1 হয়। </p>

          <p style="color:#000000;font-size:15px;">
            <strong> নিউট্রাল বা বিশুদ্ধ শিখা (Neutral Flame)t</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যেহারে অক্সিজেন যুক্ত হলে অ্যাসেটীলিন পূর্ণভাবে জ্বলতে পারে, অক্সিজেন ঠিক সেহারে ব্লো-পাইপে আসলে নিউট্রাল ফ্লেম সৃষ্টি হয়। এশিখাতে কার্বরাইজিং শিখার অনুরূপ নিলাভ শ্বেত বর্ণের পালকের ন্যায় অংশটি (শিখাটি) থাকে না। এদ্বারা অপেক্ষাকৃত বেশি তাপ উৎপন্ন
            করা সম্ভবপর হয়। একারণে স্টীল, কাস্ট আয়রন, কপার ইত্যাদিকে ওয়েল্ডিং করতে এধরণের শিখাই অধিকাংশ ক্ষেত্রে ব্যবহৃত হয়ে থাকে। নিউট্রাল শিখার উষ্ণতা ৩২৪০ ডিগ্রী সেঃ। O2 t C2H2 = 1t1. </p>

          <p style="color:#000000;font-size:15px;">
            <strong>গ্যাসের চাপ নিয়ন্ত্রণঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">সুন্দর সংযোগ প্রস্ত্ততির পূর্ব শর্ত যথাযথ ওয়েল্ডিং ব্যবস্থা। আর সঠিক ওয়েল্ডিং-এর জন্য অবশ্যই প্রয়োজন পারফেক্ট গ্যাস নিয়ন্ত্রণ। সুতরাং উত্তম মানের ওয়েল্ডিং-এর জন্য সঠিকভাবে গ্যাসের চাপ নিয়ন্ত্রণ ব্যবস্থা জানা খুবই জরুরী। গ্যাসের এ চাপ নিয়ন্ত্রণ
            দু’ পর্যায়ে হয়ে থাকে। যথা- </p>

          <pre>
            <code> ক) গ্যাস সিলিন্ডারের রেগুলেটর দ্বারা সিলিন্ডারের গ্যাসের প্রেশার কমিয়ে ওয়ার্কিং মাত্রার সামান্য উর্ধ্ব মাত্রায় হোজ পাইপে প্রেরণ করা এবং খ) টর্চের রেগুলেটর দ্বারা গ্যাসের সঠিক মাত্রার ওয়ার্কিং প্রেশার নিয়ন্ত্রণ করে নজল বা টিপে প্রেরণ করা ।</code>
          </pre>

          <p style="color:#000000;font-size:15px;">নীচের টেবিলের তথ্যানুযায়ী গ্যাসের চাপ নিয়ন্ত্রণ করে ওয়েল্ডিং করা হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>সলিন্ডারের চাপ ও আয়তনঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">গ্যাসের নাম সিলিন্ডারের চাপ ও আয়তন (গ্যাসের পরিমাণ) প্রেশার আয়তন Kg/cm2 PSI ঘঃ মিঃ = m3 ঘঃ ফুঃ = ft3 অ্যাসেটীলিন 15.5 হতে 21 225 হতে 300 1.7 বা 4.2 বা 5.7 60 বা 150 বা 200 অক্সিজেন 125 1800 2.8 বা 4.9 বা 5.7 বা 6.2 100 বা 150 বা 200 বা 220 C2H2
            ও O2 দিয়ে শিখা তৈরির মাধ্যমে ওয়েল্ডিং ও কাটিংএর কাজ সুষ্ঠুভাবে করতে হলে নীচের ছকের তথ্য অনুসরণ করা প্রয়োজন। গ্যাসের নাম সিলিন্ডার চাপ ওয়ার্কিং চাপ ওয়েল্ডিং কাটিং bar Lbf/in bar Lbf/in Kgf/cm2 bar Lbf/in Kgf/cm2 C2H2 0-40 0-500 0.6 7 0.5 0.6
            7.8 0.5 O2 0-14 0-200 2 25-30 2 2.7 60-80 4.2-5.6</p>

          <p style="color:#000000;font-size:15px;">চাপ নিয়ন্ত্রণের পাঁচটি ধাপঃ</p>

          <p style="color:#000000;font-size:15px;"> ১। উভয় সিলিন্ডারের কন্ট্রোল ভ্যাল্ভ খুলে সিলিন্ডার প্রেশার গেজের মাধ্যমে প্রেশার লক্ষ্য করতে হবে।
            <br> ২। উভয় সিলিন্ডারের প্রেশার রেগুলেটর দ্বয় চালু করে ওয়ার্কিং প্রেশার গেজের নির্দেশিকার মান দেখে ওয়ার্কিং প্রেশার নির্ধারণ করতে হবে।
            <br> ৩। অতঃপর টর্চো রেগুলেটর চালিয়ে যথাযথ শিখা তৈরীতে প্রয়োজনীয় মাত্রার গ্যাস সরবরাহ করতে হবে। ৪। ১/২" ব্যাসের কপার টিউব ঝাঁলাই করার জন্য অ্যাসেটীলিন গ্যাসের প্রেশার ৫কেজি / বঃসেমিঃ এবং অক্সিজেনের প্রেশার ০.৫ থেকে ০.৬ কেজি / বঃ সেমিঃ রাখা হয় এবং
            ৫০ নম্বরের নজল ব্যবহার করা হয়। ৫। বেশি ব্যাসের টিউবের ক্ষেত্রে ৭৫ নম্বরের নজল ব্যবহার হয়। </p>
        </div>
      </div>
      <h4 id="page31-heading177" style="color:#F36B0D;font-style:italic;">অক্সিজেন ও অ্যাসেটিলীন সিলিন্ডারের সংশ্লিষ্ট সরঞ্জামাদি </h4>
      <div class="item item-body" id="page31-list-item-container198">
        <div id="page31-markdown216" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">1) ভ্যালব (Valve)t একে বন্ধ করলে সিলিন্ডার হতে গ্যাস নিগর্মন বন্ধ হয়। ভ্যালব খুলে দিলে প্রবাহ চালু হয়।</p>

          <p style="color:#000000;font-size:15px;">2) সিলিন্ডার প্রেসার গেইজ (Cylinder pressure gauge)t সিলিন্ডারের মধ্যে গ্যাসের চাপ কত আছে তা জানা যায়।</p>

          <p style="color:#000000;font-size:15px;">3) আউট লেট প্রেসার গেইজ (Out Let pressure gauge)t একে ওয়ার্কিং প্রেসার গেইজও বলে। সিলিন্ডার হতে গ্যাস কত চাপে নির্গত হচ্ছে তা জানা যায়। অ্যসেটিলীনের জন্য ব্যবহার্য প্রেসার গেইজে চাপের মান কিলোগ্রাম প্রতিবর্গ সেঃমিঃ (kg/cm2) হারে অথবা পাউন্ড
            প্রতিবর্গ ইঞ্চি (P.S.I) হারে থাকে। কিন্তু অক্সিজেনের জন্য ব্যবহার্য প্রেসার গেইজে লিখিত মান গুলো সাধারণ বায়ু মন্ডলীর চাপের (Atmospheric pressure) হারে থাকে। </p>

          <p style="color:#000000;font-size:15px;">৪) সেফ্টি ভ্যালভ (Safety valve)t এটা সিলিন্ডারের বিপদ নিরোধক ব্যবস্থা।</p>

          <p style="color:#000000;font-size:15px;">৫) টর্চ রেগুলেটর (Torch regulator)t এর সাহায্যে বেস্না-পাইপে সরবরাহকৃত গ্যাসের চাপ নিয়ন্ত্রণ করা হয়।</p>

          <p style="color:#000000;font-size:15px;">৬) রেগুলেটরের চাপ নিয়ন্ত্রণকারী উইং নাট (Pressure adjusting wing nut)t একে ঘুরায়ে রেগুলটেরের আভ্যমত্মরীণ চাপকে নিয়ন্ত্রণ করা হয়।</p>

          <p style="color:#000000;font-size:15px;">৭) রাবার বা নমনীয় নল (Rubber tube or hose)t এটি বিশেষ প্রণালীতে প্রস্ত্তত। এর মধ্যে দিয়া গ্যাস রেগুলেটর হতে বেস্না-পাইপে আসে।</p>

          <p style="color:#000000;font-size:15px;">৮) বেস্না-পাইপ (Blow-pipe)t অক্সিজেন গ্যাস দুইটি আনুপাতিক হারে মিশ্রিত হয়। শিখা তৈরীর পূর্বক্ষণে যে নলটির মধ্যে অ্যাসেটীলিন এবং অক্সিজেন গ্যাসকে প্রয়োজন পরিমাণে বা চাপে মিশানো হয় তাকে ব্লো-পাইপ (Blow-pipe) বলে। এর অপর নাম ওয়েল্ডিং টর্চ (Welding
            torch)। কাজের সুবিধার্থে ব্লো-পাইপে বিভিন্ন সাইজের বা নম্বরের নজল ব্যবহার করা হয়।</p>

          <p style="color:#000000;font-size:15px;">৯) নজল (Nozzle)t এ সূক্ষ্ম ছিদ্র বিশিষ্ট। ব্লো-পাইপের মুখে একে ব্যবহার করা হয়। একে নিয়ন্ত্রণ করে প্রয়োজন অনুরূপ শিখা উৎপাদন করিতে হয়। </p>

          <p style="color:#000000;font-size:15px;">১০) সিলিন্ডার রেগুলেটর (Cylinder regulator)t সিলিন্ডারের মধ্যে গ্যাস অনেক বেশি থাকে। গ্যাসকে নিয়ন্ত্রণ করে বেস্না-পাইপ কাজের উপযোগী চাপে পাবার উদ্দেশ্য সিলিল্ডারের মুখে যে সরঞ্জামটি ব্যবহার করা হয় তাকে রেগুলেটর বলে। ১১) ঝালাই রড (Welding rod)t
            ওয়েল্ডিং করার সময় জোড়াস্থানে ধাতুর উপাদানের তারতম্য ঘটে। জোড় স্থান পূরণ করে ধাতুর উপাদানকে পূর্বের অবস্থায় আনতে একে গলিয়ে জোড় স্থানে যোগ করানো হয়ে থাকে। এর অপর নাম ফিলিং রড (Filling rod)। </p>

          <p style="color:#000000;font-size:15px;">১২) ফায়ার অ্যারেস্টার (Fire arester)t অগ্নি শিখা (Flame) টিপের অগ্রভাগে কোন কোন সময় হঠাৎ শব্দ করে নিভিয়ে যায় অথবা ব্লো-পাইপের ভিতরে আগুণ জ্বলে। একে ব্যাক ফায়ার বলে। এব্যাক ফায়ার না ঘটার বা নিয়ন্ত্রণ করার জন্য ব্যবহৃত যন্ত্রের নাম ফায়ার অ্যারেস্টার
            ।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>সাবধানতাঃ</strong> গ্যাস ওয়েল্ডিং করার সময় নিম্নলিখিত সাবধানতা অবলম্বন করা উচিত-</p>

          <p style="color:#000000;font-size:15px;">a. সবসময় সিলিন্ডার ভ্যালভ, বেস্না-পাইপ, হোস পাইপ, রেগুলেটর ইত্যাদি সংযোগস্থান চাবিযুক্ত রাখতে হবে।</p>

          <p style="color:#000000;font-size:15px;">b. চোখের নিরাপত্তার জন্য ওয়েল্ডিং এর সময় নীল কাচের চশমা বা ওয়েল্ডিং গগলস ব্যবহার করতে হবে।</p>

          <p style="color:#000000;font-size:15px;">c. দেহের জামা-কাপড়ের যাতে আগুন না ধরে সেই জন্য চামড়ার তৈরি জামা বা এপ্রোণ ব্যবহার করতে হবে।</p>

          <p style="color:#000000;font-size:15px;">d. কোন সরঞ্জামে হাতুড়ীর আঘাত করা বা বল প্রয়োগ করা হতে বিরত থাকতে হবে। e. রাবারের নলকে সব সময় আগুণ বা উত্তাপ হতে দূরে রাখতে হবে।</p>

          <p style="color:#000000;font-size:15px;">f. ওয়েল্ডিং এর সময় গ্যাস সিলিন্ডার দুটিকে এমন দূরত্বে রাখতে হবে যাতে আগুণের উত্তাপ না লাগে।</p>

          <p style="color:#000000;font-size:15px;">g. সিলিন্ডার ভ্যালভের সংযোগস্থলে কোন ওয়াসার ব্যবহার করা যাবে না।</p>

          <p style="color:#000000;font-size:15px;">h. রেগুলেটর ভ্যালভের সংযোগ স্থলে ছিদ্র দেখা দিলে তা সাথে সাথে সারাতে হবে।</p>

          <p style="color:#000000;font-size:15px;">i. শিখা যদি আয়ত্তের বাইরে চলে যায় তবে তা নিভানোর জন্য অগ্নি নির্বাপক ব্যবহার করতে হবে।</p>

          <p style="color:#000000;font-size:15px;">j. বদ্ধস্থানে বেস্না-পাইপ জ্বালানো যাবে না এবং শিখা জ্বালাবার ক্ষেত্রে স্পার্ক লাইটার ব্যবহার করতে হবে।</p>

          <p style="color:#000000;font-size:15px;">k. ব্লো-পাইপ ও সিলিন্ডার ভ্যালভ বন্ধ করে গ্যাস বন্ধ করতে হবে।</p>

          <p style="color:#000000;font-size:15px;">l. রেগুলেটর স্ক্রু বন্ধ থাকা অবস্থায় সিলিন্ডার ভ্যালভ খুলতে হবে।</p>
        </div>
      </div>
      <h4 id="page31-heading178" style="color:#F36B0D;font-style:italic;">Heading</h4>
      <div class="item item-body" id="page31-list-item-container199">
        <div id="page31-markdown217" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>