<ion-view title="ইলেকট্রিক্যাল ইন্সট্রুমেন্ট  " id="page17">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page17-card216">
      <h4 id="page17-heading89" style="color:#F64B07;font-style:italic;">ইলেকট্রিক্যাল ইন্সট্রুমেন্ট (Electrical Instrument)</h4>
      <div class="item item-body" id="page17-list-item-container104">
        <div id="page17-markdown121" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">মেকানিক্যাল এবং ইলেক্ট্রিক্যাল প্রযুক্তির সমন্বয়ে Refrigeration and Airconditioning সিস্টেম তৈরী হয়ে। ফলে মেকানিক্যাল এবং ইলেক্ট্রিক্যাল উভয় প্রযুক্তি সম্পর্কে ধারনা ব্যতিত রিফ্রিজারেশন অ্যান্ড এয়ার কন্ডিশনিং ট্রেডের কার্যক্রম সুষ্ঠভাবে সম্পাদন
            করা যাবে না। ইলেক্ট্রিক্যাল সাইডের কাজ সম্পর্কে জ্ঞানার্জন অতীব জরম্নরী। ফলে ইলেক্ট্রিক্যাল সাইডের কাজ যথাযথ ভাবে সম্পন্ন করার জন্য ইলেক্ট্রিক্যাল ইন্সট্রুমেন্ট সম্পর্কে জ্ঞান থাকা অপরিহার্য। ইলেক্ট্রিক্যাল সাইডের কাজ</p>
        </div>
      </div>
      <h4 id="page17-heading90" style="color:#F64B07;font-style:italic;">ইলেকট্রিক্যাল ইন্সট্রুমেন্টের তালিকা </h4>
      <div class="item item-body" id="page17-list-item-container106">
        <div id="page17-markdown123" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">যে যন্ত্রের সাহায্যে বৈদ্যুতিক বিভিন্ন প্রয়োজনীয় তথ্যাদি পরিমাপ ও পরীক্ষা করা যায় তাকে ইলেকট্রিক্যাল ইনস্ট্রুমেন্ট বলে। আর.এসি এর ইলেক্ট্রিক্যাল কাজে নিম্নোক্ত ইন্সট্রুমেন্ট গুলো ব্যবহার করা হয়- ১) নিয়ন টেস্টার ২) অ্যাম্পিয়ার মিটার ৩) ভোল্ট
            মিটার ৪) ওহম মিটার ৫) ওয়াট মিটার ৬) AVO মিটার ৭) মাল্টি মিটার ৮) ক্লীপ-অন মিটার ৯) এনার্জি মিটার ১০) মেগার ১১) ডিজিটাল থার্মোমিটার ১২) ইলেকট্রোনিক্স লীক ডিটেক্টর ১৩) ক্যাপাসিটর অ্যানালাইজার ইত্যাদি।</p>
        </div>
      </div>
      <h4 id="page17-heading91" style="color:#F64B07;font-style:italic;">নিয়ন টেস্টার (Neon tester)- </h4>
      <div class="item item-body" id="page17-list-item-container107">
        <div id="page17-markdown124" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">নিয়ন টেস্টার দেখতে অনেকটা ফ্লাট স্ক্রুড্রাইভারের মত। তবে বডি অপেক্ষাকৃত মোটা ও ফাপা। এর সাহায্যে সার্কিটের ফেজ তার (লাইন) নির্ণয় করা যায়। এর অভ্যান্তরে বাল্ব ও স্প্রীং থাকে। লাইনে Voltage থাকলে ওর অভ্যন্তরস্থ বাল্ব আলো প্রদান করে। আর লাইনে পর্যাপ্ত
            Voltage না থাকলে উক্ত বাল্ব আলো প্রদান করে না।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/LSgl1jxjQ6aN7dh6pFAX_3-13-201812-37-00PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page17-heading92" style="color:#F64B07;font-style:italic;">. অ্যাম্পিয়ার মিটার (Ampere Meter)- </h4>
      <div class="item item-body" id="page17-list-item-container108">
        <div id="page17-markdown125" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;"> অ্যাম্পিয়ার মিটারের সাহায্যে লোড পরিচালনায় ব্যবহৃত কারেন্টের পরিমাণ পরিমাপ করা হয়। এটি লাইনে লোডের সাথে সিরিজে স্থাপন করা থাকে। অ্যাম্পিয়ার মিটার বিভিন্ন রেঞ্জের হয়। একই মিটাওে বিভিন্ন স্কেল থাকতে পারে তবে প্যানেল মিটাওে চিত্রের ন্যায়কেটি মাত্র
            স্কেল থাকে। এর ডায়ালে A চিহ্ণিত করা থাকে। যা দিয়ে অ্যাম্পিয়ার মিটার নির্দেশ করে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/NbygzsKRmW37FEM1etgu_3-13-201812-37-53PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page17-heading93" style="color:#F64B07;font-style:italic;">ভোল্টমিটার (Voltmeter)- </h4>
      <div class="item item-body" id="page17-list-item-container109">
        <div id="page17-markdown126" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ভোল্টমিটার সাহায্যে বৈদ্যুতিক লাইনের সাপ্লাইকৃত ভোল্টেজের পরিমাপ করা যায়। এতে সাধারণতঃ 0 হতে 300 সংখ্যামানের স্কেল থাকে। তবে কাজের প্রয়োজনীয়তার উপর ভিত্তি করে স্কেলের মান 0 হতে 500ও থাকতে পারে। এর ডায়ালে V চিহ্ণিত করা থাকে। এটি লাইনের সাথে প্যারালেল
            (Parallel) ভাবে স্থাপন করে পাঠ সংগ্রহ করা হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/bGDX2aLoSMiofNYF63dW_3-13-201812-39-44PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page17-heading94" style="color:#F64B07;font-style:italic;">ওহম মিটার (OHM meter)-</h4>
      <div class="item item-body" id="page17-list-item-container110">
        <div id="page17-markdown127" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ওহম মিটারের সাহায্যে সাধারণতঃ রোধক পরিমাপ ও কন্টিনিউটি পরীক্ষা করা হয়। তাছাড়াও সার্কিটের, ওয়াইল্ডিংএর ও সুইচের কন্টিউনিউটি পরিমাপ করা যায়। কন্ডাক্টর বা সার্কিটের বা ওয়াইল্ডিংএর দু’ প্রামেত্ম ওর (Probe) প্রোবদ্বয় স্পর্শ করে কন্টিনিউনিটি বা রোধক
            পরিমাণ নির্ণয় করা হয়। যে কোন লোড, সুইচ, নিরাপত্তা ডিভাইস, সংযোগ, তার ইত্যাদি তাৎক্ষণিক পর্যবেক্ষণ করার জন্য এটি উত্তম ডিভাইস।</p>
        </div>
      </div>
      <h5 id="page17-heading95" style="color:#F64B07;font-style:italic;">মাল্টি বা অ্যাভোমিটার (Multi or AVO meter)-</h5>
      <div class="item item-body" id="page17-list-item-container111">
        <div id="page17-markdown128" class="show-list-numbers-and-dots">
          <pre>
            <code>চিত্র- ৭.৫ঃ মাল্টি মিটার। Multi অর্থ বহু। তাই বৈদ্যুতিক কাজের একাধিক তথ্য পরিমাপের জন্য যে যন্ত্র ব্যবহার করা হয় তাকে মাল্টিমিটার বলে।এ যন্ত্রের সাহায্যে কমপক্ষে কারেন্ট, ভোল্টেজ ও রোধ পরিমাপ করা যায়। যেমন AVO মিটার। এছাড়াও মাল্টিমিটারের সাহায্যে
              ফ্রিকোয়েন্সি, ক্যাপাসিট্যান্স, ইন্ডাক্ট্যান্স, রিল্যাক্ট্যান্স ইত্যাদির মান জানা যায়।</code>
          </pre>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/X3hmOI8TSjWboer9pC4H_3-13-201812-43-22PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page17-heading96" style="color:#F64B07;font-style:italic;">অ্যাভোমিটার (AVO meter)-</h4>
      <div class="item item-body" id="page17-list-item-container112">
        <div id="page17-markdown129" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">AVO শব্দটি Ampere-এর ‘A’ Volt এর ‘V’ এবং Ohmএর ‘O’ থেকে এসেছে। তাই যে মিটারের সাহায্যে Ampere, Volt, আর Ohm পরিমাপ করা যায় তাকে AVO মিটার বলে। একটি মিটার দিয়ে একাধিক জিনিস পরিমাপ করা হয় বলে এর অন্য নাম মাল্টি মিটার। এর ডায়ালে Ampare Volt আর
            Ohm তিনটি ভিন্ন ভিন্ন স্কেল এবং বডিতে Ampare Volt &amp; Ohm-এর সেটিং Mark (চিহ্ন) বা রেঞ্জ স্কেল থাকে। Mark সেটিং করার জন্য সেটিং বা মার্কিং নব থাকে। পরীক্ষা শুরু করার পূর্বে নবটি ঘুরিয়ে প্রযোজনীয় Mark ও রেঞ্জ স্কেলে সেট করা হয়। প্রয়োজনানুযায়ী
            নব সেট করে ডায়ালের সম্পর্কযুক্ত স্কেল হতে পাঠ সংগ্রহ করা হয়। ডায়ালে বিভিন্ন সংখ্যামানের Ampare, Volt আর Ohm এর তিনটি স্কেল থাকে। তবে AC বা DC ভোল্ট ও কারেন্ট পরিমাপের জন্য বডিতে ভিন্ন ভিন্ন মার্কিং ও রেঞ্জ স্কেল থাকে। প্রোব স্থাপনের জন্য বডির
            নিম্নভাগে + ও - চিহ্ণ বিশিষ্ট ২টি পয়েন্ট থাকে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/f5vKttHOTKSGJuYzecuG_3-13-201812-45-29PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page17-heading97" style="color:#F64B07;font-style:italic;">ক্লিপ অন মিটার (Clip on meter)- </h4>
      <div class="item item-body" id="page17-list-item-container113">
        <div id="page17-markdown130" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ক্লিপ অন মিটারও এক প্রকার মাল্টি মিটার। একে Clamp Testerও বলা হয়। ওতে ক্ল্যাম্প ও প্রোব লাগানোর ব্যবস্থা থাকে। ক্ল্যাম্প দিয়ে লোডের কারেন্ট আর প্রোব দিয়ে Voltage ও Resistance পরিমাপ করা হয়। এ AVO মিটারের বিকল্প ব্যবস্থা এবং অপেক্ষাকৃত গুরুত্বপূর্ণ।
            কারণ প্রোবের পরিবর্তে ক্লাম্প সহজে ব্যবহার করা যায়। এতে মেন স্কেল ও সেটিং বা রেঞ্জ স্কেল থাকে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/T2MUv3tbRqaIqNqTV42f_3-13-201812-47-18PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page17-heading98" style="color:#F64B07;font-style:italic;">লীক ডিটেক্টর (Leak Detector)</h4>
      <div class="item item-body" id="page17-list-item-container114">
        <div id="page17-markdown131" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং সিস্টেমে হিমায়ন চক্রের লীকের স্থল নির্ণয় অত্যমত্ম গুরুত্বপূর্ণ বিষয়। সহজে ও নিশ্চিতভাবে লীক নির্ণয় মেরামত ও চার্জিং কাজে সময় ও শ্রম লাঘব করে। সুন্দর আধুনিক ব্যবস্থাপনা ব্যতিত সিস্টেমের লীকের স্থল বের করা যায়
            না। লীক নির্ণয়ের বহুবিধ ব্যবস্থার মধ্যে ইলেক্ট্রনিক লীক ডিটেক্টর হল আধুনিক ইন্সট্রুমেন্ট। </p>
        </div>
      </div>
      <h4 id="page17-heading99" style="color:#F64B07;font-style:italic;">ইলেক্ট্রনিক লীক ডিটেক্টর (Electronic Leak Detector)-</h4>
      <div class="item item-body" id="page17-list-item-container115">
        <div id="page17-markdown132" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">একে সাউন্ড লীক ডিটেক্টরও বলা হয়। এটি ব্যাটারী দ্বারা চালিত । এর দুটি অংশের একটা ফ্লেক্সিবল সেন্সর প্রোব (Flexible sensor probe) আর অন্যটি বডি। সেন্সরের অগ্রভাগে ইলেকট্রোড কেজ (Electrode cage) থাকে। ইলেকট্রোড কেজের সর্বশেষাংশে টিপ প্রটেক্টর (Tip
            protector) থাকে। ভাল ফল পাবার জন্য মাঝে মাঝে টিপ পরিষ্কার করতে হয়। কোন কোন সাউন্ড ডিটেকটর 40-100 ডি.বি (Decibell) এর শব্দেও কাজ করতে পারে। একে সম্ভাব্য লীকের স্থলে (শব্দ উৎসের নিকটে) ধরলে লীক থকলে নির্দেশ করতে পারে। মিটার বা লাইট শব্দ নিয়ন্ত্রণ
            করে। আউট পুট জ্যাকের সাহায্যে শব্দ রেকর্ড করা হয়। মূলতঃ লীকের স্থল হতে বের হওয়া মানুষের শ্রবণ শক্তির অনেক নিম্ন স্তরের শব্দ এর সাহায্যে নির্দেশ করা সম্ভব। তাই সূক্ষ্ম লীক নির্ণয়ে এ ব্যবহার হয়। এর সাহায্যে বীয়ারিং এর অবস্থাও জানা যায়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/B8cXr02VQYK7fvqC8mPA_3-13-201812-50-43PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page17-heading100" style="color:#F64B07;font-style:italic;">ক্যাপাসিটর অ্যানালাইজার (Capacitor Analyzer)-</h4>
      <div class="item item-body" id="page17-list-item-container116">
        <div id="page17-markdown133" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ক্যাপাসিটর অ্যানালাইজার দ্বারা ক্যাপাসিটর পরীক্ষা করা হয়। এর সাহায্যে ক্যাপাসিটরের বিভিন্ন রেটিং মান পরিমাপ করা যায়। দ’ুধরণের অ্যানালাইজার ব্যহার হয়ে থাকে। একটি সরল ও অপরটি জটিল প্রকৃতির। সরল প্রকৃতির ক্যাপাসিটর অ্যানালাইজারঃ </p>

          <p style="color:#000000;font-size:15px;">চিত্র- ৭.৯ঃ সরল ক্যাপাসিটর অ্যানালাইজার। এ ধরণের অ্যানালাইজার ব্যাটারীর পাওয়ার দ্বারা চালিত হয়। এর সাহায্যে ক্যাপাসিটরের শুধুমাত্র ক্যাপাসিট্যান্সের মান বের করা যায়। এ অ্যানালাইজারের বিভিন্ন অংশের নাম হল- ১, ডিসপেস্ন, ২. রেঞ্জ নব, ৩. পয়েন্টার,
            ৪. বডি, ৫. প্রোব ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">জটিল প্রকৃতির ক্যাপাসিটর অ্যানালাইজারঃ এ ধরণের অ্যানালাইজার বৈদ্যুতিক পাওয়ার দ্বারা চালিত হয়। এতে কয়েকটি সুইচ, স্কেল ও কর্ড থাকে। এর সাহায্যে ক্যাপাসিটরের ক্যাপাসিট্যান্স, পাওয়ার ফ্যাক্টর সহ সকল রেটিং মান পাওয়া যায়। এর ব্যবহার পদ্ধতি বেশ জটিল।
            তাই এর নাম জটিল ক্যাপাসিটর অ্যানালাইজার। এ অ্যানালাইজার পাওয়ার কর্ড, টেস্ট কর্ড ও ক্লিপ, টেস্ট (অন-অফ) সুইচ, আই টিউব ভোল্ট রেঞ্জ সুইচ, রেঞ্জ সুইচ ইত্যাদি অংশের নিয়ে গঠিত। এর সাহায্যে ক্যাপাসিটরের যে টেস্ট গুলো করা হয় তা হল- Open test, Short
            test, মাইক্রোফ্যারাড মান নির্ণয়, পাওয়ার ফ্যাক্টর ইত্যাদি। </p>

          <pre>
            <code> চিত্র- ৭.১০ঃ ক্যাপাসিটর অ্যানালাইজার।</code>
          </pre>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/Nt6O4HeXQV6B2F9gm3mn_3-13-201812-52-43PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page17-heading101" style="color:#F64B07;font-style:italic;">ইলেট্রিক্যাল ইন্সট্রুমেন্টের ব্যবহার তালিকাঃ</h4>
      <div class="item item-body" id="page17-list-item-container117">
        <div id="page17-markdown134" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">আর.এসি কাজে ইলেক্ট্রিক্যাল সাইডে ইলেট্রিক্যাল ইন্সট্রুমেন্টের প্রচুর ব্যবহার পরিলক্ষিত হয়। গুরুত্বপূর্ণ কিছু ইন্সট্রুমেন্টের ব্যবহার বর্ণিত হল- ক্রমিক ইন্সট্রুমেন্টের নাম ব্যবহার ক্ষেত্র</p>

          <p style="color:#000000;font-size:15px;">১ নিয়ন টেস্টার সার্কিটের বিভিন্ন পয়েন্টে ফেজ পরীক্ষা করার জন্য ব্যবহার করা হয়</p>

          <p style="color:#000000;font-size:15px;">২ অ্যাম্পিয়ার মিটার লোডের অ্যাম্পিয়ার পরীক্ষা/পরিমাপ করার জন্য ব্যবহার করা হয়</p>

          <p style="color:#000000;font-size:15px;">৩ ভোল্ট মিটার সার্কিটের ভোল্ট পরীক্ষা বা পরিমাপ করার জন্য ব্যবহার করা হয় </p>

          <p style="color:#000000;font-size:15px;">৪ ওহম মিটার সার্কিটের লোডের রেজিস্ট্যান্স পরিমাপ ও কন্টিনিউটি পরী ক্ষা করার জন্য ব্যবহার করা হয় ৫ ওয়াট মিটার ইলেক্ট্রিক্যাল পাওয়ার বা ওয়াট পরিমাপ করার জন্য ব্যবহার করা হয় ৬ AVO মিটার অ্যাম্পিয়ার, ভোল্ট. ওহম পরিমাপ করার জন্য ব্যবহার করা হয়</p>

          <p style="color:#000000;font-size:15px;">৭ মাল্টি মিটার অ্যাম্পিয়ার, ভোল্ট. ওহম, ফ্রিকোয়েন্সি, ক্যাপাসিট্যান্স, ইডাক্ট্যান্স ইত্যাদি পরিমাপ করার জন্য ব্যবহার করা হয় </p>

          <p style="color:#000000;font-size:15px;">৮ ক্লীপ অন মিটার লোডের অ্যাম্পিয়ার পরীক্ষা/পরিমাপ করার জন্য ব্যবহার করা হয়</p>

          <p style="color:#000000;font-size:15px;">৯ এনার্জি মিটার লোডের এনার্জি পরিমাপ করার জন্য ব্যবহার করা হয়</p>

          <p style="color:#000000;font-size:15px;">১০ মেগার ইন্সুলেটর ও কন্ডাক্টরের রেজিস্ট্যান্স পরীক্ষা/পরিমাপ করার জন্য ব্যবহার করা হয়</p>

          <p style="color:#000000;font-size:15px;">১১ ডিজিটাল থার্মোমিটার তাপমাত্রা পরিমাপ করার জন্য ব্যবহার করা হয়</p>

          <p style="color:#000000;font-size:15px;">১২ ইলেক্ট্রোনিক্স লীক ডিটেক্টর সিস্টেমের লীকের স্থল সনাক্ত করার জন্য ব্যবহার করা হয়</p>

          <p style="color:#000000;font-size:15px;">১৩ ক্যাপাসিটর অ্যানালাইজার ক্যাপাসিটরের কার্যকারীতা পরীক্ষা করার জন্য ব্যবহার করা হয়</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>