<ion-view title="প্রেশার কাট আউট" id="page38">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page38-card235">
      <h4 id="page38-heading211" style="color:#FF7405;font-style:italic;">প্রেশার কাট আউট (Pressure Cut Out = PC)</h4>
      <div class="item item-body" id="page38-list-item-container240">
        <div id="page38-markdown258" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Pressure শব্দের অর্থ চাপ আর Cut out দ্বারা নিয়ন্ত্রক (সংযোগ বিচ্ছিন্ন) বুঝায়। প্রেশার কাট আউট চাপে চালিত বৈদ্যুতিক ও নিরাপত্তা মূলক যন্ত্র। কাট আউট মূলতঃ হিমায়ক ও কম্প্রেসর লুব অয়লের চাপ নিয়ন্ত্রণ করে। এতে হিমায়ন চক্রের নিরাপত্তা বজায় থাকে।
            হিমায়ন চক্রে যে ডিভাইস হিমায়ক বা কম্প্রেসর অয়লের চাপে বিদ্যুৎ প্রবাহকে অফ-অনের মাধ্যমে মোটরকে নিয়ন্ত্রণ করে তাকে প্রেশার কাট-আউট বলে। এর অপর নাম চাপ নিয়ন্ত্রক (Pressure Controller)।</p>
        </div>
      </div>
      <h4 id="page38-heading213" style="color:#FF7405;font-style:italic;">প্রেশার কাট আউটের কাজঃ</h4>
      <div class="item item-body" id="page38-list-item-container242">
        <div id="page38-markdown260" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">প্রেশার কাট-আউটের‌্য প্রধান কাজ গুলো বর্ণিত হল- ক. সাকশন বা লো প্রেশার সাইডে নির্দিষ্ট নিমণ চাপ সৃষ্টি হলে এ কম্প্রেসর মোটরকে বন্ধ করে এবং চাপ বাড়লে কম্প্রেসর মোটরকে চালু করে দেয়। খ. ডিসচার্জ বা হাইপ্রেশার সাইডে অতিরিক্ত উচ্চ চাপ সৃষ্টি জনিত
            দুর্ঘটনা থেকে হিমায়ন পদ্ধতিকে রক্ষা করে । গ. কম্প্রেসরের চলমান অংশে তেলের (Oil) চাপ পর্যাপ্ত না হলে কম্প্রেসর মোটরকে বন্ধ রাখে।</p>
        </div>
      </div>
      <h4 id="page38-heading212" style="color:#FF7405;font-style:italic;">প্রেশার কাট আউটের প্রকারভেদঃ</h4>
      <div class="item item-body" id="page38-list-item-container241">
        <div id="page38-markdown259" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হিমায়ন চক্রে ব্যবহৃত প্রবাহীর উপর ভিত্তি করে প্রেশার কাট আউট প্রধানত দুই ভাগে ভাগ করা হয়-</p>

          <p style="color:#000000;font-size:15px;">ক. হিমায়ক চাপ নিয়ন্ত্রক (Refrigerant pressure cut out)</p>

          <p style="color:#000000;font-size:15px;">খ. কম্প্রেসরের তৈল চাপ নিয়ন্ত্রক (Compressor Oil Pressure cut out)</p>

          <p style="color:#000000;font-size:15px;">হিমায়ক চাপ নিয়ন্ত্রক তিন প্রকার-</p>

          <p style="color:#000000;font-size:15px;">১. নিম্ন চাপ নিয়ন্ত্রক (Low pressure cut out), </p>

          <p style="color:#000000;font-size:15px;">২. উচ্চ চাপ নিয়ন্ত্রক (High pressure cut out)</p>

          <p style="color:#000000;font-size:15px;">৩. দ্বৈত চাপ নিয়ন্ত্রক (Dual pressure cut out)</p>
        </div>
      </div>
      <h4 id="page38-heading214" style="color:#FF7405;font-style:italic;">প্রেশার কাট আউটের বর্ণনাঃ</h4>
      <div class="item item-body" id="page38-list-item-container243">
        <div id="page38-markdown261" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong> হিমায়ক চাপ নিয়ন্ত্রক-</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে যন্ত্র হিমায়ন চক্রে হিমায়কের চাপীয় অবস্থার কারণে বিদ্যুৎ প্রবাহ সংযোগ-বিচ্ছিন্ন করে কম্প্রেসরকে চালু ও বন্ধ করতঃ ঐ চাপীয় অবস্থাকে চক্রের উপযোগী রাখতে সহায়তা করে তাকে হিমায়ক চাপ নিয়ন্ত্রক বলে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>লো প্রেশার কাট আউট</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে কাট আউট হিমায়ন পদ্ধতিতে নির্ধারিত নিম্ন চাপে কাজ করে তাকে লো প্রেশার কাট আউট (Low pressure cut out) বলে।এটি সাকশন বা নিম্ন চাপ অংশে সংযোগ দেয়া হয়। এর চাপ নিয়ন্ত্রণ ক্ষমতা অপেক্ষাকৃত কম। ইহার স্কেলে 0, 10, 20, 30, 40 ও 50 P.S.I এর মান দাগাংকিত
            থাকে। লো প্রেশার কাট আউটের বিভিন্ন অংশ-</p>

          <p style="color:#000000;font-size:15px;">১. বডি (Body),
            <br>২. স্ক্রু পয়েন্ট (Screw point)
            <br>৩. বৈদ্যুতিক তার সংযোগ বিন্দু ৪. নব (Knob) ৫. রিসেট লিভার (Reset Liver)
            <br>৬. হাপড় বা বিলোজ (Bellows) ৭. হাপড় লিভার (Bellows Liver) ৮. ডিফারেন্সিয়্যাল (Differential)
            <br>৯. ডিফারেন্সিয়্যাল স্ক্রু (Differential srcew) ১০. রেঞ্জ অ্যাডজাস্টমেন্ট স্ক্রু ১১. চাপ স্প্রীং (Tension Spring) ১২. হসত্ম চালিত রিসেট (Manual Reset) ১৩.স স্ন্যাপ অ্যাকশন বিন্দু (Snap action point) ১৪. ক্যাপিলারী টিউব (Capillary Tube) ১৫.
            সংযুক্তকারী ফ্লেয়ারিং নাট (Flaring nut) ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>কার্য প্রণালী</strong>
          </p>

          <p style="color:#000000;font-size:15px;">পস্নান্ট চলাকালীন সময় কোন কারণ বশতঃ লো প্রেশার সাইডে (Low pressure side) চাপ নির্ধারিত চাপ অপেক্ষা কমে গেলে কাট আউটটির স্প্রীং-এর প্রেশার বেড়ে যায়। স্প্রীং-এর প্রেশারে বৈদ্যুতিক সংযোগ বিচ্ছিন্ন হয়ে মোটর বন্ধ হয়। এ অবস্থায় লো প্রেশার সাইডে চাপ
            বাড়তে থাকবে। চাপ যখন নির্ধারিত ডিফারেন্সিয়্যাল চাপে পৌঁছাবে তখন Cut in হবে। অর্থাৎ মোটর পুণঃরায় চলতে শুরু করবে এবং হিমাযন কাজ শুরু হবে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>হাই প্রেশার কাট আউটঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">হিমায়কের উচ্চ চাপের কারণে যে ডিভাইস বৈদ্যুতিক সরবরাহকে বিচ্ছিন্ন করে কমপ্রেসর মোটরকে বন্ধ করে তাকে হাইপ্রেশার কাট আউট বলে। এটি ইউনিটের হাইপ্রেশার সাইডে অর্থাৎ ডিসচার্জ লাইনে স্থাপন করা থাকে। এর চিত্র ও গঠিত অংশ সমূহ লোহ প্রেশার কাট আউটের অনুরূপ।</p>

          <p style="color:#000000;font-size:15px;">কার্য প্রণালীঃ পস্নানট চলন্ত অবস্থায় কোন কারণে ডিসচার্জ প্রেশার বৃদ্ধি পেলে কাট আউটের স্প্রীং চাপে বিদ্যুৎ প্রবাহ বন্ধ হবে । ফলে মোটর বন্ধ হয়ে যাবে এবং ডিসচার্জ প্রেশার কমতে থাকবে। এয়ার কম্প্রেসরের বেলায় ডিসচার্জ প্রেশার ডিফারেন্সিয়্যাল রেঞ্জে
            আসলে নিয়ন্ত্রকটি বিদ্যুৎ প্রবাহ চালু করবে। তবে রিফ্রিজারেশন কম্প্রেসর মোটর একবার অফ হলে নিজে নিজে আর চালু হয় না। রিসেট বাটন চাপলে সরবরাহ পেয়ে মোটর চলতে শুরু করবে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>হাই প্রেশার সৃষ্টির কারণঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">ক) অতিরিক্ত হিমায়ক চার্জ হলে,
            <br>খ) হিমায়ন পদ্ধতিতে বায়ু থাকলে।</p>

          <p style="color:#000000;font-size:15px;">গ) হাই প্রেশার সাইডে যে কোন প্রতিবন্ধকতা থাকলে,
            <br>ঘ) ওয়াটার কুল্ড কন্ডেন্সারের টিউবে ময়লা হলে ঙ) কন্ডেন্সার ফ্যান বন্ধ হলে ও অতিমাত্রায় ময়লা জমলে,
            <br>চ) কন্ডেন্সারে পর্যাপ্ত পানি না থকলে,</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ডিউয়্যাল (দ্বৈত) প্রেশার কাট আউটঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে কাট-আউট লো ও হাই উভয়ইপ্রেশারই নিয়ন্ত্রণ করে তাকে ডিউয়্যাল প্রেশার কাট আউট বলে। এর দুটি বিলোজের (Billows) সাথে সংযুক্ত দুইটি চিকন সরু টিউব থাকে। টিউবদ্বয় সাকশন ও ডিসচার্জ লাইনে স্থাপনকরা হয়। লো ও হাই প্রেশার কাট আউটের মত এতে কাট-ইন ও কাট-আউট
            প্রেশার সেট করা থাকে। এটি অতি নিম্ন ও অতি উচ্চ কাট আউট করে। </p>

          <p style="color:#000000;font-size:15px;">কার্য প্রণালী ডিউয়্যাল (Duel) প্রেশার কাট আউটের সংযোগ সাকশন ও ডিসচার্জ উভয় পার্শ্বে থাকে। কোন কারণে ইভ্যাপরেটরের চাপ নির্ধারিত চাপের চেয়ে কমে গেলে অথবা কন্ডেন্সারের চাপ খুব বেশি বেড়ে গেলে ডিউয়্যাল প্রেশার কাট আউট বৈদ্যুতিক সংযোগ বিচ্ছিন্ন করে
            দেয়। ফলে কমপ্রেসর বন্ধ হয়ে যায়। এতে কনডেনসারের অংশের চাপ কমতে থাকে আর ইভ্যাপরেটর অংশের চাপ বাড়তে থাকে। উভয় চাপ সঠিক মাত্রায় আসলে স্প্রীং চাপে Snap action প্রক্রিয়ায় বৈদ্যুতিক সংযোগ অন হয় এবং মোটর চলতে থাকে। এখানে উলেস্নখ্য যে কোন একটা চাপও
            যদি রেঞ্জ মাত্রায় না আসে তবে সংযোগ বন্ধ থাকবে। </p>

          <p style="color:#000000;font-size:15px;">যবহৃত অবস্থায় ডিউয়্যালপ্রেশার কাট আউট।
            <strong>ডিফারেন্সিয়্যাল (Differntial)</strong>
            সিস্টেমের Cut-out এবং Cut-in চাপ হবে তা পূর্ব থেকে জানার খুবই দরকার হয়। কাট আউট এবং কাট ইন চাপের একটা পার্থক্য থাকে। চাপের এ পার্থক্যকে ডিফারেন্সিয়্যাল বলে। ডিফারেন্সিয়্যাল মান খুব কম বা খুব বেশি কোনটিই ভাল না। মধ্যম মানের থাকা সব চেয়ে ভাল। লো প্রেশার
            কাট আউটের বেলায় কাট-আউট এবং কাট-ইন চাপের পার্থক্যকে ডিফারেন্সিয়্যাল বলে। লো প্রেশার কাট আউটের কাট আউট চাপ ইভ্যাপরেটর কক্ষ তাপমাত্রা থেকে নির্ধারণ করা হয়। লো প্রেশার কাট আউটে কাট ইন ও ডিফারেন্সিয়্যাল প্রেশার সেট করা হয়ক্কাট আউট সেট করার কোন
            ব্যবস্থা থাকে না। । কোন কক্ষের ক্ষেত্রে তাপমাত্রা ২ থেকে ৪০ । ২০ সেঃ তাপমাত্রায় সাকশন সেচুরেশন চাপ 6 PSI। আর ৪০ সেঃ তাপমাত্রায় সাকশন সেচুরেশন চাপ 10 PSI. তাহলে 6 PSI তে অফ এবং 10 PSI তে অন করতে হয়। এখন অন বা কাট ইন প্রেশার হল 10 PSI এবং অফ
            বা কাট আউট প্রেশার হল 6 PSI। সুতরাং (10- 6 = 4) বা 4 PSI হল ডিফারেন্সিয়্যাল। তা হলে লো প্রেশার কাট আউটে কাট ইন সেট করতে হবে 10 PSI এবং ডিফারেন্সিয়্যাল হবে 4 PSI রিফ্রিজারেমনে ব্যবহৃত হাই প্রেশার কাট আউটে শুধুমাত্র কাটাউট প্রেশার সেট করতে হয়।
            আর ডিফারেন্সিয়্যাল নির্মাতা কর্তৃক সেটিং থাকে যা সাধারণতঃ 42 PSI থেকে 43 PSI থাকে। হাই প্রেশার কাট আউটের ট্রিপ প্রেশার - (মাইনাস) ডিফারেন্সিয়্যাল প্রেশার হবে কাট ইন প্রেশার। অর্থাৎ হাই প্রেশার কাট আউটের কাট ইন প্রেশার = কাট আউট প্রেশার - ডিফারেন্সিয়্যাল
            প্রেশার ।
            <em>H.P.C এর ক্ষেত্রে ডিফারেন্সিয়্যাল = কাট আউট চাপ-কাট ইন চাপ।
            </em>L.P.C এর ক্ষেত্রে ডিফারেন্সিয়্যাল = কাট ইন চাপ-কাট আউট চাপ। ব্যবহৃত একটা কাট আউটের ডিফারেন্সিয়্যাল চাপ ৩০ এবং কাট-ইন চাপ 200 kpa হলে এর কাট-আউট চাপ কত হবে? সমাধানঃ- আমরা জানি, কাট আউট চাপ = কাট ইন চাপ-ডিফারেন্সিয়্যাল চাপ = 200-30 kpa
            = 170 kpa</p>
        </div>
      </div>
      <h4 id="page38-heading215" style="color:#FF7405;font-style:italic;">প্রেশার কাট আউটের ব্যবহার ক্ষেত্রেঃ</h4>
      <div class="item item-body" id="page38-list-item-container244">
        <div id="page38-markdown262" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">প্রেশার কাট আউটের ব্যবহার ক্ষেত্র গুলোর নাম হল-</p>

          <ol>
            <li>আইস কিউব ও ক্রীম মেকার (Ice cube and cream maker) </li>
            <li>সুইট ওয়াটার বাথ মেকার (Sweet water bath maker) </li>
            <li>বিয়ার, ওয়াটার ও মিল্ক কুলার (Beer, water &amp; milk cooler) </li>
            <li>ওয়াক ইন কুলার (Walk in cooler) </li>
            <li>বেভারেজ উৎপাদন ও বোতলজাত করণ প্ল্যান্ট (Beverage Production &amp; Bottle processing plant) </li>
            <li>বাইরে কন্ডেন্সিং ইউনিট বিশিষ্ট বড় ডিসপ্লে কুলার (Big display cooler) </li>
            <li>ডেইরি কেইস (Dairy case), </li>
            <li>৮. বরফ কল (Ice plant) ৯. হিমাগার (Cold storage) ১০. বড় স্প্লীট টাইপ এসি (Split type AC)
              <br>১১. শীতাতপ নিয়ন্ত্রণ পদ্ধতি (Air Conditioning system),
              <br>১২. ওয়াটার চিলার (Water chiller) </li>
          </ol>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>