<ion-view title="পাইপ ফিটিংস্ " id="page16">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page16-card214">
      <h4 id="page16-heading77" style="color:#F6410A;font-style:italic;">পাইপ ফিটিংস্ (Fittings)</h4>
      <div class="item item-body" id="page16-list-item-container92">
        <div id="page16-markdown106" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">এককভাবে পাইপ বা টিউবকে ব্যবহার উপযোগীভাবে তৈরি করা সম্ভব হয় না। একে ব্যবহার উপযোগী করার জন্য বিভিন্ন ধরণের সংযোজক বা উপকরণ ব্যবহার করা হয়। যে সমস্ত উপকরণাদি ব্যবহার করে টিউব বা পাইপকে ব্যবহার উপযোগী করা হয় তাকে ফিটিংস বলে। ফিটিংসের সাহায্যে
            পাইপ বা টিউবকে সংযোগ করে ইচ্ছামত ব্যবহার করা যায়। টিউব বা পাইপকে ব্যবহার উপযোগী করার জন্য বিভিন্ন আকৃতি প্রদান করার পদ্ধতিকে টিউবিং বা পাইপিং বলে।</p>
        </div>
      </div>
      <h4 id="page16-heading79" style="color:#F6410A;font-style:italic;">. ফিটিংসের প্রয়োজনীয়তা</h4>
      <div class="item item-body" id="page16-list-item-container93">
        <div id="page16-markdown107" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">টিউবিং (Tubing) পাইপিং (Piping) ব্যতীত কোন টিউব বা পাইপ কাজে লাগানো যায় না। রিফ্রিজারেশন অ্যান্ড এয়ার কন্ডিশনিং, প্লাম্বিং সহ সকল প্রকার কাজে টিউব ও পাইপের ব্যাপক ব্যবহার রয়েছে। তবে এসকল কাজ সম্পাদনের জন্য টিউব বা পাইপকে ব্যবহার উপযোগী করার
            প্রয়োজনে ফিটিংসের বিকল্প নেই। দীর্ঘ লাইন টানতে, লাইন থেকে সাব লাইন তৈরি করতে, নিয়ন্ত্রক স্থাপন করতে, লাইন বন্ধ করতে ফিটিংস অপরিহার্য। প্রবাহী পথ হলো পাইপ বা টিউব। আর একে ব্যবহার উপযোগী করার জন্য দরকার বিভিন্ন প্রকার ফিটিংস। ফিটিংস চার প্রকার-
            ক. ফ্লেয়ার বা টিউব ফিটিংস (Flare or tube fittings).
            <br>খ. সোল্ডারিং ফিটিংস (Soldering fittings). গ. পাইপ ফিটিংস (Pipe fittings).
            <br>ঘ. হোজ ক্লাম্প ফিটিংস (Hose clamp fittings).</p>
        </div>
      </div>
      <h4 id="page16-heading80" style="color:#F6410A;font-style:italic;">ফিটিংসের তালিকা </h4>
      <div class="item item-body" id="page16-list-item-container94">
        <div id="page16-markdown108" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ফিটিংস্ টিউবিং বা পাইপিং-এর অর্থাৎ পাইপ বা টিউব সংযোগের খুব দরকারী জিনিস। প্রয়োজন মাফিক সংযোগ দেয়ার জন্যে বিভিন্ন প্রকার ফিটিংস্ দরকার হয়। পাইপ বা টিউব ২ প্রণালীতে সংযোগ করা হয়-</p>
        </div>
        <div id="page16-markdown109" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">1) স্থায়ী সংযোগঃ যে সকল সংযোগ সচরাচর খোলার প্রয়োজন হয় না এবং সহজে খোলা যায় না তাকে স্থায়ী সংযোগ বলে। সোলডারিং, ব্রেজিং ও ওয়েল্ডিং এর মাধ্যমে স্থায়ী সংযোগ দেয়া হয়। স্থায়ী সংযোগ অপেক্ষাকৃত লিক মুক্ত সংযোগ।</p>

          <p style="color:#000000;font-size:15px;">2) ফ্লেয়ার বা অস্থায়ী সংযোগঃ যে সংযোগ সহজে খোলা ও লাগান যায় তাকে অস্থায়ী সংযোগ বলে। টিউবিংএ কোন কোন ক্ষেত্রে সংযোগাদি উন্মুক্ত করার প্রয়োজন হয়। সেসব ক্ষেত্রে অস্থায়ী সংযোগ করা হয়। ফ্লেয়ারিং নাট, টি, এলবো, সকেট প্রভৃতির মাধ্যমে অস্থায়ী সংযোগ
            দেয়া হয়। হিমায়ন ও শীতাতপ নিয়ন্ত্রণ কাজে পাইপিং ও টিউবিংএর জন্য বিভিন্ন প্রকার ফিটিংস্ ব্যবহার কার হয়। হিমায়ন ও শীতাতপ নিয়ন্ত্রণে ব্যবহৃত ফিটিংস সমূহের তালিকা উলেস্নখ করা হল-</p>
        </div>
      </div>
      <h4 id="page16-heading81" style="color:#F6410A;font-style:italic;">ফ্লেয়ারিং বা টিউব ফিটিংসের তালিকাঃ</h4>
      <div class="item item-body" id="page16-list-item-container95">
        <div id="page16-markdown110" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">১) ফ্লেয়ার নাট (Flare nut), ২) ফ্লেয়ার টি (Flare Tee), ৩) ফেস্নয়ার ইউনিয়ন (Flare Union) বা স্ট্রেইট ইউনিয়ন (Straight Union), ৪) ফ্লেয়ার হাফ ইউনিয়ন (Flare Half Union), ৫) ফ্লেয়ার রিডিউসিং ইউনিয়ন (Flare reducing union), ৬) ফ্লেয়ার-এলবো (Flare
            Elbow), ৭) ফ্লেয়ার কানেক্টর (Flare Connector), ৮) ফ্লেয়ার ক্রস (Flare Cross), ৯) ফ্লেয়ার ক্যাপনাট বা ডেড নাট (Flare Cap Nut or Dead Nut), ১০) ফ্লেয়ার পস্নাগ বা ডেড পস্নাগ (Flare plug or Dead plug), ১১) কপার সীল বনেট (Copper seal bonnet). ১২)
            কপার সীল গ্যাসকেট (Copper seal Gasket), </p>
        </div>
      </div>
      <h4 id="page16-heading82" style="color:#F6410A;font-style:italic;">সোল্ডারিং ফিটিংসের তালিকাঃ</h4>
      <div class="item item-body" id="page16-list-item-container96">
        <div id="page16-markdown112" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">১) সোল্ডার (কপার) কাপলিং ২) সোল্ডার (কপার) এলবো ৩) সোল্ডার (কপার) রিডিউসিং সকেট ৪) সোল্ডার (কপার) অ্যাডাপ্টর ৫) সোল্ডার (কপার) ইউনিয়ন ৬) সোল্ডার (কপার) টি ইত্যাদি</p>
        </div>
      </div>
      <h4 id="page16-heading83" style="color:#F6410A;font-style:italic;">পাইপ ফিটিংসের তালিকাঃ</h4>
      <div class="item item-body" id="page16-list-item-container97">
        <div id="page16-markdown113" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">১) ইউনিয়ন ২) সকেট ইউনিয়ন ৩) নিপল ৪) এলবো ৫) টি ৬) ডেড পস্নাগ</p>
        </div>
      </div>
      <h4 id="page16-heading84" style="color:#F6410A;font-style:italic;">. ফিটিংসের (Fittings) বর্ণনা </h4>
      <div class="item item-body" id="page16-list-item-container98">
        <div id="page16-markdown114" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ফিটিংসের বর্ণনা বলতে এর পরিমাপকে বুঝানো হয়। ফিটিংসের মাপ ইঞ্চি (") ও মিলিমিটার (মিমি) এ দু’প্রকার মাপের প্রচন রয়েছে। বর্তমানে মিমি মাপের ফিটিংস বেশি ব্যবহার হচ্ছে। ইঞ্চি ও মিমি মাপের মধ্যে অতিসামান্য পরিমান তফাৎ দেখা যায়। নিমেণ ইঞ্চি ও মিমি
            মাপের মধ্যে সম্পর্ক দেখানো হল-</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/OT25ra85SEuxBXjC5BhO_r.jpg" style="display: block; width: 100%; height: 86px; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page16-heading85" style="color:#F6410A;font-style:italic;">ফ্লেয়ারিং বা টিউব ফিটিংস্ঃ</h4>
      <div class="item item-body" id="page16-list-item-container99">
        <div id="page16-markdown115" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ফ্লেয়ারিং ফিটিংসমূহ ড্রপ ফোর্জ ব্রাশ দ্বারা তৈরি হয়। বিভিন্ন কাজে চাহিদা অনুযায়ী এ ফিটিংস বিভিন্ন ধরণের হয়ে থাকে। কয়েকটি ফ্লেয়ার ফিটিংস্ এর বর্ননা নিম্নের ৪টি সারণীতে প্রদত্ত হল-</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/s1CFTGxlRyOfOfi639oK_3-13-201812-21-32PM.jpg" style="display: block; width: 100%; height: 90px; margin-left: auto; margin-right: auto;">
      </div>
      <div class=" item item-image">
        <img src="img/xISbrEoQUSHKNKLVJKKQ_3-13-201812-23-30PM.jpg" style="display: block; width: 100%; height: 700px; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page16-heading86" style="color:#F6410A;font-style:italic;">পাইপ ফিটিংস (Pipe Fittings)t</h4>
      <div class="item item-body" id="page16-list-item-container100">
        <div id="page16-markdown116" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">রিফ্রিজারেশন পস্নান্টে পাইপিং সিস্টেমে পাইপ সংযোজন, পাইপ লাইনের দিক পরিবর্তন, মোটা পাইপের সাথে চিকন পাইপ সংযোজন প্রভৃতি কাজে ব্যবহৃত খুচরা যন্ত্রাংশ সমূহকে ‘‘পাইপ ফিটিংস’’ বলে। যেমন-সকেট, এলবো, ইউনিয়ন, টী, রিডিউসার এবং ডেড পস্নাগ প্রভৃতি। এগুলো
            সাধারণত কাস্ট আয়রন, স্টীল, স্টীল অ্যালয় ও ব্রাশের তৈরি যার ভেতরে বা বাইরের দিকে থ্রেড বা প্যাঁচ কাটা থাকে। এগুলো স্টীলের তৈরি। ফিটিংস ব্যবহার সুবিধার জন্য এদের ভিতরে বা বাইরে প্যাঁচ কাটা থাকে। এরা বিভিন্ন সাইজের হতে পারে। কতকগুলো পাইপ ফিটিংসের
            চিত্র ও তালিকা বর্ণনা নিচে দেয়া হল- </p>
        </div>
        <div id="page16-markdown118" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">. টি কানেক্টর ২. ডেড নাট ৩. রিডিউসিং টি ৪. ডেড পস্নাগ ৫. কানেক্টর ৬. রিডিউসিং সকেট ৭. ক্রস কানেক্টর ৮. ইউনিয়ন</p>

          <p style="color:#000000;font-size:15px;">১. ইউনিয়ন (Union)ঃ এটি ১/৪", ৫/১৬", ৩/৮ ",১/২ ",৫/৮ ",৩/৪", ৭/৮",ও ১" ইত্যাদি সাইজের হয়।</p>

          <p style="color:#000000;font-size:15px;">২. রিডিউসিং ইউনিয়ন (Reducing Union)t এর সাইজ ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;">৩. ইউনিয়ন সকেট (Union Socket)ঃ এ গুলো ০.৫ ", ০.৭৫", ১", ১.২৫ " , ১.৫" ইত্যাদি সাইজের হয়।</p>

          <p style="color:#000000;font-size:15px;">৪. এলবো (Elbow) ঃ এটি ০.৫ ", ০.৭৫", ১", ১.২৫ " , ১.৫" ইত্যাদি সাইজের হয়।0... .</p>

          <p style="color:#000000;font-size:15px;">৫. টি (Tee) ঃ এটি ০.৫ ", ০.৭৫", ১", ১.২৫ " , ১.৫" ইত্যাদি সাইজের হয়।</p>

          <p style="color:#000000;font-size:15px;">৬. নিপল (Nipple) ঃ ০.৫ ", ০.৭৫", ১", ১.২৫ " , ১.৫" ইত্যাদি সাইজের হয়।</p>
        </div>
      </div>
      <h4 id="page16-heading87" style="color:#F6410A;font-style:italic;">হোজ ক্লাম্প ফিটিংসঃ</h4>
      <div class="item item-body" id="page16-list-item-container101">
        <div id="page16-markdown117" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হোজ পাইপকে পোর্টে শক্তভাবে আটকানোর জন্য ব্যবহৃত স্ক্রু সংযুক্ত ক্লাম্পকে হোজ ক্লাম্প বলে। ওয়েল্ডিং ও আর.এসির বিভিন্ন প্রকার কাজে বিভিন্ন মাপের হোজ ক্লাম্প ফিটিংস ব্যবহার করা হয়। বিশেষ করে কার এয়ার কন্ডিশনারের হিমায়ন চক্রে হোজ ক্লাম্প ব্যবহার
            হয়।</p>

          <p style="color:#000000;font-size:15px;">৬.৪ ফিটিংসের ব্যবহারঃ </p>

          <p style="color:#000000;font-size:15px;">সংযোগ ব্যতিত কোন প্রকার কারিগরি ও প্রকৌশল সংক্রান্ত কাজ করা সম্বব নয়। এসংযোগের জন্য বিভিন্ন প্রকার ব্যবস্থাও রয়েছে। ফিটিংসও ওদেও মধ্যে অন্যতম এবং বহুল প্রচলিত সংযোগ ব্যবস্থা। বিশেষ করে আর.এসি কাজে ফিটিংসের ব্যবহার অপরিসীম। নিম্নে ফিটিংসের ব্যবহার
            বর্ণনা করা হল-</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>