<ion-view title="বৈদ্যুতিক ক্ষমতা  " id="page29">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page29-card225">
      <h4 id="page29-heading163" style="color:#F65F08;font-style:italic;">বৈদ্যুতিক ক্ষমতা (Electric Power)</h4>
      <div class="item item-body" id="page29-list-item-container182">
        <div id="page29-markdown199" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বল প্রয়োগে বস্ত্তর সরণ হলে তাকে কাজ আর কোন উৎসের বা যন্ত্রের কাজ করার হারকে ক্ষমতা বলা হয়। একক সময়ের সম্পাদিত কাজ দ্বারা ক্ষমতা পরিমাপ করা হয়। বৈদ্যুতিক শক্তি বা Force কে প্রয়োগ করে বিভিন্ন প্রকার কাজ করা যায়। এই শক্তির প্রয়োগমাত্রার উপর কাজের
            পরিমাণ নির্ভরশীল। </p>
        </div>
      </div>
      <h4 id="page29-heading164" style="color:#F65F08;font-style:italic;">বৈদ্যুতিক ক্ষমতাঃ</h4>
      <div class="item item-body" id="page29-list-item-container183">
        <div id="page29-markdown200" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">কাজ করার সমর্থ্যকে শক্তি (Energy) বলা হয়। সে কারণে কোন বৈদ্যুতিক যন্ত্রের বা বিদ্যুৎ উৎসের কাজ করা সমর্থ্য আছে । কাজ করার জন্য শক্তির অবশ্যই সময় ব্যয় করতে হয়। কোন বৈদ্যুতিক উৎস t সময়ে Q পরিমাণ চার্জ বা তড়িৎ আধান প্রেরণ করার কারণে বিদ্যুৎ প্রবাহ
            I ও বিভব পার্থক্য V হলে সম্পাদিত কাজ হলে- t সেকেন্ডে ক্রিয়াশীল আধানের পরিমাণ Q অতএব, ১ ’’ ’’ ’’ ’’
            <br>অর্থাৎ বিদ্যুৎ প্রবাহ I = বা, Q = It হবে ---------------------- (১) এবং কাজ (W) = VQ (একক) হবে। অর্থাৎ W = VIt Watt.s (এখানে, Q = It) ------- (২) বা, W = IR.It Watt.s (এখানে, V = IR) বা, W = I2R.t Watt.s -------- (৩)
            <br> বা, W = IR.It Watt.s
            <br> অতএব, W = Watt.s (এখানে, IR =V এবং I = ) ---- -- (৪) ওয়াট মিটারের সাহায্যে পাওয়ার পরিমাপ করা হয়। একে P দ্বারা প্রকাশ করা হয়। কোন বর্তনীতে বিদ্যুৎ শক্তি যে হারে কাজ করে অথবা প্রতি সেকেন্ডে কোন বৈদ্যুতিক বর্তনীতে যে পরিমাণ শক্তি বা এনার্জি
            ব্যায় হয় তাকে বৈদ্যুতিক পাওয়ার বা ক্ষমতা বলে। তাই কোন উৎস বা যন্ত্র t সময়ে W পরিমাণ কাজ সম্পাদন করলে, ক্ষমতা (P) = একক------------------ (৫)</p>

          <p style="color:#000000;font-size:15px;"> P = Watt
            <br> P = V.I Watt------------------ (৬)</p>

          <pre>
            <code>আবার, P = একক P = Watt (V = IR) P = .Watt P = I2R Watt--------- (৭) আবার, P = একক P = Watt P = V.I Watt --------(৮) P =( P =----- (৯)</code>
          </pre>

          <p style="color:#000000;font-size:15px;">তাই ভোল্টেজ ও কারেন্টের গুণফলই বৈদ্যুতিক পাওয়ার। অর্থাৎ পাওয়ার = ভোল্ট x কারেন্ট বা Power (P) = VI Watt, যখন কোন সার্কিটের Voltage (V) এবং বিদ্যুৎ প্রবাহ (Current = I) হয়। এসি ইন্ডাক্টিভ সার্কিটে বিদ্যুৎ প্রবাহের ক্ষেত্রে পাওয়ারের সূত্র কিছুটা
            ভিন্ন। এক্ষেত্রে- Power (P) = VIcos (Cos = পাওয়ার ফ্যাক্টর যার মান ০.৮ হতে ০.৯) -------------(১০) বৈদ্যুতিক যন্ত্রের উৎপাদিত ক্ষমতাকে ওয়াট বা কিলো ওয়াট বা অশ্ব শক্তি (Horse power) দ্বারা প্রকাশ করা হয়। এক সেকেন্ডে ৫৫০ ফুট.পাউন্ড কাজ করার
            ক্ষমতাকে এক অশ্ব শক্তি ধরা হয়। ৫৫০ পাউন্ড বল প্রয়োগে বলের দিকে প্রতি সেকেন্ডের সরণ ১ ফুট হলে যে কাজ সম্পন্ন হয় তাকে এক অশ্ব শক্তি বা Horse power বলে। FPS পদ্ধতিতে যান্ত্রিক পাওয়ারের একক হলো Horse power বা Hp. যেমন কম্প্রেসরের ক্ষমতা Hp-তে
            প্রকাশ করা হয়। বর্তমানে পাওয়ারের একক হল ওয়াট বা কিলো ওয়াট।</p>
        </div>
      </div>
      <h4 id="page29-heading165" style="color:#F65F08;font-style:italic;">বৈদ্যুতিক শক্তি বা এনার্জি (Electrical Energy) </h4>
      <div class="item item-body" id="page29-list-item-container184">
        <div id="page29-markdown201" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">কাজ করার সমর্থ্যকে শক্তি (Energy) বলা হয়। সে কারণে কোন বৈদ্যুতিক যন্ত্রের কাজ করার সমর্থ্যকে বৈদ্যুতিক শক্তি (Electric energy) বলে। বৈদ্যুতিক এনার্জি হলো বৈদ্যুতিক শক্তি দ্বারা কোন কাজ করার পরিমাণ। কাজ করার জন্য শক্তির অবশ্যই সময় ব্যয় হয়। সুতরাং
            কাজ, শক্তি ও সময়ের মধ্যে সম্পর্ক বিদ্যমান রয়েছে। বিদ্যুৎ শক্তি যতক্ষণ ধরে কোন বর্তনীতে কাজ করে এই দুইয়ের পূরণফলকে কাজ ধরা হয়। বৈদ্যুতিক পাওয়ার কোন বর্তনীতে যত সময় কাজ করেছে বা করে সেই সময়ের সাথে বৈদ্যুতিক পাওয়ারের গুণফলকে বৈদ্যুতিক এনার্জি
            বলে। ব্যয়িত বৈদ্যুতিক ক্ষমতা ও সময়ের গুণফলই বৈদ্যুতিক শাক্ত Electrical Energy । অর্থাৎ শক্তি = ক্ষমতা x সময় (একক)---------(১১) বা, E = P. t Watt.s ------------------- (১২) বা, E = VI.t Watt.s - ----------------- (১৩) </p>

          <p style="color:#000000;font-size:15px;">এসি বিদ্যুৎ ব্যবস্থায় ইলেক্ট্রিক্যাল এনার্জির সূত্রঃ এনার্জির সূত্র E = পাওয়ার x সময় ( পাওয়ার= ভোল্ট x কারেন্ট x পাওয়ার ফ্যাক্টর) = ভোল্ট x কারেন্ট x সময় x পাওয়ার ফ্যাক্টর = V x I x t x Cos (যখন, ভোল্ট = V, কারেন্ট = I, পাওয়ার ফ্যাক্টর = Cos,
            সময় = t) = VI tCos ----------------------------------(১৪) </p>

          <p style="color:#000000;font-size:15px;"> E (Watt) = VI (DC বা AC Resistive load-এর বেলায়) = VI Cos (AC Inductive load-এর বেলায়) 1 kilowatt = 1000watt 1 HP = 746 watt.</p>

          <p style="color:#000000;font-size:15px;">তাই এর একক ওয়াট সেকেন্ড। কিন্তু ব্যবহারিক ক্ষেত্রে কিলোওয়াট আওয়ারকে (kwh) একক হিসাবে ধরা হয়। ১ কিলোওয়াট আওয়ারকে এক বৈদ্যুতিক ইউনিট (Electrical Unit) ধরে হিসেব করা হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ইলেক্ট্রিক্যাল পাওয়ার ও এনার্জি সম্পর্কঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">ইলেক্ট্রিক্যাল পাওয়ার হলো কোন সার্কিটে একক (১সেঃ) সময়ে ব্যয়িত বিদ্যুৎ আর ইলেক্ট্রিক্যাল এনার্জি হলো নির্দিষ্ট সময় ব্যাপী বা মোট সময়ে সার্কিটে ব্যয়িত বিদ্যুৎ। অর্থাৎ পাওয়ার হলো একক সময়ের আর এনার্জি হলো মোট সময়ে ব্যয়িত বিদ্যুতের হিসাব মান। গাণিতিকভাবে-
          </p>

          <pre>
            <code> P = V.I Watt বা Jule/s (পূর্বে ৮ নং হতে) আবার, E = VI.t Watt.s বা Jule (পূর্বে ১৩ নং হতে) বা, E = P. t Watt.s বা Jule বা, P = Watt. Jule/s</code>
          </pre>

          <p style="color:#000000;font-size:15px;">সুতরাং ইলেক্ট্রিক্যাল পাওয়ারের এককের ক্ষেত্রে সময়ের হিসাব প্রয়োজন নেই তবে ইলেক্ট্রিক্যাল এনার্জির এককের ক্ষেত্রে অবশ্যই সময়ের হিসাব করতে হবে। তাই ইলেক্ট্রিক্যাল পাওয়ারের একক Watt বা Jule/s এবং ইলেক্ট্রিক্যাল এনার্জির একক Jule বা Watt.s </p>
        </div>
      </div>
      <h4 id="page29-heading166" style="color:#F65F08;font-style:italic;">. ইলেক্ট্রিক্যাল পাওয়ারের একক ও তাদের সম্পর্কঃ</h4>
      <div class="item item-body" id="page29-list-item-container185">
        <div id="page29-markdown202" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>পাওয়ারের এককঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">বিদ্যুৎ শক্তি কাজে লাগানোর সময় প্রয়োজন অনুযায়ী ইলেক্ট্রিক্যাল পাওয়ারের বিভিন্ন একক ব্যবহার করা হয়। ইলেক্ট্রিক্যাল পাওয়ারের একক গুলো হল-</p>

          <p style="color:#000000;font-size:15px;">ক) ওয়াট বা কিলো ওয়াট,
            <br>খ) জুল/সেকেন্ড (রূপামত্মরিত),
            <br>গ) হর্স পাওয়ার (HP) (রূপান্তরিত),
            <br>ঘ) বিটিইউ/ঘন্টা (রূপান্তরিত),
            <br>ঙ) ক্যালোরী/ঘন্টা(রূপান্তরিত)।</p>

          <p style="color:#000000;font-size:15px;">আমত্মর্জাতিক সিস্টেমে ইলেক্ট্রিক্যাল পাওয়ারের একক ওয়াট (Watt)। এক সেকেন্ডে এক জুল কাজ সম্পন্ন্ করাকে এক ওয়াট ধরা হয়। ইলেক্ট্রিক্যাল পাওয়ারের একক ও অন্যান্য এককের সম্পর্ক নিচের ছকে প্রদত্ত হল-</p>

          <p style="color:#000000;font-size:15px;">এককের নাম Watt Jule/S Horse Power = HP BTU/Hr Cal/Hr এককের মান ১ ০.০০৩৬ ০.০০১৩৪ (বৃটিশ) ০.০০১৩৬ (মেট্রিক) ৩.৪১ ৮৬০০</p>

          <p style="color:#000000;font-size:15px;">ইলেক্ট্রিক্যাল পাওয়ারের একক ও অন্যান্য এককের সম্পর্কের সারণী</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ক্যালোরী, ওয়াট.সেকেন্ড, জুল ও কিলো ওয়াট .আওয়ারের মধ্যে সম্পর্কঃ </strong>
          </p>

          <pre>
            <code>1 ক্যালোরী = 4.2 ওয়াট. সেকেন্ড = 4.2 জুল 1 কিলো ওয়াট.আওয়ার = 36 x 105 ওয়াট .সেকেন্ড = 36 x 105 জুল = 857.9828 কিলো ক্যালোরী</code>
          </pre>

          <p style="color:#000000;font-size:15px;"> অবার, 1 কি.ওয়াট আওয়ার = ১০০০ ওয়াট x ঘন্টা বা, 1 কি.ওয়াট আওয়ার = ১০০০ জুল/সেঃ x ৩৬০০ সেঃ ( ১ঘঃ = ৩৬০০ সেঃ) = ৩৬০০০০০ জুল = ৩৬০০ কিঃ জুল</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>