<ion-view title="ওভার লোড বা মোটর প্রটেক্টর   " id="page34">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page34-card230">
      <h4 id="page34-heading190" style="color:#F53F07;font-style:italic;">ওভার লোড বা মোটর প্রটেক্টর (Over Load or Motor Protector) </h4>
      <div class="item item-body" id="page34-list-item-container214">
        <div id="page34-markdown232" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বৈদ্যুতিক মোটর চালক যন্ত্র হিসেবে কম্প্রেসরকে চালিত করে। বিদ্যুৎ সরবরাহের ত্রুটি-বিচ্যুতি, সংযোগ, তার বিন্যাস, পরিচালনাসহ অন্যান্য কারণে মোটরের উপর উচ্চ বৈদ্যুতিক চাপের প্রভাব পড়তে পারে। যানিত্রক গোলযোগের কারণেও বৈদ্যুতিক সমস্যা দেখা দেয়। এসমস্ত
            অতিরিক্ত বৈদ্যুতিক বা যান্ত্রিক লোড জনিত ক্ষয়-ক্ষতি থেকে মোটরকে রক্ষা করা খুবই জরুরী। বৈদ্যুতিক বা যান্ত্রিক সমস্যাদি হতে মোটরকে রক্ষার জন্যে যে নিরাপত্তামূলক ডিভাইস ব্যবহার করা হয় তাকে ওভার লোড প্রটেক্টর বলে। যার অপর নাম ওভার কারেন্ট প্রটেক্টর।
            কোন কারণে মোটর অতিরিক্ত কারেন্ট গ্রহণ করলে পুড়ে যাওযার হাত থেকে রক্ষা করাই ওভার রোড প্রটেক্টরের কাজ।</p>
        </div>
      </div>
      <h4 id="page34-heading191" style="color:#F53F07;font-style:italic;">ওভারলোড প্রটেক্টরের প্রয়োজনীয়তা </h4>
      <div class="item item-body" id="page34-list-item-container215">
        <div id="page34-markdown233" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">উপরের বর্ণনা হতে পরিষ্কার ভাবে বুঝা যায় যে, নিরাপদে ও সুষ্ঠুভাবে বৈদ্যতিক লোডকে পরিচালনার জন্য ওভার লোড প্রটেক্টরের গুরুত্ব অসীম। সে প্রেক্ষিতে এর প্রয়োজনীয়তা উল্লেখ করা হল-</p>

          <p style="color:#000000;font-size:15px;">ক) যান্ত্রিক ত্রুটি জনিত কারণে অধীক কারেন্ট গ্রহণ করলে মোটরকে রক্ষা করে। খ) সাপ্লাইকৃত অধিক বা নিম্ন ভোল্ট জনিত কারণে মোটর কয়েলের ক্ষতি রোধ করে।
            <br>গ) ঘন ঘন বিদ্যুৎ বিভ্রাটের জন্য মোটর চালু হতে না পারলে মোটরকে রক্ষা করে।
            <br>ঘ) ত্রুটিপূর্ণ সংযোগের ক্ষেত্রে মোটরের নিরাপত্তা বিধান করে।</p>
        </div>
      </div>
      <h4 id="page34-heading192" style="color:#F53F07;font-style:italic;">ওভার লোড প্রটেক্টরের প্রকারভেদঃ</h4>
      <div class="item item-body" id="page34-list-item-container216">
        <div id="page34-markdown234" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>থার্মাল টাইপ (Thermal Type) t </strong>
          </p>

          <p style="color:#000000;font-size:15px;">থার্মাল টাইপ প্রটেক্টর শুধুমাত্র তাপমাত্রার প্রভাবে প্রভাবিত হয়ে নিরাপত্তা বিধান করে। অর্থাৎ বিদ্যুৎ প্রবাহিত জনিত তাপের প্রভাবে এটা কাজ করে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong> থার্মাল অ্যান্ড কারেন্ট টাইপ (Thermal &amp; Current Type)t</strong>
          </p>

          <p style="color:#000000;font-size:15px;"> এধরণে ওভার লোড প্রটেক্টর কারেন্ট এবং তাপমাত্রার প্রভাবে কাজ করে। কমপ্রেসর শেল টেম্পারেচার এবং মোটর কারেন্টের প্রভাবে এটি প্রভাবিত হয়। এটি মোটর কারেন্ট এবং বর্তনীর পাওয়ারের ভিত্তিতে তৈরি করা হয়। অবস্থান ও Line break এর উপর ভিত্তি করে Over load
            দুই প্রকার। যথা-</p>

          <p style="color:#000000;font-size:15px;">1) External line break over load: এটি কমপ্রেসর হাউজিং এর বাইরের পয়েন্টের সাথে লাগানো থাকে।</p>

          <p style="color:#000000;font-size:15px;">2) Internal line break over load: এটি মোটর ওয়াইন্ডিং এর মধ্যে হিট সিঙ্ক (Heat sink) অংশের কেন্দ্রে লাগানো থাকে।</p>
        </div>
      </div>
      <h4 id="page34-heading193" style="color:#F53F07;font-style:italic;">Heading</h4>
      <div class="item item-body" id="page34-list-item-container217">
        <div id="page34-markdown235" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <h4 id="page34-heading194" style="color:#F53F07;font-style:italic;">Heading</h4>
      <div class="item item-body" id="page34-list-item-container218">
        <div id="page34-markdown236" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>