<ion-view title="তাপ   " id="page18">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page18-card217">
      <h2 id="page18-heading102" style="color:#FD580A;font-style:italic;">তাপ (Heat)</h2>
      <div class="item item-body" id="page18-list-item-container119">
        <div id="page18-markdown136" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হিমায়ন পদ্ধতি হল কোন বস্ত্তর তাপমাত্রা কমানোর সিস্টেম আর শীতাতপ নিয়ন্ত্রণ হল নির্দিষ্ট বাতাসের তাপমাত্রা, আর্দ্রতা, গতিবেগ, বিশুদ্ধতা ইত্যাদি আরামদায়ক ও স্বাস্থ্য সম্মতভাবে নিয়ন্ত্রণে রাখা। সংজ্ঞা দু’টির দিকে লক্ষ্য দেখা যায় তাপ, তাপমাত্রা,
            চাপ, বিদ্যুৎ ও সংশিস্নষ্ট বিষয়াদির সম্পর্কে জ্ঞান থাকলে হিমায়ন পদ্ধতি (Refrigeration System) সম্পর্কে পরিষ্কার ধারণা পাওয়া সহজ। তাই হিমায়ন পদ্ধতি সম্বন্ধে জানার ক্ষেত্রে এবিষয় গুলো সম্পর্কে ধারণা থাকা একান্ত প্রয়োজন। রিফ্রিজারেশন অ্যান্ড এয়ার
            কানিডশনিং মূলতঃ তাপ স্থানামত্মর পদ্ধতি। </p>
        </div>
      </div>
      <h4 id="page18-heading103" style="color:#FD580A;font-style:italic;">তাপের সংজ্ঞা </h4>
      <div class="item item-body" id="page18-list-item-container120">
        <div id="page18-markdown137" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">অদৃশ্য শক্তির কারণে ফুটমত্ম পানি গরম মনে হয় এবং ঐ একই শক্তির অনুপস্থিতিতে জমাট বাঁধা পানি বা বরফ ঠান্ডা অনুভূত হয়। এরূপ পৃথক পৃথক অনুভূতির কারণই হচ্ছে তাপ। যে অদৃশ্য শক্তির কারণে একটা বস্ত্ত গরম এবং যার অনুপস্থিতিতে কোন বস্ত্ত ঠান্ডা মনে হয়
            তাকে তাপ বলে। তাপ এক প্রকার শক্তি কারণ তাপের কাজ করার বা শক্তিতে রূপান্তর হবার সামর্থ্য আছে। তাপকে চেনা বা বোঝার জন্য তাপের আকার, আয়তন, বর্ণ গন্ধ নাই। তবে অনুভূতি দ্বারা তাপকে অনুভব করা যায়। ক্যালোরিক (Caloric) মতবাদে অনুসারে তাপ Caloric নামক
            এক প্রকার ভর বিহীন, অদৃশ্য, অতিসূক্ষ্ম স্থিতিস্থাপক পদার্থ কণা বিশেষ। এ অতি সহজে বেশি পরিমাণের বস্ত্ত হতে কম পরিমণের বস্ত্ততে প্রবেশ করতে পারে। বাষ্পায়নের (Evaporation) সময় তরল হতে উচ্চ গতির অণু সমূহ বের হয়ে যায়। এর কারণে ঐ বস্ত্তর গতি কমে
            যায়। ফলে তরলের উষ্ণতা বা তাপমাত্রা কমে যায়। আবার কোন কারণে বস্ত্তর অণুর গতি শক্তি বেড়ে গেলে তাপমাত্রা বেড়ে যায়। তাপের কারণে পদার্থের তাপমাত্রা, ভৌত অবস্থা, রাসায়নিক গুণাগুণ প্রভৃতির পরিবর্তন ঘটে। এছাড়া অতি তাপের ফলে আলো উৎপন্ন হয়, দহন ক্রিয়া
            ঘটে, প্রাণনাশও হয়।</p>
        </div>
      </div>
      <h4 id="page18-heading104" style="color:#FD580A;font-style:italic;">তাপ পরিমাপক একক </h4>
      <div class="item item-body" id="page18-list-item-container121">
        <div id="page18-markdown138" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বিভিন্ন প্রকার শক্তি বা বস্ত্তর ন্যায় তাপও পরিমাপ করা যায়। ফলে তাপ পরিমাপের জন্য বিভিন্ন পদ্ধতির একক ব্যবহার করা হয়। বিভিন্ন পদ্ধতিতে তাপের একক সমূহ হল- ক্রমিক পদ্ধতি তাপ একক</p>

          <p style="color:#000000;font-size:15px;">১ আন্তর্জাতিক SI জুল (Joule) বা কিঃ জুল ২ মেট্রিক C.G.S ক্যালোরী (Calorie) M.K.S কিলো- ক্যালোরী (Kilo calorie) ৩ বৃটিশ F.P.S বিটিইউ (BTU)</p>
        </div>
        <div id="page18-markdown141" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">জুল (Jule)-
            <br>আমত্মর্জাতিক (Standard International = SI) পদ্ধতিতে তাপের একক হল জুল। এক নিউটন কাজ সম্পাদনের জন্য প্রয়োজনীয় তাপকে এক জুল ধরা হয়। </p>

          <p style="color:#000000;font-size:15px;">খ. বিটিইউ (BTU) - BTU এর পূর্ণ রূপ হলো বৃটিশ থার্মাল ইউনিট (British Thermal Unit)। এক পাউন্ড বিশুদ্ধ পানির তাপমাত্রা ১ ০F বাড়াতে বা কমাতে যে পরিমাণ তাপ প্রয়োগ বা অপসারণের করার প্রয়োজন হয় তাকে এক BTU ধরা হয়।</p>

          <p style="color:#000000;font-size:15px;">গ. ক্যালোরীঃ ক্যালোরী মেট্রিক পদ্ধতিতে তাপের ক্ষুদ্রতম একক। এক গ্রাম বিশুদ্ধ পানির তাপমাত্রা ১ ০C বৃদ্ধি বা হ্রাস করতে যে পরিমাণ তাপ প্রয়োগ বা অপসারণের করার প্রয়োজন হয় তাকে এক ক্যালোরী ধরা হয়।</p>

          <p style="color:#000000;font-size:15px;">ঘ. কিলো ক্যালোরীঃ কিলো ক্যালোরী মেট্রিক পদ্ধতিতে তাপের বৃহত্তম একক হলো কিলোক্যালোরী। এক কিলো গ্রাম (Kg) বিশুদ্ধ পানির তাপমাত্রা ১ ০C বৃদ্ধি বা হ্রাস করতে যে পরিমাণ তাপ প্রয়োগ বা অপসারণের করার প্রয়োজন হয় তাকে এক কিলো ক্যালোরী ধরা হয়। বিভিন্ন
            প্রকার তাপ এককের সম্পর্কঃ 1 Jule = 0.948 x 10-3 BTU = 0.239 Calorie. 1 BTU = 105.5 Joule = 252 Calorie. 1 KW = 869 kcal/Hr. = 4313 BTU/Hr. 1 Kcal = 4186.8 Joule = 3.97 BTU/Hr.</p>
        </div>
      </div>
      <h4 id="page18-heading105" style="color:#FD580A;font-style:italic;">তাপের প্রকারভেদ </h4>
      <div class="item item-body" id="page18-list-item-container122">
        <div id="page18-markdown139" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">তাপ প্রধানত দুই প্রকার, যথা- </p>

          <p style="color:#000000;font-size:15px;"> ১. অনুমেয় তাপ (Sensible Heat),
            <br> ২. সুপ্ত তাপ (Latent Heat)</p>

          <p style="color:#000000;font-size:15px;">এছাড়া আরো যে ধরণের তাপ রয়েছে তা হলো- 1. আপে ক্ষেত্রে তাপ, ২. পরম তাপ ৩. সংকট/চরম তাপ, ৪. বিকীরণ তাপ আপে ক্ষেত্রে তাপ দু’ ধরণের, যথাঃ- ক) ধ্রুব আয়তনে আপেক্ষিক তাপ (Specific Heat in Constant Volume-Cv) খ) ধ্রুব চাপে আপেক্ষিক তাপ (Specific Heat
            in Constant Pressure-Cp)।</p>
        </div>
        <div id="page18-markdown143" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">অনুমেয় তাপঃ কোন বস্ত্ততে তাপ প্রয়োগ বা বস্ত্ত হতে তাপ অপসারণ বা শোষণ করলে বস্ত্তটির অবস্থার পরিবর্তন শুরু হবার পূর্ব পর্যন্ত বস্ত্তর তাপমাত্রা বাড়ে বা কমে। যে তাপ প্রয়োগ বা শোষণ করলে পদার্থের অবস্থার পরিবর্তন না ঘটিয়ে শুধুমাত্র তাপমাত্রার পরিবর্তন
            ঘটে তাকে অনুমেয় (অনুভূত) তাপ বলে। অর্থাৎ কঠিন, তরল ও বায়বীয় পদার্থ তাপমাত্রার পরিবর্তনের সময় অনুমেয় তাপ গ্রহণ বা বর্জন করে। সুপ্ত তাপঃ স্থির তাপমাত্রায় একক ভরের পদার্থের অবস্থার পরিবর্তনের সময় যে তাপ গ্রহণ বা বর্জন তাকে সুপ্ত তাপ বলে। স্থির
            তাপমাত্রায় যখন কোন বাষ্প তরলে পরিনত হয় তখন যে তাপ অপসারণ করতে হয় তা ঘণীভবনের সূপ্ত তাপ। আবার স্থির তাপমাত্রায় কোন তরল যখন বাষ্পে পরিনত হয় তখন যে তাপ শোষিত হয় তাই বাষ্পীভবনের সূপ্ত তাপ।</p>

          <pre>
            <code> চিত্র- ৮.১ঃ পানির অনুমেয় ও সুপ্ত তাপের রেখা চিত্র।</code>
          </pre>

          <p style="color:#000000;font-size:15px;">সুপ্ত তাপ চার সময়ে সংঘটিত হয়। যথা- ক) পদার্থের তাপ গ্রহণের সময় সুপ্ত তাপঃ ১. গলনের সুপ্ত তাপ (Latent Heat of Fusion) t কঠিণ হতে তরলে রূপান্তর হবার সময়ের তাপ। ২. বাষ্পীয় ভবনের সুপ্ততাপ (Latent Heat of Vaporisation) t তরল হতে বাষ্পে রূপান্তর হবার
            সময়ের তাপ। খ) পদার্থের তাপ বর্জনের সময় সংঘটিত সুপ্ততাপঃ ৩. ঘণীভবনের সুপ্ত তাপ (Laten Heat of Condensation)t বাষ্প হতে তরলে রূপান্তর হবার সময়ের তাপ। ৪. কঠিনী ভবনের সুপ্ত তাপ (Laten Heat of Solidification)t তরল হতে কঠিণে রূপান্তর হবার সময়ের
            তাপ।</p>
        </div>
      </div>
      <h4 id="page18-heading106" style="color:#FD580A;font-style:italic;">তাপ নির্ণয়ের সূত্রঃ </h4>
      <div class="item item-body" id="page18-list-item-container123">
        <div id="page18-markdown140" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">তাপের পরিমাণ সূত্রের সাহায্যে পরিমাণ নির্ণয় করা হয়। তাপ পরিমাপের জন্য ব্যবহৃত সূত্রকে তাপ নির্ণয়ের সূত্র বলে। সূত্রের সাহায্যে তাপ নির্ণযের জন্য নিচের তথ্য গুলো জানা অবশ্যই দরকার -</p>

          <p style="color:#000000;font-size:15px;">১) পদার্থের ভর (Mass = m )
            <br>২) ক. পদার্থটির আপেক্ষিক তাপ (Specific heat =Cp), খ. সুপ্ত তাপ (Latent heat = l) ৩) তাপমাত্রার পার্থক্য বা ব্যবধান (Temperature difference = Td)
            <br>তাপ নির্ণয়ের সূত্র দুটি, যথা- </p>

          <p style="color:#000000;font-size:15px;">ক) অনুমেয় তাপ নির্ণয়ের সূত্র- </p>

          <pre>
            <code>অনুমেয় তাপ = পদার্থের ভর x পদার্থের আপেক্ষিক তাপ x তাপমাত্রার ব্যবধান (একক হবে কিঃ জুল)। Qs = m x Cp x Td kjule </code>
          </pre>

          <p style="color:#000000;font-size:15px;">খ) সূপ্ত তাপ নির্ণয়ের সূত্র- সুপ্ত তাপ = পদার্থের ভর x পদার্থের সূপ্ত তাপ (একক হবে কিলো জুল) Ql = m x L KJ গ) সমগ্র তাপ = অনুমেয় তাপ + সুপ্ত তাপ (একক হবে কিঃ জুল) Qt = (Qs + Ql ) KJ</p>
        </div>
      </div>
      <h4 id="page18-heading107" style="color:#FD580A;font-style:italic;">তাপ নির্ণয়ঃ</h4>
      <div class="item item-body" id="page18-list-item-container124">
        <div id="page18-markdown142" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">একটা রিফ্রিজারেটর ২৫ ০C তাপমাত্রার ২.৫ কেজি পানিকে ৫০C তাপমাত্রার বরফে রূপান্তর করতে মোট অপসারিত তাপের পরিমাণ কত? সমাধানঃ আমরা জানি, দেওয়া আছে, ক) পানির অনুমেয় তাপ = m x Cp x Td m = 2.5 kg = 2.5  4.19  {25  (0)} KJ Cp = 4.19 KJ /kg.০C =
            2.5 x 4.19 x ( 25) KJ T1 = 25 ০C
            <br> = 261.88 KJ T2 = 5০C L = 2.1 kj/ kg খ) 0০C তাপমাত্রায় বরফ হবার সময়পানির সূপ্ত তাপ = m  L = 2.5  335 KJ = 837.5 KJ গ) বরফের অনুমেয় তাপ = m  Cp  Td
            <br> = 2.5  2.1  {0  (5)} KJ = 2.5  2.1  (+5) KJ
            <br> = 26.25 KJ ঘ) মোট তাপ = (ক) অনুমেয় তাপ + (খ) পানির সূপ্ত তাপ + (গ) বরফের অনুমেয় তাপ = 261.88 + 837.5 + 26.25 KJ = 1125.63 KJ (উত্তর) উদাহরণ- ৮.২ঃ একটা ডিপফ্রিজারে ৩০০C তাপমাত্রার ৫ কেজি মাছকে ৫০C তাপমাত্রায় নামাতে অপসারিত তাপের পরিমাণ বের
            কর। (মাছের আঃ তাপ 3.18 KJ /kg.K) সমাধানঃ
            <br> আমরা জানি, দেওয়া আছে, মাছের অনুমেয় তাপ = m  Cp  Td (Heat unit) m = 5 kg = 5  3.18  {30 (5)} KJ Cp = 3.18 KJ /kg.K = 5  3.18  25 KJ T = 25০C = 397.5 KJ
            <br>অতএব, মাছ হতে অপসারিত মোট তাপ = 397.5 KJ (উত্তর)</p>

          <p style="color:#000000;font-size:15px;">উদাহরণ-৮.৩ঃ ২৫০C তাপমাত্রার ৪ লিটার দুধকে ৬০০C তাপমাত্রায় আনায়ন করতে মোট প্রয়োগকৃত তাপের পরিমাণ কত ?</p>

          <p style="color:#000000;font-size:15px;">সমাধানঃ আমরা জানি, দেওয়া আছে, দুধের অপসারিত তাপ = m Cp Td m = 4 kg = 4  3.14  {60 (25)} KJ Cp = 3.14 KJ /kg. ০k = 4 x 3.14 x 35 KJ Td = 60-25=35০C = 439.6 KJ (উত্তর) </p>

          <p style="color:#000000;font-size:15px;">উদাহরণ-৮.৪ঃ একটা বরফ কল হতে প্রাপ্ত ৮ ০C তাপমাত্রার ৫০ কেজি বরফকে ১০০ ০C তাপমাত্রার বাষ্পে রূপান্তর করতে প্রয়োগকৃত তাপের পরিমাণ কত জুল ? সমাধানঃ আমরা জানি, দেওয়া আছে,</p>

          <p style="color:#000000;font-size:15px;">ক) বরফের অনুমেয় তাপ = m  Cp  Td ( Heat unit) m = 50 kg = 502.1{0(8)} KJ Cp = 2.1 KJ /kg.০k = 502.18 KJ Td = 0  (8) = 8 ০C = 840 KJ Li = 335 KJ /kg.০k (বরফ)</p>

          <p style="color:#000000;font-size:15px;">খ) বরফ গলনের সূপ্ত তাপ = m  Li ( Heat unit) Lg = 2257KJ /kg.০k ( বাষ্প) = 50  335 t = 24 hrs = 16750 KJ </p>

          <p style="color:#000000;font-size:15px;">গ) পানির অনুমেয় তাপ = m  Cp  Td
            <br> = 50  4.19  {100  (0)} KJ
            <br> = 50  4.19  100 KJ
            <br> = 20950 KJ</p>

          <p style="color:#000000;font-size:15px;">ঘ) বাষ্পীভবনের সূপ্ত তাপ = m  Lg (Heat unit) = 50  2257 KJ
            <br> = 112850 KJ</p>

          <p style="color:#000000;font-size:15px;">ঙ) মোট্র তাপ = বরফের অনুমেয় তাপ + বরফ গলনের সূপ্ত তাপ + পানির অনুমেয় তাপ + পানির বাষ্পীভবনের সূপ্ত তাপ = 840 + 16750 + 20950 + 112850 KJ = 151390 KJ = 151390 KJ = 151390 x 1000 J
            <br> = 151390000 J অতএব, মোট অপসারিত তাপের পরিমাণ 15.14x105 J (উত্তর)</p>
        </div>
      </div>
      <h4 id="page18-heading108" style="color:#F6440C;font-style:italic;">আপেক্ষিক তাপ (Specific Heat) t </h4>
      <div class="item item-body" id="page18-list-item-container126">
        <div id="page18-markdown146" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">একক (১কেজি) ভরের বস্ত্তর তাপমাত্রা ১০C বাড়াতে বা কমাতে যে পরিমাণ তাপের প্রয়োজন হয় বা অপসারণ করতে হয় তাকে আপেক্ষিক তাপ বলে। কোন পদার্থের আপেক্ষিক তাপ তার তাপ ধারণ ক্ষমতার উপর নির্ভরশীল। কোন m ভর বিশিষ্ট বস্ত্তর তাপমাত্রা ১ K বৃদ্ধি করতে যে পরিমাণ
            তাপের প্রয়োজন হয় তাকে ঐ বস্ত্তর তাপ ধারণ ক্ষমতা ধরা হয়।
            <br>অর্থাৎ তাপ ধারণ ক্ষমতা = J/K সেহেতু কোন একক ভরের বস্ত্তর তাপমাত্রা ১০K হ্রাস-বৃদ্ধিতে যে পরিমাণ তাপের প্রয়োজন হয় তাকে ঐ বস্ত্তর স্বতন্ত্র আপেক্ষিক তাপ বলা যায়। অতএব, আপেক্ষিক তাপ = J/kg-K সংজ্ঞানুযায়ী আপেক্ষিক বা স্বতন্ত্র আপেক্ষিক তাপের একক
            হলো কিলো জুল/কেজি কেলভিন (KJ /kgk). তাপগতি বিদ্যা ও পদার্থেও ধর্মানুযায়ী কোন পদার্থে তাপ প্রয়োগ করলে তার তাপমাত্রা, চাপ, ও আয়তন বৃদ্ধি পায়। তবে বিশেষ ক্ষেত্রে শুধুমাত্র চাপ বা শুধুমাত্র আয়তন বাড়ে। যখন চাপ বাড়ে তখন আয়তন স্থির থাকে। আবার যখন
            আয়তন বাড়ে তখন চাপ স্থির থাকে । সেপ্রেক্ষিতে আপেক্ষিক তাপ দুই প্রকার। যথা- ক) ধ্রুব আয়তনে আপেক্ষিক তাপ, খ) ধ্রুব চাপে আপেক্ষিক তাপ। কয়েকটি পদার্থের আপেক্ষিক তাপের সারণীঃ ক্রমিক পদার্থের নাম আপেক্ষিক তাপ (কি.জুল/কেজি.কে = kj/kg.k) হিমাঙ্কের
            উর্ধ্ব হিমাঙ্কের নিম্ন</p>

          <p style="color:#000000;font-size:15px;">১ পানি/বরফ (পানি) ৪.১৯ (বরফ) ২.১ ২ দুধ ৩.১৪ ১.৯২ ৩ জলীয়বাষ্প ২.০ --- ৪ বাতাস ১.০ -- ৫ আলু ৩.৬ ১.৯৭ ৬ ফল ও শাকসব্জি ৩.৭৭ ১.৯ ৭ গোমাংস ৩.১৪ ১.৬৭ ৮ মুরগীর মাংস ৩.১৮ ১.৫৫ ৯ মাছ ৩.১৮ ১.৭২ ১০ মানবদেহ ৩.৪৭ --</p>

          <p style="color:#000000;font-size:15px;">বিকীর্ণ তাপ ঃ আলোক ও রেডিও তরঙ্গের মত তাপও তরঙ্গ গতিতে সঞ্চালিত হয়। বিকীর্ণ তাপ তড়িৎ চুম্বকীয় তরঙ্গরূপে সঞ্চালনের সময় বায়ু মন্ডলকে উত্তপ্ত করে না। বিকীর্ণতাপ সোজা পথে ভূ-পৃষ্ঠে চলে আসে এবং পৃথিবীর সকল বস্ত্তর বিকীর্ণ তাপ শোষণ ও বর্জন করে। বিকীরণের
            মাধ্যমে কোন পদার্থ যে তাপ শোষণ ও বর্জন করে তাকে বিকীর্ণ তাপ বলে।</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>