<ion-view title="পাইপ ও টিউব   " id="page15">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page15-card213">
      <h4 id="page15-heading68" style="color:#F84B08;font-style:italic;">পাইপ ও টিউব (Pipe and Tube)</h4>
      <div class="item item-body" id="page15-list-item-container80">
        <div id="page15-markdown93" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">পাইপ ও টিউব উভয় অতি পরিচিত শব্দ বা জিনিস। দু’প্রান্তের দু’মুখ খোলা সিলিন্ডার (Cylinder) আকৃতির ফাঁপা নলকে পাইপ বা টিউব বলে যার ভিতর দিয়ে তরল ও বায়বীয় (প্রবাহী) পদার্থ চলাচল করতে পারে। টিউবকে বিভিন্ন আকার প্রদান করতঃ কার্য্যাপোযোগী করার প্রক্রিয়াকে
            টিউবিং বলে। টিউবিংএর কাজে প্রয়োজন হয় বিভিন্ন রকমের ফিটিংস বা সংযোগ। ১ ইঞ্চির চেয়ে বেশি ব্যাসের নলকে পাইপ হিসেবে বিবেচনা করা হয়। টিউব অপেক্ষা পাইপ মজবুত এবং স্টীল, (Steel), জি.আই (G.I), প্লাস্টিক (Plastic), অ্যালুমিনিয়াম (Alluminium) প্রভৃতি
            দ্বারা তৈরি হয়। অপরদিকে টিউব অপেক্ষাকৃত নমনীয় বা কপার (Copper) অ্যালুমিনিয়াম, প্লাস্টিক, রাবার প্রভৃতি দ্বারা তৈরি এবং হালকা কাজে ব্যবহার হয়। ব্যবহার ক্ষেত্রের উপর ভিত্তি করে কোন কোন সময় পাইপকে টিউব বলা হয়ে থাকে। যেমন কোন কাজের প্রয়োজনে বেশি
            ব্যাসের পাইপের ভিতর দিয়ে কম ব্যাসের পাইপ স্থাপন করে, উভয় পাইপকে কাজে লাগালে বাইরের অংশকে পাইপ এবং ভিতরের অংশকে টিউব বলে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/jPcqP3V7TKmSyeuptZha_3-13-20182-57-33AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h5 id="page15-heading70" style="color:#F85D05;font-style:italic;">রিফ্রিজারেশন পদ্ধতিতে পাইপের বা টিউবের প্রয়োজনীয়তা </h5>
      <div class="item item-body" id="page15-list-item-container82">
        <div id="page15-markdown95" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং-এ পাইপ ও টিউব ব্যবহার হয়ে থাকে। তবে টিউবের ব্যবহার বেশি। এক্ষেত্রে পাইপ ও টিউব একই জিনিস বিবেচনা করা হয়। ইভ্যাপরেটর, কনডেনসার, কুলিং কয়েল, হিটিং কয়েল, ডি-হিউমিডিফায়ার (Dehumidifire) কয়েল, সাকশন ও ডিসচার্জ লাইন,
            চার্জিং লাইন, পানির সরবরাহ লাইন, ড্রেইন (Drain) লাইন, বৈদ্যুতিক ওয়্যারিং এবং হিমায়ক নিয়ন্ত্রক ও নিয়ন্ত্রকের সেন্সিবল (Sensible) টিউব প্রভৃতি তৈরিতে পাইপ বা টিউব ব্যবহার করা হয়। স্যানিটারী কাজে পাইপ ও টিউবের প্রচুর ব্যবহার রয়েছে। পাইপ বা টিউব
            ব্যতিত রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং-এর সিস্টেম তৈরী এবং ব্যবহার উপযোগী করা আদৌ সম্ভব নয়। তাই রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিং-এ টিউব ও পাইপের গুরুত্ব অসীম। অ্যামোনিয়া ব্যবহৃত হিমায়ন চক্রে স্টীল টিউব বা পাইপ এবং অ্যামোনিয়া ব্যতিত অন্যান্য
            হিমায়ন চক্রে কপারের টিউব ব্যবহার করা ।</p>
        </div>
      </div>
      <h4 id="page15-heading71" style="color:#F85D05;font-style:italic;">পাইপ বা টিউবের প্রকারভেদ </h4>
      <div class="item item-body" id="page15-list-item-container83">
        <div id="page15-markdown96" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সীম পাইপ (Seam pipe)ঃ জোড়া দিয়ে তৈরি করা পাইপকে সীম পাইপ বলে। </p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/nyZ9StDkSTiAD8w4LLmT_3-13-20183-02-00AM.jpg" style="display: block; width: 100%; height: 260px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page15-list-item-container87">
        <div id="page15-markdown101" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">K) সীমলেস পাইপ (Seamless pipe)t জোড়া ব্যতীত যে পাইপ তৈরি করা হয় তাকে সীমলেস পাইপ বলে।</p>
        </div>
      </div>
      <h4 id="page15-heading72" style="color:#F85D05;font-style:italic;">বিভিন্ন প্রকার পাইপের বর্ণনা </h4>
      <div class="item item-body" id="page15-list-item-container84">
        <div id="page15-markdown97" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">আবাসনসহ সকল প্রকার শিল্প, ফ্যাক্টরী, প্রতিষ্ঠানে বহু রকম কাজে বিভিন্ন রকমের পাইপ ব্যবহার হয়ে থাকে। ফলে আমরা সকলেই মোটামুটি পাইপের সাথে পরিচিত। পরিচিত হলেও অনেক বিষয় আমাদের অজানা। সেকারণে বিভিন্ন প্রকার পাইপ সম্পর্কে কিছু তথ্য বর্ণনা করা হল-</p>

          <p style="color:#000000;font-size:15px;">নমনীয় পাইপ (Flexible pipe)t কাপড় ও তারের উপর রাবার (Rubber) জড়ানো ভিনাইল ক্লোরাইড (Vinyle cloride = V.C) দ্বারা নির্মিত পাইপকে নমনীয় পাইপ বলে। মুক্তভাবে পরিবর্তন করা যায়। ছেড়ে দিলে আবার পূর্বের অবস্থায় ফিরে আসে। ইহা হালকা কিন্তু তাপমাত্রায় যান্ত্রিক
            গুণাগুণ আছে। যান্ত্রিক গুণাগুণের উপর প্রভাবিত হবার কারণে একে 100-400 সে: তাপমাত্রায় ব্যবহার করা হয়। এর তৈল, অম্ল, ক্ষার ও মরিচা রোধক ক্ষমতা অনেক বেশি। ঝাকুনীতে ফেঁটে বা ভেঙ্গে যায় না বলে একে বেশি কম্পনশীল জায়গায় ব্যবহার করা হয়। এটি এক প্রকার
            সীমলেস পাইপ।</p>

          <p style="color:#000000;font-size:15px;">কয়েকটি নমনীয় পাইপের নামঃ 1. পলিভিনাইল ক্লোরাইড (Polyvinyle cloride = P.V.C) 2. পস্নাস্টিক বা রাবার পাইপ (Plastic or rubber pipe = P.P or R.P) 3. হোজ পাইপ (Hose pipe)|</p>

          <p style="color:#000000;font-size:15px;">অনমনীয় পাইপ (Nonflexible pipe)ঃ শক্ত ধাতু বা প্লাস্টিক দ্বারা নির্মিত পাইপকে অনমনীয় পাইপ বলে। অত্যাধিক তাপ ও শক্তি ছাড়া মুক্তভাবে ইহার আকৃতির পরিবর্তন করা যায় না। পানি, বাষ্প, তৈল, গ্যাস, বাতাস ইত্যাদি সরবরাহের জন্য এ ব্যবহার হয়ে থাকে। এটি সীম
            ও সীমলেস উভয় প্রকারের তৈরি হয়। এতে মরিচা পড়ে বিধায় মরিচা রোধক পদার্থের প্রলেপ দেয়া যায়। অনমনীয় পাইপ গুলোর নামঃ 1. গ্যালভানাইজিং আয়রন পাইপ (Galvanizing iron pipe = G.I. pipe) 2. কাস্ট আয়রন পাইপ (Cast iron pipe = C.I Pipe) 3. মাইন্ড স্টীল পাইপ
            (Mild steel pipe = M.S. pipe) 4. কার্বন স্টীল পাইপ (Carbon steel pipe = C.S pipe) 5. স্টেইন লেস স্টীল পাইপ (Stainless steel pipe = S.S. pipe) 6. কপার পাইপ বা টিউব (Cupper pipe or tube) 7. অ্যালুমিনিয়াম পাইপ (টিউব) (Aluminium tube</p>
        </div>
      </div>
      <h4 id="page15-heading73" style="color:#F85D05;font-style:italic;">অ্যালুমিনিয়াম টিউব </h4>
      <div class="item item-body" id="page15-list-item-container88">
        <div id="page15-markdown102" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">অ্যালুমিনিয়াম দ্বারা তৈরি পাইপকে অ্যালুমিনিয়াম পাইপ বলে। সাধারণতঃ আর.এসির ইভ্যাপরেটর ও কন্ডেন্সার তৈরিতে ব্যবহার হয়।</p>
        </div>
      </div>
      <h4 id="page15-heading74" style="color:#F85D05;font-style:italic;">প্লাস্টিক পাইপ (Plastic pipe)</h4>
      <div class="item item-body" id="page15-list-item-container89">
        <div id="page15-markdown103" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">তেল, প্রাকৃতিক গ্যাস, কয়লা প্রভৃতি কাঁচামাল দিয়ে তৈরি সিন্থেটিক অর্গানিক (Synthetic organic) রাসায়নিক পদার্থকে প্লাস্টিক বলে। এটি কৃত্রিম উপায়ে মানুষের তৈরি এক প্রকার বস্ত্ত বিশেষ। বহুবিধ কাজে এর ব্যবহার আছে। পস্নাস্টিক দিয়ে তৈরি পাইপকে প্লাস্টিক
            পাইপ বলে। বিভিন্ন প্রকার প্লাস্টিক পাইপ রয়েছে। এদের কয়েকটি বর্ণনা নিম্নরূপ-</p>
        </div>
      </div>
      <div class="item item-body" id="page15-list-item-container90">
        <div id="page15-markdown104" class="show-list-numbers-and-dots">
          <pre>
            <code> (ক) এ.বি.সি. (A.B.C) পাইপ ঃ </code>
          </pre>

          <p style="margin-top:0px;color:#000000;font-size:15px;">এ জাতীয় প্লাস্টিক পাইপ সাধারণতঃ কাল রং এর হয় এবং ১২.৫ থেকে ২০০ মিলিমিটার ব্যাসের হয়ে থাকে। ইহা প্লাম্বিং কাজে ব্যবহার করা হয়।</p>

          <pre>
            <code> (খ) পি.ভি.সি. (P.V.C) পাইপ ঃ </code>
          </pre>

          <p style="color:#000000;font-size:15px;">এ জাতীয় প্লাস্টিক পাইপ হালকা রং-এর হয়। ইহা ৩২ থেকে ১৫০ মিলিমিটার ব্যাস পর্যন্ত হয়।</p>

          <pre>
            <code> (গ) সি.পি.ভি.সি (C.P.V.C) পাইপ ঃ </code>
          </pre>

          <p style="color:#000000;font-size:15px;">এ জাতীয় পাইপ হালকা গ্রে বা ক্রীম (Gray or Cream) রংয়ের হয়ে থাকে। উচ্চ তাপমাত্রা ও উচ্চ চাপের কাজে ব্যবহারের জন্য বিশেষভাবে তৈরি করা হয়। ১৫ থেকে ৩২ মিলিমিটার ব্যাস এবং ৩ থেকে ৪ মিটার লম্বা সাইজে পাওয়া যায়।</p>

          <p style="color:#000000;font-size:15px;">(ঘ) পি.ই. (P.E) টিউব ঃ এটি এক প্রকার কালো ফ্লেক্সিবল (Flexible) প্লাস্টিক পাইপ। এটি ২০-৫০ মিলিমিটার ব্যাসের এবং ৫০ মিটার কয়েল বিশিষ্ট দেখা যায়।</p>
        </div>
      </div>
      <h4 id="page15-heading76" style="color:#F85D05;font-style:italic;">পাইপ বা টিউবের ব্যবহার ক্ষেত্রের তালিকা </h4>
      <div class=" item item-image">
        <img src="img/JkYx8GURGuHRG5Cr5Xft_tttttttt.jpg" style="display: block; width: 100%; height: 401px; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>