<ion-view title="বিদ্যুৎ" id="page22">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page22-card222">
      <h4 id="page22-heading130" style="color:#F84208;font-style:italic;">বিদ্যুৎ (Current)</h4>
      <div class="item item-body" id="page22-list-item-container152">
        <div id="page22-markdown172" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">তড়িৎ আধুনিক সভ্যতার ভিত্তি ও চাবিকাঠি। তড়িতের সাহায্যে কলকারখানা, যানবাহন, মোটর , ফ্যান, কম্প্রেসরসহ বিভিন্ন মোটর ইত্যাদি চলে। শুধু তাই নয় আলোক সজ্জা, টেলিগ্রাফ, টেলিফোন, রেডিও, টেলিভিশন, কম্পিউটার, রোবট, ইন্টারনেট, ই-মেইল ইত্যাদিও বিদ্যুৎ দ্বারা
            চালিত হয়। তড়িৎ এক প্রকার শক্তি যাকে অন্য শক্তিতে (বিদ্যুতে) রুপামত্মরের মাধ্যমে কাজ করা যায়।</p>
        </div>
      </div>
      <h4 id="page22-heading131" style="color:#F84208;font-style:italic;">বিদ্যুৎ আবিস্কারের ইতিহাসঃ</h4>
      <div class="item item-body" id="page22-list-item-container153">
        <div id="page22-markdown173" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">খ্রীষ্ট জন্মের ছয়শত বছর পূর্বে গ্রীক দার্শনিক স্মীথ থেল্স লক্ষ্য করেন যে, যখন কোন লোমশ বর্ম দ্বারা অ্যাম্বরকে (Amber যা পাইন গাছের শক্ত আঠা) ঘর্ষণ করা হয় তখন তুষের ছোট ছোট টুকরাকে অন্বর আকর্ষণ করে। তিনি ধারণা করেন লোমশ বর্ম ঘর্ষণের ফলে উৎপন্ন
            অদৃশ্য শক্তি তুষের টুকরাকে আকর্ষণ করে। এ অদৃশ্য শক্তিকে তড়িৎ বলে। সাধারণতঃ উৎপন্ন স্থানেই অবস্থান করে এ বিদ্যুৎ ধংস্ব হয় তাই একে স্থির বিদ্যুৎ বলা হয়। ১৬০০ খ্রিস্টাব্দে ডঃ গীলবার্ট (Dr. Gilbert) পরীক্ষার মাধ্যমে দেখেন শুধু অ্যাম্বর নয় বরং
            কাঁচ, রাবার, গাটা পাচার, এবোনাইট, গন্ধক, ইত্যাদি ঘষলেও পূর্বরূপ ক্রিয়া সংঘটিত হয়। এপ্রক্রিয়াকে তড়িতাহিতকরণ বলে। যে বস্ত্ততে তড়িৎ আহিত হয় তাকে তড়িৎ বা বিদ্যুৎ গ্রস্থ বা আহিত বা চার্জিত বস্ত্ত বলে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>আধান বা চার্জ (Charge) </strong>
          </p>

          <p style="color:#000000;font-size:15px;">যার কারণে কোন বস্ত্ততে স্থির তড়িৎ বা তড়িৎ ক্ষেত্রের সঞ্চার হয় এবং যার গতিতে তড়িৎ প্রবাহ ও চৌম্বকত্বের সৃষ্টি হয় তাকে আধান (Charge) বলে। ১৭৩৩ খ্রিস্টাব্দে ফরাসী বিজ্ঞানী C.F.Du.Fay প্রমাণ করেন বিভিন্ন বসত্মু হতে উৎপন্ন চার্জের প্রকৃতি এক রকম
            নয়। একটা অপরটার বিপরীত। তাই চার্জ ২ প্রকার যথা-</p>

          <p style="color:#000000;font-size:15px;">১। ধনাত্বক চার্জ (Positive Charge).
            <br>২। ঋণাত্বক চার্জ (Negative Charge).</p>

          <p style="color:#000000;font-size:15px;">
            <strong>তড়িতের ইলেক্ট্রন মতবাদ ঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">ইলেকট্রন, প্রোটনের ও নিউট্রন পরমাণুর তিনটি স্থায়ী কনিকা। স্বাভাবিক অবস্থায় কোন পরমাণুতে ইলেকট্রন ও প্রোটনের সংখ্যা সমান থাকায় উহা তড়িৎ নিরপেক্ষ হয়। তবে পরমাণুর বাহিরের কক্ষ পথে মুক্ত ইলেক্ট্রন থাকাতে অন্য পরমাণুর ইলেক্ট্রনের প্রতি আসক্তি থাকে।
            যার আসক্তি বেশি ঘষর্ণের ফলে অপরটি হতে ইলেক্ট্রন গ্রহণ করে ঋণাত্মক চার্জে আহিত হয় এবং যে পদার্থ ইলেক্ট্রন ত্যাগ করে সেটি ধনাত্মক চার্জিত হয়। চার্জের আকর্ষণ ও বিকর্ষণ নীতি- চার্জের আকর্ষণ নীতিঃ বিপরীত ধর্মী চার্জ পরস্পরকে আকর্ষণ করে । চার্জের
            বিকর্ষণ নীতিঃ সমধর্মী চার্জ পরস্পরকে বিকর্ষণ করে । গ্রীক শব্দ ইলেকট্রন (Electron) এর অর্থ অ্যাম্বর বা ’’সোলেমানী পাথর’’ । এ ইলেকট্রোন শব্দ থেকে ইলেকট্রিসিটি (Electricity) কথাটা এসেছে। পরিবাহীতে ইলেকট্রন প্রবাহকে Electricity বলে। একে Electric
            Charge বা তড়িৎ আধান বা আধানের সঞ্চারও বলা হয়। তড়িৎ মূলতঃ এক ধরণের অদৃশ্য শক্তি। পদার্থের পরমাণু Electron, Proton &amp; Neutron নামের তিনটি কণিকা দ্বারা গঠিত। পরমাণুর ইলেকট্রোন ও প্রোটনকে যথাক্রমে নেগেটিভ চার্জ এবং পজেটিভ চার্জ বহণ করে। নিউক্লিয়াসের
            চতুর্দিকে ইলেক্ট্রন ঘুরতে থাকে। পরমাণুর একটি ইলেকট্রোন ও প্রোটনকে ন্যুনতম চার্জ বহণ করে। এ চার্জের পরিমাণ 1.602 x 10 -19. . নিউক্লিয়াস বা প্রোটন সমন্বিত কেন্দ্রের বাইরে ইলেকট্রনের ঘূর্ণনের ফলে যে শক্তি সঞ্চয় হয়, তাই বিদ্যুৎ বা ইলেকট্রিসিটি।</p>

          <p style="color:#000000;font-size:15px;">রন ও প্রোটন। কম মাত্রার ইলেকট্রন সমূহ বেশি মাত্রার প্রোটনের দ্বারা আকৃষ্ট হবার ফলে তা প্রবাহিত হয়। এ প্রবাহের ইচ্ছা বা প্রতিক্রিয়াকে পটেনশিয়াল ডিফারেন্স (PD) বিভব পার্থক্য বা ভোল্টেজ বলা হয়। মূলতঃ পদার্থের ইলেকট্রন প্রবাহকে বিদ্যুৎ বা ইলেকট্রিসিটি
            বলে এবং চার্জ প্রবাহের পরিবর্তনের হারকে ইলেকট্রিক কারেন্ট বলা হয়। বিদ্যুৎ দু’প্রকার। যথা- ১. স্থির বা ঘর্ষণ বিদ্যুৎ (Statical or Frictional Current) ও ২. চল বিদ্যুৎ (Dynamical Current or Electric Current) ।</p>
        </div>
      </div>
      <h4 id="page22-heading132" style="color:#F84208;font-style:italic;">স্থির বিদ্যুৎ ও চল বিদ্যুৎ বর্ণনাঃ</h4>
      <div class="item item-body" id="page22-list-item-container154">
        <div id="page22-markdown174" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>স্থির বিদ্যুৎঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে বিদ্যুৎ ঘর্ষণের সময় বস্ত্তর পরমাণুর ইলেকট্রন সমূহ প্রোটনের দ্বারা আকৃষ্ট হবার ফলে উৎপন্ন হয় এবং স্থান পরিবর্তন করতে না পারার কারণে উৎপত্তি স্থলেই ধংস্ব হয় তাকে স্থির বলে। স্থির বিদ্যুৎ মূলত ঘর্ষণের ফলে সৃষ্টি হয় বিধায় একে ঘর্ষণ বিদ্যুৎ (Frictional
            Electricity) বলা হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>বিদ্যুৎ বীক্ষণ যন্ত্র</strong>
          </p>

          <p style="color:#000000;font-size:15px;">(Electroscope)- যে যন্ত্রের সাহায্যে চার্জের অসিত্মত্ব, প্রকৃতি ও পরিমাণ জানা যায় তাকে বিদ্যুৎ বীক্ষণ যন্ত্র বলে। এটি দু’প্রকার, যথা- ১। শোলা বল বিদ্যুৎ বীক্ষণ যন্ত্র (Pith-ball Electroscope), ২। স্বর্ণপাত বিদ্যুৎ বীক্ষণ যন্ত্র (Gold-leaf Electroscope),
            পদার্থকে তিন উপায়ে চার্জ বা আধান গ্রস্থ করা যায়- ১। ঘর্ষণের দ্বারা, ২। পরিবহন দ্বারা, ৩। আবেশ দ্বারা ।
            <strong>তড়িৎ আবেশ (Electric induction)ঃ</strong>ক</p>

          <p style="color:#000000;font-size:15px;">োন একটি চার্জিত বা আবেশী বস্ত্তকে একটি অচার্জিত বস্ত্তর নিকট এনে চার্জিত বস্ত্তর প্রভাবে চার্জহীন বস্ত্তকে চার্জিত করার পদ্ধতিকে তড়িৎ আবেশ বলে। প্রভাবিত বস্ত্তকে আবিষ্ট বস্ত্ত বলে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>কুলম্বের সূত্রঃ </strong>
          </p>

          <p style="color:#000000;font-size:15px;">কোন নির্দিষ্ট মাধ্যমে দুটি বিন্দুর চার্জের মধ্যে ক্রিয়াশীল আকর্ষণ বা বিকর্ষণ বলের (F) মান চার্জ দুটির (q1 ও q2) গুণফলের সমানুপাতিক এবং মধ্যবর্তী দুরত্বের d বর্গের ব্যসত্মানুপাতিক এবং বল চার্জ দুটির সংযোজক রেখা বরাবর কাজ করে।
            <br> q1 . q2 F ∞ ---------- d2 q1 . q2 or, F = k ---------- (এখানে k একটি ধ্রুবক) d2 </p>

          <p style="color:#000000;font-size:15px;">
            <strong>তড়িৎ ক্ষেত্র (Electric Field)</strong>- </p>

          <p style="color:#000000;font-size:15px;">কোন চার্জিত বস্ত্রর চারদিকে যে এলাকা ব্যাপি চার্জের তীব্রতা থাকে ঐ অঞ্চলকে চার্জিত বস্ত্তর তড়িৎ ক্ষেত্র বলে। তড়িৎ বা তড়িৎ ক্ষেত্রের প্রাবল্য (Electric or Electric Field Intensity)t কোন বিন্দুতে একক আধান চার্জের উপর ক্রিয়াশীল বলকে তড়িৎ ক্ষেত্রের
            বা তড়িৎ প্রাবল্য বলে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>তড়িৎ বল রেখা (Electric lines of Force)</strong>
          </p>

          <p style="color:#000000;font-size:15px;">তড়িৎ বল রেখা চুম্বক বলরেখার অনুরূপ তড়িৎ ক্ষেত্রের মধ্যস্থ বল রেখা। তড়িৎ ক্ষেত্রের মুক্ত একক চার্জ যে কাল্পনিক পথে চলে তাকে তড়িৎ রেখা বলে। </p>

          <p style="color:#000000;font-size:15px;">
            <strong>তড়িৎ ফ্লাক্স (Electric Flux</strong>) </p>

          <p style="color:#000000;font-size:15px;">কোন তল বা পৃষ্ঠের ভেতর দিয়ে যত গুলো তড়িৎ বলরেখা অতিক্রম করে তাকে তড়িৎ ফ্লাক্স বলা হয়। একে (φ) দ্বারা প্রকাশ করা হয়। তড়িৎ ক্ষেত্র যখন অভিলম্বের সাথে সমামত্মরাল হয় তখন তড়িৎ ফ্লাক্স সর্বাধিক হয়। আর তড়িৎ ক্ষেত্র যখন অভিলম্বের সাথে উলম্ব (সমকোণ)
            হয় তখন তড়িৎ ফ্লাক্স শূণ্য হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>তড়িৎ বিভব (Electric Potential)</strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে তড়িৎ অবস্থার দ্বারা দুটি চার্জিত বস্ত্তর মধ্যে চার্জের আদান-প্রদান নির্ধারিত হয় তাই তড়িৎ বিভব। অসীম দূর হতে একক ধনাত্বক চার্জকে তড়িৎ ক্ষেত্রের কোন বিন্দুতে আনতে যে পরিমাণ কাজের প্রয়োজন হয় তাকে উক্ত ক্ষেত্রের ঐ বিন্দুর বিভব বা তড়িৎ বিভব বলে।
            একে V দ্বারা প্রকাশ করা হয়। </p>

          <p style="color:#000000;font-size:15px;">
            <strong>বিভব পার্থক্য (Potential Difference)</strong>
          </p>

          <p style="color:#000000;font-size:15px;">তড়িৎ ক্ষেত্রের দুটি বিন্দুর মধ্যে তড়িৎ বিভবের ব্যবধান বা বৈষম্যকে বিভব পার্থক্য বলে। অথবা তড়িৎ ক্ষেত্রের এক বিন্দু হতে অপর বিন্দুতে একটি একক ধনাত্বক চার্জকে স্থানামত্মর করতে যে পরিমাণ কাজ সাধিত হয় তাকে ঐ দুই বিন্দুর মধ্যেকার বিভবের ব্যবধান বা
            বৈষম্য বা পার্থক্য (ΔV) বলে।
            <br>
            <strong>বিদ্যুৎ (Current</strong>)-</p>

          <p style="color:#000000;font-size:15px;">বিদ্যুৎ এক প্রকার অদৃশ্য শক্তি যা তরল পদার্থ বা গ্যাসের মত প্রবাহিত হয়। যে কোন ধাতু বা ধাতুর তৈরি তারের (পরিবাহীর) ভিতর দিয়ে ইলেকট্রোনের প্রবাহের হারকে ইলেকট্রিক কারেন্ট বলে। </p>

          <p style="color:#000000;font-size:15px;">
            <strong>অ্যাম্পিয়ার (Ampere</strong>t কারেন্টের </p>

          <p style="color:#000000;font-size:15px;">একক হলো অ্যাম্পিয়ার । এক ওহম রেজিস্ট্যান্সের পরিবাহীর মধ্যে এক ভোল্ট চাপের জন্য যে পরিমাণ কারেন্ট প্রবাহিত হয় তাকে এক অ্যাম্পিয়ার ধরা হয়। চল বিদ্যুৎ (Current)- যান্ত্রিক বা রাসায়নিক প্রক্রিয়ায় উৎপন্ন যে বিদ্যুৎ প্রবাহ কন্ডাক্টর বা সার্কিটের
            মাধ্যমে এক জায়গা থেকে অন্য জায়গায় প্রবাহিত হতে পারে তাকে চল বিদ্যুৎ বলে। এ ধরনের বিদ্যুতের উৎস ব্যাটারী এবং বৈদ্যুতিক জেনারেটর বা অল্টারনেটর বা বিদ্যুৎ পস্নান্ট। চল বিদ্যুতে ইলেকট্রন প্রবাহ কারেন্ট প্রবাহের বিপরীতে হয়। লাইট, পাখা, রিফ্রিজারেটর,
            এয়ারকন্ডিশনার ইউনিট প্রভৃতি এবিদ্যুৎ দ্বারা পরিচালিত হয়। ইলেকট্রিক কারেন্টের পরিমাপক যন্ত্রের নাম আম্পিয়ার মিটার (Ampere Meter)।</p>
        </div>
      </div>
      <h4 id="page22-heading134" style="color:#F84208;font-style:italic;">বিভিন্ন প্রকার বিদ্যুতের বর্ণনাঃ</h4>
      <div class="item item-body" id="page22-list-item-container156">
        <div id="page22-markdown176" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">
            <strong>অল্টারনেটিং কারেন্ট (Alternating Current)-</strong>
            <br>যে বিদ্যুৎ পরিবাহীতে প্রবাহিত হবার সময় মান ও দিক পরিকর্তন করে তাকে অল্টারনেটিং কারেন্ট বলে। একে সংক্ষেপে A.C লিখে প্রকাশ করা হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>ডাইরেক্ট কারেন্ট (Direct Current)</strong>- </p>

          <p style="color:#000000;font-size:15px;">যে বিদ্যুৎ পরিবাহিতে প্রবাহিত হবার সময় দিক পরিবর্তন না করে একই দিকে প্রবাহিত হয় তাকে অপরিবর্তনীয় বিদ্যুৎ বা ডাইরেক্ট কারেন্ট বলে। একে সংক্ষেপে D.C দ্বারা প্রকাশ করা হয়।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>একফেজ কারেন্ট (Single Phase Current)- </strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে সমস্ত অল্টারনেটিভ বিদ্যুৎ সরবরাহের ক্ষেত্রে একটা ফেজ তার (Wire) ও একটা নিউট্রাল তার থাকে তাকে সিংগেল ফেজ এসি কারেন্ট বলে।</p>

          <p style="color:#000000;font-size:15px;">
            <strong>থ্রি ফেজ কারেন্ট (Three Phase Current)- </strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে সমস্ত অল্টারনেটিং বিদ্যুৎ সরবরাহে তিনটা ফেজ এবং একটা নিউট্রাল অথবা শুধুমাত্র তিনটা ফেজ তার থাকে তাকে থ্রি ফেজ কারেন্ট বলে।</p>

          <p style="color:#000000;font-size:15px;">সাইকেল বা ফ্রিকোয়েন্সিঃ অল্টারনেটিং কারেন্ট কন্ডাক্টরের মাধ্যমে প্রবাহিত হওয়ার সময় নির্দিষ্ট সময় অমত্মর দিক পরিবর্তন করে। কারেন্টের এদিক পরিবর্তনকে সাইকেল (Cycle) বলে।</p>

          <p style="color:#000000;font-size:15px;">প্রতি সেকেন্ডে প্রবাহিত সাইকেলের সংখ্যাকে বলা হয় ফ্রিকোয়েন্সি (Frequency)। অধিকাংশ ক্ষেত্রে ৫০ সাইকেলে বিদ্যুৎ সৃষ্টি হয়। এক সেকেন্ডে এবিদ্যুৎ ৫০টি পূর্ণ সাইকেল সৃষ্টি করে অথাৎ তারের একদিকে ৫০ বার এবং অপরদিকে 50 বার প্রবাহিত হয়। উন্নত বিশ্বে
            ৬০ সাইকলের বিশিষ্ট বিদ্যুৎ ব্যবস্থা রয়েছে। মোটরের পোল সংখ্যার উপর এর ঘূর্ণন ফ্রিকোয়েন্সি নির্ভরশীল।</p>
        </div>
      </div>
      <h4 id="page22-heading133" style="color:#F84208;font-style:italic;">Heading</h4>
      <div class="item item-body" id="page22-list-item-container155">
        <div id="page22-markdown175" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>