<ion-view title="ওয়ার্কশপ নিরাপত্তা ব্যবস্থা  " id="page12">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page12-card28">
      <h3 id="page12-heading10" style="color:#FA440A;font-weight:600;font-style:italic;">ওয়ার্কশপ নিরাপত্তা ব্যবস্থা </h3>
      <div class="item item-body" id="page12-list-item-container17">
        <div id="page12-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">কাজ সম্পাদন করার উপযোগী নির্দিষ্ট ব্যবস্থাপনার মাধ্যমে নিয়ন্ত্রিত কর্মক্ষেত্রই ওয়ার্কশপ নামে পরিচিত। বিশেষ করে ইঞ্জিনিয়ারিং কাজকর্মের সহিত সম্পর্কযুক্ত প্রতিষ্ঠাণই কর্মশালা। এখানে অনুশীলন বা উৎপাদন বা মেরামত জনিত কাজকর্ম সংঘটিত হয়। এখানে যারা
            কাজ করেন তাদেরকে সাধারণতঃ কর্মী বা Worker বলে। যে প্রতিষ্ঠানে শ্রমিক, কর্মচারী এবং কর্মকর্তার সমন্বয়ে একদল (কমপক্ষে ১০জন) কর্মীর নিয়মতান্ত্রিক সমাবেশ এবং যেখানে উৎপাদন, মেরামত, সার্ভিসিং , প্রশিক্ষণ ইত্যাদি প্রয়োজনে বহুবিদ যন্ত্র, যন্ত্রাংশ
            থাকে, সে প্রতিষ্ঠানকে ওয়ার্কশপ বলে।</p>

          <p style="color:#000000;font-size:15px;">ওয়ার্কশপে প্রবেশ হতে শুরু করে সকল প্রকার কাজ শেষ করার পর ওয়ার্কশপ ত্যাগ করা পর্যন্ত কতকগুলো বিধি নিষেধ মেনে চলতে হয় যাকে ওয়ার্কশপ নিরাপত্তা বলা হয়। এ বিধি নিষেধ গুলোকে ওয়ার্কশপে নিরাপদে কাজ করার নিয়ম কানুন বলে। বিধি গুলো অবহেলা করলে বা প্রতিপালন
            না করলে কর্মক্ষেত্রে দুর্ঘটনা ঘটার সম্ভাবনা থাকে। দূর্ঘটনা এড়ানোর জন্য এর কারণ উদ্ঘাটন করতে গিয়ে দেখা গেছে বহুবিদ কারণে কর্মক্ষেত্রে দূর্ঘটনা সংঘটিত হয়। এপ্রেক্ষাপটে আন্তর্জাতিকভাবে এদূর্ঘটনার পরিমাণ নিম্নের দুটি অংশে স্বীকৃত- ক. কর্মীদের
            অসকর্ততা জনিত দুর্ঘটনা, যার পরিমাণ ৭৫%। এর ৮% হ্যান্ড টুলস দুর্ঘটনার জন্য দায়ী। খ. মালিকদের ত্রুটিজনিত দুর্ঘটনা, যার পরিমাণ ২৫%।</p>
        </div>
      </div>
      <h4 id="page12-heading11" style="color:#FC460A;font-style:italic;">. ওয়ার্ক শপে নিরাপত্তার প্রয়োজনীয়তা </h4>
      <div class="item item-body" id="page12-list-item-container19">
        <div id="page12-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">শিক্ষা প্রতিষ্ঠানের লব্ধ সতর্কতা ও নিরাপত্তামূলক মনোভাব ও আচরণ কর্মজীবনে সরাসরি প্রতিফলিত হয়ে দুর্ঘটনার হার অনেকাংশ কমায়। দুর্ঘটনা ক্ষতি ব্যতীত মঙ্গল বয়ে আনে না। নির্বিঘ্নে কাজ সম্পাদন করতে সক্ষম হলে মানষিক তৃপ্তি পওয়া যায় এবং কাজে সাফল্য বয়ে
            আনে। নিরাপদ পরিবেশ ও ভীতিহীন কর্মস্পৃহা ব্যতিত দক্ষতার যথাযথ প্রযোগ সম্ভব নয়। সুতরাং দুর্ঘটনা রোধে সতর্কতাবিধি প্রতিপালনের প্রয়োজনীয়তা অসীম। তাই বর্ণিত প্রয়োজনে ওয়ার্ক শপে নিরাপত্তা অপরিহার্য-</p>
        </div>
      </div>
      <div id="page12-markdown25" class="show-list-numbers-and-dots">
        <ol>
          <li>জীবনের ও শরীরের অঙ্গ-প্রত্যঙ্গের নিরাপত্তার জন্যে,</li>
          <li>দুর্ঘটনা মুক্ত ও সুষ্ঠ কার্যপরিচালনার জন্য,</li>
          <li>টুল্স, আনুষঙ্গিক জিনিস-পত্র, ইত্যাদি যথাযথ ব্যবহারের জন্য,</li>
          <li>কাঁচামাল ও সময় অপচয় হতে রক্ষার জন্যে,</li>
          <li>উৎপাদনের মান যথাযথ ও ধারা অব্যাহত রাখার জন্যে,</li>
          <li>সুনাম ও খ্যাতি বৃদ্ধির জন্যে, 7. কর্মীর মনোবল বৃদ্ধির জন্যে,</li>
          <li>বিনিয়োগকারীর আস্থার্জনের জন্যে</li>
          <li>কাজে সাফল্য অর্জনের জন্যে,</li>
          <li>সামাজিক ও অর্থনৈতিক উন্নয়নের জন্যে,</li>
          <li>সুন্দর, শান্তিময় ও স্থিতিশীল উত্তম কর্ম পরিবেশ বজায় রাখার জন্যে, ইত্যাদি।</li>
        </ol>
      </div>
      <div class="list card" id="page12-card29">
        <h3 id="page12-heading12" style="color:#F34106;">ওয়ার্কশপে দূর্ঘটনার কারণঃ </h3>
        <div class="item item-body" id="page12-list-item-container21">
          <div id="page12-markdown27" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;font-size:15px;">ওয়ার্কশপে নিরাপদ ও বিপজ্জনক উভয় অবস্থা বা পরিবেশে কাজ করা হয়। যে সকল ব্যবস্থা গ্রহণ করলে ওর্য়াকশপে দুঘটনার আশংকা কম থাকে তাকে নিরাপদ অবস্থা বা পরিবেশ বলে। পক্ষান্তরে যে সব অবস্থার প্রেক্ষিতে অথবা কারণে ওয়ার্কশপে দূর্ঘটনা ঘটে বা ঘটার সম্ভাবনা
              থাকে সে সব অবস্থাকেই বিপজ্জনক অবস্থা বলা হয়ে থাকে। বহুবিদ অবস্থা বা কারণে ওয়ার্কশপে বিপদ বা দুঘটনা ঘটতে পারে। এ গুলোর মধ্যে কতকগুলো নিম্ম রূপ - ১। সতর্কহীন কর্মতৎপরতা, ২। অপরিকল্পিত কর্মক্ষেত্র (অপরিমিত আলো, অপর্যাপ্ত স্থান ও অপ্রতুল ভেন্টিলেশন)
              ৩। ক্রটিযুক্ত বৈদুতিক ব্যবস্থা , ৫। সেফ্টী গার্ড বিহীন মেশিন ও কর্ম স্থল, ৬। যন্ত্রাদির ধারলো অংশ, কাটিং এজ, ঢিলা বা ভাঙ্গা অংশ ইত্যাদি অনিরাপদ অবস্থা, ৭। তৈল ও গ্রীজ জাতীয় পদার্থ দ্বারা মেঝে পিচ্ছিল হওয়া, ৮। ইতস্তত-বিক্ষিপ্ত স্ক্র্যাপ বা
              ধাতব চিপস্ পড়ে থাকা, ৯। যথাযথ কারিগরি জ্ঞানের অভাবে ভূল কার্যাভ্যাস, ১০। অপরিষ্কার ও অপরিচ্ছন যন্ত্রাদির ব্যবহার, </p>
          </div>
        </div>
      </div>
      <h3 id="page12-heading13" style="color:#F6590C;font-style:italic;">. নিরাপত্তার শ্রেণী বিন্যাসঃ</h3>
      <div class="list card" id="page12-card210">
        <div class="item item-body" id="page12-list-item-container23">
          <div id="page12-markdown29" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;font-size:15px;">শিল্প কারখানার আকারের উপরই সতকর্তার ধরণ নির্ভর করে। বিভিন্ন প্রকার কারখানায় ভিন্ন ভিন্ন রকমের দুর্ঘটনার সম্ভাবনার প্রেক্ষিতে সতর্কতা বিভিন্নতর হয়। সার্বিক বিবেচনার ভিত্তিতে সতর্কতামূলক ব্যবস্থাকে প্রধানত দুই ভাগে ভাগ করা যায়। যেমন- ১। কর্মশালয়
              কর্ম জনিত সতর্কতা ২। মালিকের ব্যবস্থাপনা মূলক সতর্কতা</p>

            <p style="color:#000000;font-size:15px;"> কর্মশালার সতর্কতাকে চার ভাগে ভাগ করা যায়। যেমন- ক. সাধারণ সতর্কতা (General Precautions), খ. পোষক ও শরীর জনিত সতর্কতা (Cloth &amp; Body Precautions), গ. যন্ত্রপাতির সতর্কতা (Equipment Precautions); ঘ. কর্মশালার কর্মজনিত সতর্কতা (Workshop’s
              Works Precautions).</p>
          </div>
        </div>
      </div>
      <h2 id="page12-heading14" style="color:#FC5708;">সাধারণ সতর্কতা সমূহ </h2>
      <div class="item item-body" id="page12-list-item-container24">
        <div id="page12-markdown30" class="show-list-numbers-and-dots">
          <ol>
            <li>ওয়ার্কশপ সম্পর্কে ধারণা থাকা দরকার,</li>
            <li>কর্মশালয় বিনা অনুমতিতে প্রবেশ না করা,</li>
            <li>ওয়ার্কশপের পরিচিত বা অপরিচিত কোন যন্ত্রপাতি পরিচালনা না করা,</li>
            <li>শারীরিক ও মানসিক অসুস্থাবস্থায় কর্মশালায় প্রবেশ না করা,</li>
          </ol>
        </div>
      </div>
      <h4 id="page12-heading15" style="color:#F14F05;font-style:italic;">পোষাক ও শরীর জনিত সতর্কতা সমূহ </h4>
      <div class="item item-body" id="page12-list-item-container25">
        <div id="page12-markdown31" class="show-list-numbers-and-dots">
          <ol>
            <li>কর্মশালায় ঢিলাঢালা (পাঞ্জাবী ও শাড়ী জাতীয়) পোশাক পরিধান করে মেশিন না চালানো,</li>
            <li>কর্মীর অবশ্যই অ্যাপ্রোণ ব্যতিত কাজ না করা,</li>
            <li>বুট বা জুতা পরিধান করে কাজ করা,</li>
            <li>চুল লম্বা খোলা অবস্থায় কর্মীর কাজ না করা,</li>
            <li>প্রয়োজনীয় ক্ষেত্রে গগলস, হেলমেট, হ্যান্ড গ্লোভ ব্যবহার করা</li>
          </ol>
        </div>
      </div>
      <h3 id="page12-heading16" style="color:#F63608;font-style:italic;">যন্ত্রপাতির সতর্কতা সমূহ </h3>
      <div class="item item-body" id="page12-list-item-container26">
        <div id="page12-markdown32" class="show-list-numbers-and-dots">
          <ol>
            <li>কর্মশালার যন্ত্রপাতির সাথে পরিচিত হওয়া,</li>
            <li>যন্ত্রপাতির ব্যবহার ও কার্য পদ্ধতি জানা,</li>
            <li>যন্ত্রপাতি ও টুলস বাছাইয়ের জ্ঞান থাকা,</li>
            <li>ধারালো যন্ত্রপাতি সাবধানে ব্যবহার করা,</li>
            <li>যন্ত্রপাতির অপব্যবহার না করা </li>
            <li>সংশ্লিষ্ট ব্যক্তির পরামর্শ অনুযায়ী যন্ত্রপাতি পরিচালনা করা।</li>
          </ol>
        </div>
      </div>
      <h4 id="page12-heading17" style="color:#F8330C;">কর্মশালায় কর্মজনিত সতর্কতাঃ</h4>
      <div class="item item-body" id="page12-list-item-container27">
        <div id="page12-markdown33" class="show-list-numbers-and-dots">
          <ol>
            <li>কারখানা সম্পর্কে জ্ঞাত হওয়া,</li>
            <li>সম্ভাব্য কারখানার সকল যন্ত্রপাতির পরিচালনা জ্ঞান থাকা,</li>
            <li>নিরাপত্তামূলক পোশাক পরিধান করে কাজ শুরু করা,</li>
            <li>ওয়ার্কিং টেবিল, ভাইস, টুলস্ প্রভৃতি যত্নসহকারে ব্যবহার করা,</li>
            <li>অগ্নি নির্বাপক যন্ত্রসহ অন্যান্য নিরাপত্তামূলক যন্ত্র ও দ্রব্যের (ঔষধ) ব্যবহার বিধি জানা,</li>
            <li>বিশেষজ্ঞের পরামর্শ মোতাবেক যন্ত্রপাতি পরিচালনা ও ত্রুটি মুক্ত করণের চেষ্টা করা,</li>
            <li>ওয়ার্কশপ ত্যাগের সময় নিরাপত্তা আলো ও বাতাস ব্যতিত অন্যান্য বাতি, ফ্যান, যন্ত্র, দরজা, জানালা বন্ধ করা,</li>
          </ol>
        </div>
      </div>
      <h5 id="page12-heading18" style="color:#F5470D;font-style:italic;">. ওয়ার্কশপে নিরাপদ পোষাক ও সরঞ্জামাদির ব্যবহারঃ</h5>
      <div class="item item-body" id="page12-list-item-container28">
        <div id="page12-markdown34" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ওয়ার্কশপে নিরাপদে কাজ করার পূর্বশর্ত হলো নিরাপদ মূলক পোষাক পরিধান এবং নিরাপত্তামমূলক সরঞ্জামাদি ব্যবহার করা। সে আলোকে ওয়ার্কশপে নিরাপদ পোষাক ও সরঞ্জামাদির ব্যবহার সম্পর্কে আলোচনা হল-</p>

          <p style="color:#000000;font-size:15px;">• ময়লা, স্ফুলিঙ্গ, তৈল, ছোটখাট আঘাত ইত্যাদি থেকে রক্ষার জন্যে অ্যাপ্রোন পরিধান করা, • ছিটকে আসা চিপ্স বা ধাতব কণা হতে চক্ষুকে রক্ষা করতে সেফটি গগ্লস্ ব্যবহার করা, • ওয়েল্ডিং এর কাজের সময় চোখে রশ্মি আঘাত হতে রক্ষার জন্য হ্যান্ডশীল্ড বা গগ্লস্
            ব্যবহার করা, • মাথায় আঘাত হতে রক্ষার্থে হেলটে ব্যবহার করা, • পায়ের তলাকে আঘাত হতে রক্ষার জন্যে সর্বদা শক্ত ও অপিচ্ছিল তলা যুক্ত জুতা পরিধান করা, • কাজ করার সময় নেক টাই, মাফলার ও চাঁদর ব্যবহার না করে আঁটসাঁট পোশাক পরিধান করা, • মেশিনে কাজ করার
            সময় হাতাকাটা বা কনুইয়ের উপর পর্যন্ত ভাঁজ করা জামা ব্যবহার করা. • ওয়ার্কশপে কাজ করার সময় আংটি, হাত ঘড়ি এবং কব্জির অলঙ্কার পরিধান না করা, • কাজে ব্যাঘাত হেতু লম্বা চুল ও পোষাক আঁটসাটভাবে বেঁধে কাজ কর, • নিষ্প্রয়োজনে হ্যান্ড গেস্নাভস, হেলমেট,
            গগলস্, হ্যান্ড সীল্ড ব্যবহার না করা, • কাঁচামাল, স্ক্র্যাপ ও চিপ্সে হাত লাগানোর সময় হ্যান্ড গ্লোভস পরিধান করা, • বৈদ্যুতিক কাজ করার সময় রাবারের হ্যান্ড গ্লোভস ব্যবহার করা, • রিফ্রিজারেশন ওয়ার্কশপে ABC Power টাইপ অগ্নি নির্বাপক (Fire extinguisher)
            রাখা, • কর্মীর অগ্নি নির্বাপকের ব্যবহার জানা, অনুশীলন করা ও এ সময়মত পরিবর্তন করা, ইত্যাদি।</p>

          <p style="color:#000000;font-size:15px;"> বিদ্যুৎ সংক্রামত্ম কারণে যে সকল অনিরাপদ ঘটনার উদ্ভব হয় তাকে বিপদজনক বৈদ্যুতিক অবস্থা বলে। এ বিপদজনক বিদ্যুৎ ব্যবস্থার কারণে তড়িতাঘাত বা বৈদ্যুতিক শক ঘটতে পারে। বিদ্যৎ সংক্রান্ত দূর্ঘটনা এড়ানোর জন্য নিম্নোক্ত বিষয় সম্পর্কে সতর্ক থাকতে হবে- 1)
            মেশিনের তার (Wire) ব্যবহার অনুপযোগী হলে, 2) নিরাপত্তমূলক ডিভাইস ব্যবহার না করলে, 3) তারের ইনসুলেশন না থাকলে কিংবা নষ্ট হলে, 4) তারেরসংযোগ ঢিলা (Loose) থাকলে, 5) খোলা বা অকেজো সুইচ ব্যবহার করলে, 6) আর্থিং ব্যবস্থায় ক্রটি থাকলে, 7) বৈদ্যুতিক
            তার ঝুলানো বা উন্মুক্তাবস্থায় থাকলে, 8) মেঝে ভিজা কিংবা স্যাঁতসেঁতে থাকলে, ইত্যাদি।</p>
        </div>
      </div>
      <h3 id="page12-heading19" style="color:#FC380A;font-style:italic;">প্রাথমিক চিকিৎসা ব্যবস্থা </h3>
      <div class="item item-body" id="page12-list-item-container29">
        <div id="page12-markdown35" class="show-list-numbers-and-dots">
          <ol>
            <li>বিপি ব্লেড (B.P Blade) একটা;</li>
            <li>বিপি হ্যান্ডেল (B.P Handel) সার্জিক্যাল একটা;</li>
            <li>ছোট কাচি সার্জিক্যাল একটা;</li>
            <li>ডেটল বা স্যাভলন ছোট বোতল একটা (ছোট খাট কাটা-ছিড়ার ক্ষেত্রে প্রযোজ্য);</li>
            <li>তুলা (Cotton) দুই ইঞ্চি, চার ইঞ্চি দুইটা করে;</li>
            <li>সার্জিক্যাল গজ ছয় প্যাকেট;</li>
            <li>রোলার গজ (ব্যান্ডেজ) ২, ৪, ৬ এর ২টি করে রোল;</li>
            <li>টিংচার আয়োডিন ১ হতে ২ আউন্ড একমাত্র চামড়া উঠে বা ছিড়ে গেলে খুব সামান্য রক্তক্ষরণ হলে ব্যবহার করা যাবে। পুড়ে গেলে পোড়া চামড়ায় কোন ক্রমেই তা ব্যবহার করা যাবে না;</li>
            <li>নিওব্যকরিন অয়েন্টমেন্ট সামান্য পরিমাণ ক্ষতের ক্ষেত্রে ব্যবহার করা যাবে;</li>
            <li>বিভাসিন অয়েন্টমেন্ট সামান্য পরিমাণ ক্ষতের ক্ষেত্রে ব্যবহার যোগ্য;</li>
            <li>ডার্মাজন ক্রিম (Darmazen Cream) সাধারণত: পুড়ে গেলে (বৈদ্যুতিক শক ব্যতিত) পোড়া চামড়া নরমাল স্যালাইন (০.৯% সোডিয়াম ক্লোরাইড যুক্ত জীবাণু মুক্ত দ্রবণ) দ্বারা ক্ষত স্থানে লাগাতে হবে;</li>
            <li>সুফ্রাটুলি (Sufratule) ছয় প্যাকেট। পোড়া বা ক্ষত স্থানে ডার্মাজিন ক্রীম লাগানোর পর প্যাকেট হতে সুফ্রাটুলি বের করে লাগিয়ে দিতে হবে;</li>
            <li>ব্যাথানাশক প্যারাসিটামল বড়ি ৫০০মি: গ্রাম ১০টি;</li>
            <li>এন্টাসিড (অম্লনাশক) বড়ি ১০টি;</li>
            <li>নরম্যাল স্ল্যাইন ৫০০ সি. সি. এক ব্যাগ।</li>
          </ol>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>