<ion-view title="বই" id="page4">
  <ion-content padding="true" class="has-header">
    <div align="center" style="margin-bottom:10px">
      <!--<img src="../img/icon.png" style="width:90%; height: 250px;;" />-->
      <img src="img/icon.png" style="width:auto; height:300px;" />
    </div>
    <a ui-sref="page9()" id="rACBOOK-button12" style="font-weight:500;font-style:italic;font-size:25px;border-radius:50px 50px 50px 50px;" class="button button-assertive button-block icon-right ion-android-arrow-forward">বাংলা বই</a>
  </ion-content>
</ion-view>
