<ion-view title="বাংলাদেশ রেফ্রিজারেশন ভাই ব্রাদার্স" id="page5">
  <ion-content padding="true" class="has-header">
    <div align="center" style="margin-bottom:10px">
      <!--<img src="../img/icon.png" style="width:90%; height: 250px;;" />-->
      <img src="img/icon.png" style="width:auto; height:300px;" />
    </div>
    <a ui-sref="iNDUSTRIALREFRIGERATION" id="rACBOOK-button11" style="font-weight:500;font-style:italic;font-size:25px;border-radius:50px 50px 50px 50px;" class="button button-stable button-block icon-right ion-android-arrow-forward">কম্প্রেসার মডেল</a>
    <a ui-sref="page11()" id="rACBOOK-button13" style="font-weight:500;font-style:italic;font-size:25px;border-radius:50px 50px 50px 50px;" class="button button-balanced button-block icon-right ion-android-arrow-forward">রেফ্রিজারেশন টুলস</a>
    <a ui-sref="video" id="rACBOOK-button14" style="font-weight:500;font-style:italic;font-size:25px;border-radius:50px 50px 50px 50px;" class="button button-calm button-block icon-right ion-android-arrow-forward"> ভিডিও টিউটোরিয়াল</a>
  </ion-content>
</ion-view>
