<ion-view title="রিফ্রিজারেশন পদ্ধতির অটোমেশন" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page4-card23">
      <h4 id="page4-heading1" style="color:#FC5503;font-style:italic;">রিফ্রিজারেশন পদ্ধতির অটোমেশন</h4>
      <div class="item item-body" id="page4-list-item-container5">
        <div id="page4-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">উঞ্চ ও শীতলী করণ পদ্ধতিকে সুষ্ঠু ও সাফল্য জনকভাবে পরিচালনার সুবিধার্থে বিভিন্ন প্রকার সিস্টেমকে সম্পূর্ণ স্বয়ংক্রিয় নিয়ন্ত্রণ করার প্রয়োজনহয়। সে প্রয়োজন মিটাতে কিছু নিয়ন্ত্রক ও যন্ত্রপাতির দরকার হয়। এ সকল নিয়ন্ত্রক ও যন্ত্রপাতি ব্যবহারের প্রকৃত
            উদ্দেশ্য হল কম্প্রেসর ও তাপ উৎসকে (হিটার) যথাযথ সময়ে স্বয়ংক্রীয় চালু ও বন্ধ করা। এতে প্রত্যাশিত বস্ত্ত ও স্থান নির্ধারিত তাপমাত্রায় সংরক্ষিত হয়। কম্প্রেসরকে ও তাপ উৎসকে স্বয়ংক্রীয় চালু ও বন্ধ করণ প্রক্রিয়ার নামই অটোমেশন বা স্বয়ংক্রিয় পদ্ধতি
            । যে প্রক্রিয়ায় হিমায়ন ও শীতাতপ নিয়ন্ত্রণ পদ্ধতির সকল যন্ত্র-যন্ত্রাংশ স্বয়ংক্রিয়ভাবে পরিচালিত করা হয় তাকে অটোমেশন বলে। অটোমেশন প্রক্রিয়ায় হিমায়ন সম্পাদনকে অটোমেটিক রিফ্রিজারেশন (Automatic Refrigeration) পদ্ধতি বলা হয়।</p>
        </div>
      </div>
      <h4 id="page4-heading4" style="color:#FC5503;font-style:italic;">. অটোমেশনের প্রয়োজনীয়তাঃ</h4>
      <div class="item item-body" id="page4-list-item-container6">
        <div id="page4-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">হিমায়ন পদ্ধতির অটোমেশন খুবই দরকারী। অটোমেশন পদ্ধতিতে স্বয়ংক্রিয় নিয়ন্ত্রক ও যন্ত্রাদির সাহায্যে হিমায়ন ও শীতাতপ নিয়ন্ত্রণ পদ্ধতির কার্যক্রম স্বয়ংক্রিয় করা হয়। তাপমাত্রা, চাপ, আর্দ্রতা, সময়, তরল সীমা, বিদ্যুৎ প্রবাহ, দ্যৈুতিক চাপ, ইত্যাদি সম্পূূর্ণ
            স্বয়ংক্রিয় নিয়ন্ত্রণের জন্য অটোমেশন অপরিহার্য। তাছড়া অটোমেশন ব্যবহারের প্রয়োজনীয়তা হল-</p>

          <p style="color:#000000;font-size:15px;">১। ইভ্যাপারেটরস্থ বরফ স্বয়ংক্রিয়ভাবে মুক্ত করার জন্য।
            <br>২। হিমায়ক যথা সময়ে সঠিক মাত্রায় প্রেরণ করার জন্যে।
            <br>৩। একই প্ল্যান্টে মাল্টি টেম্পারেচার সংরক্ষণ করার জন্যে।
            <br>৪। দুর্ঘটনা হ্রাস করার জন্যে।
            <br>৫। সহজে কাংক্ষিত তাপমাত্রা সংরক্ষণ করার জন্যে। ৬। কমপ্রেসরকে স্বয়ংক্রিয়ভাবে চালু ও বন্ধ করার জন্যে।
            <br> ৭। জনবল কম লাগিয়ে অর্থ সাশ্রয় করার জন্যে। </p>
        </div>
      </div>
      <h4 id="page4-heading3" style="color:#FC5503;font-style:italic;">অটোমেশনে ব্যবহৃত যন্ত্র-যন্ত্রাংশের তালিকাঃ</h4>
      <div class="item item-body" id="page4-list-item-container7">
        <div id="page4-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">সিস্টেমকে স্বয়ংক্রিয় করার জন্য ব্যবহৃত যন্ত্র-পাতিকে তিনটি প্রধান অংশে ভাগ করা হয় যথা-</p>

          <p style="color:#000000;font-size:15px;">ক) যান্ত্রিক স্বয়ংক্রিয় নিয়ন্ত্রক সমূহ (Mechanical Automatic control) । খ) বৈদ্যুতিক স্বয়ংক্রিয় নিয়ন্ত্রক সমূহ (Electrical Automatic control) । গ) যৌথ স্বয়ংক্রিয় নিয়ন্ত্রক সমূহ (Combination Automatic control) ।</p>
        </div>
      </div>
      <h4 id="page4-heading2" style="color:#FC5503;font-style:italic;">হিমায়ন পদ্ধতির অটোমেশন দ্বারা পরিচালিত যন্ত্র-পাতির তালিকা</h4>
      <div class="item item-body" id="page4-list-item-container8">
        <div id="page4-markdown8" class="show-list-numbers-and-dots">
          <ol>
            <li>কম্প্রেসর ( হিমায়ককে গতিশীল করে)</li>
            <li>মোটর (কম্প্রেসরকে চালনা করে)</li>
            <li>কন্ডেশনিং ইউনিট (কম্প্রেসর ও কন্ডেন্সার)</li>
            <li>কুলিং ইউনিট (ফ্যান সমূহ ও ইভ্যাপরেটর)</li>
            <li>কন্ট্রোলিং ডিভাইস (ক্যাপিলারী টিউব, এক্সপানশন ভাল্ভইত্যাদি)</li>
            <li>বৈদ্যুতিক সরবরাহ নিয়ন্ত্রক (থার্মোস্ট্যাট, টাইমার ইত্যাদি)</li>
            <li>ডি-ফ্রস্টিং ডিভাইস (হিটার, হট গ্যাস)</li>
            <li>একমুখী বাইপাস ভালভ (একমূখী প্রবাহ)</li>
            <li>অয়ল কন্ট্রোলার (অয়ল পাম্প)</li>
            <li>কুলিং ফ্যান (ব্লোয়ার)</li>
            <li>বায়ু নিয়ন্ত্রক যন্ত্র (ড্যাম্পার, গ্রীল)</li>
            <li>হিউমিডিফায়ার (আর্দ্রতা বাড়ানোর যন্ত্র)</li>
            <li>ডিহিউমিডিফায়ার (আর্দ্রতা কমানোর যন্ত্র)</li>
            <li>প্রেশার কন্ট্রোলার (রিফ্রিজারেন্ট প্রেশার কাট আউট, অয়ল প্রেশার কাট আউট)</li>
            <li>সময় নিয়ন্ত্রক (টাইমার)</li>
            <li>উষ্ণতা নিয়ন্ত্রক (থার্মোস্ট্যাট, টেম্পারেচার কাট আউট)</li>
            <li>অয়ল পাম্প (তৈল সরবরাহ করার জন্য) ইত্যাদি।</li>
          </ol>
        </div>
      </div>
      <h4 id="page4-heading5" style="color:#FC5503;font-style:italic;">অটোমেটিক সার্কিটঃ</h4>
      <div class="item item-body" id="page4-list-item-container9">
        <div id="page4-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">রিফ্রিজারেশন অ্যান্ড এয়ারকন্ডিশনিংকে অটোমেটিক (স্বয়ংক্রীয়) করার অর্থ হলো বৈদ্যুতিক মোটরকে স্বয়ংক্রীয়ভাবে চালানো। মোটরকে স্বয়ংক্রীয় পরিচালনার জন্য ইলেক্ট্রিক্যাল সার্কিট ব্যবহার করা হয়। এ সার্কিটের প্রধান ২টি অংশ- ১। মেইন বা প্রধান সার্কিট ২।
            অপারেটিং বা কন্ট্রোলিং সার্কিট।</p>

          <p style="color:#000000;font-size:15px;">অটোমেশনের মেইন সার্কিট পরিচালনার জন্য তিন প্রকার কয়েল বিশিষ্ট ম্যানেটিক কন্ট্যাক্টর ব্যবহার করা হয়। যেমন- ৪০০ ভোল্ট, ২২০ ভোল্ট, ১১০ ভোল্ট ও ২৪ ভোল্ট।</p>
        </div>
      </div>
      <h4 id="page4-heading6" style="color:#FC5503;font-style:italic;">অটোমেশনের মূল বর্তনী (মেইন সার্কিট)ঃ</h4>
      <div class="item item-body" id="page4-list-item-container10">
        <div id="page4-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">৭.১ নং চিত্রে ট্রান্সফরমারটি (২নং) লাইন থেকে প্রাপ্ত ২২০ ভোল্টকে ১১০ থেকে ১২০ ভোল্টে রূপান্তর করে ম্যাগনেটিক কন্ট্যাক্টরের (৩ নং) কয়েলে সরবরাহ করে। সুইচ (১ নং) অন করলে কন্ট্যাক্টরের কয়েলে বিদ্যুৎ প্রবাহিত হওয়ার ফলে কন্ট্যাক্টরের কন্ট্যাক্ট পয়েন্ট
            (৬ নং) তিনটি সংযুক্ত হয় এবং মোটর (৪ নং) চলতে থাকে। সুইচ অফ করলে মোটর বন্ধ হয়ে যায়। কোন কারণে মোটর ওভার লোডেড হলে ৫ নং ওভার লোড প্রটেক্টর রক্ষা করে। অর্থাৎ বৈদ্যুতিক প্রবাহ বন্ধ করে ইউনিট বা সিস্টেমকে শাট ডাউন করে দেয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/kO18lUjFTsm9BmrfqCC3_3-25-201812-28-52AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page4-heading7" style="color:#FC5503;font-style:italic;">অটোমেটিক কন্ট্রোল সার্কিটঃ</h4>
      <div class="item item-body" id="page4-list-item-container11">
        <div id="page4-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">চিত্রে কন্ট্রোলিং সার্কিটে ২টি লোড ম্যাগনেটিক কয়েল (২ নং) এবং সলেনয়েড কয়েল (৫ নং) রয়েছে। সুইচ (১ নং) অন করলে ম্যাগনেটিক কয়েলের সাহায্যে রিলের মাধ্যমে থার্মোস্ট্যাটে বিদ্যুৎ সরবরাহ যায়। থার্মোস্ট্যাট প্রয়োজনীয় সময় সলেনয়েড ভ্যাল্ভকে চালু ও বন্ধ
            করে। প্রবাহী প্রবাহনিয়ন্ত্রিত হয়। অপর দিকে টাইম ডিলে রিলে (৩ নং) রিফ্রিজারেন্ট প্রেশার কাট আউট (৬) ও অয়েল প্রেশার কাট আউট (৭) পরস্পর সিরিজে সংযুক্ত থাকে। ফলে প্রেশার কাট আউট ও অয়েল প্রেশার কাট আউটের মাধ্যমে রিলেটি নিয়ন্ত্রিত হয়।</p>

          <p style="color:#000000;font-size:15px;">MC= Magnetic cotactor, CWCPM= Condeser (cooling) water circulating pump motor, CTFM= Cooling tower fan motor, CWCPM= Chilled water circulating pump motor চিত্র- ৭.২ঃ অটোমেশনের কন্ট্রোল সার্কিট ডায়াগ্রাম ।</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>