<ion-view title="স্টার্টার (Starter)" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="Starter-card25">
      <h4 id="Starter-heading13" style="color:#FF6607;font-style:italic;">স্টার্টার (Starter)</h4>
      <div class="item item-body" id="Starter-list-item-container20">
        <div id="Starter-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">স্টার্ট (Start) শব্দের অর্থ চালু করা। স্টার্ট শব্দ হতে Starter শব্দটি এসেছে। আর স্টার্টার হচ্ছে যে কোন কিছু চালু করে দেয়। সুইচের কাজও চালু করিয়ে দেয়া । তাই Starter কে এক প্রকার সুইচ বলা হয়। তবে এটা বিশেষ প্রকৃতির সুইচ যাতে অনেক গুলো অংশের সমন্বয়
            থাকে। ফলে এ সাধারণ সুইচ অপেক্ষা বেশী কার্যকারী ও নিরাপদ। এ সুইচ স্থির মোটরকে চালু এবং ক্রমান্বয়ে মোটরের গতি বৃদ্ধি করে পূর্ণ গতিতে রূপান্তরিত করতে পারে। কোন কোন স্টার্টার পরিমিত ভোল্টেজের অতিরিক্ত ভোল্টেজকে কমায়ে সামঞ্জস্য সম্পন্ন ভোল্টেজে
            পরিবর্তিত করতে পারে। মোটর চালুর ক্ষেত্রে যে সুইচিং ব্যবস্থা স্টার্টিং অবস্থা অনুকূলে রেখে মোটরকে নিরাপদে চালু করে তাকে স্টার্টার বলে।</p>
        </div>
      </div>
      <h4 id="Starter-heading14" style="color:#FF6607;font-style:italic;">স্টার্টারের প্রধান অংশসমূহঃ</h4>
      <div class=" item item-image">
        <img src="img/R3z0WSgRQlYejYLpAZBX_3-25-201812-45-22AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="Starter-list-item-container21">
        <div id="Starter-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">1) কনট্যাক্টর (Contactor)
            <br>2) স্টার্ট ও স্টপ সুইচ (Start &amp; Stop switch)
            <br>3) ফিউজ (Fuse)
            <br>4) টাইমার (Timer)
            <br>5) ওভারলোড রিলে (Overload Relay)
            <br>6) নো- ভোল্ট কয়েল No Volt Coil) বা নো ভোল্ট রিলিজ কয়েল
            <br>7) ট্রিপিং বার (Triping Bar)।
            <br>8) কারেন্ট অ্যাডজাস্টার (Current adjuster)</p>
        </div>
      </div>
      <h4 id="Starter-heading15" style="color:#FF6607;font-style:italic;">স্টার্টারের প্রয়োজনীয়তাঃ</h4>
      <div class="item item-body" id="Starter-list-item-container22">
        <div id="Starter-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">মোটরের স্টার্টিং পরিবেশ অনুকহলে রেখে মোটরকে চালু করা স্টার্টারের কাজ বিধায় বর্ণিত কাজ গুলো সুষ্ঠুভাবে সম্পন্ন করণের মাধ্যমে স্টার্টিংএর অনুকহল পরিবেশ বজায় রাখা যায়- ক. সরবরাহের সাথে লোড (Load) এর নিরাপদ সংযোগ প্রদান করণ। খ. সরবরাহের সাথে লোডের
            নিরাপদ বিচ্ছিন্ন করণ। গ. অনিরাপদ সরবরাহ থেকে মোটরকে রক্ষা করণ। ঘ. হঠাৎ সাপস্নাইয়ের ক্ষেত্রে লোড চালু হতে বিরত রাখা। ঙ. স্টার্ট কালীন অবস্থায় বিদ্যুৎ প্রবাহ সীমিত রাখা। চ. স্টার্ট কালীন মোটরের টর্ক প্রয়োজন মত রাখা। ছ. মোটরের গতি নিয়ন্ত্রণে
            রাখা।</p>
        </div>
      </div>
      <h4 id="Starter-heading16" style="color:#FF6607;font-style:italic;">স্টার্টারের প্রকারভেদ </h4>
      <div class="item item-body" id="Starter-list-item-container23">
        <div id="Starter-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">কাজের ধরণ ও প্রয়োজনের তাগিদে বিভিন্ন ধরণের স্টার্টার ব্যবহার হয়ে থাকে। তিন ফেজ মোটর নিরাপদে স্টার্ট করার জন্য ব্যবহৃত স্টার্টার গুল নাম হল</p>

          <p style="color:#000000;font-size:15px;">1) ডাইরেক্ট অন লাইন (Direct on line, D.O.L) স্টার্টার,
            <br>2) স্টার ডেল্টা টাইপ (Star delta type) স্টার্টার,
            <br>3) সিরিজ ডেল্টা (Series-delta) স্টার্টার,
            <br>4) অটো ট্রান্সফরমার টাইপ (Auto-transformer) স্টার্টার,
            <br>5) স্টেটর রোটর টাইপ (Stator rotor type) স্টার্টার,
            <br>6) ঘুর্ণনের দিক পরিবর্তনকারী স্বয়ংক্রিয় (Automatic revers motion) স্টার্টার, ও
            <br>7) প্রাইমারী রেজিস্ট্যন্স (Primary resistance) স্টার্টার।</p>
        </div>
      </div>
      <h4 id="Starter-heading17" style="color:#FF6607;font-style:italic;">স্টার্টারের কার্য প্রণালী ঃ</h4>
      <div class="item item-body" id="Starter-list-item-container24">
        <div id="Starter-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">একই মোটরকে বিভিন্নমূখী নিয়ন্ত্রণের অথবা বিভিন্ন প্রকার মোটরের জন্য বিভিন্ন স্টার্টার ব্যবহার হয়। ব্যবহৃত সাত প্রকার স্টার্টারের কার্য প্রণালী এক রকম নয়। বর্ণিত সাত প্রকার স্টার্টারের মধ্যে ডাইরেক্ট অন লাইন (D.O.L) স্টার্টার অধিকাংশ ক্ষেত্রে
            ব্যবহার করা হয়। D.O.L স্টার্টারের কার্য প্রণালী বর্ণনা করা হল- D.O.L স্টার্টারের বিভিন্ন অংশ সমূহঃ 1) F1 মোটরের জন্য তিনটি ফিউজ, ২) F2 কন্ট্রোল সার্কিট ফিউজ 3) F3 ওভারলোড রিলে (over load relay) ৪) S1 স্টপ সুইচ (Stop Swicth) 5) S2 স্টার্ট সুইচ
            (Start Switch) ৬) K1 ম্যাগনেটিক কনট্যাক্টর ৭) M1 মোটর ৮) কারেন্ট অ্যাডজাস্টার।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/qEeDXjzRdNKvWiAsPuuA_3-25-201812-49-26AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="Starter-list-item-container25">
        <div id="Starter-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ফিউজ F1 ও F2 সঠিক অবস্থায় এবং F3 এর 95-96 পূর্ব থেকে বন্ধ (Close) থাকলে S2 এর বাটন চাপ দিলে S2 এর 13-14 বিন্দু হয়ে কনট্যাক্টর K1 এর A1-A2 কয়েল বিদ্যুৎ প্রাপ্ত হয়। ফলে K1 এর (1-2), (3-4),(5-6) ও (13-14) বিন্দু সংযোগ পায় এবং মোটর চালু হয়। S2 এর
            (13-14) এবং K1এর Break contact point এর (13-14) সমান্তরালে থাকায় S2 এর চাপ ছেড়ে দিলে S2 এর (13-14) অফ হয়ে যায়। কিন্তু S1 এর 21-22 মাধ্যমে (K1 এর 13-14 অন থাকায়) ম্যাগনেটিক কয়েল A1-A2 তে লাইন থাকবে। এতে K1 এর (1-2), (3-4), (5-6) ও (13-14) অন
            থেকে মোটরকে চালু রাখে। S1 সুইচকে চাপ দিলে 21-22 অফ হলে কয়েল (A1-A2)তে কারেন্ট প্রবাহ বন্ধ হয়। ফলে K1এর কনট্যাক্ট সমূহ খুলে যায় (অফ হয়) এবং মোটর সরবরাহ হতে বিচ্ছিন্ন হয়ে বন্ধ হয়। মোটরের রিলে কয়েলে ওভার কারেন্ট প্রবাহের জন্য যদি F2 এর Make কনট্যাক্ট
            95-96 অফ হলে K1এর Coil শক্তি হারায়। ফলে (1-2),(3-4),(5-6) কনট্যাক্ট পয়েন্ট বিচ্ছিন্ন হয়ে অফ হয় এবং মোটর বন্ধ হয়। </p>
        </div>
      </div>
      <h4 id="Starter-heading18" style="color:#FF6607;font-style:italic;">স্টার ডেল্টা টাইপ স্টার্টারের কার্য প্রণালী-</h4>
      <div class="item item-body" id="Starter-list-item-container26">
        <div id="Starter-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">বড় বড় মোটরকে প্রথমে স্টার সংযোগ দিয়ে ফেজ ভোল্টেজের দ্বারা স্টার্টের মাধ্যমে গতি প্রাপ্ত হলে সংযোগটি তাৎক্ষনিক ডেল্টায় রূপান্তর করে পূর্ণ লাইন ভোল্টেজে চালানো হয়। এক্ষেত্রে স্টার্টিং ভোল্টেজ রানিং ভোল্টেজের প্রায় ৫৮%। এ ধরণের সংযোগ দু’ভবে করা
            যায়। যেমন- ১. ম্যানুয়ালী,
            <br>২. ম্যাগনেটিক কন্ট্যাক্টরের মাধ্যমে।</p>

          <p style="color:#000000;font-size:15px;">ম্যানুয়ালী সংযোগ-</p>

          <p style="color:#000000;font-size:15px;">এ স্টার্টারে একটি ট্রিপল পোল ডাবল থ্র সুইচ ব্যবহার করা হয়। যার দ্বারা মোটর ১মে স্টার এবং পূর্ণ গতি প্রাপ্তির পর ডেল্টায় চলে। সুইচটির এক প্রান্তের টার্মিন্যাল ত্রয় একত্রে থাকে। সুইচের হাতল নীচের দিকে নামালে ওয়াইন্ডিংএর তিনটি প্রান্তই স্টারে সংযূক্ত
            হয়। মোটর পূর্ণ গতি প্রাপ্তির পর হাতল উপরের উঠিয়ে দিলে মোটর ডেল্টায় চলে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/Tn7r3h3cQjOMmkiZSlWo_3-25-201812-51-52AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="Starter-list-item-container27">
        <div id="Starter-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ম্যাগনেটিক কন্ট্যাক্টরের মাধ্যমে সংযোগ-</p>

          <p style="color:#000000;font-size:15px;">এ সংযোগের জন্য তিনটি ম্যাগনেটিক কন্ট্যাক্টর, একটি থার্মাল রিলে ও দ’ুটি পূশবাটন অপ-অন সুইচ দরকার। কন্ট্যাক্টর ত্রয়ের একটি স্টার কিংবা ডেল্টা সবসময়েই চালূ থাকে। তাই একটি কমন ম্যাগনেটিক কন্ট্যাক্ট (Magnetic contactor) এবং বাকী দ’ুটি যথাক্রমে একটি
            স্টার ও অপরটি ডেল্টা কন্ট্যাক্ট হয়। তাছাড়া ম্যাগনেটিক কন্ট্যাক্টরের টাইমার ব্যবহার করে মোটরকে প্রথমে স্টার পরে ডেল্টায় চালানো যায়। স্টার - ডেল্টায় সংযুক্ত মোটরকে স্বয়ংক্রীয়ভাবে চালানোর বর্তনী দেখানো হল- </p>

          <p style="color:#000000;font-size:15px;">চিত্র- ৯.৪ঃ স্টার-ডেল্টায় কন্ট্যাক্টরের সংযোগ কৌশল।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/mTMvNVjIRFCBDsNOtucJ_3-25-201812-53-01AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>