<ion-view title=" থ্রি-ফেইজ বৈদ্যুতিক মোটর" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page5-card24">
      <h4 id="page5-heading9" style="color:#F64C0A;font-style:italic;"> থ্রি-ফেইজ বৈদ্যুতিক মোটর</h4>
      <div class="item item-body" id="page5-list-item-container14">
        <div id="page5-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">যে যন্ত্র বৈদ্যুতিক শক্তি গ্রহণ করে চুম্বক শক্তিতে রূপান্তরের মাধ্যমে যান্ত্রিক শক্তি প্রদান করে তাকে মোটর বলে। আর তিন ফেইজ সরবরাহে যে মোটর কাজ করে তাকে থ্রি ফেইজ মোটর বলে। একে 3M দ্বারা প্রকাশ করা হয়। ফেইজ তিনটার একটা অপরটার সাথে ১২০ ইলেক্ট্রিক্যাল
            টাইম ডিগ্রী দুরত্বে অবস্থান করে। তিনটা ফেইজের জন্য তিনটা ভিন্ন ভিন্ন কয়েল থাকে। বিদ্যুৎ প্রবাহের ফলে কয়েলে (স্টেটরে) ম্যাগনেটিক এনার্জি উৎপন্ন হয় যা রোটরকে ঘুরায়। কয়েল ওয়াইন্ডিংকে স্টেটর বলে। যে যন্ত্র নিজস্ব বৈশিষ্ট্য দ্বারা তিন ফেইজের বৈদ্যুতিক
            শক্তিকে যান্ত্রিক শক্তি তথা ঘূর্ণন শক্তিতে রূপান্তর করতে সক্ষম হয় তাকে থ্রিফেজ (3) মোটর বলা হয়। এ মোটরে প্রধানত ১টি স্টেটর, ১টি রোটর, ১টি কুলিং ফ্যান ও ১টি জয়েন্ট বক্স থাকে। এর কয়েল তিনটি মিলিতভাবে রোটেটিং টর্ক সৃষ্টি করতে সক্ষম বিধায় এমোটরে
            স্টার্টিং ওয়ান্ডিংএর প্রয়োজন হয় না।</p>

          <p style="color:#000000;font-size:15px;">এ মোটরে পরিবর্তনশীল বিদ্যুৎ সরবরাহ (AC) দেয়া হয় এবং বৈদ্যুতিক চাপ থাকে ৩৮০ থেকে ৪১৫ ভোল্ট। মোটরের ক্ষমতা অশ্বশক্তি বা ওয়াটে প্রকাশ করা হয়। সাধারণতঃ বেশি ক্ষমতার মোটরে তিন ফেজ সরবরাহ দেয়া হয়।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/NDECx2OiSAmgtwKVvmJh_3-25-201812-36-08AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="page5-heading10" style="color:#F64C0A;font-style:italic;">মোটরের প্রকারভেদঃ</h4>
      <div class="item item-body" id="page5-list-item-container15">
        <div id="page5-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">গঠণ, কার্যপদ্ধতি, ব্যবহার ইত্যাদির উপর ভিত্তি করে তিন ফেইজ (3) মোটরকে কয়েকটি ভাগে ভাগ করা হয়। ভাগ গুলো দেখানো হল-</p>

          <p style="color:#000000;font-size:15px;">
            <strong>মোটরের কার্য পদ্ধতিঃ</strong>
          </p>

          <p style="color:#000000;font-size:15px;">বিভিন্ন প্রকার মোটরের কার্যনীতি বিভিন্ন রকমের। এদের কয়েকটার কার্য পদ্ধতি হল- </p>

          <p style="color:#000000;font-size:15px;">
            <strong>সিংক্রোনাস মোটর- </strong>
          </p>

          <p style="color:#000000;font-size:15px;">যে কোন মোটরের ক্ষেত্রে দু’টা গতি থাকে একটা রোটর গতি অপরটা স্টেটরের চুম্বক বলরেখার গতি। সিংক্রোনাস শব্দের অর্থ সমলয় বা সমতালে চলা। এখানে পরোক্ষভাবে ২টা গতির কথা বলা হচ্ছে। একটা রোটর গতি ও অপরটা চুম্বক বলরেখার গতি। সিংক্রোনাস মোটরে উভয় গতিই সমান
            থাকে। যে মোটরের স্টেটরের চুম্বক বলরেখার গতি ও রোটর গতির মান সমান থাকে তাকে সিংক্রোনাস মোটর বলে। রোটরের গতি শুধুমাত্র চুম্বক পোল ও ফ্রীকোয়েন্সির উপর নির্ভরশীল। চিত্রে মোটরের প্রধান অংশ গুলো দেখানো হয়েছে।</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/o2TDqhaRQuPqrcgJbddG_3-25-201812-39-18AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page5-list-item-container16">
        <div id="page5-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">গঠণ, কার্যপদ্ধতি, ব্যবহার ইত্যাদির উপর ভিত্তি করে তিন ফেইজ (3) মোটরকে কয়েকটি ভাগে ভাগ করা হয়। ভাগ গুলো দেখানো হল-</p>

          <p style="color:#000000;font-size:15px;">৮.২. মোটরের কার্য পদ্ধতিঃ বিভিন্ন প্রকার মোটরের কার্যনীতি বিভিন্ন রকমের। এদের কয়েকটার কার্য পদ্ধতি হল- </p>

          <p style="color:#000000;font-size:15px;">সিংক্রোনাস মোটর- </p>

          <p style="color:#000000;font-size:15px;">যে কোন মোটরের ক্ষেত্রে দু’টা গতি থাকে একটা রোটর গতি অপরটা স্টেটরের চুম্বক বলরেখার গতি। সিংক্রোনাস শব্দের অর্থ সমলয় বা সমতালে চলা। এখানে পরোক্ষভাবে ২টা গতির কথা বলা হচ্ছে। একটা রোটর গতি ও অপরটা চুম্বক বলরেখার গতি। সিংক্রোনাস মোটরে উভয় গতিই সমান
            থাকে। যে মোটরের স্টেটরের চুম্বক বলরেখার গতি ও রোটর গতির মান সমান থাকে তাকে সিংক্রোনাস মোটর বলে। রোটরের গতি শুধুমাত্র চুম্বক পোল ও ফ্রীকোয়েন্সির উপর নির্ভরশীল। চিত্রে মোটরের প্রধান অংশ গুলো দেখানো হয়েছে।</p>
        </div>
      </div>
      <h4 id="page5-heading11" style="color:#F64C0A;font-style:italic;">থ্রি-ফেইজ ইন্ডাকশন মোটর (3Induction Motor)t</h4>
      <div class=" item item-image">
        <img src="img/7lMtWIccRUKtOfuI0qdx_3-25-201812-41-11AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page5-list-item-container18">
        <div id="page5-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">তিন ফেইজ সাপস্নাইএ আবেশীয় (Induction) প্রক্রিয়ায় যে মোটর কাজ করে তাকে থ্রিফেজ ইন্ডাকশন মোটর বলে। এমোটরে তিন ফেইজ কয়েল একটা থেকে অপরটা ১২০০ (ইলেকট্রিক্যাল টাইম ডিগ্রী) দূরত্বে স্থাপন করা হয়। প্রতি ফেইজের জন্য ভিন্ন ভিন্ন ওয়াইন্ডিং থাকে। অর্থাৎ
            তিনটি ফেজের জন্য তিনটি ওয়াইন্ডিং থাকে। ওয়াইন্ডিং গুলো প্রয়োজনীয় সংখ্যক পোল তৈরি করে। ওয়াইন্ডিং গুলো সমন্বয়ে একটা স্টেটর তৈরি হয়। স্টেটরে চুম্বক শক্তি ঘূর্ণন শক্তি সৃষ্টি করে। স্টেটরে সৃষ্ট এঘূর্ণনমান আবেশীয় চুম্বক শক্তি রোটরকে ঘূর্ণন শক্তি
            প্রদান করে। ফলে রোটর ঘোরে। এটাই Motor দ্বারা সৃষ্টি ঘূর্ণন শক্তি। স্টেটরের ঘূর্ণনমান চুম্বক শক্তির গতি আর রোটর গতির পার্থক্যকে চুম্বক স্লীপ বা রোটর স্লীপ বলে।</p>
        </div>
      </div>
      <h4 id="page5-heading12" style="color:#F64C0A;font-style:italic;">স্কুইরেল কেইসিং টাইপ মোটর (Squerell casing Type motor)t</h4>
      <div class=" item item-image">
        <img src="img/r3gv4UuTR02IrXYOArCf_3-25-201812-42-17AM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page5-list-item-container17">
        <div id="page5-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:15px;">ডাবল স্কুইরেল কেইসিং টাইপ মোটরে কপার ও ব্রোঞ্জের ওয়াইন্ডিং করা থাকে। এক্ষেত্রে প্রতিটা স্লটে ২টা করে bar থকে। ভিতরের কেইসের ডিপ সস্নটে উচ্চ পরিবাহী কপার bar ব্যবহার করা হয়। উপরের সস্নটে ব্রোঞ্জ বা অন্য পদার্থ bar ব্যবহার করা হয়। bar সমূহের উভয়
            পাশে উচ্চ ক্ষমতা সম্পন্ন রিংএর সোল্ডরিং করা থাকে। এ ধরণের রোটর উচ্চ স্টার্টিং টর্ক সৃষ্টি করতে পারে।</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>